/* @import url(https://fonts.googleapis.com/css?family=Sanchez) */
/* latin-ext */
@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-weight: 400;
  src: local("Sanchez"), local("Sanchez-Regular"), url(https://fonts.gstatic.com/s/sanchez/v4/uSfpAbjl2kRc-p4IRfESlvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-weight: 400;
  src: local("Sanchez"), local("Sanchez-Regular"), url(https://fonts.gstatic.com/s/sanchez/v4/ASmipTgPwTrjcfmzf6Zfwg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-weight: 400;
  src: local("Sanchez"), local("Sanchez-Regular"), url(https://fonts.gstatic.com/s/sanchez/v4/ASmipTgPwTrjcfmzf6Zfwg.woff2) format("woff2");
}
@font-face {
  font-family: "Sanchez";
  font-style: normal;
  font-weight: 400;
  src: local("Sanchez"), local("Sanchez-Regular"), url(https://fonts.gstatic.com/s/sanchez/v4/mx466fsxfR1AA3OwUm3waQ.woff) format("woff");
}
.eds_socialEventsWidget * {
  box-sizing: border-box;
}
.eds_socialEventsWidget .eds_title {
  font-family: "Arvo", serif;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  line-height: 1;
  font-weight: normal;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper + div {
  margin-top: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper > .eds_title {
  background: url("images/sand.png") repeat scroll 0 0 #c1bfb9;
  border: 1px solid #b3b3b2;
  font-size: 21px;
  line-height: 1;
  margin: 0;
  padding: 9px 17px;
  position: relative;
  color: #505050;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
.eds_socialEventsWidget .eds_signUpActionBar {
  padding: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio] {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio]:checked + label {
  color: #fff;
  cursor: default;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio]:checked + label:after {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar label {
  display: inline-block;
  margin: 5px 10px 5px 0;
  background-color: #d5d5d5;
  border: 1px solid #878787;
  min-width: 60px;
  border-radius: 3px;
  color: #555;
  font: normal 15px/1 Arial;
  padding: 6px 9px;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.eds_socialEventsWidget .eds_signUpActionBar label:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  display: inline-block;
  z-index: -1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.eds_socialEventsWidget .eds_signUpActionBar label:hover {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_signUpActionBar label:hover:after {
  opacity: 1;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 label:hover {
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 label:after {
  background-color: #5cb85c;
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 input[type=radio]:checked + label {
  background-color: #5cb85c;
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 label:hover {
  border-color: #8a3431;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 label:after {
  background-color: #d9534f;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 input[type=radio]:checked + label {
  background-color: #d9534f;
  border-color: #8a3431;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 label:hover {
  border-color: #a2773a;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 label:after {
  background-color: #f0ad4e;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 input[type=radio]:checked + label {
  background-color: #f0ad4e;
  border-color: #a2773a;
}
.eds_socialEventsWidget .eds_eventUsersWrapper > .eds_title {
  background: url("images/sand.png") repeat scroll 0 0 #efede8;
  border: 1px solid #bab8b4;
  padding: 9px 17px;
  position: relative;
  width: auto;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  color: #606060;
  font-size: 20px;
}
.eds_socialEventsWidget .eds_eventUsersWrapper > .eds_title:after {
  background: url("images/sand.png") repeat scroll 0 0 #efede8;
  border-bottom: 1px solid #bab8b4;
  border-left: 1px solid #bab8b4;
  bottom: -7px;
  content: "";
  height: 12px;
  left: 31px;
  position: absolute;
  transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  width: 12px;
  z-index: 2;
}
.eds_socialEventsWidget .eds_eventUsers {
  padding: 15px 15px 7px 15px;
}
.eds_socialEventsWidget .eds_eventUsers + .eds_eventUsers {
  border-top: solid 1px #ebebeb;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title {
  color: #4e4d49;
  font-family: "Arvo", serif;
  font-size: 15px;
  font-weight: normal;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title > span {
  color: #999;
}
.eds_socialEventsWidget .eds_eventUsers > ul {
  margin: 0;
  padding: 7px 0 0 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li {
  list-style-type: none;
  margin: 0 8px 8px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a {
  display: inline-block;
  line-height: 1;
  position: relative;
  font-size: 0;
  line-height: 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover {
  text-decoration: none;
  color: #999;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span {
  font-size: 12px;
  line-height: 1;
  color: #4e4d49;
  opacity: 1;
  visibility: visible;
  top: 10px;
  left: 10px;
  padding: 5px 8px;
  border: solid 1px #ddd;
  border-radius: 2px;
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span:hover {
  color: #999;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > span {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
  top: 7px;
  background-color: #fff;
  color: #4e4d49;
  text-decoration: none;
  font-size: 12px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -ms-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 500ms ease;
}
.eds_socialEventsWidget .eds_lblRegistrationInfo {
  background-color: #c0dcfe;
  border: 1px solid #95c1f1;
  border-radius: 4px;
  color: #3b3b3b;
  display: inline-block;
  font-style: italic;
  margin: 10px;
  padding: 5px;
}
