<!--TemplateGroup:newsListDefault-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->

[EasyDNNnews:HasArticlePermissions]
<div class="admin_actions">
	[EasyDNNnews:ArticlePermissions:Edit]
	[EasyDNNnews:ArticlePermissions:Publish]
	[EasyDNNnews:ArticlePermissions:Approve]
</div>
[EasyDNNnews:HasArticlePermissionsEnd]

<div class="article in_list span">
	<div class="content">
		[EasyDNNnews:IfExists:Image]
		<a class="article_image" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]" /></a>
		[EasyDNNnews:EndIf:Image]
		<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
		<h2 class="edn_subTitle">[EasyDNNnews:SubTitle]</h2>
		<div class="summary">
			[EasyDNNnews:Summary]
		</div>
	</div>
	<div class="meta_text">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]<span class="separator">/</span>[EasyDNNnewsLocalizedText:Author]: [EasyDNNnews:Author:Link]<span class="separator">/</span>[EasyDNNnewsLocalizedText:Numberofviews] ([EasyDNNnews:NumberOfViews])<span class="separator">/</span>[EasyDNNnewsLocalizedText:Comments] ([EasyDNNnews:Comments])<span class="separator">/</span>[EasyDNNnews:ArticleRating]</div>
	<div class="box_list_container clear_bottom">[EasyDNNnewsLocalizedText:Categories]: [EasyDNNnews:Categories separator=""]</div>
	<div class="box_list_container">[EasyDNNnewsLocalizedText:Tags]: [EasyDNNnews:Tags separator=""]</div>
</div>

<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="article_rss_wrapper">
	<a class="article_rss" href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
