<!--TemplateGroup:newsListSidebarBox-->
<!--ArticleRepeat:Before:-->
<div class="edn_module_box">
	<h1 class="edn_module_title"><span>[EasyDNNnewsLocalizedText:LatestNews]</span></h1>
	<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="article sidebar_box [EasyDNNnews:ItemOrderClasses]">
	[EasyDNNnews:HasArticlePermissions]
	<div class="admin_actions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<a class="image" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:85:Height:60:Resize:Crop]" /></a>
	[EasyDNNnews:EndIf:Image]
	<a class="title" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title:Limit:70]</a>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
<!--RepeatEnd:After:-->
