<!--TemplateGroup:newsListMulti-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:1:2:3:-->

<!--Before:1:2:3:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list normal box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:220:Height:145:Resize:Crop]" width="220" height="145"/></a>
		<span><span class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:1:2:3:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->


<!--MultiArticleTemplate-->
<!--ArticleRepeat:4:5:6:-->

<!--Before:4:5:6:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list normal box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:220:Height:145:Resize:Crop]" width="220" height="145"/></a>
		<span><span class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:4:5:6:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->


<!--MultiArticleTemplate-->
<!--ArticleRepeat:7:8:9:-->

<!--Before:7:8:9:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list normal box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:220:Height:145:Resize:Crop]" width="220" height="145"/></a>
		<span><span class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:7:8:9:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--MultiArticleTemplate-->
<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="article_rss_wrapper">
	<a class="article_rss" href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
<!--MultiArticleEnd-->
