<!--TemplateGroup:newsListMulti-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:1:2:-->

<!--Before:1:2:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list big box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:335:Height:210:Resize:Crop]" width="335" height="210"/></a>
		<span><span class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:PublishDate]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:1:2:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:3:4:-->

<!--Before:3:4:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list big box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:335:Height:210:Resize:Crop]" width="335" height="210"/></a>
		<span><span class="date">[EasyDNNnews:PublishDate]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:3:4:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:5:6:-->

<!--Before:5:6:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list big box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:335:Height:210:Resize:Crop]" width="335" height="210"/></a>
		<span><span class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:PublishDate]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:5:6:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:7:8:-->

<!--Before:7:8:-->
<div class="articles_row">
<!--BeforeEnd-->

<div class="article in_list big box">
	[EasyDNNnews:HasArticlePermissions]
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="article_image" [EasyDNNnews:Image:Visibility]>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:335:Height:210:Resize:Crop]" width="335" height="210"/></a>
		<span><span class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</span><span class="comment_count">[EasyDNNnews:Comments]</span></span>
	</div>
	[EasyDNNnews:EndIf:Image]

	[EasyDNNnews:IfNotExists:Image]
	<p class="date">[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</p>
	[EasyDNNnews:EndIf:Image]

	<h1><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<div class="summary">[EasyDNNnews:Summary:Limit:150]</div>
</div>

<!--After:7:8:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--MultiArticleTemplate-->
<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="article_rss_wrapper">
	<a class="article_rss" href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
<!--MultiArticleEnd-->
