<!--TemplateGroup:newsListArticleDefault-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="article [EasyDNNnews:ItemOrderClasses]">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<div class="date_box">
	[EasyDNNnews:IfNotExists:Event]
		<p class="day">[EasyDNNnews:PublishDay]</p>
		<p class="month">[EasyDNNnews:PublishMonthString]</p>
		<p class="year">[EasyDNNnews:PublishYear]</p>
	[EasyDNNnews:EndIf:Event]
	[EasyDNNnews:IfExists:Event]
		<p class="day">[EasyDNNnews:EventStartDay]</p>
		<p class="month">[EasyDNNnews:EventStartMonthNameShort]</p>
		<p class="year">[EasyDNNnews:EventStartYear]</p>
	[EasyDNNnews:EndIf:Event]
	</div>
	<h1 class="title"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<h2>[EasyDNNnews:SubTitle]</h2>
	<div class="content">
	[EasyDNNnews:IfExists:Image]
		<div class="in_article_image no_left_margin left" [EasyDNNnews:Image:Visibility]>
			<div class="image_wrapper no_text">
				<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]" />
				</a>
			</div>
		</div>
		[EasyDNNnews:EndIf:Image]
		<div class="author_box"><span>[EasyDNNnewsLocalizedText:Author]: [EasyDNNnews:Author:Link]</span></div>
		<div class="summary">[EasyDNNnews:Summary]</div>
	</div>
	<div class="stats">
		<div class="comments">[EasyDNNnewsLocalizedText:Comments] ([EasyDNNnews:Comments])</div>
		<div>[EasyDNNnewsLocalizedText:Numberofviews] ([EasyDNNnews:NumberOfViews])</div>
		<div class="score">[EasyDNNnews:ArticleRating]</div>
	</div>
	<div class="details">
		<a class="open_article_btn" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
		<p class="categories"><span>[EasyDNNnewsLocalizedText:Categories]: [EasyDNNnews:Categories]</span></p>
		<p class="tags"><span>[EasyDNNnewsLocalizedText:Tags]: [EasyDNNnews:Tags]</span></p>
	</div>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="article_rss_wrapper">
	<a class="article_rss" href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
