<!--TemplateGroup:newsListABox-->

<!--ArticleRepeat:Before:-->
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/isotope2/isotope.v2.0.0-beta.4_2.2.min.js"></script>
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/imagesLoaded/imagesLoaded_3.1.4_2.2.min.js"></script>
<script>
	eds2_2(function ($) {
		var $articleListContainer = $('.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'),
			imageLoadedKey = 'imageLoaded';

		$articleListContainer
			.isotope({
				itemSelector: '.edn_articleWrapper',
				sortBy: 'original-order',
				masonry: {
					isFitWidth: true
				}
			})
			.find('img').imagesLoaded()
				.progress(function (instance, image) {
					var $img = $(image.img);

					if ($img.data(imageLoadedKey))
						return;

					$img.data(imageLoadedKey, true);

					$articleListContainer.isotope('layout');
				});
	});
</script>
<div class="edn_isotopeLayout">
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->

<div class="article multi_layout two_collumn big edn_articleWrapper" style="width:[EasyDNNnews:MainArticleImageWidth]">
[EasyDNNnews:HasArticlePermissions]
	[EasyDNNnews:ArticlePermissions:Edit]
	[EasyDNNnews:ArticlePermissions:Publish]
	[EasyDNNnews:ArticlePermissions:Approve]
[EasyDNNnews:HasArticlePermissionsEnd]
	<div class="in_article_image clear" [EasyDNNnews:Image:Visibility]>
		<div class="image_wrapper no_text">
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]" />
			</a>
		</div>
	</div>
	<div class="date_box">
	[EasyDNNnews:IfNotExists:Event]
		<p class="day">[EasyDNNnews:PublishDay]</p>
		<p class="month">[EasyDNNnews:PublishMonthString]</p>
		<p class="year">[EasyDNNnews:PublishYear]</p>
	[EasyDNNnews:EndIf:Event]
	[EasyDNNnews:IfExists:Event]
		<p class="day">[EasyDNNnews:EventStartDay]</p>
		<p class="month">[EasyDNNnews:EventStartMonthNameShort]</p>
		<p class="year">[EasyDNNnews:EventStartYear]</p>
	[EasyDNNnews:EndIf:Event]
	</div>
	<h1 class="title"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h1>
	<h2>[EasyDNNnews:SubTitle]</h2>
	<div class="content">
		[EasyDNNnews:Summary]
	</div>
</div>

<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="article_rss_wrapper">
	<a class="article_rss" href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
