@charset "UTF-8";
@import url("../../../static/font-awesome/css/font-awesome.min.css");
.eds_news_OnePageBlog {
  margin-bottom: 30px;
}
.eds_news_OnePageBlog * {
  box-sizing: border-box;
}
.eds_news_OnePageBlog .eds_openModal {
  cursor: pointer;
}
.eds_news_OnePageBlog.eds_subCollection_news {
  font-family: Georgia, ​serif;
  line-height: 1.7;
  font-size: 18px;
  color: #232629;
}
.eds_news_OnePageBlog.eds_subCollection_news:after,
.eds_news_OnePageBlog.eds_subCollection_news .edn_clearFix:after {
  display: block;
  content: "";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news a {
  text-decoration: none;
  color: #008cc9;
  -webkit-transition: color 0.3s linear;
  -khtml-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.eds_news_OnePageBlog.eds_subCollection_news a:hover {
  color: #008cc9;
  text-decoration: underline;
}
.eds_news_OnePageBlog.eds_subCollection_news a > img {
  border: none;
}
.eds_news_OnePageBlog.eds_subCollection_news h1,
.eds_news_OnePageBlog.eds_subCollection_news h2,
.eds_news_OnePageBlog.eds_subCollection_news h3,
.eds_news_OnePageBlog.eds_subCollection_news h4,
.eds_news_OnePageBlog.eds_subCollection_news h5,
.eds_news_OnePageBlog.eds_subCollection_news h6,
.eds_news_OnePageBlog.eds_subCollection_news th,
.eds_news_OnePageBlog.eds_subCollection_news .in_article_image .image_title {
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news h1, .eds_news_OnePageBlog.eds_subCollection_news h2, .eds_news_OnePageBlog.eds_subCollection_news h3, .eds_news_OnePageBlog.eds_subCollection_news h4, .eds_news_OnePageBlog.eds_subCollection_news h5, .eds_news_OnePageBlog.eds_subCollection_news h6 {
  margin: 0 0 15px;
  padding: 0;
  color: #008cc9;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.1;
}
.eds_news_OnePageBlog.eds_subCollection_news h1 {
  font-size: 36px;
}
.eds_news_OnePageBlog.eds_subCollection_news h2 {
  font-size: 30px;
}
.eds_news_OnePageBlog.eds_subCollection_news h3 {
  font-size: 24px;
}
.eds_news_OnePageBlog.eds_subCollection_news h4 {
  font-size: 18px;
}
.eds_news_OnePageBlog.eds_subCollection_news h5 {
  font-size: 14px;
}
.eds_news_OnePageBlog.eds_subCollection_news h6 {
  font-size: 12px;
}
.eds_news_OnePageBlog.eds_subCollection_news p {
  margin: 0 0 15px;
  padding: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news ul, .eds_news_OnePageBlog.eds_subCollection_news ol {
  margin-left: 15px;
}
.eds_news_OnePageBlog.eds_subCollection_news ul {
  list-style-type: disc;
}
.eds_news_OnePageBlog.eds_subCollection_news ul ul {
  list-style-type: circle;
}
.eds_news_OnePageBlog.eds_subCollection_news ul ul ul {
  list-style-type: square;
}
.eds_news_OnePageBlog.eds_subCollection_news ol {
  list-style-type: decimal;
}
.eds_news_OnePageBlog.eds_subCollection_news ol ol {
  list-style-type: upper-roman;
}
.eds_news_OnePageBlog.eds_subCollection_news ol ol ol {
  list-style-type: lower-roman;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions {
  line-height: 1;
  font-size: 13px;
  position: relative;
  z-index: 999;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action {
  display: inline-block;
  margin: 10px 5px 10px 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  line-height: 1;
  background-color: #fff;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a:hover,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action:hover {
  text-decoration: underline;
  box-shadow: 0 0 2px 0 #fff inset;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a:hover:before,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action:hover:before {
  opacity: 1;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a:before,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action:before {
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  opacity: 0.8;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a.edit,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action.edit {
  color: #f89e00;
  border-color: #e78d00;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a.edit:before,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action.edit:before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a.publish_article,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action.publish_article {
  color: #619c1c;
  border-color: #4c771d;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_adminActions > a.publish_article:before,
.eds_news_OnePageBlog.eds_subCollection_news .admin_action.publish_article:before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails {
  font-size: 12px;
  line-height: 1.2;
  color: #6e6e6e;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edn_numberComments,
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edn_numberOfVievs {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edn_numberComments:before,
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edn_numberOfVievs:before {
  font-family: "FontAwesome";
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10%;
  font-size: 18px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edn_numberComments:before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edn_numberOfVievs:before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articlesRssWrapper {
  margin: 20px 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articlesRssWrapper a {
  text-align: right;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  background-color: #f8f8f8;
  padding: 3px 10px;
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articlesRssWrapper a span {
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  color: #232629;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articlesRssWrapper a span:before {
  content: "";
  font-family: "FontAwesome";
  color: #008cc9;
  margin-right: 5px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articlesRssWrapper a:hover {
  background-color: #fff;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articlesRssWrapper a:hover span {
  color: #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager {
  text-align: center;
  border: solid 1px #d7d7d7;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 300px;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a {
  display: inline-block;
  line-height: 57px;
  font-size: 14px;
  font-family: Georgia, ​serif;
  text-decoration: none;
  color: #8b8b8b;
  min-width: 57px;
  padding: 0 25px;
  border: solid 1px #d7d7d7;
  border-top: none !important;
  border-bottom: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a:hover {
  background-color: #008cc9;
  color: #fff;
  text-decoration: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.page {
  font-size: 20px;
  -webkit-transition: all 300ms ease;
  -khtml-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.page.active {
  background-color: #008cc9;
  color: #fff;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.page + .page {
  border-left-style: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.prev, .eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.next {
  width: 57px;
  font-size: 0;
  padding: 0;
  background-color: #008cc9;
  text-align: center;
  position: relative;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.prev::before, .eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.next::before {
  font-family: "FontAwesome";
  color: #fff;
  font-size: 22px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.prev:hover, .eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.next:hover {
  background-color: transparent;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.prev:hover::before, .eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.next:hover::before {
  color: #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.prev {
  float: left;
  border-right: solid 1px #d7d7d7;
  border-left: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.prev::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.next {
  float: right;
  border-left: solid 1px #d7d7d7;
  border-right: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.next::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.first, .eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.last {
  min-width: 80px;
  max-width: 110px;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.first {
  float: left;
  border-right: solid 1px #d7d7d7;
  border-left: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .article_pager > a.last {
  float: right;
  border-left: solid 1px #d7d7d7;
  border-right: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper {
  text-align: center;
  line-height: 0;
  font-size: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 300px;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger {
  position: relative;
  padding: 0;
  background: none transparent;
  box-shadow: none;
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  border: solid 1px #d7d7d7;
  border-left: none;
  border-right: none;
  outline: none;
  -webkit-transition: opacity 200ms ease;
  -khtml-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger > span {
  color: #8b8b8b;
  font-family: Helvetica, ​Arial, ​sans-serif;
  line-height: 1;
  font-size: 18px;
  display: block;
  padding: 18px 30px;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger .actionTextContainer {
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  -khtml-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger .loadingOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  -khtml-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger .loadingOverlay::after {
  color: #b3b3b3;
  content: "";
  display: inline-block;
  margin-left: 10px;
  font-family: "FontAwesome";
  line-height: 0;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger:hover {
  border-color: #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger:hover .actionTextContainer {
  color: #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading .trigger .loadingOverlay {
  opacity: 1;
  background-color: #fff;
  top: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .ednMoreArticlesTriggerWrapper.hide {
  display: none;
}

#Body.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList {
  width: 276px;
  margin: 0;
  padding: 0 15px 0 0;
  float: left;
  position: fixed;
  overflow: hidden;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList {
    display: none;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.scrollbar {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  z-index: 1;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.scrollbar > .track {
  background: transparent;
  position: relative;
  height: 100%;
  width: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.scrollbar > .track > .thumb {
  height: 20px;
  width: 10px;
  cursor: default;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  transition: background ease 0.2s;
  border-radius: 5px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.scrollbar > .track > .thumb > .end {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.scrollbar > .track > .thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  list-style-type: none;
  position: relative;
  opacity: 0.5;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  background: url("assets/images/common/blank.png");
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li > span {
  color: #777;
  font-weight: 200;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.3;
  -webkit-transition: all 100ms ease;
  -khtml-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li .edNews_listAuthorProfile > a {
  position: relative;
  z-index: 1;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li:hover, .eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li.edNews__active {
  opacity: 1;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li:hover > span, .eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList > div.viewport > ul > li.edNews__active > span {
  color: #232629;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList + div {
  margin-left: 300px;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews__secondaryArticleList + div {
    margin-left: 0;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__article {
  margin-bottom: 50px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile {
  display: inline-block;
  margin-top: 5px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > span {
  color: rgba(0, 0, 0, 0.55);
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.3;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a::before {
  font-family: "FontAwesome";
  font-size: 16px;
  color: #008cc9;
  line-height: 1.3;
  -webkit-transition: all 200ms ease;
  -khtml-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a:hover::before {
  color: #232629;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a.facebook::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a.twitter::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a.linked_in::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfile > a.google_plus::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_mediaContainer > img {
  max-width: 100%;
  height: auto;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 25px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper > span {
  position: relative;
  top: -18px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper > span > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
  line-height: 0;
  border-radius: 50%;
  background: url("assets/images/common/blank.png");
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper > span > img {
  border: solid 2px #fff;
  border-radius: 50%;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper .edNews_listAuthorProfile > h4 {
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin: 0;
  padding: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper .edNews_listAuthorProfile > h4 > a {
  color: #232629;
  text-decoration: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper .edNews_listAuthorProfile > h4 > a:hover {
  text-decoration: underline;
  color: #232629;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_listAuthorProfileWrapper .edNews_authorShortInfo {
  font-size: 12px;
  color: #777;
  line-height: 1.3;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_contentWrapper {
  padding: 30px 25px 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleTitle {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  margin: 0 0 8px;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleSubTitle {
  color: #777;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin: 20px 0 30px;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails > span {
  display: inline-block;
  vertical-align: middle;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails > span > i {
  padding-right: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails > span + span {
  margin-left: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails > span:first-child {
  border-right: solid 1px #d7d7d7;
  padding-right: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails > span:last-child {
  border-left: solid 1px #d7d7d7;
  padding-left: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin: 0 5px;
  vertical-align: middle;
  text-decoration: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a::before {
  font-family: "FontAwesome";
  font-size: 16px;
  color: #008cc9;
  line-height: 1.3;
  -webkit-transition: all 200ms ease;
  -khtml-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a:hover::before {
  color: #232629;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a.edNews_Facebook::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a.edNews_Twitter::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a.edNews_linkedIn::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_metaDetails .edNews_shareLinks > a.edNews_googlePlus::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleContent {
  font-family: Georgia, ​serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleContent p {
  padding: 0;
  margin-bottom: 32px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleTags {
  margin: 30px 0;
  padding: 10px 0 0 30px;
  position: relative;
  font-size: 14px;
  line-height: 1.1;
  font-family: Helvetica, ​Arial, ​sans-serif;
  color: #777;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleTags::before {
  display: inline-block;
  font-family: "FontAwesome";
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  color: #ddd;
  font-size: 25px;
  line-height: 1;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleTags > a {
  color: #777;
  text-decoration: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_articleTags > a:hover {
  color: #777;
  text-decoration: underline;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox {
  border: solid 1px #e5e5e5;
  margin: 15px 0;
  padding: 15px 15px 10px;
  clear: both;
  font-family: Helvetica, ​Arial, ​sans-serif;
  font-size: 12px;
  line-height: 1.6;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox h2 {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  padding: 0 0 6px;
  border-bottom: 1px solid #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox ul {
  margin: 20px 0 0;
  padding: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox ul li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px 20px;
  position: relative;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox ul li::before {
  color: #008cc9;
  content: "";
  font: 13px/1 "FontAwesome";
  left: 0;
  position: absolute;
  top: 3px;
  font-style: normal;
  font-weight: normal;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox ul li a {
  margin-right: 7px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox ul li span {
  font-style: italic;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul {
  margin-left: -9px;
  margin-right: -9px;
  line-height: 0;
  font-size: 0;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul {
    margin-left: 0;
    margin-right: 0;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li {
  padding: 0 9px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  line-height: 0;
  height: 180px;
  overflow: hidden;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li {
    display: block;
    border: none;
    padding: 0 0 6px;
    overflow: hidden;
    width: auto !important;
    height: auto !important;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li + li {
  border-left: dashed 1px #acacac;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li a {
  max-width: 100%;
  display: block;
  margin: 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li a img {
  width: 100%;
  margin-bottom: 5px;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li a img {
    float: left;
    margin: 2px 10px 5px 0;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li a span {
  display: block;
  font-size: 13px;
  font-family: Helvetica, ​Arial, ​sans-serif;
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 5px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_aditionalBoxImage ul li::before {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_relatedArticles {
  border: 1px dashed #bfbfbf;
  background-color: #EDEDED;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_relatedArticles ul li a {
  color: #424344;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_relatedArticles ul li a:hover {
  color: #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: solid 1px #F7F5F5;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li::before {
  content: "";
  font-size: 15px;
  color: #232629;
  line-height: 1;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_doc::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_docx::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_odt::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_xls::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_xlsx::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_ods::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_zip::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_rar::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_7z::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_wav::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_wma::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_ogg::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_flac::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_mp3::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_png::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_gif::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_jpg::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_jpeg::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_mpg::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_mpeg::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_mp4::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_xvid::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_wmv::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_ogv::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_mov::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_avi::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_mkv::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_pdf::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_ppt::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_pptx::before, .eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_odp::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li.edNews_docType_txt::before {
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li .edNews_docDetails {
  font-style: normal;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li .edNews_docDetails .edNews_docFileSize {
  color: #000;
  font-style: normal;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews_aditionalBox.edNews_articleDocuments ul li .edNews_documentDescription {
  color: #999;
  margin: 0;
  padding: 0;
}

.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper {
  border-top: 1px solid #d7d7d7;
  padding-top: 25px;
  clear: both;
  margin-top: 40px;
  width: 90%;
  margin: 40px auto 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews_numberOfComments {
  color: #232629;
  font-family: Helvetica, ​Arial, ​sans-serif;
  font-size: 12px;
  line-height: 1;
  padding: 20px 0;
  text-align: right;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer {
  font-size: 0;
  line-height: 0;
  margin-bottom: 30px;
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer:first-child, .eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer:nth-child(2) {
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer::after {
  content: "";
  width: 100%;
  display: table;
  clear: both;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_userAvatar {
  float: left;
  margin-right: 20px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentDetails {
  overflow: hidden;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentDetails > span {
  font-family: Helvetica, ​Arial, ​sans-serif;
  color: #000;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentDetails > div {
  margin: 10px 0;
  color: #8b8b8b;
  font-size: 13px;
  line-height: 1;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentDetails .edNews_commentText {
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentActions {
  text-align: right;
  margin: 20px 0;
  font-size: 12px;
  line-height: 1;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentActions > span {
  cursor: pointer;
  color: #8b8b8b;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > div .edNews_commentActions > span:hover {
  color: #008cc9;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer > .edNews__childCommentsContainer {
  margin: 0 0 0 50px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer .edNews__editCommentContainer {
  display: none;
  overflow: hidden;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer .edNews__editCommentContainer .edNews_errorMessage {
  margin: 0;
  border: 0;
  padding: 5px;
  text-align: right;
  padding: 10px 0;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer .edNews__editCommentContainer .edNews_errorMessage > span {
  background: #F0F0F0;
  border: 1px solid #CCCCCC;
  padding: 4px 14px 3px;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer .edNews__editCommentContainer .edNews_errorMessage > span > span {
  text-shadow: 0 1px #FFFFFF;
  color: #5F5F5F;
  font-weight: bold;
  white-space: nowrap;
  font-size: 11px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer .edNews__editCommentContainer .edNews_errorMessage > span:hover {
  background-color: #fff;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer .edNews__editCommentContainer .edNews_errorMessage > span:hover > span {
  color: #5F5F5F;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__editingComment > .edNews__commentContentWrapper .edNews_comment .edNews__commentContent {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__editingComment > .edNews__commentContentWrapper .edNews_comment .edNews__editCommentContainer {
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__editingComment > .edNews__commentContentWrapper .edNews_comment .edNews_commentActions.main {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__deleted > .edNews__commentContentWrapper .edNews_comment {
  opacity: 0.5;
  margin: 0 0 0 9%;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__deleted > .edNews__commentContentWrapper .edNews_votes {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsListContainer {
  margin: 30px 0 30px;
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsListContainer.noComments {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsListContainer.noComments + .edNews__showCommentsTrigger {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews_errorMessage {
  box-sizing: border-box;
  top: 10px;
  display: none;
  border-top: solid 1px #e2252d;
  padding: 6px;
  margin-bottom: -4px;
  font-size: 11px;
  font-weight: normal;
  font-family: Helvetica, ​Arial, ​sans-serif;
  color: #ac171e;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews_errorMessage.show {
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_clear {
  clear: both;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_leaveaComment {
  color: #8E8E8E;
  font-size: 16px;
  line-height: 53px;
  font-weight: bold;
  margin: 0;
  padding: 0 20px 0 53px;
  font-family: Arial;
  letter-spacing: normal;
  background: url("assets/images/common/comments/comment.png") no-repeat 13px center rgba(0, 0, 0, 0.08);
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews__replyingToMessage,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews__commentPendingApproval {
  display: none;
  margin: 20px 0;
  text-align: left;
  font-family: Helvetica, ​Arial, ​sans-serif;
  color: #232629;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #008cc9;
  background-color: #fcfcfc;
  padding: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews__replyingToMessage > a,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews__commentPendingApproval > a {
  text-decoration: underline;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews__commentPendingApproval {
  background: #FFFCE3;
  color: #444;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews__commentPendingApproval.show {
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper {
  margin-bottom: 10px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper::after {
  display: table;
  width: 100%;
  clear: both;
  content: "";
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper label {
  float: left;
  width: 23%;
  padding: 7px 2% 0 0;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 14px;
  font-weight: normal;
  color: #7b7b7b;
  font-family: Helvetica, ​Arial, ​sans-serif;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper label {
    float: none;
    width: auto;
    display: block;
    text-align: left;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper textarea,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper input[type="text"] {
  font-family: Helvetica, ​Arial, ​sans-serif;
  box-sizing: border-box;
  background: none #fdfdfd;
  border: 1px solid #e8e8e8 !important;
  border-radius: 0;
  color: #C6C6C6;
  outline: medium none;
  padding: 8px;
  width: 75%;
  box-shadow: none !important;
  margin: 0;
  resize: vertical;
  font-size: 12px;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper textarea,
  .eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper input[type="text"] {
    width: 100%;
  }
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper textarea:focus, .eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper textarea:hover,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper input[type="text"]:focus,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper input[type="text"]:hover {
  color: #9fa0a2;
  background: none #fdfdfd;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper textarea:focus,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_inputWrapper input[type="text"]:focus {
  background-color: #fff;
  color: #9fa0a2;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_button {
  padding: 20px 0 0;
  text-align: right;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment .edNews_button > span {
  font-family: Helvetica, ​Arial, ​sans-serif;
  background-color: #008cc9;
  background-image: none;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  height: 24px;
  line-height: 16px;
  overflow: hidden;
  padding: 5px 16px;
  text-align: center;
  vertical-align: middle;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment.edNews_registeredUser .edNews_inputWrapper > label {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment.edNews_registeredUser .edNews_inputWrapper .edNews_commenterImage {
  width: 65px;
  height: 65px;
  background-color: #ccc;
  text-align: center;
  float: left;
  position: relative;
  z-index: 2;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment.edNews_registeredUser .edNews_inputWrapper .edNews_commenterImage::before {
  font-family: "FontAwesome";
  color: #fff;
  position: relative;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 50px;
  content: "";
  position: absolute;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment.edNews_registeredUser .edNews_inputWrapper .edNews_commenterImage > div {
  position: relative;
  z-index: 2;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment.edNews_registeredUser .edNews_inputWrapper .edNews_commenterImage > div img {
  width: 65px;
  height: 65px;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper .edNews_addComment.edNews_registeredUser .edNews_inputWrapper textarea {
  float: left;
  height: 65px;
  margin-top: -65px;
  padding-left: 75px;
  position: relative;
  z-index: 1;
  width: 100%;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper.edNews__replyingToComment .edNews_addComment .edNews__replyingToMessage {
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper.edNews__addingComment,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__savingChanges > .edNews__commentContentWrapper .edNews_comment,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__deletingComment > .edNews__commentContentWrapper .edNews_comment {
  position: relative;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__commentsCommentFormWrapper.edNews__addingComment:after,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__savingChanges > .edNews__commentContentWrapper .edNews_comment:after,
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper .edNews__itemCommentContainer.edNews__deletingComment > .edNews__commentContentWrapper .edNews_comment:after {
  position: absolute;
  background: #fff url("assets/images/common/comments/loadingBigger.gif") center center no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper.edNews__showComments .edNews__itemCommentContainer {
  display: block;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__itemCommentsWrapper.edNews__showComments .edNews__showCommentsTrigger {
  display: none;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__showCommentsTrigger {
  margin: 30px auto;
  text-align: center;
  border: solid 1px #d7d7d7;
  border-left: none;
  border-right: none;
  color: #8b8b8b;
  font-family: Helvetica, ​Arial, ​sans-serif;
  line-height: 1;
  font-size: 12px;
  display: block;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  -khtml-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.eds_news_OnePageBlog.eds_subCollection_news .edNews__showCommentsTrigger:hover {
  border-color: #008cc9;
  color: #008cc9;
}

.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard {
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 4px 6px 1px;
  margin: 0 0 20px;
  overflow: hidden;
  background-color: #ebebeb;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard:hover {
  background-color: #f2f2f2;
  border-color: #000;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a {
  display: block;
  float: left;
  font-size: 11px;
  font-family: Arial;
  font-weight: bold;
  padding: 0 0 0 35px;
  height: 25px;
  line-height: 24px;
  margin: 0 10px 0 0;
  color: #5C5C5C !important;
  text-decoration: none !important;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.add_article {
  background: url("assets/images/common/user_dashboard/green_plus.png") no-repeat;
  padding-left: 25px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.article_manager {
  background: url("assets/images/common/user_dashboard/papers.png") no-repeat 0 0;
  padding-left: 28px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.event_manager {
  background: url("assets/images/common/user_dashboard/event_manager.png") no-repeat 0 1px;
  padding-left: 35px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.approve_articles {
  background: url("assets/images/common/user_dashboard/approve_articles.png") no-repeat 0 1px;
  padding-left: 22px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.approve_comments {
  background: url("assets/images/common/user_dashboard/approve_comments.png") no-repeat 0 2px;
  padding-left: 22px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.category_manager {
  background: url("assets/images/common/user_dashboard/categories.png") no-repeat 0 2px;
  padding-left: 22px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.dashboard {
  background: url("assets/images/common/user_dashboard/monitor.png") no-repeat 0 3px;
  padding-left: 24px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.settings {
  background: url("assets/images/common/user_dashboard/settings.png") no-repeat 0 1px;
  padding-left: 24px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a.author_profile {
  background: url("assets/images/common/user_dashboard/profile.png") no-repeat 0 1px;
  padding-left: 18px;
}
.eds_news_OnePageBlog.eds_subCollection_news .user_dashboard a:hover {
  color: #000 !important;
  text-decoration: none !important;
}
