﻿<button ng-click="vm.clickCancelar()" type="button" class="btn btn-default come-back-left" aria-label="Left Align">
    <span class="k-icon k-i-undo" style=" margin-left: -10px; margin-top: -5px; padding-right: 27px;" aria-hidden="true"></span><strong>Volver</strong>

</button>
<div class="modal-header modal-header bg-alto position-relative">
    <h2 class="modal-title librefranklin-bold color-jungle-green header-mineros ng-binding title_interest_h2">{{vm.textAddProvider}}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <form name="form_category" class="form_category row">
            <div class="col-md-6 form-group">
                <strong>Valor Español:</strong>
                <label ng-if="!vm.edit">{{vm.viewCategory.Spanish}}</label>
                <input ng-if="vm.edit" class="form-control" name="Spanish" ng-model="vm.viewCategory.Spanish" />
            </div>
            <div class="col-md-6 form-group">
                <strong>Valor Ingles:</strong>
                <label ng-if="!vm.edit">{{vm.viewCategory.English==null?'No tiene valor':vm.viewCategory.English}}</label>
                <input ng-if="vm.edit" class="form-control" name="English" ng-model="vm.viewCategory.English" />
            </div>
            <div class="col-md-6 form-group">
                <strong>Tipo Servicio:</strong>
                <label ng-if="!vm.edit">{{vm.viewCategory.TypeActivities.Spanish}}</label>
              
                <select  ng-if="vm.edit"  ng-options="type.Id as type.Spanish for type in vm.typeActivities"
                        ng-model="vm.viewCategory.TypeActivityId" ng-change="update()"  name="TypeActivityId" class="form-control bg-very-light-gray">
                    <option value="">Selecionar..</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <div ng-if="!vm.edit">
                    <a href="#" class="k-primary btn-iconInnovacion k-button k-button-icon" ng-click="vm.editCategory()"><span class="k-icon k-i-edit k-i-pencil"></span></a>
                </div>
                <div ng-if="vm.edit" class="content-action">
                    <a href="#"  ng-click="vm.saveCategory($event,form_category,vm.viewCategory)" class="k-primary btn-iconInnovacion k-button k-button-icon"><span class="k-icon k-i-save k-i-floppy"></span></a>
                    <a href="#" ng-click="vm.editClose()" class="k-primary btn-iconInnovacion k-button k-button-icon"><span class="k-icon k-i-close k-i-x"></span></a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12" ng-if="!vm.addSubcategory">
                <div class="k-header k-grid-toolbar ng-scope header-grid">
                    <strong>Subcategorias:</strong>
                    <a href="#" ng-click="vm.addSub()" class="btn-iconInnovacion k-button k-button-icon float-right"><span class="k-icon k-i-k-icon k-i-plus"></span></a>
                </div>
                <div class="col-md-12">
                    
                </div>
            </div>
            <div class="col-md-12" ng-if="vm.addSubcategory">
                <edit-sub-category-module-component go-back="vm.goBackForm()" edit-subcategory="vm.subcategoryItem" category-settings="categories"></edit-sub-category-module-component>
            </div>
        </div>

    </div>
</div>
