@charset "UTF-8";
@import url("../font-awesome/css/font-awesome.min.css");
.eds_modalWrapper {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  transition: all 200ms ease-in 0s;
  -webkit-transition: all 200ms ease-in 0s;
  -o-transition: all 200ms ease-in 0s;
  -moz-transition: all 200ms ease-in 0s;
  opacity: 0;
  visibility: hidden;
}
.eds_modalWrapper * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.eds_modalWrapper .eds_modalContent {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 6% auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  display: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial;
  font-color: #7b7b7b;
  font-size: 12px;
  text-align: left;
}
.eds_modalWrapper .eds_modalContent > div {
  padding: 20px 20px 0;
  position: relative;
  overflow: auto;
}
.eds_modalWrapper .eds_modalContent .dnnLabel {
  margin: 0;
  padding: 0;
  text-align: left;
  width: auto;
}
.eds_modalWrapper .eds_modalContent .dnnFormHelp {
  right: 8px;
}
.eds_modalWrapper .eds_modalContent .dnnTooltip {
  display: inline;
}
.eds_modalWrapper .eds_modalContent > h3 {
  background-color: #189fd3;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  font-weight: normal;
  line-height: 47px;
  margin: 0;
  padding: 0 20px;
  letter-spacing: normal;
  border-radius: 3px 3px 0 0;
}
.eds_modalWrapper .eds_modalContent > h3:before {
  font-family: "FontAwesome";
  color: #fff;
  padding-right: 15px;
  font-size: 30px;
  line-height: 44px;
}
.eds_modalWrapper .eds_modalContent input[type="text"],
.eds_modalWrapper .eds_modalContent textarea,
.eds_modalWrapper .eds_modalContent select {
  background: none #F9F9F9;
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: none;
  line-height: 1;
  font-family: Arial;
  font-size: 12px;
  text-shadow: none;
  color: #444;
  margin: 0;
  padding: 0 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 240px;
  transition: box-shadow 200ms linear;
  -webkit-transition: box-shadow 200ms linear;
  -o-transition: box-shadow 200ms linear;
  -moz-transition: box-shadow 200ms linear;
}
.eds_modalWrapper .eds_modalContent input[type="text"]:hover,
.eds_modalWrapper .eds_modalContent textarea:hover,
.eds_modalWrapper .eds_modalContent select:hover {
  border: solid 1px #C1C1C1;
  box-shadow: none;
  color: #444;
  background: none #F9F9F9;
}
.eds_modalWrapper .eds_modalContent input[type="text"]:focus,
.eds_modalWrapper .eds_modalContent textarea:focus,
.eds_modalWrapper .eds_modalContent select:focus {
  border: solid 1px #BABDC9;
  box-shadow: 0 0 3px #98ACF4;
  background: transparent #fff;
  color: #444;
}
.eds_modalWrapper .eds_modalContent input[type="text"]:disabled,
.eds_modalWrapper .eds_modalContent textarea:disabled,
.eds_modalWrapper .eds_modalContent select:disabled {
  color: #929292;
  text-shadow: 1px 1px 0 #fff;
  cursor: not-allowed;
}
.eds_modalWrapper .eds_modalContent input[type="text"].eds_numberOfTickets {
  width: 45px;
  border-right-width: 3px;
  border-right-color: #f00;
}
.eds_modalWrapper .eds_modalContent input[type="text"],
.eds_modalWrapper .eds_modalContent select {
  height: 26px;
  padding-right: 0;
  width: 240px;
}
.eds_modalWrapper .eds_modalContent textarea {
  padding: 10px;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_modalWrapper .eds_modalContent input[type="text"],
  .eds_modalWrapper .eds_modalContent textarea,
  .eds_modalWrapper .eds_modalContent select {
    width: 100% !important;
  }
}
.eds_modalWrapper .eds_modalContent .edn_bottomButtonWrapper {
  text-align: right;
  margin: 20px 0;
}
.eds_modalWrapper .eds_modalContent .edn_bottomButtonWrapper input[type="submit"] {
  background: none #189fd3;
  box-shadow: none !important;
  border: none !important;
  border-radius: 3px;
  color: #fff !important;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 48px;
  text-shadow: none !important;
  padding: 0 30px;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  text-transform: none;
  margin: 0;
  height: auto;
  transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
}
.eds_modalWrapper .eds_modalContent .edn_bottomButtonWrapper input[type="submit"]:hover {
  background: none #2cb3e7;
}
.eds_modalWrapper .eds_modalContent input[type="radio"] + label,
.eds_modalWrapper .eds_modalContent input[type="checkbox"] + label {
  line-height: 22px;
  margin-left: 3px;
  font-weight: normal;
  display: inline-block;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput {
  margin: 0 0 10px;
  padding: 0;
  white-space: nowrap;
  position: relative;
  font-size: 0;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput:after {
  display: block;
  content: "";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput .HTMLeditor,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput > .dnnLeft,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput > .dnnRight {
  float: none;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput input ~ span,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput textarea ~ span,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput select ~ span {
  font-size: 11px;
  line-height: 1;
  color: #C42323;
  margin-left: 8px;
  width: auto !important;
  display: inline;
  margin: 0;
  font-weight: normal;
  margin-left: 5px;
  position: absolute;
  left: 165px;
  bottom: -5px;
  top: auto;
  text-shadow: 0px 0px 2px #fff;
  transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput input ~ span,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput textarea ~ span,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput select ~ span {
    bottom: auto;
    left: auto;
    right: 10px;
  }
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput input:focus ~ span,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput textarea:focus ~ span,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput select:focus ~ span {
  opacity: 0.1;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_paymentInfo {
  font-size: 12px;
  line-height: 1;
  color: #3b3b3b;
  margin: 0 0 7px;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_paymentInfo > span {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_paymentInfo.eds_estimatedTotal {
  font-weight: bold;
  font-size: 16px;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_paymentInfo.eds_estimatedTotal > span {
  color: #e3011f;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput > label,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput > div,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput > span {
    width: 100%;
    clear: both;
    float: none;
    display: block;
  }
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 label,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 > span {
  width: 100px;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 input[type="text"],
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 select,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 textarea {
  width: 280px;
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 input ~ span,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 textarea ~ span {
  left: 125px;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 input ~ span,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_labelWidth100 textarea ~ span {
    left: auto;
  }
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput input[type="text"],
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput textarea,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput select {
  width: 440px;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput input[type="text"],
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput textarea,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput select {
    width: 280px;
  }
}
.eds_modalWrapper .eds_modalContent .eds_labelAndInput.eds_bigInput textarea {
  height: 110px;
}
.eds_modalWrapper .eds_modalContent label,
.eds_modalWrapper .eds_modalContent .eds_labelAndInput > span {
  font-family: Arial;
  font-size: 13px;
  line-height: 26px;
  color: #7B7B7B;
  width: 140px;
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: top;
  font-weight: bold;
  text-decoration: none;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_modalWrapper .eds_modalContent label,
  .eds_modalWrapper .eds_modalContent .eds_labelAndInput > span {
    display: block;
    width: 100%;
  }
}
.eds_modalWrapper .eds_modalContent a.dnnFormHelp,
.eds_modalWrapper .eds_modalContent .dnnForm .dnnFormItem a.dnnFormHelp,
.eds_modalWrapper .eds_modalContent .dnnTooltip label a.dnnFormHelp {
  font-family: Arial;
  font-size: 13px;
  line-height: 1;
  color: #7B7B7B;
}
.eds_modalWrapper .eds_modalContent ul {
  margin: 15px 0;
  padding: 0;
}
.eds_modalWrapper .eds_modalContent ul li {
  list-style-type: none;
  margin: 0 0 5px;
  padding: 0;
}
.eds_modalWrapper .eds_modalContent ul li label {
  font-weight: normal;
}
.eds_modalWrapper .eds_modalContent ul li label span {
  font-weight: bold;
}
.eds_modalWrapper .eds_modalContent ul.eds_attendantsPrices li input[type="text"] {
  width: 35px;
}
.eds_modalWrapper .eds_modalContent > div .eds_eventRegistrationLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(255, 255, 255, 0.5) url("images/eventRegistrationLoading.gif") no-repeat center center;
}
.eds_modalWrapper .edn_errorMessage {
  font-family: Arial;
  line-height: 1;
  font-size: 11px;
  color: #AB1111;
  margin-left: 10px;
}
@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .eds_modalWrapper .edn_errorMessage {
    display: block;
    margin-top: 2px;
    margin-left: 0;
  }
}
.eds_modalWrapper .eds_closeWindowButtonOuter {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: solid 1px #115f7d;
  border-radius: 3px;
  line-height: 0 !important;
  font-size: 0 !important;
  cursor: pointer;
  transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
}
.eds_modalWrapper .eds_closeWindowButtonOuter:before {
  font-family: "FontAwesome";
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  content: "";
}
.eds_modalWrapper .eds_closeWindowButtonOuter:hover {
  background-color: #115f7d;
}
.eds_modalWrapper .eds_updateProfile {
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  text-align: right;
  float: right;
  margin: 11px 70px 0 0;
}
.eds_modalWrapper .eds_updateProfile > a {
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  background: url("images/user.png") no-repeat 0 0;
  padding: 1px 0 0 22px;
}
.eds_modalWrapper .eds_updateProfile > a:hover {
  text-decoration: none;
}
.eds_modalWrapper .eds_infoMessages {
  margin: 10px 0;
  display: block;
  line-height: 1.1 !important;
  font-size: 16px !important;
  color: #fff !important;
  padding: 15px 25px;
  border-radius: 2px;
  margin: 5px;
}
.eds_modalWrapper .eds_infoMessages:before {
  font-size: 21px;
  color: #fff !important;
  font-family: "FontAwesome";
  padding-right: 20px;
  line-height: 1;
}
.eds_modalWrapper .eds_infoMessages.eds_success {
  background-color: #00be9c;
}
.eds_modalWrapper .eds_infoMessages.eds_success:before {
  content: "";
}
.eds_modalWrapper .eds_infoMessages.eds_info {
  background-color: #189fd3;
}
.eds_modalWrapper .eds_infoMessages.eds_info:before {
  content: "";
}
.eds_modalWrapper .eds_infoMessages.eds_warning {
  background-color: #f3c500;
}
.eds_modalWrapper .eds_infoMessages.eds_warning:before {
  content: "";
}
.eds_modalWrapper .eds_infoMessages.eds_error {
  background-color: #e07171;
}
.eds_modalWrapper .eds_infoMessages.eds_error:before {
  content: "";
}
.eds_modalWrapper .eds_formStatus {
  padding-bottom: 15px;
}
.eds_modalWrapper .edNews_eventDateRestriction {
  margin: 10px 0 0;
}
.eds_modalWrapper .edNews_eventDateRestriction > table {
  width: 100%;
  border: solid 1px #ffffff;
  box-shadow: 0 0 0 1px #E9E9E9;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody {
  background-color: #F4F4F4;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody > tr > td {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-bottom: solid 1px #E6E6E6;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody > tr > td:first-child {
  background-color: #F4F4F4;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody > tr > td input[type="radio"] {
  margin: 10px;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody > tr:nth-child(odd) > td {
  border-bottom: solid 1px #fff;
  background-color: #E6E6E6;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody > tr:nth-child(odd) > td:first-child {
  background-image: linear-gradient(to top right, #F4F4F4, #F4F4F4 50%, #E6E6E6 50%, #E6E6E6);
  border-bottom-color: #F4F4F4;
  position: relative;
}
.eds_modalWrapper .edNews_eventDateRestriction > table > tbody > tr:last-child > td {
  border-bottom: none;
}
.eds_modalWrapper .eds_styledRadio {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.eds_modalWrapper .eds_styledRadio * {
  vertical-align: middle;
  box-sizing: border-box;
}
.eds_modalWrapper .eds_styledRadio *::before,
.eds_modalWrapper .eds_styledRadio *::after {
  box-sizing: border-box;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] {
  display: none;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] + label {
  display: inline-block;
  position: relative;
  margin: 0;
  vertical-align: baseline;
  border-radius: 50% 0 0 50%;
  padding: 2px 0 0 25px;
  min-height: 25px;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] + label::before, .eds_modalWrapper .eds_styledRadio input[type="radio"] + label:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  border: 5px solid #fff;
  border-radius: 50%;
  background: #fff;
  margin: 0;
  padding: 0;
  content: "";
  font-size: 0;
  line-height: 0;
  transition: all ease-in-out 0.2s;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] + label::before {
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] + label:after {
  border: 2px solid #919191;
  background: transparent;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] + label:hover::before {
  background: #60cb20 !important;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"] + label:hover:after {
  border-color: #60cb20 !important;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"]:checked + label::before {
  background: #189fd3;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"]:checked + label:after {
  border-color: #189fd3;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"]:disabled {
  pointer-events: none;
}
.eds_modalWrapper .eds_styledRadio input[type="radio"]:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.eds_modalWrapper .eds_styledRadio.eds_noLabel {
  overflow: hidden;
  width: 22px;
  height: 22px;
}
.eds_modalWrapper .eds_preview_cell_title_disabled {
  opacity: 0.6;
}
.eds_modalWrapper.eds_modalVisible {
  opacity: 1;
  visibility: visible;
}
.eds_modalWrapper.eds_modalVisible .eds_modalContent {
  display: block;
}
.eds_modalWrapper.eds_contactForm .eds_modalContent > h3:before {
  content: "";
}
.eds_modalWrapper.eds_authorProfileFullInfo .eds_modalContent > h3:before {
  content: "";
}
.eds_modalWrapper.eds_authorProfileFullInfo .eds_modalContent > div {
  color: #7b7b7b;
}
.eds_modalWrapper.eds_authorProfileFullInfo .eds_modalContent > div p {
  margin: 0;
  padding: 0;
  color: #7b7b7b;
}
.eds_modalWrapper.eds_authorProfileFullInfo .eds_modalContent > div p + p {
  margin-top: 15px;
}
.eds_modalWrapper .eds_animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.eds_modalWrapper .eds_fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
