<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CashCostActionsModule.ascx.cs" Inherits="DesktopModules_Mineros_CashCostModule_CashCostModule" %>

<h4 class="align-content-center border-color-corn d-flex librefranklin-blod mb-0 cash_cost_title"> <span class="bg-corn librefranklin-blod p-2 text-white">Cash Cost</span></h4>
<div id="box-graf-section-3" class="bg-white d-block border-color-jungle-green mt-0" data-aos="flip-up">
  
</div>

<script src="/DesktopModules/Mineros/scripts/helpers/helpers.js"></script>
<script src="/DesktopModules/Mineros/CashCostActionsModule/js/CashCostActionsModule.js"></script>




