.actionMenu {
    display: block !important;
}

.dnn_menu_label {
    display: none !important;
}

html,
body {
    font-size: 16px;
}

.overflowX-hidden {
    overflow-x: hidden;
}

.bg-duocolor-green-white {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(149, 214, 138, 1) 32%, rgba(149, 214, 138, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(32%, rgba(255, 255, 255, 1)), color-stop(32%, rgba(149, 214, 138, 1)), color-stop(100%, rgba(149, 214, 138, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(149, 214, 138, 1) 32%, rgba(149, 214, 138, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(149, 214, 138, 1) 32%, rgba(149, 214, 138, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(149, 214, 138, 1) 32%, rgba(149, 214, 138, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(149, 214, 138, 1) 32%, rgba(149, 214, 138, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#95d68a', GradientType=0);
}

.bg-duo-horizonta-green-trans {
    background: rgba(149, 214, 138, 1);
    background: -moz-linear-gradient(left, rgba(149, 214, 138, 1) 0%, rgba(149, 214, 138, 1) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(149, 214, 138, 1)), color-stop(10%, rgb(118, 192, 104)), color-stop(10%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(149, 214, 138, 1) 0%, rgba(149, 214, 138, 1) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(149, 214, 138, 1) 0%, rgba(149, 214, 138, 1) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(149, 214, 138, 1) 0%, rgba(149, 214, 138, 1) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(149, 214, 138, 1) 0%, rgba(149, 214, 138, 1) 10%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95d68a', endColorstr='#ffffff', GradientType=1);
}

.bg-duocolor-corn-green {
    background: linear-gradient(to left, rgba(34, 165, 113, 0.85) 0, rgba(34, 165, 113, 0.85) 92%, rgb(218, 169, 0) 0%, rgb(218, 169, 0) 0);
}

.transitionCss {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.box-arrow img {
    width: 37px;
    height: 37px;
}

.box-arrow:hover img {
    width: 40px;
    height: 40px;
}

/* STAR SECTION 1 */
#section-1 {
    height: 515px;
    overflow: hidden;
}

#section-1 .box-content-section-1 {
    background: #fff;
    padding: 0 0 0 35px;
}

#section-1 .box-content-section-1  p {
        line-height: 23.21px;
    margin-top: 34px;
    font-size: 1.20rem;
    margin-bottom: 28px;
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
    color: rgb(128, 128, 128);
}

#section-1 .tittle-box-section-1 {
    padding-top: 36px;
    font-size: 1.87rem;
    line-height: 36px;
}

#section-1 .box-text-section-1 .box-content-section-1:after {
    content: '';
    height: 10px;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(39, 165, 112, 1);
    background: -moz-linear-gradient(left, rgba(39, 165, 112, 1) 0%, rgba(39, 165, 112, 1) 32%, rgba(152, 215, 138, 1) 32%, rgba(152, 215, 138, 1) 66%, rgba(220, 169, 0, 1) 66%, rgba(220, 170, 0, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39, 165, 112, 1)), color-stop(32%, rgba(39, 165, 112, 1)), color-stop(32%, rgba(152, 215, 138, 1)), color-stop(66%, rgba(152, 215, 138, 1)), color-stop(66%, rgba(220, 169, 0, 1)), color-stop(100%, rgba(220, 170, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(39, 165, 112, 1) 0%, rgba(39, 165, 112, 1) 32%, rgba(152, 215, 138, 1) 32%, rgba(152, 215, 138, 1) 66%, rgba(220, 169, 0, 1) 66%, rgba(220, 170, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(39, 165, 112, 1) 0%, rgba(39, 165, 112, 1) 32%, rgba(152, 215, 138, 1) 32%, rgba(152, 215, 138, 1) 66%, rgba(220, 169, 0, 1) 66%, rgba(220, 170, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(39, 165, 112, 1) 0%, rgba(39, 165, 112, 1) 32%, rgba(152, 215, 138, 1) 32%, rgba(152, 215, 138, 1) 66%, rgba(220, 169, 0, 1) 66%, rgba(220, 170, 0, 1) 100%);
    background: linear-gradient(to right, rgba(39, 165, 112, 1) 0%, rgba(39, 165, 112, 1) 32%, rgba(152, 215, 138, 1) 32%, rgba(152, 215, 138, 1) 66%, rgba(220, 169, 0, 1) 66%, rgba(220, 170, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#27a570', endColorstr='#dcaa00', GradientType=1);
}

#section-1 .tittle-box-section-1:after {
    content: '';
    position: absolute;
    width: 70px;
    height: 4px;
    bottom: -12px;
    left: 0;
    background-color: rgb(218, 169, 0);
    background-color: var(--main-color-corn);
}

#section-1 .parrafo-section-1 {
    line-height: 23.21px;
    margin-top: 34px;
    font-size: 1.20rem;
    margin-bottom: 28px;
}

#section-1 .btn-section-1-carousel {
    width: 148px;
    height: 52px;
    font-size: 1.20rem;
    border-radius: 10px;
}

#section-1 #carouselSection1 {
    height: 515px;
}

#section-1 .carousel-indicators {
    list-style: none;
}

#section-1 .carousel-indicators li {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    margin: 0 9px;
    opacity: 1;
}

#section-1 .carousel-indicators li.active {
    background-color: #daa900;
}

#section-1 .img-section-carousel {
    min-width: 980px;
    width: 980px;
}

#section-1 .box-text-section-1 {
    min-width: 530px;
    width: 530px;
    height: 375px;
    position: absolute;
    right: 72px;
    top: 60px;
}

@media (max-width:991px) {
    #section-1 .carousel-item.active {
        display: flex !important;
        justify-content: center;
    }

    #section-1 .box-text-section-1 {
        right: inherit;
        display: block;
        max-width: 530px;
        min-width: unset !important;
        width: auto;
    }
}

@media (max-width:425px) {
    #section-1 .tittle-box-section-1 {
        font-size: 1.5rem;
        line-height: 26px;
    }

    #section-1 .parrafo-section-1 {
        line-height: 21.21px;
        margin-top: 36px;
        font-size: 1rem;
    }

    #section-1 .box-content-section-1 {
        background: #fff;
        padding: 0 20px 0 20px;
    }
}

/* END SECTION 1 */
/* START SECTION 2 */
#section-2 {
    padding-top: 80px;
}

@media (min-width:1200px) {
    #section-2 .container {
        max-width: 1190px;
    }
}

#section-2 #cab-section-2 {
    height: 48px;
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /*max-width: 1149px;*/
    max-width: 100%;
}

#section-2 .icon-cab-sections {
    width: 62px;
    height: 48px;
}

#section-2 .icon-cab-sections img {
    width: 35px;
    height: 31px;
}

#section-2 .section-text-lateral-text {
    /*width: 370px;*/
    width: 100%;
    max-width: 100%;
}

#section-2 .box-cab-tittle-sections {
    padding: 0 22px;
}

#section-2 .box-cab-tittle-sections h2 {
    font-size: 1.25rem;
}

#section-2 .box-text-list li {
    padding: 0 10px;
}

#section-2 .box-text-list .list {
    justify-content: flex-start !important;
}

#section-2 .box-text-list .list {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
}

#section-2 .box-text-list li {
    padding: 0 10px;
    min-height: 55px;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    display: flex;
    align-items: center;
}

#section-2 .box-section-2 {
    margin-top: 38px;
    /*height: 550px;*/
    height: 480px;
}

#section-2 .box-img-section-2 {
    /*width: 778px;*/
    max-width: 100%;
    width: 100%;
}

@media (min-width:1200px) {
    #section-2 .img-section-2 {
        width: 110%;
    }
}

@media (max-width:1199px) {
    #section-2 .img-section-2 {
        width: 130%;
    }
}

#section-2 .box-text-section-2 {
    bottom: 75px;
    right: 0;
    padding-left: 62px;
    height: 130px;
    max-width: 375px;
    width: 375px;
}

@media screen and (max-width: 425px) {
    #section-2 .box-text-section-2 {
        width: 100%;
        min-height: 130px;
        padding-bottom: 15px;
        height: auto;
        bottom: 25px;
    }
}
#section-2 .text-img-section {
    font-size: 1.56rem;
    line-height: 30px;
    margin-top: 10px;
}

#section-2 .btn-section-2 {
    width: 114px;
    height: 35px;
    border-color: rgba(255, 255, 255, 0.4);
    border-width: 2px;
    border-radius: 0;
    font-size: 1rem;
    line-height: 12.9px;
    padding-left: 17px !important;
    opacity: 0.8;
}

#section-2 .box-text-icon-section-2 {
    height: 76px;
    min-height: 76px;
    padding: 0 35px;
}

#section-2 .tittle-section-2-icon {
    font-size: 1.25rem;
    line-height: 24px;
}

#section-2 .box-text-list {
    /*height: 475px;*/
    min-height: 388px;

}

@media screen and (min-width: 992px) and (max-width: 1199.8px) {
    #section-2 .box-text-list {
        height: 365px;
        min-height: 365px;
    }
    #section-2 .box-section-2 {
        height: 100%;
    }
}
#section-2 .list {
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
}

#section-2 .list li:not(:last-child):after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    /*bottom: -12px;*/
    bottom: 0;
    background-color: rgb(128, 128, 128);
    opacity: 0.4;
}

#section-2 .text-link-post:hover {
    color: #daa900;
}

@media (max-width:991px) {
    #section-2 .box-section-2 {
        flex-direction: column;
        height: inherit;
    }

    #section-2 .box-img-section-2 {
        width: 100%;
        height: inherit;
    }

    #section-2 .img-section-2 {
        height: auto !important;
        width: 100%;
    }

    #section-2 .section-text-lateral-text {
        width: 100%;
    }
    #section-3 {
        margin-top: 0 !important;
    }
    #section-4 {
        padding-bottom: 60px !important;
    }
}

/* END SECTION 2 */
/* START SECTION 3 */
#section-3 {
    margin-top: 55px;
}

@media (min-width:1200px) {
    #section-3 .container {
        max-width: 1190px;
        padding-right: 25px;
    }
}

#section-3 .col-img-section-3 {
    width: 480px;
    height: 383px;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 48px;
}

#section-3 .box-img-col-section-3 {
    max-height: 298px;
}

#section-3 .box-img-col-section-3 img {
    width: 100%;
}

#section-3 .box-tittle-1-col-section-3 {
    margin-left: 24px;
    margin-top: -38.5px;
    z-index: 2;
}

#section-3 .sub-box-tittle-1-section-3 {
    padding: 0 16px;
    height: 47px;
}

#section-3 .sub-box-tittle-1-section-3 h3 {
    font-size: 1.31rem;
    line-height: 21.52px;
}

#section-3 .sub-box-line-bottom {
    height: 9px;
    margin-bottom: 9px;
}

#section-3 .box-tittle-2-col-section-3 {
    height: 85px;
    padding: 0 55px 0 28px;
    margin-top: -9px;
    z-index: 1;
}

#section-3 .box-tittle-2-col-section-3 h3 {
    font-size: 1.865rem;
    line-height: 36px;
}

#section-3 #cab-section-3 {
    height: 48px;
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#section-3 .icon-cab-sections {
    width: 62px;
    height: 48px;
}

#section-3 .icon-cab-sections img {
    width: 35px;
    height: 31px;
}

#section-3 .section-text-lateral-text {
    width: 370px;
}

#section-3 .box-cab-tittle-sections {
    padding: 0 15px 0 12px;
}

#section-3 .box-cab-tittle-sections h2 {
    font-size: 1.25rem;
}

#box-graf-section-3 {
    height: 353px;
    margin-top: 30px;
    box-shadow: 2px 2px 10px #c2c2c2;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 3.5px;
    margin-bottom: 15px;
}

@media (max-width:991px) {
    #section-3 {
        margin-top: 60px;
    }

    #section-3 .col-img-section-3 {
        width: 100%;
        margin-bottom: 60px;
        margin-top: 0;
    }

    #section-3 .box-img-col-section-3 img {
        height: inherit;
        width: 100%;
    }

    #section-3 .box-img-col-section-3 {
        max-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:550px) {
    canvas {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width:450px) {
    #section-3 .col-img-section-3 {
        margin-bottom: 25px;
        height: inherit;
    }
}

/* END SECTION 3 */
/* START SECTION 4 */

#section-4 {
    margin-top: 35px;
    padding-bottom: 120px;
}

@media (min-width:1200px) {
    #section-4 .container {
        max-width: 1190px;
        padding-right: 0;
    }
}

#section-4 #cab-section-4 {
    height: 48px;
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#section-4 #val-mineros h4 {
    margin-bottom: 8px;
}

#section-4 .espcial-card .card-body {
    max-height: 64px;
}

#section-4 .icon-cab-sections {
    width: 62px;
    height: 48px;
}

#section-4 .icon-cab-sections img {
    width: 35px;
    height: 31px;
}

#section-4 .section-text-lateral-text {
    width: 370px;
}

#section-4 .box-cab-tittle-sections {
    padding: 0 50px 0 20px;
}

#section-4 .box-cab-tittle-sections h2 {
    font-size: 1.15rem;
}

#section-4 #box-graf-section-4 {
    height: 433px;
    margin-top: 30px;
    box-shadow: 2px 2px 10px #c2c2c2;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 3.5px;
}

#section-4 #myTabContent {
    height: 400px;
}

#section-4 .col-graf-section-4 {
    padding-left: 23px;
    padding-right: 23px;
    width: 598px;
}

div#action-social {}

#section-4 .nav-link.active {
    color: #426d61;
}

#section-4 .nav-link:not(.active) {
    background-color: #d2d0d0;
    color: #606060;
    font-weight: 400 !important;
}

#section-4 li .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
}

#section-4 .target-med {
    width: 275px;
    height: 230px;
    padding: 26px 24px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.19);
}

#section-4 div#box-sections {
    width: 565px;
}

#section-4 .target-med .card-header {
    padding: 0;
    border: 0;
}

#section-4 #val-plata {
    /*margin-right: 15px;*/
}

#section-4 h4 {
    margin-bottom: 17px;
}

#section-4 .text-target-card {
    font-size: 1.37rem;
    line-height: 30.1px;
}

#section-4 .target-med .card-body {
    padding: 0;
    border: 0;
    margin-right: 22px;
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}

#section-4 .target-med .val-numerico {
    font-size: 1.75rem;
    line-height: 33.6px;
}

#section-4 .target-med .val-text {
    font-size: 1.12rem;
    line-height: 21.59px;
}

#section-4 .target-med .text-footer-tittle-mark {
    font-size: 0.91rem;
    line-height: 12.64px;
}

#section-4 .target-med .card-footer {
    margin-left: -6px;
    padding: 0;
    border: 0;
    margin-top: 13px;
}

#section-4 .target-med .text-footer-fecha-mark {
    font-size: 0.91rem;
    line-height: 17.51px;
}

#section-4 .simbol-dolar:before {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 13.8rem;
    line-height: 190px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: -55px;
}

#section-4 .espcial-card {
    padding: 23px 41px;
    height: 230px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.19);
    padding: 26px 24px;
}

#section-4 .espcial-card .card-body {
    padding: 0;
    border: 0;
    margin-right: 22px;
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}

#section-4 .espcial-card .val-numerico {
    font-size: 1.75rem;
    line-height: 36.4px;
}

#section-4 .espcial-card .val-text {
    font-size: 1.12rem;
    line-height: 21.59px;
}

#section-4 .espcial-card .text-footer-tittle-mark {
    font-size: 0.91rem;
    line-height: 16.3px;
}

#section-4 .espcial-card .card-footer {
    padding: 0;
    border: 0;
    margin-top: 20px;
    margin-left: -6px;
}

#section-4 .espcial-card .text-footer-fecha-mark {
    font-size: 0.91rem;
    line-height: 22.22px;
}

#section-4 .simbol-dolar-e:before {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 17rem;
    line-height: 230px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: -55px;
}

#section-4 .col-box-section-4 {
    margin-top: 78px;
}

@media (max-width:1199px) {
    #section-4 .col-graf-section-4 {
        width: 100%;
    }

    #section-4 #box-sections {
        justify-content: space-between !important;
        width: 100% !important;
    }

    #section-4 .target-med {
        width: 46%;
        max-width: 46% !important;
    }
}

@media (max-width:767px) {
    #section-4 {
        padding-bottom: 50px;
    }

    #section-4 #val-plata {
        margin-right: 0;
    }

    #section-4 .target-med {
        width: 100%;
        max-width: 100% !important;
    }
}

@media (max-width:425px) {
    #section-4 .espcial-card .val-numerico {
        font-size: 2.4rem;
        line-height: 51px;
    }

    #section-4 .espcial-card .val-text {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (max-width:375px) {
    #section-4 .espcial-card .val-numerico {
        font-size: 2rem;
        line-height: 30px;
    }

    #section-4 .espcial-card .val-text {
        font-size: 1rem;
        line-height: 1rem;
    }

    #section-4 .espcial-card .text-footer-fecha-mark {
        font-size: 1rem;
        line-height: 22.22px;
    }
}

/* END SECTION 4 */
/* START SECTION 5 */

#section-5 {
    padding: 110px 110px 85px 110px;
}

@media (min-width:1200px) {
    #section-5 .container {
        max-width: 1170px;
        padding-right: 0;
    }
}

#section-5 #cab-section-5 {
    height: 48px;
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#section-5 .icon-cab-sections {
    width: 62px;
    height: 48px;
}

#section-5 .icon-cab-sections img {
    width: 35px;
    height: 31px;
}

#section-5 .section-text-lateral-text {
    width: 370px;
}

#section-5 .box-cab-tittle-sections {
    padding: 0 36px 0 20px;
}

#section-5 .box-cab-tittle-sections h2 {
    font-size: 1.25rem;
}

#section-5 #col-img-section-5 {
    width: 664px;
}

#section-5 #carouselCards .carousel-item {
    padding: 20px 20px 30px 20px;
}

#section-5 .slider-img-section-5 {
    margin-top: 38px;
}

#section-5 .text-date {
    top: 0;
    left: 0;
    width: 70px;
    height: 73px;
}

#section-5 .mes-section-5 {
    font-size: 1.44rem;
    line-height: 27.81px;
}

#section-5 .dia-section-5 {
    font-size: 1.44rem;
    line-height: 27.81px;
}

#section-5 .ano-section-5 {
    font-size: 0.95rem;
    line-height: 18.39px;
}

#section-5 .box-img-section-5 {
    height: 270px;
}

#section-5 .box-row-slider-section-5 {
    width: 39px;
    height: 54px;
    display: flex;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
}

#section-5 .box-row-slider-section-5 img {
    width: 12px;
    height: 22px;
}

#section-5 .carousel-control-next {
    justify-content: flex-end;
    margin-right: -20px;
    opacity: 1;
}

#section-5 .carousel-control-prev {
    justify-content: flex-start;
    margin-left: -20px;
    opacity: 1;
}

#section-5 .card-body,
#section-5 .card-footer {
    padding-left: 10px;
    padding-right: 10px;
}

#section-5 .card-footer {
    padding-top: 0px;
    padding-bottom: 0px;
}

#section-5 .card-title {
    font-size: 1.125rem;
    line-height: 21.6px;
    color: rgb(93, 93, 93) !important;
}

#section-5 .card-text {
    font-size: 1rem;
    line-height: 19.2px;
}

#section-5 .card-footer a.btn {
    width: 115px;
    height: 36px;
}

#section-5 .cab-enlace h2 {
    font-size: 1.56rem;
    line-height: 30px;
}

#section-5 #col-enlaces-section-5 {
    width: 447px;
    /*margin-right: 15px;*/
}

#section-5 .cab-enlace {
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    margin-top: 42px;
}

#section-5 .box-items {
    margin-top: 28px;
}

#section-5 #col-enlaces-section-5 ul {
    height: 450px;
    /*justify-content: space-between;*/
}

#section-5 #col-enlaces-section-5 ul li {
    min-height: 52px;
    padding: 0 12px 0 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}
#section-5 #col-enlaces-section-5 ul li h5 {
    font-size: 1rem;
}

#section-5 .box-img-items-section-5 {
    width: 28px;
    height: 28px;
    margin-right: 11px;
}

#section-5 .media-body {
    display: flex;
    align-items: center;
}

#section-5 .media-body h5 {
    font-size: 1.12rem;
    line-height: 21.6px;
}

#section-5 .media {
    align-items: center;
}

#section-5 .link-enlaces-interes:hover {
    color: #22a571;
}

@media(max-width: 1330px) {
    #section-5 #col-img-section-5 {
        width: 60%;
    }

    #section-5 #col-enlaces-section-5 {
        width: 36%;
    }
}

@media(max-width: 1199px) {
    #section-5 #col-img-section-5 {
        width: 100%;
    }

    #section-5 #col-enlaces-section-5 {
        width: 100%;
    }
}

@media (max-width:991px) {
    #section-5 #col-enlaces-section-5 {
        margin-right: 0;
    }
}

@media(max-width: 768px) {
    #section-5 {
        padding-left: inherit;
        padding-right: inherit;
    }

    #section-5 .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* END SECTION 5*/
/* START SECTION 6 */
#section-6 {
    padding-top: 40px;
    padding-bottom: 110px;
}

@media (min-width:1200px) {
    #section-6 .container {
        max-width: 1240px;
    }
}

#section-6 .tittle-section-6 {
    width: 350px;
}

#section-6 #text-section-6 {
    font-size: 1.25rem;
    line-height: 24px;
}

#section-6 .circle-green {
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

#section-6 .section-6-content-box {
    margin-top: 65px;
}

#section-6 .box-img {
    max-width: 180px;
    overflow: hidden;
}

#section-6 .box-img img {
    width: 100%;
}

@media (max-width:991px) {
    #section-6 {
        padding-bottom: 40px;
    }

    #section-2 .box-text-list {
        height: auto;
        padding-bottom: 40px;
    }
}

#lnkurl img {
    width: 33px !important;
    height: 33px !important;
}

@media screen and (max-width: 678px) {
    .box-items-col-3-footer ul li {
        position: relative;
    }

    .box-items-col-3-footer ul li::before {
        left: -18px;
    }
}

@media screen and (max-width: 575.8px) {
    div#dnn_valgrafic4 {
        width: 100%;
    }

    #section-5 #col-enlaces-section-5 ul li {
        height: auto;
        padding: 5px 15px;
    }

}

@media screen and (max-width: 375px) {
    #section-6 .section-6-content-box {
        margin-top: 35px;
    }
}

/* END SECTION 6 */

#section-4 .box-cab-tittle-sections {
    min-height: 48px;
}

.tab-content>.tab-pane {
    /*width: 552px !important;
    height: 400px !important;*/
}

.tab-content>.tab-pane>* {
    width: 100% !important;
    max-width: 100% !important;
}

.tab-content>.tab-pane canvas {
    width: 100% !important;
}

/** CSS Home.ascx */
#col-img-section-5 .eds_news_Ozone.eds_subCollection_news .card-title {
    color: rgb(83, 109, 97);
}

#col-img-section-5 .eds_news_Ozone.eds_subCollection_news .card-title:first-letter {
    text-transform: uppercase;
}

#section-5 .card-footer a.btn {
    min-width: 115px;
    min-height: 36px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-5 .box-img-sub {
    max-width: 100%;
    width: 100%;
}

#section-5 .card-text {
    font-size: 1rem;
    line-height: 19.2px;
    color: rgba(128,128,128,1) !important;
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400;
}

#section-5 .mes-section-5:first-letter {
    text-transform: uppercase;
}

/*div#dnn_valgrafic4 {
            width: 100%;
        }*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /*div#dnn_valgrafic1,
            div#dnn_valgrafic2,
            div#dnn_valgrafic3,
            div#dnn_valgrafic4 {
                margin: 0 10px;
            }  */
}

/*#section-4 .target-med {
            margin-right: 15px;
        }*/

@media (max-width:1199.8px) and (min-width:576px) {

    div#dnn_valgrafic1,
    div#dnn_valgrafic2,
    div#dnn_valgrafic3,
    div#dnn_valgrafic4 {
        width: 48% !important;
        max-width: none;
    }
}

@media screen and (max-width:575.8px) {

    div#dnn_valgrafic1,
    div#dnn_valgrafic2,
    div#dnn_valgrafic3,
    div#dnn_Valgrafic4 {
        width: 100%;
    }
}

div#box-graf-section-3 {
    /*height: auto !important;*/
    padding-bottom: 15px;
    min-height: 190px;
    overflow: auto;
}
#box-graf-section-3 {
    height: 420px !important;
}
.color-outer-space {
    color: rgb(38, 51, 45) !important;
}

.color-corduroy {
    color: rgb(83, 109, 97) !important;
}

#section-2 .box-text-list li a {
    cursor: default;
    line-height: 1.13;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

/*#section-4 #section-3 {
            display: none;
        }*/

.section-text-lateral-text li a {

    color:

        rgb(128, 128, 128) !important;

}