<!--TemplateGroup:listArticleDefault-->
<!--ArticleRepeat:Before:-->
<div class="edn_defaultList" style="width:1170px;">
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
	<article class="edn_article edn_clearFix">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		[EasyDNNnews:IfExists:Image]
		<div class="edn_leftSide">
			<div class="edn_articleMedia">
				<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></a>
			</div>
			<div class="edn_readMoreButtonWrapper">
				<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
			</div>
		</div>
		[EasyDNNnews:EndIf:Image]
		<div class="edn_rightSide">
			<div class="edn_metaDetails">
				<time>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time> / [EasyDNNnewsLocalizedText:Author]: [EasyDNNnews:Author:Link] / [EasyDNNnewsLocalizedText:Numberofviews]: <span>[EasyDNNnews:NumberOfViews]</span> / [EasyDNNnewsLocalizedText:Comments]: <span>[EasyDNNnews:Comments]</span> / [EasyDNNnews:ArticleRating]
			</div>
			<h2 class="edn_articleTitle">
				<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
			</h2>
			[EasyDNNnews:IfExists:SubTitle]
			<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
			[EasyDNNnews:EndIf:SubTitle]
			<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
			<div class="edn_categories"><span>[EasyDNNnewsLocalizedText:Categories]:</span>[EasyDNNnews:Categories separator=""]</div>
			[EasyDNNnews:IfExists:Tags]
			<div class="edn_tags"><span>[EasyDNNnewsLocalizedText:Tags]:</span>[EasyDNNnews:Tags separator=""]</div>
			[EasyDNNnews:EndIf:Tags]
			[EasyDNNnews:IfNotExists:Image]
			<div class="edn_readMoreButtonWrapper">
				<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
			</div>
			[EasyDNNnews:EndIf:Image]
		</div>
	</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
</div>
<!--RepeatEnd:After:-->
