<!--TemplateGroup:listArticleTimeline2-->
<!--ArticleRepeat:Before:-->
<script>

	eds2_2(function ($) {
		'use strict';

		var contentWrapperClass = 'ednArticleBox_contentWrapper';

		function ednArticleBox (elem) {
			var $boxWrapper = $(elem);

			$boxWrapper.on('click', '.ednArticleBox_infoToggle', function () {

				$(this).parents('.' + contentWrapperClass).eq(0).toggleClass('ednArticleBox_infoActive');
			});

			$('> .' + contentWrapperClass, $boxWrapper).each(function () {
				var $backgroundContainer = $('.ednArticleBox_backgroundContainer', this).eq(0);

				$backgroundContainer.css(
					'background-image',
					'url("' + $('> img', $backgroundContainer).eq(0).attr('src') + '")'
				);
			});
		}

		ednArticleBox.prototype = {};

		$.fn.ednArticleBox_1 = function () {
			var instanceKey = 'ednArticleBox';

			return this.each(function () {
				var self = this;

				if (!$.data(self, instanceKey))
					$.data(self, instanceKey, new ednArticleBox(self));
			});
		};

		$('.edn_articleBox').ednArticleBox_1();
	});

</script>
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
	<article class="edn_article edn_articleTimeline2 edn_articleBox">
		<div class="edn_timeline2Content ednArticleBox_contentWrapper">
			[EasyDNNnews:IfNotExists:Image]
			<div class="edn_timeline2ArticleMeta">
				<span><strong>[EasyDNNnews:FormatedDate:dd]</strong>[EasyDNNnews:FormatedDate:MMM yyyy]</span>
				<span><strong><i class="fa fa-comments"></i></strong>[EasyDNNnews:Comments]</span>
				<span><strong><i class="fa fa-eye"></i></strong>[EasyDNNnews:NumberOfViews]</span>
			</div>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfExists:Image]
			<div class="edn_articleMedia">
				<div class="edn_timeline2ArticleMeta">
					<span>
						[EasyDNNnews:IfNotExists:Event]<strong>[EasyDNNnews:FormatedDate:dd]</strong>[EasyDNNnews:FormatedDate:MMM yyyy][EasyDNNnews:EndIf:Event]
						[EasyDNNnews:IfExists:Event]<strong>[EasyDNNnews:EventFormatedStartDate:dd]</strong>[EasyDNNnews:EventFormatedStartDate:MMM yyyy][EasyDNNnews:EndIf:Event]
					</span>

					<span><strong><i class="fa fa-comments"></i></strong>[EasyDNNnews:Comments]</span>
					<span><strong><i class="fa fa-eye"></i></strong>[EasyDNNnews:NumberOfViews]</span>
				</div>
				<div class="edn_mediaWithLink">
					<span class="ednArticleBox_backgroundContainer"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></span>
					<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
				</div>
			</div>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfExists:Event]
			<div class="edn_eventExportTime">
				<a href="[EasyDNNnews:iCalendar]">[EasyDNNnewsLocalizedText:ExportEvent]</a>
				<time>[EasyDNNnews:EventDate]</time>
			</div>
			[EasyDNNnews:EndIf:Event]
			<h2 class="edn_articleTitle">
				<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
			</h2>
			[EasyDNNnews:IfExists:SubTitle]
			<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
			[EasyDNNnews:EndIf:SubTitle]
			<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
			<div class="edn_readMoreButtonWrapper">
				<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
			</div>
		</div>
		<div class="edn_timeline2Meta">
			[EasyDNNnews:HasArticlePermissions]
			<div class="edn_adminActions">
				[EasyDNNnews:ArticlePermissions:Edit]
				[EasyDNNnews:ArticlePermissions:Publish]
				[EasyDNNnews:ArticlePermissions:Approve]
			</div>
			[EasyDNNnews:HasArticlePermissionsEnd]
			<div class="edn_timeline2AuthorDate">
				[EasyDNNnews:IfExists:AuthorProfile]
					[EasyDNNnews:Author:Image:Width:70:Height:70:Resize:Crop]
				[EasyDNNnews:EndIf:AuthorProfile]
				<span>[EasyDNNnews:Author:Link]</span>
				<div>
					[EasyDNNnews:Author:Link]
					<time>[EasyDNNnews:PublishDate]</time>
				</div>
			</div>
		</div>
		<div class="edn_clearFix"></div>
	</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
