<!--TemplateGroup:listArticleAccordion-->
<!--ArticleRepeat:Before:-->
<div class="edn_accordionWrapper_[EasyDNNnews:ModuleID]">
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsAccordion/edsAccordion-1.1.js"></script>
<script>
	jQuery(function ($) {
		$('div.edn_accordionWrapper_[EasyDNNnews:ModuleID]').edsAccordion_1();
		//For first opened article remove comment tag from lines bellow
		//$('> .edn_article', $('div.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'))
		//	.eq(0)
		//		.addClass('edsAccordion_active');
	});
</script>
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
	<article class="edn_article edn_clearFix edn_articleAccordion edsAccordion_section">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<section class="edsAccordion_title">
			<div>
				<time>
					<span>[EasyDNNnews:FormatedDate:dd]</span>
					[EasyDNNnews:FormatedDate:MMM yyyy]
				</time>
			</div>
			<div>
				<h2 class="edn_articleTitle">[EasyDNNnews:Title]</h2>
				[EasyDNNnews:IfExists:Event]
				<div class="edn_eventTimeLocation">
					<time>[EasyDNNnews:EventDate]</time>
					[EasyDNNnews:IfExists:EventLocation]<span>[EasyDNNnews:EventLocation]</span>[EasyDNNnews:EndIf:EventLocation]
				</div>
				[EasyDNNnews:EndIf:Event]
				<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
			</div>
		</section>
		<div class="edsAccordion_contentWrapper">
			<div>
				[EasyDNNnews:IfExists:Image]
				<div class="edn_articleMedia">
					<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></a>
				</div>
				[EasyDNNnews:EndIf:Image]
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">
					[EasyDNNnews:Summary]
					<div class="edn_readMoreButtonWrapper">
						<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
					</div>
				</div>
			</div>
		</div>
	</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
