<!--TemplateGroup:listArticleBoxed-->
<!--ArticleRepeat:Before:-->
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/isotope2/isotope.v2.0.0-beta.4_2.2.min.js"></script>
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/imagesLoaded/imagesLoaded_3.1.4_2.2.min.js"></script>
<script>

	eds2_2(function ($) {
		'use strict';

		var $articleListContainer = $('.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'),
			imageLoadedKey = 'imageLoaded';

		$articleListContainer
			.isotope({
				itemSelector: '.edn_articleWrapper',
				sortBy: 'original-order',
				masonry: {
					isFitWidth: true, //set to true if you want to center the elements
					columnWidth: 300
				}
			})
			.find('img').imagesLoaded()
				.progress(function (instance, image) {
					var $img = $(image.img);

					if ($img.data(imageLoadedKey))
						return;

					$img.data(imageLoadedKey, true);

					$articleListContainer.isotope('layout');
				});

		var contentWrapperClass = 'ednArticleBox_contentWrapper';

		function ednArticleBox (elem) {
			var $boxWrapper = $(elem);

			$boxWrapper.on('click', '.ednArticleBox_infoToggle', function () {

				$(this).parents('.' + contentWrapperClass).eq(0).toggleClass('ednArticleBox_infoActive');
			});

			$('> .' + contentWrapperClass, $boxWrapper).each(function () {
				var $backgroundContainer = $('.ednArticleBox_backgroundContainer', this).eq(0);

				$backgroundContainer.css(
					'background-image',
					'url("' + $('> img', $backgroundContainer).eq(0).attr('src') + '")'
				);
			});
		}

		ednArticleBox.prototype = {};

		$.fn.ednArticleBox_1 = function () {
			var instanceKey = 'ednArticleBox';

			return this.each(function () {
				var self = this;

				if (!$.data(self, instanceKey))
					$.data(self, instanceKey, new ednArticleBox(self));
			});
		};

		$('.edn_articleBox', $articleListContainer).ednArticleBox_1();
			console.log($articleListContainer);

		$articleListContainer.on('contentLoaded', function () {
			$('.edn_articleBox', $articleListContainer).ednArticleBox_1();
		});
	});

</script>
<div class="edn_isotopeLayout">
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
	<div class="edn_article edn_boxedStyle1 edn_boxSizes edn_articleBox edn_articleWrapper">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<article class="ednArticleBox_contentWrapper">
			<div>
				<div class="edn_metaDetails">
					<time><i class="fa fa-clock-o"></i>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:FormatedDate:dddd, MMMM dd, yyyy][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
					<span><i class="fa fa-eye"></i>[EasyDNNnews:NumberOfViews]</span>
					<span><i class="fa fa-comment"></i>[EasyDNNnews:Comments]</span>
				</div>
				<h2 class="edn_articleTitle">
					<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
				</h2>
				<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
				<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
			</div>
			<span class="ednArticleBox_backgroundContainer"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></span>
		</article>
	</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
