<!--TemplateGroup:listArticleSimple-->
<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
<article class="edn_article edn_simpleList edn_clearFix">
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<section class="edn_clearFix">
		[EasyDNNnews:IfExists:Image]
		<div class="edn_articleMedia">
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></a>
		</div>
		[EasyDNNnews:EndIf:Image]
		[EasyDNNnews:IfNotExists:Image]
		<div class="edn_articlePointer"></div>
		[EasyDNNnews:EndIf:Image]
		<h2 class="edn_articleTitle">
			<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
		</h2>
		<div class="edn_timeAndAuthor">
			<time><i class="fa fa-clock-o"></i>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:FormatedDate:dd.mm.yyyy][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
			<span class="edn_author"><i class="fa fa-user"></i>[EasyDNNnews:Author:Link]</span>
		</div>
		<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
	</section>
</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
