<!--TemplateGroup:listArticleTimeline-->
<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
	<article class="edn_article edn_clearFix edn_articleTimeline">
		<div class="edn_leftSide">
			[EasyDNNnews:IfNotExists:Image]
			<div class="edn_imageWidthHolder" style="width:[EasyDNNnews:MainArticleImageWidth]"></div>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfExists:Image]
			<div class="edn_articleMedia" style="width:[EasyDNNnews:MainArticleImageWidth]">
				<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></a>
			</div>
			[EasyDNNnews:EndIf:Image]
			<div class="edn_timeLocation">
				<time>
					[EasyDNNnews:IfNotExists:Event][EasyDNNnews:FormatedDate:MMMM dd, yyyy]<span>[EasyDNNnews:FormatedDate:HH:mm]</span>[EasyDNNnews:EndIf:Event]
					[EasyDNNnews:IfExists:Event][EasyDNNnews:EventFormatedStartDate:MMMM dd, yyyy]<span>[EasyDNNnews:EventFormatedStartDate:HH:mm]</span>[EasyDNNnews:EndIf:Event]
				</time>
				[EasyDNNnews:IfExists:EventLocation]
				<p class="edn_eventLocation">[EasyDNNnews:EventLocation]</p>
				[EasyDNNnews:EndIf:EventLocation]
			</div>
		</div>
		<div class="edn_rightSide">
			<div>
				[EasyDNNnews:HasArticlePermissions]
				<div class="edn_adminActions">
					[EasyDNNnews:ArticlePermissions:Edit]
					[EasyDNNnews:ArticlePermissions:Publish]
					[EasyDNNnews:ArticlePermissions:Approve]
				</div>
				[EasyDNNnews:HasArticlePermissionsEnd]
				<h2 class="edn_articleTitle">
					<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
				</h2>
				[EasyDNNnews:IfExists:Event]
				<div class="edn_eventExportTime">
					<time>[EasyDNNnews:EventDate]</time>
					<a href="[EasyDNNnews:iCalendar]">[EasyDNNnewsLocalizedText:ExportEvent]</a>
				</div>
				[EasyDNNnews:EndIf:Event]
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
				<div class="edn_readMoreButtonWrapper">
					<a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
				</div>
			</div>
		</div>
	</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
