@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|PT+Sans:400,700&subset=latin,latin-ext) */
/* cyrillic-ext */
@import url("../../../../static/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nE8xhg-WlD4iG4AP-V7QxYA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nN_eC2PfU-cUGGN7U-FIfKc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nLvM2QJLsjx6Keu1D2MYodo.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nNd5cRMOq5PeG3VabknWPxo.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nLpX8dGXLalyu5OokvgDQcs.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nPVFL0ofnRu5Y2lP-UpEUGU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nBBQ_Gf4FfI8J4SYljBAylk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsDrvev4WAjW489CRDHIkJ90.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsCGXDOnx9ptx3UTSPTrfsgk.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsAZ98xO_Wnt-JIem4AuLGfs.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsE1G989qbVg6RT5ly5jB8V8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsJ84zb0nVte6liF9gGtpo1Y.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nDW5FUgIgejJvrHuLWqrSMw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nA30BZHTGu2N_DqssQcMQNQ.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nPDoBG10JtAX-GAwn6iwU1Y.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nGhQuge17febRYSUkWKdLWA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nBBtmDLrZTTOm3p1EhiGCXc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nEV356qNqHCUb41pS3zqMSE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/7nBxcqTeiPvFX1XVBk6VGw.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7vk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nFBvb3f1rSHBccuxwv45BuQ.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsL0XspSvAl7ZHo2ORvFbbnU.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nPJ02wFZLBBkWNCvnE5Eqks.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/GdZvpAq9shJukTEvSQbePw.woff) format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(https://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7hsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nCj3Mi2hOMP9GNHlaDA9WRI.woff) format("woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v14/Zd2E9abXLFGSr9G3YK2MsK8NE7_Gi-Xz52ZQ_AwfA78.woff) format("woff");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(https://fonts.gstatic.com/s/robotocondensed/v14/b9QBgL0iMZfDSpmcXcE8nJT5GEmoOtNsejy4tIPLwv0.woff) format("woff");
}
.eds_socialEventsWidget * {
  box-sizing: border-box;
}
.eds_socialEventsWidget .eds_title {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper {
  border: solid 1px #cd1301;
  border-radius: 6px;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper + div {
  margin-top: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper > h4 {
  font-size: 16px;
  padding: 7px 15px;
  font-weight: normal;
  border-bottom: solid 1px #c81704;
}
.eds_socialEventsWidget .eds_signUpActionBar {
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin-right: 10px;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > input[type=radio] {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > input[type=radio]:checked + label {
  padding: 5px 15px 5px 40px;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > input[type=radio]:checked + label:before {
  width: 25px;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > label {
  position: relative;
  line-height: 1;
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  padding: 5px 15px;
  border: solid 1px #c81704;
  border-radius: 5px;
  background-color: #fff;
  color: #c81704;
  overflow: hidden;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  -webkit-transition: padding 200ms linear;
  -moz-transition: padding 200ms linear;
  -ms-transition: padding 200ms linear;
  -o-transition: padding 200ms linear;
  transition: padding 200ms linear;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > label:before {
  background-color: #dbdbdb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  color: #fff;
  font-family: "FontAwesome";
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -ms-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  transition: width 200ms linear;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > label:hover {
  color: #619c1c;
  border-color: #619c1c;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > label:hover {
  color: #d61603;
  border-color: #d61603;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > label:hover {
  color: #f89e00;
  border-color: #f89e00;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > input[type=radio]:checked + label {
  color: #619c1c;
  border-color: #619c1c;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > input[type=radio]:checked + label:before {
  background-color: #619c1c;
  content: "";
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > input[type=radio]:checked + label {
  color: #d61603;
  border-color: #d61603;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > input[type=radio]:checked + label:before {
  background-color: #d61603;
  content: "";
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > input[type=radio]:checked + label {
  color: #f89e00;
  border-color: #f89e00;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > input[type=radio]:checked + label:before {
  background-color: #f89e00;
  content: "";
}
.eds_socialEventsWidget .eds_eventUsersWrapper {
  border: solid 1px #969696;
  border-radius: 6px;
}
.eds_socialEventsWidget .eds_eventUsersWrapper > .eds_title {
  padding: 7px 15px;
  line-height: 1;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  color: #c81704;
  font-weight: normal;
  border-bottom: solid 1px #969696;
}
.eds_socialEventsWidget .eds_eventUsers {
  padding: 15px;
}
.eds_socialEventsWidget .eds_eventUsers + .eds_eventUsers {
  border-top: solid 1px #969696;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title {
  color: #7b7b7b;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title > span {
  color: #c81704;
}
.eds_socialEventsWidget .eds_eventUsers > ul {
  margin: 0;
  padding: 7px 0 0 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li {
  list-style-type: none;
  margin: 0 8px 8px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a {
  display: inline-block;
  line-height: 1;
  position: relative;
  font-size: 0;
  line-height: 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > img {
  display: inline-block;
  vertical-align: middle;
  width: 54px;
  height: 54px;
  position: relative;
  z-index: 1;
  border: solid 1px #c81704;
  border-radius: 4px;
  padding: 3px;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > span {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
  top: 7px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #272621;
  text-decoration: none;
  font-size: 12px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -ms-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 500ms ease;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover {
  text-decoration: none;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span {
  font-size: 13px;
  line-height: 1;
  color: #fff;
  opacity: 1;
  visibility: visible;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span:hover {
  color: #c81704;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > img {
  border-color: #272621;
}
.eds_socialEventsWidget .eds_lblRegistrationInfo {
  display: block;
  padding: 5px;
  font-style: italic;
  color: #3b3b3b;
  background-color: #c0dcfe;
  border: solid 1px #95c1f1;
  border-radius: 4px;
  margin: 15px;
}
