<!--TemplateGroup:listArticleDefault-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="EDN_article">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<div class="EDN_title">
		<h2><a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]">[EasyDNNnews:Title]</a></h2>
	</div>
	[EasyDNNnews:IfExists:Image]
	<div class="EDN_image-container">
		<a class="EDN_moreIcon" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]"><span>[EasyDNNnews:Title]</span></a>
		<div class="EDN_image-overlay"></div>
		<div class="EDN_arrow"></div>
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
	</div>
	[EasyDNNnews:EndIf:Image]
	<div class="EDN_meta-details">
		<div>[EasyDNNnewsLocalizedText:Posted]: <strong>[EasyDNNnews:FormatedDate: MMM d, yyyy]</strong></div>
		<div>[EasyDNNnewsLocalizedText:Categories]: <strong>[EasyDNNnews:Categories separator=", "]</strong></div>
		<div>[EasyDNNnewsLocalizedText:Comments]: <strong>[EasyDNNnews:Comments]</strong></div>
		<div>[EasyDNNnewsLocalizedText:Author]: <strong>[EasyDNNnews:Author:Link]</strong></div>
	</div>
	<div class="EDN_article_content">
		[EasyDNNnews:IfExists:SubTitle]
		<h3 class="EDN_article-subtitle">[EasyDNNnews:SubTitle]</h3>
		[EasyDNNnews:EndIf:SubTitle]
		[EasyDNNnews:IfExists:Event]
		<p><strong>[EasyDNNnewsLocalizedText:Eventdate]:</strong> [EasyDNNnews:EventDate]</p>
		[EasyDNNnews:EndIf:Event]
		[EasyDNNnews:Summary]
	</div>
	<a class="EDN_readmore" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
