<!--TemplateGroup:listArticleSimpleAccordion-->

<!--ArticleRepeat:Before:-->
<div class="edsAccordion">
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsAccordion/edsAccordion-1.1.js"></script>
<script>
	jQuery(function ($) {
		$('div.edsAccordion').edsAccordion_1();
		//For first opened article remove comment tag from lines bellow
		//$('> .EDN_article', $('div.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'))
		//	.eq(0)
		//		.addClass('edsAccordion_active');
	});
</script>
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="EDN_article EDN_simpleArticle edsAccordion_section">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<h3 class="edsAccordion_title">[EasyDNNnews:Title]</h3>
	<div class="edsAccordion_contentWrapper">
		<div class="edsAccordion_content">
			[EasyDNNnews:IfExists:Image]
			<div class="EDN_image-container">
				<a class="EDN_moreIcon" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]"><span>[EasyDNNnews:Title]</span></a>
				<div class="EDN_image-overlay"></div>
				<div class="EDN_arrow"></div>
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
			</div>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfNotExists:Event]<span class="EDN_simpleDate">[EasyDNNnewsLocalizedText:Posted]: [EasyDNNnews:FormatedDate: MMM d, yyyy]</span>[EasyDNNnews:EndIf:Event]
			[EasyDNNnews:IfExists:Event]<span class="EDN_simpleDate">[EasyDNNnews:EventDate]</span>[EasyDNNnews:EndIf:Event]
			<h2 class="simpleArticleTitle"><a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]">[EasyDNNnews:Title]</a></h2>
			[EasyDNNnews:IfExists:SubTitle]
			<h3 class="EDN_article-subtitle">[EasyDNNnews:SubTitle]</h3>
			[EasyDNNnews:EndIf:SubTitle]
			<div class="EDN_article_content">
				[EasyDNNnews:Summary]
			</div>
			<div class="EDN_clear"></div>
			[EasyDNNnews:DocumentList]
			[EasyDNNnews:Links]
			<div class="EDN_clear"></div>
			<a class="EDN_readmore" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a>
			<ul class="EDN_articleMeta">
				<li class="EDN_simpleNumberVievs">[EasyDNNnews:NumberOfViews]</li>
				<li class="EDN_simpleNumberComments">[EasyDNNnews:Comments]</li>
				<li class="EDN_simpleRating">[EasyDNNnews:ArticleRating]</li>
			</ul>
		</div>
	</div>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
