<!--TemplateGroup:listArticleInBox-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="EDN_article EDN_articleInBox" style="width:[EasyDNNnews:MainArticleImageWidth]">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="EDN_image-container">
		<a class="EDN_moreIcon" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]"><span>[EasyDNNnews:Title]</span></a>
		<div class="EDN_image-overlay"></div>
		<div class="EDN_arrow"></div>
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
	</div>
	[EasyDNNnews:EndIf:Image]
	[EasyDNNnews:IfNotExists:Event]<span class="EDN_simpleDate">[EasyDNNnewsLocalizedText:Posted]: [EasyDNNnews:FormatedDate: MMM d, yyyy]</span>[EasyDNNnews:EndIf:Event]
	[EasyDNNnews:IfExists:Event]<span class="EDN_simpleDate">[EasyDNNnews:EventDate]</span>[EasyDNNnews:IfExists:EventRegistration](<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]">[EasyDNNnewsLocalizedText:Register]</a>)[EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:EndIf:Event]
	<h2><a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" title="[EasyDNNnews:Title]">[EasyDNNnews:Title][EDNcf:IfExists:price] - [EDNcf:price][EDNcf:EndIf:price]</a></h2>
	[EasyDNNnews:IfExists:SubTitle]
	<h3 class="EDN_article-subtitle">[EasyDNNnews:SubTitle]</h3>
	[EasyDNNnews:EndIf:SubTitle]
	<div class="EDN_article_content">
		[EasyDNNnews:Summary]
	</div>
	<ul class="EDN_articleMeta">
		<li class="EDN_simpleNumberVievs">[EasyDNNnews:NumberOfViews]</li>
		<li class="EDN_simpleNumberComments">[EasyDNNnews:Comments]</li>
		<li class="EDN_simpleRating">[EasyDNNnews:ArticleRating]</li>
	</ul>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
