<!--TemplateGroup:listArticleTimeline2-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="EDN_article eds_timeLineArticleWrapper eds_timeLineArticleWrapper2">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<div class="eds_timeAndArticleWrapper">
		<div class="eds_timeLineThumbnail">
			[EasyDNNnews:IfExists:Image]
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:84:Height:84:Resize:Crop]" width="84" height="84"/></a>
			[EasyDNNnews:EndIf:Image]
			<div class="eds_timeLineTime">
			[EasyDNNnews:IfNotExists:Event]
			[EasyDNNnews:FormatedDate:dd MMMM]
			<span class="eds_timeLineEventBegin">[EasyDNNnews:FormatedDate:yyyy]</span>
			[EasyDNNnews:EndIf:Event]
			[EasyDNNnews:IfExists:Event]
			[EasyDNNnews:EventFormatedStartDate:dd MMMM yyyy]
			<span class="eds_timeLineEventBegin">[EasyDNNnews:EventFormatedStartDate:HH:mm]</span>
			[EasyDNNnews:EndIf:Event]
			[EasyDNNnews:IfExists:EventLocation]
			<span class="eds_timelineEventLocation">[EasyDNNnews:EventLocation]</span>
			[EasyDNNnews:EndIf:EventLocation]
			</div>
		</div>
		<div class="eds_timeLineArticle">
			[EasyDNNnews:IfExists:EventRegistration]<a class="EDN_readmore EDN_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnewsLocalizedText:Register]</a>[EasyDNNnews:EndIf:EventRegistration]
			<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
			<div class="EDN_article_content">[EasyDNNnews:Summary]</div>
			<div>
				<div class="EDN_social-media-plugin">[EasyDNNnewsSystemToken:SysAddThisFbTwGoLiArticleList]</div>
				[EasyDNNnews:IfExists:Event]
				<span class="eds_timeLineEventDuration">
					<a class="eds_timeLineExportCalendar" href="[EasyDNNnews:iCalendar]" title="[EasyDNNnewsLocalizedText:ExportEvent]">[EasyDNNnewsLocalizedText:ExportEvent]</a><span>[EasyDNNnews:EventDate]</span>
				</span>
				[EasyDNNnews:EndIf:Event]
			</div>
		</div>
		<div class="EDN_clear"></div>
	</div>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
