@charset "UTF-8";
.eds_GravityGallery_NewsMagazine {
  margin: 35px 0;
}
.eds_GravityGallery_NewsMagazine * {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.eds_GravityGallery_NewsMagazine:after, .eds_GravityGallery_NewsMagazine:before {
  display: block;
  content: "";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}
.eds_GravityGallery_NewsMagazine div, .eds_GravityGallery_NewsMagazine span, .eds_GravityGallery_NewsMagazine p, .eds_GravityGallery_NewsMagazine a, .eds_GravityGallery_NewsMagazine strong, .eds_GravityGallery_NewsMagazine li, .eds_GravityGallery_NewsMagazine button {
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
}
.eds_GravityGallery_NewsMagazine .edsgg_widthEnforcer {
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
}
.eds_GravityGallery_NewsMagazine .edsgg__embedWrapper video {
  width: 100% !important;
  height: 100% !important;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer {
  margin: 15px auto 0;
  padding: 0;
  list-style-type: none;
  z-index: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer {
  list-style-type: none;
  margin: 0 10px 20px;
  padding: 10px 10px 5px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #BABABA #BABABA #BABABA #D3D3D3;
  border-radius: 2px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.2;
  color: #504e4e;
  max-width: 100%;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer img {
  max-width: 100%;
  height: auto;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer {
  margin: 0 0 5px;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer a {
  text-decoration: none;
  color: #504e4e;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: block;
  text-align: center;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail {
  position: relative;
  display: block;
  border: solid 1px #d6d6d6;
  padding: 3px;
  background-color: #fff;
  max-width: 100%;
  line-height: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail img {
  max-width: 100%;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail .edsgg_numberOfItems {
  background-color: #FFFFFF;
  border-radius: 3px 0 0 3px;
  box-shadow: -1px 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #504e4e;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  padding: 0 6px;
  position: absolute;
  right: -4px;
  top: 50%;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_video, .eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_embededVideo, .eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_audio {
  margin-bottom: 30px;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_video .edsgg_numberOfCommentsAndLikes, .eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_embededVideo .edsgg_numberOfCommentsAndLikes, .eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_audio .edsgg_numberOfCommentsAndLikes {
  top: auto;
  bottom: -30px;
  left: 0;
  right: 0;
  z-index: 1;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_video .edsgg_likes, .eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_embededVideo .edsgg_likes, .eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_audio .edsgg_likes {
  top: auto;
  right: 3px;
  bottom: -27px;
  z-index: 2;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_image_thumbnail.edsgg_mediaType_image .edsgg_likes {
  top: 6px;
  right: 6px;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title {
  padding-top: 10px;
  display: block;
  text-align: left;
  word-wrap: break-word;
  font-family: "Coda", sans-serif;
  line-height: 1;
  font-size: 15px;
  font-weight: normal;
}
.eds_GravityGallery_NewsMagazine .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 5px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_readMore {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  background: transparent url("images/more-play-icons.png") center -9px no-repeat;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
  opacity: 0;
  z-index: -2;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_readMore.edsgg_mediaType_image {
  background-position: center -97px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_readMore.edsgg_mediaType_video {
  background-position: center -184px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_readMore.edsgg_mediaType_embededVideo {
  background-position: center -184px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_readMore.edsgg_mediaType_audio {
  background-position: center -184px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes {
  top: 20px;
  right: 20px;
  display: block;
  position: absolute;
  line-height: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction {
  background: #303030 url("images/like-icon.png") no-repeat 4px 3px;
  padding: 2px 2px 2px 24px;
  height: 16px;
  border-radius: 3px 3px 3px 3px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  display: inline-block;
  position: relative;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -ms-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction:hover > span > span {
  text-decoration: underline;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction > span {
  cursor: pointer;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction > span > span {
  line-height: 16px;
  height: 16px;
  float: right;
  padding: 0 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  border-left: solid 1px #fff;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction .edsgg__unlikeItem {
  display: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction.edsgg__liked .edsgg__likeItem {
  display: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction.edsgg__liked .edsgg__unlikeItem {
  display: inline;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
  border-radius: 3px;
  display: none;
  cursor: auto;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction.edsgg__actionInProgress {
  opacity: 0.4 !important;
  filter: alpha(opacity=40) !important;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction.edsgg__actionInProgress:after {
  display: block;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_likes .edsgg__likeAction.edsgg__actionInProgress > span > span {
  text-decoration: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_mediaType {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background: #303030;
  width: 27px;
  height: 24px;
  background-image: url("images/media-type-icons.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_mediaType.edsgg_mediaType_image {
  background-position: center 4px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_mediaType.edsgg_mediaType_video {
  background-position: center -28px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_mediaType.edsgg_mediaType_embededVideo {
  background-position: center -28px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer .edsgg_mediaType.edsgg_mediaType_audio {
  background-position: center -57px;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer:hover .edsgg_likeContainer .edsgg_likes .edsgg__likeAction {
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer:hover .edsgg_readMore {
  opacity: 1;
  z-index: 1;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer:hover .edsgg_likes .edsgg__likeAction {
  opacity: 0.92;
  filter: alpha(opacity=92);
}
.eds_GravityGallery_NewsMagazine .edsgg_thumbnailContainer:hover .edsgg_numberOfCommentsAndLikes {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes {
  height: 26px;
  position: absolute;
  left: 6px;
  bottom: 6px;
  background-color: #303030;
  border-radius: 3px 3px 3px 3px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes .edsgg_NumberOfLikes,
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes .edsgg_NumberOfComments {
  background: url("images/icons.png") 0 0 no-repeat;
  height: 16px;
  display: inline-block;
  padding-left: 22px;
  margin: 4px 3px;
}
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes .edsgg_NumberOfLikes > span,
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes .edsgg_NumberOfComments > span {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes .edsgg_NumberOfLikes {
  background-position: 0 -209px;
  padding-left: 22px;
  margin-right: 10px;
}
.eds_GravityGallery_NewsMagazine .edsgg_numberOfCommentsAndLikes .edsgg_NumberOfComments {
  background-position: 0 -235px;
  padding-left: 24px;
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating {
  padding-bottom: 5px;
  overflow: hidden;
  float: right;
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating .edsgg__mediaRatingAction {
  float: left;
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating .edsgg__mediaRatingAction .rateit-range {
  background-image: url("images/rate-it-icons.png");
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating .edsgg__mediaRatingAction .rateit-selected {
  background-image: url("images/rate-it-icons.png");
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating .edsgg__mediaRatingAction .rateit-hover {
  background-image: url("images/rate-it-icons.png");
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating .edsgg__mediaRatingValue > div {
  float: left;
  line-height: 18px;
  margin-left: 10px;
  color: #969696;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 2px 2px 2px 2px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #969696;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_numberOfViews {
  background: url("images/icons.png") no-repeat 0 -99px;
  padding-left: 22px;
  margin-right: 2%;
  margin-bottom: 10px;
  line-height: 17px;
  height: 17px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_numberOfLikes {
  background: url("images/icons.png") no-repeat 0 -182px;
  padding-left: 22px;
  margin-bottom: 10px;
  line-height: 17px;
  height: 17px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_numberOfLikes > span {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #969696;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaTypesNumber > ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaTypesNumber > ul li {
  background-image: url("images/icons.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  margin: 0 10px 0 0;
  line-height: 17px;
  height: 17px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaTypesNumber > ul li.edsgg_NumberOfGalleryImages {
  background-position: 0 -120px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaTypesNumber > ul li.edsgg_NumberOfGalleryVideos {
  background-position: 0 -140px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaTypesNumber > ul li.edsgg_NumberOfGalleryAudios {
  background-position: 0 -161px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss {
  float: right;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li {
  margin-left: 7px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_socialSharing .addthis_button {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("images/icons.png") no-repeat 0 0;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_socialSharing .addthis_button:hover {
  background-position: 0 -25px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_socialSharing .addthis_button > span {
  display: inline-block;
  text-indent: -99999px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_rssLink > a {
  background: url("images/icons.png") no-repeat 0 -50px;
  display: inline-block;
  width: 17px;
  height: 17px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_rssLink > a:hover {
  background-position: 0 -74px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_rssLink > a > span {
  display: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_emailLink > a {
  width: 22px;
  height: 16px;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.authorSharingRss > ul li.edsgg_emailLink > a span {
  display: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaDownload {
  float: none;
  margin: 5px 0;
  text-align: center;
  display: block;
  clear: both;
  padding: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_mediaDownload > a {
  font-size: 11px;
  color: #969696;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryDetails li.edsgg_MediaRatingContainer {
  float: right;
  margin: 0 2%;
}
.eds_GravityGallery_NewsMagazine .edsgg_emailLink > a {
  display: inline-block;
  background: url("images/icons.png") no-repeat 0 -419px;
  color: #6b6b6b;
  text-decoration: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_emailLink > a:hover {
  background-position: 0 -454px;
  text-decoration: none;
}
.eds_GravityGallery_NewsMagazine div.edsgg_emailLink {
  float: right;
  margin-right: 30px;
}
.eds_GravityGallery_NewsMagazine div.edsgg_emailLink > a {
  padding-left: 27px;
}
.eds_GravityGallery_NewsMagazine .edsgg_MediaRating + .edsgg_emailLink {
  margin-left: -50px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div {
  background: url("images/icons.png") no-repeat 0 -307px;
  cursor: pointer;
  position: relative;
  height: 17px;
  width: 17px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div:hover {
  background-position: 0 -333px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > span {
  display: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 11px 0;
  position: absolute;
  bottom: 25px;
  left: -16px;
  text-align: center;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  width: 0;
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div .edsgg_GalleryOwnerAvatar {
  display: none;
  margin: 0 10px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div .edsgg_GalleryOwnerAvatar img {
  border: 1px solid #B0B0B0;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 0 #E7E7E7;
  padding: 1px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div .edsgg_GalleryOwner {
  display: none;
  padding: 6px 8px 0;
  white-space: nowrap;
  color: #504e4e;
  text-decoration: none;
  font-size: 11px;
  line-height: 1;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div .edsgg_GalleryOwner:hover {
  color: #000;
  text-decoration: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div:before {
  display: block;
  content: "";
  width: 0;
  border-style: solid;
  border-width: 0;
  border-color: #b0b0b0 rgba(176, 176, 176, 0) rgba(176, 176, 176, 0);
  position: absolute;
  left: 16px;
  bottom: -12px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div > div:after {
  border-color: #FFFFFF rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 0;
  bottom: -8px;
  content: "";
  display: block;
  left: 18px;
  position: absolute;
  width: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div:hover > div {
  opacity: 1;
  filter: alpha(opacity=100);
  height: auto;
  width: auto;
  border: solid 1px #b0b0b0;
  z-index: 999;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div:hover > div:before {
  border-width: 6px 8px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div:hover > div:after {
  border-width: 4px 6px;
}
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div:hover > div .edsgg_GalleryOwnerAvatar,
.eds_GravityGallery_NewsMagazine .edsgg_GalleryOwner > div:hover > div .edsgg_GalleryOwner {
  display: block;
}
.eds_GravityGallery_NewsMagazine .edsgg_mediaDownload {
  margin: 0 10%;
  text-align: right;
  display: inline-block;
  white-space: nowrap;
  float: right;
}
.eds_GravityGallery_NewsMagazine .edsgg_mediaDownload > a {
  color: #6b6b6b;
  text-decoration: none;
  font-size: 13px;
  line-height: 1;
  text-shadow: 1px 1px 0 #fff;
  padding-left: 21px;
  background: url("images/icons.png") no-repeat 0 -362px;
}
.eds_GravityGallery_NewsMagazine .edsgg_mediaDownload > a:hover {
  background-position: 0 -383px;
  text-decoration: none;
}
.eds_GravityGallery_NewsMagazine .edsgg_clear {
  clear: both;
}
.eds_GravityGallery_NewsMagazine .edsgg_galleryBackLinkWrapper {
  text-align: center;
  margin-top: 15px;
}
.eds_GravityGallery_NewsMagazine a.edsgg_galleryBackLink {
  display: inline-block;
  border: 1px solid #c81704;
  background: none #fff;
  border-radius: 4px;
  box-shadow: none;
  width: 75%;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.eds_GravityGallery_NewsMagazine a.edsgg_galleryBackLink > span {
  text-shadow: none;
  text-decoration: none;
  line-height: 1;
  font-family: "Coda", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 27px;
  color: #c81704;
  display: inline-block;
  vertical-align: middle;
}
.eds_GravityGallery_NewsMagazine a.edsgg_galleryBackLink:before {
  font-family: "FontAwesome";
  content: "";
  color: #c81704;
  padding-right: 5px;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  line-height: 27px;
}
.eds_GravityGallery_NewsMagazine a.edsgg_galleryBackLink:hover {
  background-color: #c81704;
  box-shadow: none;
}
.eds_GravityGallery_NewsMagazine a.edsgg_galleryBackLink:hover > span {
  text-decoration: none;
  color: #fff;
}
.eds_GravityGallery_NewsMagazine a.edsgg_galleryBackLink:hover:before {
  color: #fff;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper {
  text-align: center;
  line-height: 0;
  font-size: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger {
  position: relative;
  padding: 0;
  background: none transparent;
  box-shadow: none;
  -webkit-appearance: none;
  overflow: hidden;
  width: 75%;
  border: solid 1px #c81704;
  border-radius: 4px;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger > span {
  color: #c81704;
  font-family: "Coda", sans-serif;
  line-height: 1;
  font-size: 15px;
  display: block;
  padding: 7px 10px;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText {
  background-color: #fff;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  font-family: "FontAwesome";
  line-height: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  opacity: 0.7;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText {
  color: #fff;
  background-color: #c81704;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper.loading .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
}
.eds_GravityGallery_NewsMagazine .edsgg__loadMediaWrapper.hide {
  display: none;
}
