﻿<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="[EasyDNNnews:Title]" />
<meta name="twitter:description" content="[EasyDNNnews:CleanArticleText:200]" />
[EasyDNNnews:IfExists:Image]
<meta name="twitter:image" content="[EasyDNNnews:OriginalArticleImage:AbsoluteUrl]" />
[EasyDNNnews:EndIf:Image]