/* latin-ext */
@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda Regular'), local('Coda-Regular'), url(//fonts.gstatic.com/s/coda/v13/SLXHc1jY5nQ8FUsGa6aN.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda Regular'), local('Coda-Regular'), url(//fonts.gstatic.com/s/coda/v13/SLXHc1jY5nQ8FUUGaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda Regular'), local('Coda-Regular'), url(//fonts.gstatic.com/s/coda/v13/SLXHc1jY5nQ8FUsGaw.woff2) format('woff2');
}

@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: local('Coda Regular'), local('Coda-Regular'), url(//fonts.gstatic.com/s/coda/v13/SLXHc1jY5nQ8FUsGbQ.woff) format('woff');
}


/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0-ExdGM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0aExdGM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExQ.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yEww.woff) format('woff');
}



.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news h1,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news h2,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news h3,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news h4,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news h5,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news h6,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news th,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .in_article_image .image_title
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news a
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news a:hover
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleDefault .edn_articleTitle > a
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleDefault .edn_articleTitle > a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .edn_articleTitle > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .edn_articleTitle > a
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section:hover .edn_articleTitle > a:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section:hover .edn_articleTitle > a:hover
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section:hover .edn_articleTitle > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section:hover .edn_articleTitle > a
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .edn_article.edn_articleTimeline .edn_rightSide > div .edn_articleTitle > a
{
	color: #ffffff;
	font-size: 24px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .edn_article.edn_articleTimeline .edn_rightSide > div .edn_articleTitle > a:hover
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_articleTitle > a
{
	color: #333333;
	font-size: 24px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_articleTitle > a:hover
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes > article > div .edn_articleTitle > a
{
	color: #ffffff;
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes > article > div .edn_articleTitle > a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:first-child > article > div .edn_articleTitle > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:nth-child(3n+3) > article > div .edn_articleTitle > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:nth-child(4n+3) > article > div .edn_articleTitle > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:nth-child(2) > article > div .edn_articleTitle > a
{
	font-size: 30px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_articleTitle > a
{
	color: #ffffff;
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_articleTitle > a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1 > article > div .edn_articleTitle::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_articleTitle::before
{
	border-bottom-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion .edsAccordion_title,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion .edsAccordion_title > div:first-child
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion.edsAccordion_active .edsAccordion_title > div:first-child
{
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion .edsAccordion_title > div > time
{
	color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion .edsAccordion_title > div > time > span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion.edsAccordion_active .edsAccordion_title > div
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion .edsAccordion_title > div .edn_articleTitle
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleAccordion .edn_article.edn_articleAccordion .edsAccordion_contentWrapper > div
{
	border-bottom-color: #272727;
	border-right-color: #272727;
	border-left-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsArticleDefault .edn_article.edn_defaultDetails header .edn_articleTitle,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsCatalogDefault .edn_article.edn_defaultDetails header .edn_articleTitle
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsArticleFixedHeader .edn_article.edn_fixedHeaderArticle .edn_articleTitle
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsArticleClassic .edn_article.edn_classicDetails .edn_articleTitle
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_articleTitle.edn_articleSubTitle
{
	color: #000000;
	font-size: 20px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsArticleFixedHeader .edn_article.edn_fixedHeaderArticle .edn_articleTitle.edn_articleSubTitle
{
	color: #b5b5b5;
	font-size: 30px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsArticleClassic .edn_article.edn_classicDetails .edn_articleTitle.edn_articleSubTitle
{
	color: #b5b5b5;
	font-size: 25px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .edn_article.edn_articleTimeline .edn_rightSide > div .edn_articleSubTitle
{
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_articleTitle.edn_articleSubTitle
{
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes > article > div .edn_articleSummary
{
	color: #ffffff;
	font-size: 12px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:first-child > article > div .edn_articleSummary,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:nth-child(3n+3) > article > div .edn_articleSummary,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:nth-child(4n+3) > article > div .edn_articleSummary,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1.edn_boxSizes:nth-child(2) > article > div .edn_articleSummary
{
	font-size: 16px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_articleSummary
{
	color: #ffffff;
	font-size: 16px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .edn_article.edn_articleTimeline .edn_rightSide > div .edn_articleSummary
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section:hover .edn_articleSummary,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section:hover .edn_articleSummary
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section .edn_articleMedia,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section .edn_articleMedia,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section .edn_articlePointer,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section .edn_articlePointer,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section .edn_articleMedia::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section .edn_articleMedia::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section .edn_articlePointer::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section .edn_articlePointer::after
{
	border-right-color: #272727;
	border-left-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listArticleSimple .edn_article.edn_simpleList > section::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_templateGroup_listCatalogDefault .edn_article.edn_simpleList > section::before
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_metaDetails
{
	color: #b1b1b1;
	font-size: 12px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_metaDetails time,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_metaDetails > span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1 > article > div .edn_metaDetails > time,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_metaDetails > time,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1 > article > div .edn_metaDetails > span,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_metaDetails > span
{
	color: #ffffff;
	font-size: 12px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1 > article > div .edn_metaDetails .fa,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_metaDetails .fa
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > .edn_module_title
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a:hover
{
	border-radius: 0px;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a .edn_tagName::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a .edn_tagCount::after
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a .edn_tagName
{
	color: #ffffff;
	font-size: 17px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a .edn_tagName:hover
{
	color: #272727;
	font-size: 17px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a .edn_tagCount
{
	color: #272727;
	font-size: 22px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud > div > a:hover .edn_tagCount
{
	color: #ffffff;
	font-size: 22px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > .edn_module_title
{
	color: #ffffff;
	font-size: 33px;
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2
{
	border-color: #272727;
	background-color: #ffffff;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a:hover
{
	border-radius: 0px;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a .edn_tagName::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a .edn_tagCount::after
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a .edn_tagName
{
	color: #ffffff;
	font-size: 17px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a .edn_tagName:hover
{
	color: #272727;
	font-size: 17px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a .edn_tagCount
{
	color: #272727;
	font-size: 22px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_tagCloud.eds_template_Tag_Cloud_2 > div > a:hover .edn_tagCount
{
	color: #ffffff;
	font-size: 22px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input.button_outside .input input[type="text"],
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input.button_outside .input input[type="text"]:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input.button_outside .input input[type="text"]:focus,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .input input[type="text"],
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .input input[type="text"]:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .input input[type="text"]:focus
{
	color: #6d6d6d;
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_catalogCategory
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_catalogCategory:hover
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_catalogCategory > figcaption
{
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.6);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_catalogCategory:hover > figcaption
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_catalogCategory > figcaption > span
{
	font-family: "Coda";
	color: #333333;
	font-size: 20px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .bread_crumbs > a
{
	font-family: "Coda";
	color: #747474;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .bread_crumbs > a:hover
{
	border-bottom-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .bread_crumbs > a:last-child
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .bread_crumbs > i
{
	font-size: 17px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_categoryInfo h1.edn_articleTitle
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_categoryInfo
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article .edn_leftSide .edn_articleMedia
{
	border-right-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article .edn_leftSide .edn_articleMedia::after
{
	border-right-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_defaultDetails .edn_articleScrolling > div > a
{
	background-color: rgba(0, 0, 0, 0.44);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_defaultDetails .edn_articleScrolling > div > div .edn_fixedNavTitle
{
	color: #ffffff;
	font-size: 16px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_defaultDetails .edn_toolTip:hover .edn_toolTipContent
{
	border-radius: 4px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_defaultDetails header .edn_headerAuthor > img
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_fixedHeaderArticle .edn_fixedHeaderArticleScrolling > a
{
	background-color: rgba(0, 0, 0, 0.5);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_fixedHeaderArticle .edn_fixedHeaderArticleScrolling > a::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_fixedHeaderArticle .edn_fixedHeaderArticleScrolling > .edn_toolTip:hover .edn_toolTipContent
{
	background-color: rgba(0, 0, 0, 0.8);
	border-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_title
{
	font-family: "Coda";
	color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_title:hover
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2.edsAccordion_active .edsAccordion_title
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_title,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_title > .eds_faIcon
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_title > .eds_faIcon::after
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_title:hover > .eds_faIcon::after
{
	color: #333333;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2.edsAccordion_active .edsAccordion_title > .eds_faIcon::after
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_contentWrapper .edsAccordion_content
{
	border-bottom-color: #272727;
	border-right-color: #272727;
	border-left-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_contentWrapper .edsAccordion_content .edn_articleMedia > a
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion2 .edsAccordion_contentWrapper .edsAccordion_content .edn_articleMedia > a::before
{
	background-color: rgba(39, 39, 39, 0.6);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_leftSide .edn_timeLocation
{
	border-color: #272727;
	background-color: #ffffff;
	font-family: "Coda";
	color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_leftSide .edn_timeLocation > time > span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_leftSide .edn_articleMedia > a::before
{
	background-color: rgba(39, 39, 39, 0.6);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_leftSide .edn_articleMedia > a::after
{
	border-color: #ffffff;
	border-radius: 0px;
	background-color: rgba(39, 39, 39, 0.6);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_timeline2ArticleMeta,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_timeline2ArticleMeta > span
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_timeline2ArticleMeta > span
{
	font-family: "Coda";
	color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_timeline2ArticleMeta > span > strong
{
	color: #272727;
	font-size: 40px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_timeline2ArticleMeta > span > strong > i
{
	color: #272727;
	font-size: 30px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_articleMedia .edn_mediaWithLink > a::before
{
	background-color: rgba(39, 39, 39, 0.6);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_articleMedia .edn_mediaWithLink > a::after
{
	border-color: #ffffff;
	border-radius: 0px;
	background-color: rgba(39, 39, 39, 0.6);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Meta .edn_timeline2AuthorDate:hover
{
	background-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Meta .edn_timeline2AuthorDate > div > a
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Meta .edn_timeline2AuthorDate:hover > div > a
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Meta .edn_timeline2AuthorDate > div > time
{
	color: #aeaeae;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Meta .edn_timeline2AuthorDate:hover > div > time
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Meta .edn_timeline2AuthorDate > img
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventDetails
{
	border-top-color: #dddddd;
	border-bottom-color: #dddddd;
	border-radius: 0px;
	box-shadow: none;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_calendarExport:hover:after
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventDetails .edn_eventLocation:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventRegistrationModalTrigger
{
	border-color: #272727;
	border-radius: 0px;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventRegistrationModalTrigger:hover
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventDetails .edn_eventPrice
{
	font-family: "Coda";
	font-size: 40px;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_signUpActionBar > div > span > label
{
	border-width: 1px;
	border-radius: 0px;
	font-size: 15px;
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_signUpActionBar > div > span.eds_optionValue2 > label:hover
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_signUpActionBar > div > span.eds_optionValue3 > label:hover
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_rightSide > div .edn_eventExportTime > time,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_rightSide > div .edn_eventExportTime > a
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_rightSide > div .edn_eventExportTime > time::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_rightSide > div .edn_eventExportTime > a::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_eventExportTime > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_eventExportTime > time
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_eventExportTime > a::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline2 .edn_timeline2Content .edn_eventExportTime > time::before
{
	color: #aeaeae;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_simpleList > section:hover .edn_timeAndAuthor
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_timeAndAuthor .edn_author a
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_simpleList > section:hover .edn_timeAndAuthor .edn_author a
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_simpleList > section:hover .edn_timeAndAuthor .edn_author a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_timeAndAuthor i
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_simpleList > section:hover .edn_timeAndAuthor i
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventTimeLocation
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion.edsAccordion_active .edsAccordion_title:hover .edn_eventTimeLocation
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventTimeLocation > time::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_eventTimeLocation > span::before
{
	color: #aeaeae;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion .edsAccordion_title:hover .edn_eventTimeLocation > time::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion .edsAccordion_title:hover .edn_eventTimeLocation > span::before
{
	color: #aeaeae;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion.edsAccordion_active .edsAccordion_title:hover .edn_eventTimeLocation > time::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion.edsAccordion_active .edsAccordion_title:hover .edn_eventTimeLocation > span::before
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper > div
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper > div .edn_ratingHolder
{
	color: #272727;
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper > div .edn_buttonHolder::before
{
	border-right-color: #272727;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper > div .edn_buttonHolder:hover::before
{
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper > div .edn_buttonHolder > div > div
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper .edn_numberOfViews
{
	border-color: #272727;
	color: #6d6d6d;
	font-size: 15px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_socialLinksRatingViewsWrapper .edn_numberOfViews::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_categories > span
{
	font-family: "Coda";
	color: #272727;
	font-size: 18px;
	line-height: 1.7;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_categories > a
{
	font-family: "PT Sans";
	color: #333333;
	font-size: 22px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_categories > a:hover
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_tags > span
{
	font-family: "Coda";
	color: #272727;
	font-size: 18px;
	line-height: 1.5;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_tags > a
{
	border-color: #272727;
	border-radius: 0px;
	background-color: transparent;
	font-family: "Coda";
	color: #272727;
	font-size: 22px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_tags > a:hover
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #ffffff;
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsArticleDefault .edn_headerAuthor .edn_authorGroupDetails,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_detailsCatalogDefault .edn_headerAuthor .edn_authorGroupDetails
{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails > h4 .button:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails > h4 .button:hover:before
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news  .edn_authorGroupDetails .button.contact,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.full_bio
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.contact:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.full_bio:hover
{
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.contact,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.full_bio
{
	border-radius: 0px;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.social
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.social:hover
{
	border-color: #272727;
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.social:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails .button.social:hover:before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails.edn_groupDetails
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails.edn_groupDetails .button.contact
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_authorGroupDetails.edn_groupDetails .button.social
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .in_article_image
{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .in_article_image .image_title
{
	color: #272727;
	font-size: 17px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .in_article_image .image_description
{
	color: #b1b1b1;
	font-size: 13px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants
{
	border-color: #e5e5e5;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr.edn_listOfAttendantsHeader:first-child
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #272727;
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr.edn_listOfAttendantsHeader th
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr td
{
	color: #6d6d6d;
	font-size: 13px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(even)
{
	background-color: #eeeeee;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(odd)
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr:hover
{
	background-color: #EAEAEA;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_listOfAttendants > table tr:hover td
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments
{
	border-color: #e5e5e5;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments h2
{
	font-size: 20px;
	border-bottom-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments ul li:before
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments ul li .edn_docDetails .edn_docExtension
{
	font-style: italic;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments ul li .edn_docDetails .edn_docFileSize
{
	color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments ul li .edn_documentDescription
{
	color: #999;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleDocuments ul li
{
	border-bottom-color: #f7f5f5;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleLinks
{
	border-color: #e5e5e5;
	border-radius: 0px;
	box-shadow: none;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleLinks h2
{
	font-size: 20px;
	border-bottom-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleLinks ul li:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_articleLinks ul li span
{
	font-style: italic;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles
{
	border-color: #bfbfbf;
	border-radius: 0px;
	background-color: #ededed;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles h2
{
	font-size: 20px;
	border-bottom-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles ul li:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles ul li a
{
	color: #424344;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles ul li a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles.edn_aditionalBoxImage ul li a span
{
	font-family: "Coda";
	color: #424344;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles.edn_aditionalBoxImage ul li a:hover span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_aditionalBox.edn_relatedArticles.edn_aditionalBoxImage ul li + li
{
	border-left-color: #acacac;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article_gallery ul li a img
{
	border-color: #000000;
	border-radius: 0px;
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article_gallery ul li a:hover img
{
	border-color: #525252;
	border-radius: 0px;
	background-color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova a.edsgg_galleryBackLink
{
	border-color: #272727;
	border-radius: 4px;
	background-color: #fff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova a.edsgg_galleryBackLink:hover
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova a.edsgg_galleryBackLink > span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova a.edsgg_galleryBackLink:hover > span
{
	color: #fff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova a.edsgg_galleryBackLink:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova a.edsgg_galleryBackLink:hover:before
{
	color: #fff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger
{
	border-color: #272727;
	border-radius: 4px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText
{
	background-color: #fff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger > span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover > span
{
	color: #fff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay
{
	background-color: rgba(255, 255, 255, .8);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .eds_GravityGallery_Nova .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay:before
{
	color: #272727;
	opacity: 0.7;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .eds_GravityGallery_Nova .edsgg__itemsListContainer .edsgg__itemContainer
{
	border-top-color: #BABABA;
	border-right-color: #BABABA;
	border-bottom-color: #BABABA;
	border-left-color: #D3D3D3;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .eds_GravityGallery_Nova .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title
{
	font-size: 15px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .eds_GravityGallery_Nova .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description
{
	font-size: 12px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .eds_GravityGallery_Nova .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_image_thumbnail
{
	border-color: #d6d6d6;
	border-radius: 0px;
	background-color: #fff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .num_of_comment
{
	border-color: #272727;
	border-radius: 0px;
	color: #000000;
	font-size: 14px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .comment_list .comment article > section > div
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .comment_list .comment article > section > time
{
	color: #999;
	font-size: 12px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .comment_list .comment
{
	border-bottom-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .comment_list .comment article > div img
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment > h3
{
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment > div
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td.left
{
	font-family: "Coda";
	color: #424242;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td input[type="text"],
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td input[type="text"]:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td input[type="text"]:focus,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td textarea,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td textarea:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box table td textarea:focus
{
	border-color: #272727;
	border-radius: 0px;
	color: #666;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box .submit
{
	border-color: #272727;
	border-radius: 0px;
	background-color: transparent;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_comments .add_comment .add_article_box .submit:hover
{
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion .edsAccordion_title > div .edn_readMoreButton
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #ffffff;
	font-family: "Coda";
	color: #272727;
	font-size: 24px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleAccordion .edsAccordion_title:hover > div .edn_readMoreButton
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_readMore.edn_readMoreButton
{
	border-color: #272727;
	border-radius: 0px;
	font-family: "Coda";
	color: #272727;
	font-size: 24px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_readMore.edn_readMoreButton:hover
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1 > article > div .edn_readMore.edn_readMoreButton,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_readMore.edn_readMoreButton
{
	font-family: "Coda";
	color: #272727;
	font-size: 18px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed .edn_article.edn_boxedStyle1 > article > div .edn_readMore.edn_readMoreButton:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news.eds_templateGroup_listArticleBoxed2 .edn_article.edn_boxedStyle1 > article > div .edn_readMore.edn_readMoreButton:hover
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_rightSide > div .edn_readMoreButtonWrapper .edn_readMoreButton
{
	background-color: #ffffff;
	font-family: "Coda";
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_article.edn_articleTimeline .edn_rightSide > div .edn_readMoreButtonWrapper .edn_readMoreButton:hover
{
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_articlesRssWrapper a
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeeeee;
	background-color: #f8f8f8;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_articlesRssWrapper a:hover
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_articlesRssWrapper a span:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_articlesRssWrapper a span
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_articlesRssWrapper a:hover span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a
{
	border-right-color: #272727;
	border-left-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a:hover
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.active
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.page
{
	font-family: "Coda";
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.page:hover
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.page.active
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.first,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.last
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.first:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.last:hover
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.prev::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.next::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.prev:hover::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.next:hover::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.prev,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.next
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.prev:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .article_pager > a.next:hover
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger:hover .actionTextContainer
{
	background-color: #272727;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger > span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading .trigger .loadingOverlay
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper .trigger .loadingOverlay::after
{
	color: #b3b3b3;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavImage:after
{
	border-radius: 4px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavTitle
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu .edn_module_title
{
	color: #333333;
	border-color: #272727;
	border-radius: 0px;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li ul li > div
{
	border-color: #b9b9b9;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div a.edn_rss::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div a.edn_category
{
	color: #333333;
	font-size: 20px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div a.edn_category:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li.opened > div > .edn_category
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div a.expand_collapse::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div a.edn_image > img
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div > div
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li ul li > div > div
{
	border-left-color: #b9b9b9;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div:hover > div
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div > div a.edn_articleCount
{
	color: #272727;
	font-size: 20px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_categoryMenu ul li > div:hover > div .edn_articleCount
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .do_search
{
	border-color: #272727 !important;
	border-radius: 0px;
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .do_search:hover
{
	border-radius: 0px;
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .do_search::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input .do_search:hover:before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input.button_outside .do_search
{
	color: #272727;
	font-size: 20px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .search_input.button_outside .do_search:hover
{
	color: #ffffff;
	font-size: 20px;
}

.EDN_search.theme_Nova.mine_shaft_dark
{
	background-color: #272727;
	border-color: #272727;
	box-shadow: none;
}

.EDN_search.theme_Nova.mine_shaft_dark ul li span a
{
	color: #ffffff;
	font-size: 12px;
}

.EDN_search.theme_Nova.mine_shaft_dark ul li span a:hover
{
	color: #000000;
}

.EDN_search.theme_Nova.mine_shaft_dark .acSelect a
{
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	background-color: #525252;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title
{
	color: #333333;
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	background-color: #ffffff;
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > div
{
	border-left-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > span
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:after ,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > div:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice
{
	box-shadow: none;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput > span > label
{
	color: #828282;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line
{
	background-color: #e1e4e9;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-diapason
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-slider
{
	background-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-single
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to
{
	color: #ffffff;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to::after
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox > label::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span::before
{
	border-color: #272727;
	border-radius: 0px;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox input[type="checkbox"]:checked + label::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li.selected label > span::after
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox > label
{
	color: #828282;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButton > label::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect.edncf_RadioButtonListMultiselectDropdown .edncf_MultiselectGroup .ms-drop ul > li label > span::before
{
	border-color: #272727;
	border-radius: 50%;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButton input[type="radio"]:checked + label::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect.edncf_RadioButtonListMultiselectDropdown .edncf_MultiselectGroup .ms-drop ul > li.selected label > span::after
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButton > label,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect.edncf_RadioButtonListMultiselectDropdown .edncf_MultiselectGroup .ms-drop ul > li label > span
{
	color: #828282;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input
{
	border-color: #272727;
	border-radius: 0px;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text label
{
	color: #828282;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control
{
	border-color: #272727;
	border-radius: 0px;
	background-color: #ffffff;
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon
{
	border-left-color: #272727;
	background-color: #ffffff;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField label
{
	color: #828282;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer > a.edncf_submit
{
	border-color: #272727;
	border-radius: 0px;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer > a.edncf_submit:hover
{
	background-color: #272727;
	border-radius: 0px;
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer > a.edncf_submit::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer > a.edncf_submit:hover::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer > a.edncf_reset
{
	border-color: #dddddd;
	border-radius: 0px;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer > a.edncf_reset:hover
{
	border-color: #272727;
	border-radius: 0px;
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_searchInProgressOverlay::after
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover a.ednSbl_item
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_letter
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search span.ednSbl_item
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item
{
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search .ednSbl_item .ednSbl_count
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_count
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-toolbar,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .month_selection td,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-bg .fc-day,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc th.fc-week-number,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc td.fc-week-number,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.week_days,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-widget-header,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-widget-content,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-week .fc-bg td.fc-week-number,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table td.day > a::after,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table td.day > span::after
{
	border-color: #272727 !important;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .month_selection td
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .edn_styledSelect > span
{
	background-color: #ffffff;
	border-color: #272727;
	border-radius: 0px;
	box-shadow: none;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .edn_styledSelect > span::after
{
	border-left-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .edn_styledSelect > span select
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .edn_styledSelect > span::after 
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table .month_selection
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table .month_selection td.next_prev_months a::before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table .month_selection td.next_prev_months a:hover::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table .month_selection td.next_prev_months a
{
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table .month_selection td.next_prev_months a:hover
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table .month_selection td
{
	color: #272727;
	font-size: 25px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.week_days,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc .fc-day-header,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc .fc-day-header
{
	background-color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.week_days,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc .fc-day-header span,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc .fc-day-header a
{
	color: #727272;
	font-size: 15px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-widget-header th.fc-week-number span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc td.fc-week-number a
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day > span,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc td.fc-day-top a
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.other_month,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.other_month > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.other_month > span,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-bg .fc-other-month
{
	background-color: #e1e1e1;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts > a
{
	color: #272727;
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts > a:hover
{
	color: #ffffff;
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-red > a
{
	color: #db313c;
	border-color: #db313c;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-red > a:hover
{
	background-color: #db313c;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-blue > a
{
	color: #37cbcb;
	border-color: #37cbcb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-blue > a:hover
{
	background-color: #37cbcb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-black > a
{
	color: #000;
	border-color: #000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-black > a:hover
{
	background-color: #000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-green > a
{
	color: #8de171;
	border-color: #8de171;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-green > a:hover
{
	background-color: #8de171;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-yellow > a
{
	color: #f6c606;
	border-color: #f6c606;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-yellow > a:hover
{
	background-color: #f6c606;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-pink > a
{
	color: #ffc0cb;
	border-color: #ffc0cb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-pink > a:hover
{
	background-color: #ffc0cb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-gray > a
{
	color: #808080;
	border-color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-gray > a:hover
{
	background-color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-orange > a
{
	color: #ff6a00;
	border-color: #ff6a00;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-orange > a:hover
{
	background-color: #ff6a00;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-brown > a
{
	color: #e49908;
	border-color: #e49908;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-brown > a:hover
{
	background-color: #e49908;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events > a
{
	color: #FFA100;
	border-color: #FFA100;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events > a:hover
{
	color: #ffffff;
	background-color: #FFA100;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-red > a
{
	color: #db313c;
	border-color: #db313c;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-red > a:hover
{
	background-color: #db313c;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-blue > a
{
	color: #37cbcb;
	border-color: #37cbcb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-blue > a:hover
{
	background-color: #37cbcb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-black > a
{
	color: #000000;
	border-color: #000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-black > a:hover
{
	background-color: #000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-green > a
{
	color: #8de171;
	border-color: #8de171;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-green > a:hover
{
	background-color: #8de171;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-yellow > a
{
	color: #f6c606;
	border-color: #f6c606;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-yellow > a:hover
{
	background-color: #f6c606;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-pink > a
{
	color: #ffc0cb;
	border-color: #ffc0cb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-pink > a:hover
{
	background-color: #ffc0cb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-gray > a
{
	color: #808080;
	border-color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-gray > a:hover
{
	background-color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-orange > a
{
	color: #ff6a00;
	border-color: #ff6a00;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-orange > a:hover
{
	background-color: #ff6a00;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-brown > a
{
	color: #e49908;
	border-color: #e49908;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-brown > a:hover
{
	background-color: #e49908;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .calendar_table td.day.today::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-unthemed .fc-bg td.fc-today::before
{
	border-top-width: 3px;
	border-top-color: #dddddd;
	border-right-width: 1px;
	border-right-color: #dddddd;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
	border-left-width: 1px;
	border-left-color: #dddddd;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .top_calendar_actions > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-button
{
	border-color: #dddddd;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .top_calendar_actions > a:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-button:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-button.fc-state-hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-button.fc-state-down,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-button.fc-state-active
{
	border-color: #272727;
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .top_calendar_actions > a
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table .month_selection td.next_prev_months a::before
{
	line-height: 100px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table .month_selection td.next_prev_months a:hover::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table .month_selection td.next_prev_months a:hover
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table .month_selection td
{
	font-size: 50px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-event
{
	background-color: transparent;
	border-color: #272727;
	color: #6d6d6d;
	font-size: 11px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-event:hover
{
	background-color: transparent;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-event.has_events
{
	background-color: transparent;
	border-color: #FFA100;
	color: #6d6d6d;
	font-size: 11px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-event.has_events:hover
{
	background-color: transparent;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-toolbar h2
{
	color: #272727;
	font-size: 50px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-prev-button::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-next-button::before
{
	color: #272727;
	line-height: 50px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-prev-button:hover::before,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-next-button:hover::before
{
	color: #ffffff;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-prev-button,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-next-button
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-prev-button:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-next-button:hover
{
	background-color: #272727;
	border-color: #272727;
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-today-button
{
	border-radius: 0px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-today-button:hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-today-button.fc-state-hover,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-today-button.fc-state-down,
.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .fc-today-button.fc-state-active
{
	border-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-slats .fc-widget-content
{
	border-top-color: #dddddd !important;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-time-grid .fc-slats .fc-minor td
{
	border-top-color: #dddddd !important;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-slats .fc-time.fc-widget-content
{
	border-top-color: #dddddd !important;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-time-grid .fc-slats .fc-minor .fc-time
{
	border-top-color: #dddddd !important;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-unthemed .fc-divider
{
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-heading .fc-widget-header
{
	border-top-width: 1px !important;
	border-top-style: solid !important;
	border-top-color: #dddddd !important;
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	border-bottom-color: #dddddd !important;
	background-color: transparent;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.has_posts .fc-event-dot
{
	background-color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.has_events .fc-event-dot
{
	background-color: #ff6a00;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-red .fc-event-dot
{
	background-color: #db313c;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-blue .fc-event-dot
{
	background-color: #37cbcb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-black .fc-event-dot
{
	background-color: #000000;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-green .fc-event-dot
{
	background-color: #8de171;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-yellow .fc-event-dot
{
	background-color: #f6c606;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-pink .fc-event-dot
{
	background-color: #ffc0cb;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-gray .fc-event-dot
{
	background-color: #808080;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-orange .fc-event-dot
{
	background-color: #ff6a00;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item.EDNcategorycolor-brown .fc-event-dot
{
	background-color: #e49908;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item td a
{
	color: #504e4e;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-item td a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark .fc-list-table .fc-list-item td
{
	border-bottom-color: #dddddd !important;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .edn_module_title
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list
{
	border-top-color: #dcdcdc;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li a.edn_archiveLink
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li a.edn_archiveLink:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li.opened > div .edn_archiveLink
{
	color: #6d6d6d;
	font-weight: bold;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li.active > div .edn_archiveLink
{
	color: #000000;
	font-weight: bold;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li > div
{
	border-bottom-color: #dddddd;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul > li .expand_collapse:before
{
	font-size: 15px;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li > div:hover .expand_collapse:before
{
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list ul li a.edn_archiveLink > span
{
	border-color: #272727;
	border-radius: 0px;
	text-shadow: none;
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events .edn_module_title
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events .edn_module_title > a.export:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events .edn_module_title > a.rss:before
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events ul li > a
{
	font-family: "Coda";
	color: #6d6d6d;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events ul li > a:hover
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events ul li a span
{
	color: #272727;
}

.eds_news_Nova.eds_style_predefined_mine_shaft_dark.eds_subCollection_calendar .archive_list.events ul li::before
{
	color: #272727;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark
{
	background-color: #272727;
	border-width: 3px;
	border-style: solid;
	border-color: #272727;
	border-radius: 0px;
	box-shadow: none;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content div.title span,
.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content div.title span a
{
	color: #ffffff;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content div.title span a:hover
{
	color: #000000;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > p.title a
{
	color: #000000;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > p.title a:hover
{
	color: #ffffff;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > p.title
{
	color: #000000;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article_list > li > a
{
	color: #ffffff;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article_list > li > a:hover
{
	color: #000000;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article_list > li
{
	color: #ffffff;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article_list > li > p
{
	color: #000000;
	font-size: 11px;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > .content
{
	color: #ffffff;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article img
{
	border-radius: 0px;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > a
{
	background-color: #ffffff;
	color: #272727;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > a:hover
{
	background-color: #272727;
	color: #ffffff;
}

.qtip.edn_calendarbox_Nova.mine_shaft_dark .qtip-content .wrapper > .article > p.location:before
{
	color: #000000;
}

