/* latin-ext */
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(//fonts.gstatic.com/s/sanchez/v5/Ycm2sZJORluHnXbIfmdR_SwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(//fonts.gstatic.com/s/sanchez/v5/Ycm2sZJORluHnXbIfmlR_Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(//fonts.gstatic.com/s/sanchez/v5/Ycm2sZJORluHnXbIfmlR_Q.woff2) format('woff2');
}

@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(//fonts.gstatic.com/s/sanchez/v5/Ycm2sZJORluHnXbIfmlR-w.woff) format('woff');
}



.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news a
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listCatalogDefault .child_categories .EDN_catalog-item a
{
	font-family: "Sanchez";
	color: #505050;
	font-size: 18px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listCatalogDefault .child_categories .EDN_catalog-item a:hover
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news h3
{
	font-family: "Sanchez";
	color: #4e4d49;
	font-size: 18px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news
{
	font-family: "Arial";
	color: #4e4d49;
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timeLineTime
{
	text-transform: uppercase;
	font-family: "Sanchez";
	color: #e10202;
	font-size: 17px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticle2 .eds_timeLineThumbnail .eds_timeLineTime
{
	text-transform: uppercase;
	font-family: "Sanchez";
	color: #e10202;
	font-size: 13px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	color: #505050;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	font-size: 40px;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timelineEventLocation,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail .eds_timelineEventLocation
{
	background-image: url("../images/timeLineLocationIcon/predefined/timelineLocationGrey.png");
	background-position: 0px 1px;
	font-family: "Sanchez";
	color: #888;
	font-size: 17px;
	font-weight: 300;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail:after,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail:after
{
	background-image: url("../images/timeLineGuideline/predefined/timeLine.png");
	background-repeat: repeat-y;
	background-position: 50% 0%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle
{
	background-color: #f6f4f0;
	border-width: 1px;
	border-style: solid;
	border-color: #bab8b4;
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.07);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle > h2 a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle > h2 a
{
	color: #505050;
	font-size: 19px;
	line-height: 1;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle > h2 a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle > h2 a:hover
{
	text-decoration: none;
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .EDN_article_content,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .EDN_article_content
{
	font-family: "Arial";
	color: #7a7a7a;
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle > div,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle > div
{
	border-top-color: #d9d9d9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineExportCalendar,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineExportCalendar
{
	background-image: url("../images/timeLineExportEvent/predefined/timelineExportCalendarGrey.png");
	background-position: 50% 50%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration > span
{
	background-image: url("../images/timeLineEventTime/predefined/timelineTimeGrey.png");
	background-position: 0% 50%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration
{
	text-transform: lowercase;
	text-shadow: 0px 1px 0px #fff;
	font-family: "Arial";
	color: #bababa;
	font-size: 13px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar-box a
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Arial";
	color: #474747;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar-box a:hover
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar-box.EDN_activeclass a
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleBoxInline .EDN_article-content > h2 a
{
	text-shadow: none;
	font-family: "Sanchez";
	color: #4E4D49;
	font-size: 17px;
	line-height: 1px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleBoxInline .EDN_article-content > h2 a:hover
{
	color: #E10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_module_box .rss
{
	background-image: url("../images/rssIcon/predefined/rss-icon-big.png");
	background-position: 0px 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_module_box .rss:hover
{
	background-position: 0px -30px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .expand_collapse
{
	background-image: url("../images/categoryMenuExpandCollapse/predefined/expand-collapse.png");
	background-position: 4px 4px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .expand_collapse.collapse
{
	background-position: 4px -54px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .edn_rss
{
	background-image: url("../images/categoryMenuRSS/predefined/rss-icon-small.png");
	background-position: 0px 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .edn_rss:hover
{
	background-position: 0px -56px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_category-info > h1
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b3b3b2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b3b3b2;
	background-color: #c1bfb9;
	background-image: url("../images/categoryInfo/categoryTitle/background/predefined/sand.png");
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 24px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .child_categories .EDN_catalog-item a img
{
	border-width: 1px;
	border-style: solid;
	border-color: #e0deda;
	background-color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .child_categories .EDN_catalog-item a:hover img
{
	border-color: #bab8b4;
	background-color: #eeeeee;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi .featuredImageContainer .EDN_intro > h2 a
{
	font-family: "Sanchez";
	color: #ffffff;
	font-size: 30px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi .featuredImageContainer .EDN_intro > h2 a:hover
{
	text-decoration: underline;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi .featuredImageContainer .EDN_intro
{
	background-color: rgba(0, 0, 0, 0.45);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date
{
	background-color: rgba(0, 0, 0, 0.45);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date span
{
	font-family: "Sanchez";
	color: #ffffff;
	font-size: 14px;
	line-height: 1.4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date span.EDN_publish-day
{
	font-size: 28px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_title-container,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_title-container:after,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_clear.EDN_separator,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .child_categories + span:before
{
	border-color: #bab8b4;
	background-color: #efede8;
	background-image: url("../images/articleTitle/background/predefined/sand.png");
	background-repeat: repeat;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_title-container > h2 a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi.EDN_no_image .EDN_intro h2 a
{
	text-decoration: none;
	font-family: "Sanchez";
	color: #606060;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_title-container > h2 a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_featured-multi.EDN_no_image .EDN_intro h2 a:hover
{
	text-decoration: none;
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_detailsArticleDefault .EDN_article .EDN_title-container > h1,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_detailsArticleDefaultAccordion .EDN_article .EDN_title-container > h1,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_detailsArticleDefaultWithTabs .EDN_article .EDN_title-container > h1,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_detailsCatalogDefault .EDN_article .EDN_title-container > h1
{
	font-family: "Sanchez";
	color: #606060;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_mediaContainer.EDN_video .EDN_article-date
{
	background-color: rgba(0, 0, 0, 0.45);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_mediaContainer.EDN_video .EDN_article-date span
{
	font-family: "Sanchez";
	color: #ffffff;
	font-size: 14px;
	line-height: 1.4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_mediaContainer.EDN_video .EDN_article-date span.EDN_publish-day
{
	font-size: 28px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_articleBoxInline
{
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.07);
	border-width: 1px;
	border-style: solid;
	border-color: #BAB8B4;
	background-color: #F6F4F0;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_image-container a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a img
{
	border-width: 1px;
	border-style: solid;
	border-color: #e0deda;
	background-color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_image-container a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a:hover img
{
	border-color: #bab8b4;
	background-color: #eeeeee;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .eds_timeLineThumbnail > a
{
	border-width: 1px;
	border-style: solid;
	border-color: #bab8b4;
	box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.07);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_articleBoxInline .EDN_article-content .EDN_inLineArticleDetails
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bab8b4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bab8b4;
	background-color: #efede8;
	background-image: url("../images/articleBoxDateAndComments/background/predefined/sand.png");
	background-repeat: repeat;
	background-position: 0% 0%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_articleBoxInline .EDN_article-content .EDN_inLineArticleDetails > span
{
	color: #323232;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleBoxInline .EDN_article-content .EDN_inLineArticleRatingViews > div
{
	color: #bfbfbf;
	line-height: 18px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleBoxInline .EDN_article-content .EDN_inLineArticleRatingViews .EDN_numberOfViews
{
	color: #bfbfbf;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_sidebar-box a img
{
	border-width: 1px;
	border-style: solid;
	border-color: #b8b6b1;
	background-color: #e9e8e4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_sidebar-box a:hover img
{
	background-color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_event-location-container
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ebebeb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
	background-color: #fcfbf9;
	text-decoration: none;
	font-family: "Arial";
	color: #4e4d49;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_event-location-container .edn_eventPrice
{
	font-family: "Sanchez";
	font-size: 22px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_event-location-container p.EDN_event-date
{
	background-image: url("../images/eventDetails/eventDateIcon/predefined/EDN_event-date-icon.png");
	background-position: 0px 2px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_event-location-container p.EDN_event-location
{
	background-image: url("../images/eventDetails/eventLocationIcon/predefined/location-icon.png");
	background-position: 0px 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_event-location-container .export-calendar
{
	border-width: 1px;
	border-style: solid;
	border-color: #9f9e99;
	background-color: #b3b1ad;
	background-image: url("../images/eventDetails/exportEvent/background/predefined/export-icon.png");
	background-position: 96% 3px;
	font-family: "Arial";
	color: #ffffff;
	font-size: 10px;
	line-height: 15px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_event-location-container .export-calendar:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_eventRegistrationModalTrigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #313130;
	background-color: #4a4a4a;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_eventRegistrationModalTrigger:hover
{
	background-color: #353535;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_meta-details
{
	border-width: 1px;
	border-style: solid;
	border-color: #dbd9d3;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_meta-details li
{
	font-family: "Arial";
	color: #888888;
	font-size: 12px;
	line-height: 28px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_meta-details li.EDN_publish-date
{
	background-image: url("../images/metaDetails/dateIcon/predefined/EDN_publish-date-icon.png");
	background-position: 7px 50%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_meta-details li.EDN_publish-date,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .EDN_meta-details li > span
{
	color: #ffffff;
	background-color: #cac8c3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edsTabulator > ul .edsTabulator_tabTrigger
{
	color: #25282A;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edsTabulator > ul .edsTabulator_tabTrigger:hover
{
	color: #C54823;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edsTabulator > ul .edsTabulator_tabTrigger.edsTabulator_active
{
	color: #fff;
	background-color: #8c0101;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edsAccordion .edsAccordion_section .edsAccordion_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bab8b4;
	background-image: url("../images/edsAccordion/expandableHead/background/predefined/accArrow.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edsAccordion .edsAccordion_section .edsAccordion_title:hover
{
	color: #E10202 !important;
	background-image: url("../images/edsAccordion/expandableHead/background/predefined/accArrowHoverGrey.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edsAccordion .edsAccordion_section.edsAccordion_active .edsAccordion_title
{
	color: #E10202 !important;
	background-image: url("../images/edsAccordion/expandableHead/background/predefined/accArrowActiveGrey.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a .EDN_six_articles_title
{
	color: #4e4d49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a:hover .EDN_six_articles_title
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a .EDN_six_articles_summary
{
	color: #4e4d49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a:hover .EDN_six_articles_summary
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a img
{
	border-width: 1px;
	border-style: solid;
	border-color: #e0deda;
	background-color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_multiarticle-six-articles > div .EDN_image-container a:hover img
{
	border-color: #bab8b4;
	background-color: #eeeeee;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #e0e0e0;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a.active,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination table span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading > button.trigger
{
	border-color: #b1b0ab;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a.active,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: #cac8c3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a.active,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination table span
{
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay > span
{
	font-family: "Arial";
	color: #bababa;
	font-size: 12px;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a.active:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger:hover > span.actionTextContainer span
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager a.active,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pagination table span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay > span
{
	text-shadow: 1px 1px 1px rgba(57, 90, 2, 0.2);
	color: #ffffff;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: ;
	background-image: url("../images/pagination/loadingImage/predefined/loadingArticles.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavImage:after
{
	border-radius: 4px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavTitle
{
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article_rss_wrapper a
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9f9e99;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9f9e99;
	background-color: #b3b1ad;
	background-image: url("../images/rssLink/background/predefined/rss-icon.png");
	background-position: 6px 6px;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article_rss_wrapper a:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .in_article_image
{
	border-width: 1px;
	border-style: solid;
	border-color: #aeaca6;
	background-color: #e9e8e4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .in_article_image .image_title
{
	font-family: "Sanchez";
	color: #e10202;
	font-size: 16px;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .in_article_image .image_description
{
	color: #474747;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments > ul
{
	border-width: 1px;
	border-style: solid;
	border-color: #dbd9d3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments
{
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments > ul li a
{
	font-family: "Arial";
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments > ul li a:hover
{
	text-shadow: none;
	text-decoration: underline;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments > ul li .edn_listDescription
{
	font-family: "Arial";
	font-size: 12px;
	line-height: 1.5;
	font-style: italic;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments ul li .edn_docDetails
{
	color: #969696;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments ul li .edn_docExtension
{
	font-style: italic;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments ul li .edn_docFileSize
{
	color: #4E4D49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleDocuments > h2
{
	background-color: #f7f4ef;
	background-image: url("../images/documentsToDownload/boxTitle/background/predefined/sand.png");
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
	color: #807d73;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks > ul
{
	border-width: 1px;
	border-style: solid;
	border-color: #dbd9d3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks
{
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks > ul li a
{
	font-family: "Arial";
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks > ul li a:hover
{
	text-shadow: none;
	text-decoration: underline;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks > ul li .edn_listDescription
{
	font-family: "Arial";
	font-size: 12px;
	line-height: 1.5;
	font-style: italic;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks > ul li
{
	background-image: url("../images/moreLinks/listBullet/predefined/links-bullet.png");
	background-position: 0px 2px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_articleLinks > h2
{
	background-color: #f7f4ef;
	background-image: url("../images/moreLinks/boxTitle/background/predefined/sand.png");
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
	color: #807d73;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles > ul
{
	border-width: 1px;
	border-style: solid;
	border-color: #dbd9d3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles
{
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles > ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #4e4d49;
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles > ul li a:hover
{
	text-shadow: none;
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles > ul li
{
	background-image: url("../images/relatedArticles/listBullet/predefined/links-bullet.png");
	background-position: 0px 2px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article .EDN_article-content .edn_relatedArticles > h2
{
	background-color: #f7f4ef;
	background-image: url("../images/relatedArticles/boxTitle/background/predefined/sand.png");
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
	color: #807d73;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_listOfAttendants
{
	border-width: 1px;
	border-style: solid;
	border-color: #dbd9d3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_listOfAttendants > table tr.edn_listOfAttendantsHeader:first-child
{
	background-color: #f7f4ef;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_listOfAttendants > table tr:first-child th
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbd9d3;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(even)
{
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(odd)
{
	background-color: #F7F4F0;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .edn_listOfAttendants > table tr td
{
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags
{
	border-width: 1px;
	border-style: solid;
	border-color: #dbd9d3;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_categories strong
{
	font-family: "Arial";
	color: #888888;
	font-size: 12px;
	line-height: 21px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_categories a
{
	background-color: #cac8c3;
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	line-height: 21px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_categories a:hover
{
	background-color: #bebdb9;
	color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_tags strong
{
	font-family: "Arial";
	color: #888888;
	font-size: 12px;
	line-height: 21px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_tags a
{
	background-color: #cac8c3;
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	line-height: 21px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_tags a:hover
{
	background-color: #bebdb9;
	color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_rating
{
	font-family: "Arial";
	color: #888888;
	font-size: 12px;
	line-height: 18px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news div.EDN_article_rateit div
{
	background-image: url("../images/categoriesTagsRating/rating/ratingStars/predefined/rate_stars.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details
{
	background-color: #cccac4;
	background-image: url("../images/authorBox/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details h4
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details p,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .other-posty-by a
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .EDN_connect-with
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d9d8d3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details img
{
	border-width: 1px;
	border-style: solid;
	border-color: #afada7;
	background-color: #e9e8e4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button.author_rss
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9f9e99;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9f9e99;
	background-color: #b3b1ad;
	background-image: url("../images/authorBox/authorRss/background/predefined/rss-icon-small.png");
	background-position: 6px 4px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button.author_rss:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button.social
{
	background-color: #b4b2ac;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button.social:hover
{
	background-color: #c0beb7;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button
{
	text-decoration: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button:hover
{
	text-decoration: underline;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button.contact
{
	background-image: url("../images/authorBox/contactAndBiographyLink/icons/predefined/contact-biography-icon.png");
	background-position: 0px 2px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details .button.full_bio
{
	background-image: url("../images/authorBox/contactAndBiographyLink/icons/predefined/contact-biography-icon.png");
	background-position: 0px -87px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup
{
	background-color: #cccac4;
	background-image: url("../images/groupBox/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup h4
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup p,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .other-posty-by a
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .EDN_connect-with
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d9d8d3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup img
{
	border-width: 1px;
	border-style: solid;
	border-color: #afada7;
	background-color: #e9e8e4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button.author_rss
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9f9e99;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9f9e99;
	background-color: #b3b1ad;
	background-image: url("../images/groupBox/groupRss/background/predefined/rss-icon-small.png");
	background-position: 6px 4px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button.author_rss:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button.social
{
	background-color: #b4b2ac;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button.social:hover
{
	background-color: #c0beb7;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button
{
	text-decoration: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button:hover
{
	text-decoration: underline;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .EDN_author-details.EDN_AuthorGroup .button.contact
{
	background-image: url("../images/groupBox/contactLink/icon/predefined/contact-biography-icon.png");
	background-position: 0px 2px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_cf_all_fields_container
{
	background-color: #cccac4;
	background-image: url("../images/customFields/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_cf_all_fields_container > table tr td
{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_icon
{
	background-color: #9c9b97;
	box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 0px 6px 0px rgba(0, 0, 0, 0.24);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_icon:after
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	color: #888888;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_checked .EDN_cf_checkbox_icon:after
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments
{
	background-color: #dfddd9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .votes span
{
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .END_comment_details .EDN_author
{
	color: #919191;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .END_comment_details .EDN_date_time
{
	font-size: 11px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .EDN_content_container .EDN_comment-content,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .EDN_content_container .EDN_comment-content:after
{
	border-top-color: #c8c7c5;
	border-right-color: #fbfafa;
	border-bottom-color: #fbfafa;
	border-left-color: #c8c7c5;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .EDN_content_container .EDN_comment-content
{
	color: #4e4d49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .actions a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .edit_comment .actions a span
{
	background-color: #aaa8a3;
	color: #ffffff;
	font-size: 10px;
	line-height: 20px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .actions a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .edit_comment .actions a:hover span
{
	background-color: #b9b7b2;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .num_of_comment
{
	background-color: #c5c3bd;
	background-image: url("../images/comments/numberOfComments/background/predefined/sand.png");
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.left
{
	font-family: "Arial";
	color: #8a8985;
	font-size: 14px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment > h3
{
	background-color: #f2f0eb;
	background-image: url("../images/comments/commentForm/title/background/predefined/sand.png");
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
	font-family: "Sanchez";
	color: #807d73;
	font-size: 22px;
	line-height: 25px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right textarea,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .edit_comment textarea
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c8c7c5;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #fcfbf9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fcfbf9;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c8c7c5;
	background-color: #fcfbf9;
	font-family: "Arial";
	color: #4e4d49;
	font-size: 14px;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right input.text:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right textarea:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .edit_comment textarea:hover
{
	border-color: #cdccc7;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right input.text:focus,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right textarea:focus,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .edit_comment textarea:focus
{
	border-color: #cdccc7;
	background-color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right .submit
{
	border-width: 1px;
	border-style: solid;
	border-color: #313130;
	background-color: #4a4a4a;
	box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8),inset 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right .submit:hover
{
	background-color: #353535;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_tagCloud .edn_module_title
{
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b2;
	background-color: #c1bfb9;
	background-image: url("../images/tagCloudModuleTitle/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_tagCloud .edn_module_title span
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 21px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_tagCloud .tags a
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9f9e99;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9f9e99;
	background-color: #b6b4b0;
	text-transform: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_tagCloud .tags a:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_tagCloud .tags a .tag-count
{
	border-width: 1px;
	border-style: solid;
	border-color: #dddfe0;
	background-color: #ffffff;
	font-family: "Arial";
	color: #e10202;
	font-size: 11px;
	line-height: 15px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_module_title
{
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b2;
	background-color: #c1bfb9;
	background-image: url("../images/categoryMenuModuleTitle/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_module_title span
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 21px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .edn_image
{
	border-width: 1px;
	border-style: solid;
	border-color: #b8b6b1;
	background-color: #e9e8e4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .edn_image:hover
{
	border-color: #acaaa4;
	background-color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category > span
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9f9e99;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9f9e99;
	background-color: #b6b4b0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category:hover > span
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category
{
	font-family: "Arial";
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.level_0 > div .category
{
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
	color: #474747;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.level_0 > div .category:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.level_0.opened > div .category:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.level_0.hasChild:hover > div .category
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.level_0.opened > div > a.category
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #000000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.level_0.active > div > a.category
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.hasChild:hover > div .category
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.opened > div > a.category
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #000000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.active > div > a.category
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .search_input > .input input[type="text"]
{
	border-width: 1px;
	border-style: solid;
	border-color: #bdbbb5;
	background-color: #f2f0ec;
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	font-family: "Sanchez";
	color: #908b82;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .search_input > .input input[type="text"]:hover
{
	border-color: #cdccc7;
	background-color: #edebe5;
	box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .search_input > .input input[type="text"]:focus
{
	border-color: #cdccc7;
	background-color: #fbf9f4;
	box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .search_input .do_search
{
	border-width: 1px;
	border-style: solid;
	border-color: #313130;
	background-color: #4a4a4a;
	background-image: url("../images/searchSubmit/background/predefined/search-icon.png");
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .search_input .do_search:hover
{
	background-color: #353535;
}

.EDN_search.theme_Firefly.grey
{
	background-color: #ffffff;
	border-color: #e0deda;
}

.EDN_search.theme_Firefly.grey ul li span a
{
	color: #4e4d49;
}

.EDN_search.theme_Firefly.grey ul li span a:hover
{
	color: #e10202;
}

.EDN_search.theme_Firefly.grey .acSelect
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e1e1e1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e1e1e1;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonListName,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList .edncf_CheckBoxListName,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput label > span
{
	font-family: "Arial";
	color: #474747;
	font-size: 14px;
	line-height: 2;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList label > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList label > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text label > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField label > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span
{
	font-family: "Arial";
	color: #474747;
	font-size: 14px;
	line-height: 1.5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title
{
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b2;
	background-color: #c1bfb9;
	background-image: url("../images/tagCloudModuleTitle/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title span
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 21px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]
{
	border-width: 1px;
	border-style: solid;
	border-color: #bdbbb5;
	background-color: #f2f0ec;
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	font-family: "Arial";
	color: #908b82;
	font-size: 14px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:before,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > div
{
	border-width: 1px;
	border-style: solid;
	border-color: #bdbbb5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice
{
	background-color: #f2f0ec;
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > span
{
	font-family: "Arial";
	color: #908b82;
	font-size: 14px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:before,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > div:before
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label:before,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span:before
{
	background-color: #fcfbf9;
	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox input[type="checkbox"]:checked + label:before,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li.selected label > span:before
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton label:before
{
	background-color: #b5b3af;
	color: #f1efeb;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton input[type="radio"]:checked + label:before
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line
{
	background-color: #c3c1bc;
	box-shadow: inset 0px 5px 8px -5px rgba(0, 0, 0, 0.4);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-diapason
{
	background-color: #e10202;
	box-shadow: inset 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-single
{
	font-family: "Arial";
	color: #e10202;
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-min,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-max
{
	font-family: "Arial";
	color: #787878;
	font-size: 10px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-slider
{
	background-color: #f1f1f1;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ffffff;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35),inset 1px -14px 7px -8px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control
{
	border-color: #bdbbb5;
	background-color: #f2f0ec;
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	font-family: "Arial";
	color: #908b82;
	font-size: 14px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon
{
	border-color: #bdbbb5;
	background-color: #f2f0ec;
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon .glyphicon
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit
{
	border-width: 1px;
	border-style: solid;
	border-color: #313130;
	background-color: #4a4a4a;
	background-image: url("../images/advancedSearch/searchSubmit/background/predefined/search-icon.png");
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover
{
	background-color: #353535;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset
{
	border-width: 1px;
	border-style: solid;
	border-color: #313130;
	background-color: #4a4a4a;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3),inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset:hover
{
	background-color: #353535;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_letter
{
	background-color: #e4e4e4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search span.ednSbl_item
{
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search .ednSbl_item .ednSbl_count
{
	color: #363636;
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_count
{
	border-radius: 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection
{
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b2;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td
{
	background-color: #c1bfb9;
	background-image: url("../images/calendar/monthBackground/predefined/sand.png");
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 21px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td.next_prev_months a
{
	background-image: url("../images/calendar/monthSelectionArrows/predefined/next_prev_months-bg.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .edn_styledSelect > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .edn_styledSelect > span::before
{
	border-width: 1px;
	border-style: solid;
	border-color: #bdbbb5;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .edn_styledSelect > span
{
	background-color: #f2f0ec;
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .edn_styledSelect > span select
{
	font-family: "Arial";
	color: #908b82;
	font-size: 14px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .edn_styledSelect > span::before
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .week_days
{
	background-color: #b6b5b0 !important;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdbd8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdbd8;
	box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3),inset 0px -5px 5px -5px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 1px rgba(109, 109, 109, 0.1);
	font-family: "Arial";
	color: #ffffff;
	font-size: 11px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day > a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day > span
{
	background-color: #e0dfdc;
	background-repeat: no-repeat;
	font-family: "Arial";
	color: #50504f;
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day > a:hover
{
	background-color: #f2f1ee !important;
	background-repeat: no-repeat;
	color: #50504f !important;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.today > a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.today > span
{
	background-color: #c9c7c2 !important;
	background-repeat: no-repeat;
	text-shadow: 1px 1px 1px rgba(57, 90, 2, 0.2) !important;
	color: #ffffff !important;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.selected > a
{
	background-color: #f2f1ee !important;
	background-repeat: no-repeat;
	color: #50504f !important;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-red > a
{
	background-color: #ff0000;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-blue > a
{
	background-color: #0000ff;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-black > a
{
	background-color: #000;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-green > a
{
	background-color: #008000;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-yellow > a
{
	background-color: #ffff00;
	color: #50504f;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-pink > a
{
	background-color: #ffc0cb;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-gray > a
{
	background-color: #808080;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-orange > a
{
	background-color: #ffa500;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-brown > a
{
	background-color: #a52a2a;
	color: #fff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_posts > a
{
	background-image: url("../images/calendar/days/indicators/predefined/day-has_posts.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_posts.has_events > a
{
	background-image: url("../images/calendar/days/indicators/predefined/day-has_posts_has_events.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_events > a
{
	background-image: url("../images/calendar/days/indicators/predefined/day-has_events.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.other_month > a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container .calendar_table .day.other_month > span
{
	color: #b1b0ae;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a
{
	background-color: #fcfbf9;
	border-color: #e10202;
	font-family: "Arial";
	color: #888888;
	font-size: 10px;
	line-height: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-red
{
	border-color: #ff0000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-black
{
	border-color: #000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-green
{
	border-color: #008000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a:hover
{
	color: #4e4d49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a
{
	background-color: #fcfbf9;
	border-color: #ff8400;
	font-family: "Arial";
	color: #888888;
	font-size: 10px;
	line-height: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-red
{
	border-color: #ff0000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-black
{
	border-color: #000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-green
{
	border-color: #008000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a:hover
{
	color: #4e4d49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .top_calendar_actions a
{
	border-width: 1px;
	border-style: solid;
	border-color: #9f9e99;
	background-color: #b3b1ad;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .top_calendar_actions a:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .top_calendar_actions a span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 10px;
	line-height: 15px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .top_calendar_actions a.icalendar_export
{
	background-image: url("../images/calendar/topCalendarActions/icalendarExportIcon/predefined/export-icon.png");
	background-position: 96% 4px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li .expand_collapse
{
	background-image: url("../images/archive/archiveMenuExpandCollapse/predefined/expand-collapse.png");
	background-position: 4px 4px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li .expand_collapse.collapse
{
	background-position: 4px -54px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_title
{
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b2;
	background-color: #c1bfb9;
	background-image: url("../images/archive/moduleTitle/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_title span
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 21px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div > a > span
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9f9e99;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9f9e99;
	background-color: #b6b4b0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div > a:hover > span
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div > a
{
	font-family: "Arial";
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
	color: #474747;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div > a:hover
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.opened > div > a.edn_archive-year
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #000000;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > a.edn_archive-year
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li ul li div > a
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #ffffff;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li ul li div > a:hover
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > a.edn_archive-month
{
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events > ul li a
{
	font-family: "Arial";
	color: #474747;
	font-size: 12px;
	line-height: 15px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events > ul li a:hover
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events > ul li a span
{
	font-family: "Arial";
	color: #858181;
	font-size: 12px;
	background-color: #dfddd9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .rss
{
	background-image: url("../images/events/rssIcon/predefined/rss-icon-big.png");
	background-position: 0px 0px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list .rss:hover
{
	background-position: 0px -30px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events .edn_module_title
{
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b2;
	background-color: #c1bfb9;
	background-image: url("../images/events/moduleTitle/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events .edn_module_title span
{
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	font-family: "Sanchez";
	color: #505050;
	font-size: 21px;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events .export
{
	border-width: 1px;
	border-style: solid;
	border-color: #9f9e99;
	background-color: #b3b1ad;
	background-image: url("../images/events/iCalendarExport/background/predefined/export-icon.png");
	background-position: 96% 3px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events .export:hover
{
	background-color: #c9c9c9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_calendar .archive_list.events .edn_module_title .export span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 10px;
	line-height: 15px;
}

.qtip.edn_calendarbox_Firefly.grey
{
	background-color: #faf8f3;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article > p.title a
{
	font-family: "Arial";
	color: #4e4d49;
	font-size: 14px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article > p.title a:hover
{
	text-decoration: underline;
	color: #e10202;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article > p.title
{
	font-family: "Arial";
	color: #4e4d49;
	font-size: 14px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article_list > li > a
{
	font-family: "Arial";
	color: #4e4d49;
	font-size: 12px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article_list > li > a:hover
{
	color: #e10202;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article_list > li
{
	font-family: "Arial";
	color: #4e4d49;
	font-size: 12px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article_list > li > p
{
	font-family: "Arial";
	color: #858181;
	font-size: 11px;
}

.qtip.edn_calendarbox_Firefly.grey .qtip-content > .wrapper > .article > .content
{
	font-family: "Arial";
	color: #4e4d49;
	font-size: 12px;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .title
{
	background-color: #eceae4;
	background-image: url("../images/qtip/date/background/predefined/sand.png");
	background-repeat: repeat;
	background-position: 0% 0%;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .title span,
.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .title span a
{
	font-family: "Sanchez";
	color: #e10202;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .title span a:hover
{
	text-decoration: underline;
	color: #000000;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article img
{
	border-width: 1px;
	border-style: solid;
	border-color: #e1dfda;
	background-color: #ffffff;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article > a
{
	border-width: 1px;
	border-style: solid;
	border-color: #313130;
	background-color: #4a4a4a;
	box-shadow: inset 0px 1px 1px -1px rgba(255, 255, 255, 0.8);
	text-decoration: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
}

.qtip.edn_calendarbox_Firefly.grey > .qtip-content > .wrapper > .article > a:hover
{
	background-color: #353535;
	text-decoration: none;
}

.qtip.edn_calendarbox_Firefly.grey .qtip-content > .wrapper > .article > p.location
{
	background-image: url("../images/qtip/eventLocation/icon/predefined/location-icon.png");
	background-position: 0% 0%;
	font-family: "Arial";
	color: #3b3b3b;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title:after
{
	border-color: #bab8b4;
	background-color: #efede8;
	background-image: url("../images/eventsBoxTitle/background/predefined/sand.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title > span
{
	font-family: "Sanchez";
	color: #606060;
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title .EDN_eventsModuleBoxRSS > span
{
	text-decoration: none;
	color: #E10202;
	font-size: 16px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title .EDN_eventsModuleBoxRSS:hover > span
{
	text-decoration: underline;
	color: #C54823;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover
{
	background-color: #eeebe6;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_eventsModuleBox .edsAccordionEventsBox .edsAccordion_section .edsAccordion_contentWrapper .edsAccordion_content,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a:before,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .article_pager
{
	border-color: #a4a4a4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTitle
{
	color: #25282a;
	font-size: 21px;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTitle
{
	color: #E10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTime
{
	font-family: "Arial";
	color: #6c6c6c;
	font-size: 12px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTime
{
	color: #6c6c6c;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxLocation
{
	background-image: url("../images/eventBox/eventLocationAndTime/icons/location/predefined/location-grey.png");
	background-position: 0px 1px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTime
{
	background-image: url("../images/eventBox/eventLocationAndTime/icons/time/predefined/time-grey.png");
	background-position: 0px 1px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate
{
	font-family: "Sanchez";
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishDay
{
	color: #25282a;
	font-size: 20px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishMonth
{
	text-transform: uppercase;
	color: #E10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishMonth
{
	color: #E10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishYear
{
	font-size: 14px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a
{
	background-color: #b4b4b4;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a:hover,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a:hover
{
	background-color: #E10202;
	box-shadow: 1px 1px 1px 0px #8A8987,0px 0px 8px 2px #fff,0px 0px 0px 5px #C4C3C0,inset 2px 2px 2px 0px rgba(255, 255, 255, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a.active,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a.active
{
	background-color: #E10202;
	box-shadow: 1px 1px 1px 0px #8A8987,0px 0px 8px 2px #fff,0px 0px 0px 5px #C4C3C0,inset 2px 2px 2px 0px rgba(255, 255, 255, 0.2);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #e0e0e0;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper.loading > button.trigger,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper.loading > button.trigger
{
	border-color: #b1b0ab;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: #cac8c3;
	background-color: ;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay > span
{
	font-family: "Arial";
	color: #CAC8C3;
	font-size: 12px;
	line-height: 1;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger:hover > span.actionTextContainer span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger:hover > span.actionTextContainer span
{
	color: #E10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay > span,
.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay > span
{
	text-shadow: 1px 1px 1px rgba(57, 90, 2, 0.2);
	color: #ffffff;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly a.edsgg_galleryBackLink span
{
	border-color: #e0e0e0;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly a.edsgg_galleryBackLink
{
	background-color: #fcfbf9;
	color: #cac8c3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly a.edsgg_galleryBackLink:hover
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly a.edsgg_galleryBackLink:before
{
	background-image: url("../images/gravityGallery/viewInGalleryButton/icon/predefined/photo.png");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger
{
	border-color: #e0e0e0;
	background-color: #fcfbf9;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText span
{
	color: #cac8c3;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText span
{
	color: #e10202;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay
{
	background-color: #d1cfc9;
	background-image: url("../images/gravityGallery/loadMoreMediaButton/loadingOverlay/background/predefined/loadingArticles.gif");
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__loadMediaWrapper.loading .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay > span
{
	color: #fff;
	font-weight: bold;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__itemsListContainer .edsgg__itemContainer
{
	border-top-color: #BABABA;
	border-right-color: #BABABA;
	border-bottom-color: #BABABA;
	border-left-color: #D3D3D3;
	background-color: #fff;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title
{
	color: #e10202;
	font-size: 15px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer > a:hover .edsgg_title
{
	text-decoration: none;
	color: #4E4D49;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description
{
	font-size: 11px;
}

.eds_news_Firefly.eds_style_predefined_grey.eds_subCollection_news .eds_GravityGallery_Firefly .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_image_thumbnail
{
	border-color: #d6d6d6;
	background-color: #fff;
}

