.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_article.edn_eventsSimple > section::before {
  border-left-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_article.edn_eventsSimple > section > div > time::before {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_article.edn_eventsSimple > section:hover {
  background-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #0fa3a3;
  border-color: #0fa3a3;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #0fa3a3;
  border-color: #0fa3a3;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_eventDetails .edn_articleTitle > a {
  color: #008f8f;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_eventDetails .edn_articleTitle > a:hover {
  color: #007b7b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_eventDetails .edn_eventLocation::before {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_mainWrapper::after {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_widgetTitle {
  background-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_navButtons > span {
  border-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_navButtons > span:hover {
  color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_navButtons > span.edn_active {
  background-color: #23b7b7;
  border-color: #23b7b7;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_pagination {
  border-top-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn_pagination > span {
  background: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn__myEvents_button_unregister {
  border-color: #0fa3a3;
  background-color: #37cbcb;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Blue .edn__myEvents_button_unregister:hover {
  color: #0fa3a3;
  background-color: #fff;
}
