.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_article.edn_eventsSimple > section::before {
  border-left-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_article.edn_eventsSimple > section > div > time::before {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_article.edn_eventsSimple > section:hover {
  background-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #bc7100;
  border-color: #bc7100;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #bc7100;
  border-color: #bc7100;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_eventDetails .edn_articleTitle > a {
  color: #a85d00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_eventDetails .edn_articleTitle > a:hover {
  color: #944900;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_eventDetails .edn_eventLocation::before {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_mainWrapper::after {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_widgetTitle {
  background-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_navButtons > span {
  border-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_navButtons > span:hover {
  color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_navButtons > span.edn_active {
  background-color: #d08500;
  border-color: #d08500;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_pagination {
  border-top-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn_pagination > span {
  background: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn__myEvents_button_unregister {
  border-color: #bc7100;
  background-color: #e49908;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Brown .edn__myEvents_button_unregister:hover {
  color: #bc7100;
  background-color: #fff;
}
