.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_article.edn_eventsSimple > section::before {
  border-left-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_article.edn_eventsSimple > section > div > time::before {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_article.edn_eventsSimple > section:hover {
  background-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #4a8e87;
  border-color: #4a8e87;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #4a8e87;
  border-color: #4a8e87;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_eventDetails .edn_articleTitle > a {
  color: #367a73;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_eventDetails .edn_articleTitle > a:hover {
  color: #22665f;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_eventDetails .edn_eventLocation::before {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_mainWrapper::after {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_widgetTitle {
  background-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_navButtons > span {
  border-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_navButtons > span:hover {
  color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_navButtons > span.edn_active {
  background-color: #5ea29b;
  border-color: #5ea29b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_pagination {
  border-top-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn_pagination > span {
  background: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn__myEvents_button_unregister {
  border-color: #4a8e87;
  background-color: #72b6af;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Dark .edn__myEvents_button_unregister:hover {
  color: #4a8e87;
  background-color: #fff;
}
