.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_article.edn_eventsSimple > section::before {
  border-left-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_article.edn_eventsSimple > section > div > time::before {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_article.edn_eventsSimple > section:hover {
  background-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #65b949;
  border-color: #65b949;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #65b949;
  border-color: #65b949;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_eventDetails .edn_articleTitle > a {
  color: #51a535;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_eventDetails .edn_articleTitle > a:hover {
  color: #3d9121;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_eventDetails .edn_eventLocation::before {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_mainWrapper::after {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_widgetTitle {
  background-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_navButtons > span {
  border-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_navButtons > span:hover {
  color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_navButtons > span.edn_active {
  background-color: #79cd5d;
  border-color: #79cd5d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_pagination {
  border-top-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn_pagination > span {
  background: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn__myEvents_button_unregister {
  border-color: #65b949;
  background-color: #8de171;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Green .edn__myEvents_button_unregister:hover {
  color: #65b949;
  background-color: #fff;
}
