.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_article.edn_eventsSimple > section::before {
  border-left-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_article.edn_eventsSimple > section > div > time::before {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_article.edn_eventsSimple > section:hover {
  background-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #d74200;
  border-color: #d74200;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #d74200;
  border-color: #d74200;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_eventDetails .edn_articleTitle > a {
  color: #c32e00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_eventDetails .edn_articleTitle > a:hover {
  color: #af1a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_eventDetails .edn_eventLocation::before {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_mainWrapper::after {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_widgetTitle {
  background-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_navButtons > span {
  border-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_navButtons > span:hover {
  color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_navButtons > span.edn_active {
  background-color: #eb5600;
  border-color: #eb5600;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_pagination {
  border-top-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn_pagination > span {
  background: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn__myEvents_button_unregister {
  border-color: #d74200;
  background-color: #ff6a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Grey .edn__myEvents_button_unregister:hover {
  color: #d74200;
  background-color: #fff;
}
