.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_article.edn_eventsSimple > section::before {
  border-left-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_article.edn_eventsSimple > section > div > time::before {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_article.edn_eventsSimple > section:hover {
  background-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #761143;
  border-color: #761143;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #761143;
  border-color: #761143;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_eventDetails .edn_articleTitle > a {
  color: #62002f;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_eventDetails .edn_articleTitle > a:hover {
  color: #4e001b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_eventDetails .edn_eventLocation::before {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_mainWrapper::after {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_widgetTitle {
  background-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_navButtons > span {
  border-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_navButtons > span:hover {
  color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_navButtons > span.edn_active {
  background-color: #8a2557;
  border-color: #8a2557;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_pagination {
  border-top-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn_pagination > span {
  background: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn__myEvents_button_unregister {
  border-color: #761143;
  background-color: #9e396b;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Purple .edn__myEvents_button_unregister:hover {
  color: #761143;
  background-color: #fff;
}
