.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_article.edn_eventsSimple > section::before {
  border-left-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_article.edn_eventsSimple > section > div > time::before {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_article.edn_eventsSimple > section:hover {
  background-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #b30914;
  border-color: #b30914;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #b30914;
  border-color: #b30914;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_eventDetails .edn_articleTitle > a {
  color: #9f0000;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_eventDetails .edn_articleTitle > a:hover {
  color: darkred;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_eventDetails .edn_eventLocation::before {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_mainWrapper::after {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_widgetTitle {
  background-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_navButtons > span {
  border-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_navButtons > span:hover {
  color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_navButtons > span.edn_active {
  background-color: #c71d28;
  border-color: #c71d28;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_pagination {
  border-top-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn_pagination > span {
  background: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn__myEvents_button_unregister {
  border-color: #b30914;
  background-color: #db313c;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Red-grey .edn__myEvents_button_unregister:hover {
  color: #b30914;
  background-color: #fff;
}
