.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_article.edn_eventsSimple > section::before {
  border-left-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_article.edn_eventsSimple > section > div > time::before {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_article.edn_eventsSimple > section:hover {
  background-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #322a65;
  border-color: #322a65;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #322a65;
  border-color: #322a65;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_eventDetails .edn_articleTitle > a {
  color: #1e1651;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_eventDetails .edn_articleTitle > a:hover {
  color: #0a023d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_eventDetails .edn_eventLocation::before {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_mainWrapper::after {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_widgetTitle {
  background-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_navButtons > span {
  border-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_navButtons > span:hover {
  color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_navButtons > span.edn_active {
  background-color: #463e79;
  border-color: #463e79;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_pagination {
  border-top-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn_pagination > span {
  background: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn__myEvents_button_unregister {
  border-color: #322a65;
  background-color: #5a528d;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Violet .edn__myEvents_button_unregister:hover {
  color: #322a65;
  background-color: #fff;
}
