.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_article.edn_eventsSimple > section::before {
  border-left-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_article.edn_eventsSimple > section > div .edn_articleTitle {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_article.edn_eventsSimple > section > div .edn_eventBoxLocation::before {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_article.edn_eventsSimple > section > div > time::before {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_article.edn_eventsSimple > section:hover {
  background-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_article.edn_eventsSimple > section:hover > time {
  background-color: #ce9e00;
  border-color: #ce9e00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_articleAccordion .edsAccordion_section .edsAccordion_title:hover {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title {
  background-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_articleAccordion.edn_eventsSimple.edsAccordion_section.edsAccordion_active .edsAccordion_title > time {
  background-color: #ce9e00;
  border-color: #ce9e00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_eventDetails .edn_articleTitle > a {
  color: #ba8a00;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_eventDetails .edn_articleTitle > a:hover {
  color: #a67600;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_eventDetails .edn_eventLocation::before {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_mainWrapper {
  position: relative;
  padding-top: 20px;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_mainWrapper::after {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_widgetTitle {
  background-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_navButtons > span {
  border-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_navButtons > span:hover {
  color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_navButtons > span.edn_active {
  background-color: #e2b200;
  border-color: #e2b200;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_pagination {
  border-top-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn_pagination > span {
  background: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn__myEvents_button_unregister {
  border-color: #ce9e00;
  background-color: #f6c606;
}
.eds_news_Ozone.eds_subCollection_myEvents.Ozone_Style_Yellow .edn__myEvents_button_unregister:hover {
  color: #ce9e00;
  background-color: #fff;
}
