﻿<meta property="og:site_name" content="[Portal:PortalName]" />
<meta property="og:title" content="[EasyDNNnews:Title]" />
<meta property="og:description" content="[EasyDNNnews:CleanArticleText:500]" />
<meta property="og:url" content="[EasyDNNnews:CurrentURL]" />
<meta property="og:type" content="article" />
[EasyDNNnews:IfExists:Image]
<meta property="og:image" content="[EasyDNNnews:OriginalArticleImage:AbsoluteUrl]" />
[EasyDNNnews:EndIf:Image]
