/* @import url(https://fonts.googleapis.com/css?family=BenchNine:400,700|Roboto+Slab:400,700&subset=latin,latin-ext) */
/* latin-ext */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/AVs3lMmyGvSpQmMt6DeeRhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/xmB9oJNpSFKa3qTF2JABPltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/AVs3lMmyGvSpQmMt6DeeRltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWRUOjZSKWg4xBWp_C_qQx0o.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zqg5eI2G47JWe0-AuFtD150.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJasA81DAeuqoeYxDcSOJPMY.woff2) format("woff2");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/AVs3lMmyGvSpQmMt6DeeRj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWRa1RVmPjeKy21_GQJaLlJI.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZtIh4imgI8P11RFo6YPCPC0.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYUt79146ZFaIJxILcpzmhI.woff) format("woff");
}
.eds_socialEventsWidget * {
  box-sizing: border-box;
}
.eds_socialEventsWidget .eds_title {
  font-family: "BenchNine", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  line-height: 1;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper {
  border: solid 1px #ebebeb;
  background-color: #fcfcfc;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper + div {
  margin-top: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper > .eds_title {
  font-size: 24px;
  padding: 7px 15px;
  font-weight: normal;
  border-bottom: solid 1px #ebebeb;
  background-color: #EBEBEB;
  color: #25282a;
}
.eds_socialEventsWidget .eds_signUpActionBar {
  padding: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio] {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio]:checked + label {
  color: #fff;
  cursor: default;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio]:checked + label:after {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar label {
  display: inline-block;
  margin: 5px 10px 5px 0;
  background-color: #d5d5d5;
  border: 1px solid #878787;
  min-width: 60px;
  border-radius: 3px;
  color: #555;
  font: normal 15px/1 Arial;
  padding: 6px 9px;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.eds_socialEventsWidget .eds_signUpActionBar label:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  display: inline-block;
  z-index: -1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.eds_socialEventsWidget .eds_signUpActionBar label:hover {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_signUpActionBar label:hover:after {
  opacity: 1;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 label:hover {
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 label:after {
  background-color: #5cb85c;
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 input[type=radio]:checked + label {
  background-color: #5cb85c;
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 label:hover {
  border-color: #8a3431;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 label:after {
  background-color: #d9534f;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 input[type=radio]:checked + label {
  background-color: #d9534f;
  border-color: #8a3431;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 label:hover {
  border-color: #a2773a;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 label:after {
  background-color: #f0ad4e;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 input[type=radio]:checked + label {
  background-color: #f0ad4e;
  border-color: #a2773a;
}
.eds_socialEventsWidget .eds_eventUsersWrapper {
  border: solid 1px #ebebeb;
}
.eds_socialEventsWidget .eds_eventUsersWrapper > .eds_title {
  padding: 10px 15px;
  line-height: 1;
  font-size: 22px;
  font-family: "BenchNine", sans-serif;
  color: #25282a;
  font-weight: normal;
  background-color: #f7f7f7;
  border-bottom: solid 1px #ebebeb;
}
.eds_socialEventsWidget .eds_eventUsers {
  padding: 15px 15px 7px 15px;
}
.eds_socialEventsWidget .eds_eventUsers + .eds_eventUsers {
  border-top: solid 1px #ebebeb;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title {
  color: #25282a;
  font-family: "BenchNine", sans-serif;
  font-size: 17px;
  font-weight: normal;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title > span {
  color: #78a145;
}
.eds_socialEventsWidget .eds_eventUsers > ul {
  margin: 0;
  padding: 7px 0 0 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li {
  list-style-type: none;
  margin: 0 8px 8px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a {
  display: inline-block;
  line-height: 1;
  position: relative;
  font-size: 0;
  line-height: 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover {
  text-decoration: none;
  color: #78a145;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span {
  font-size: 12px;
  line-height: 1;
  color: #25282a;
  opacity: 1;
  visibility: visible;
  top: 10px;
  left: 10px;
  padding: 5px 8px;
  border: solid 1px #ddd;
  border-radius: 2px;
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span:hover {
  color: #78a145;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > span {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
  top: 7px;
  background-color: #fff;
  color: #25282a;
  text-decoration: none;
  font-size: 12px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -ms-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 500ms ease;
}
.eds_socialEventsWidget .eds_lblRegistrationInfo {
  background-color: #c0dcfe;
  border: 1px solid #95c1f1;
  border-radius: 4px;
  color: #3b3b3b;
  display: inline-block;
  font-style: italic;
  margin: 10px;
  padding: 5px;
}
