/* latin-ext */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  src: local('BenchNine Light'), local('BenchNine-Light'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT--thjGy9m0s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  src: local('BenchNine Light'), local('BenchNine-Light'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT--thgmy9.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v6/ahcbv8612zF4jxrwMosbXsl0vU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v6/ahcbv8612zF4jxrwMosbUMl0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT6-xhjGy9m0s.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT6-xhgmy9.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  src: local('BenchNine Light'), local('BenchNine-Light'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT--thjGy9.woff2) format('woff2');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v6/ahcbv8612zF4jxrwMosbXsl0.woff2) format('woff2');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT6-xhjGy9.woff2) format('woff2');
}

@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 300;
  src: local('BenchNine Light'), local('BenchNine-Light'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT--thjGy7.woff) format('woff');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 400;
  src: local('BenchNine Regular'), local('BenchNine-Regular'), url(//fonts.gstatic.com/s/benchnine/v6/ahcbv8612zF4jxrwMosbXsly.woff) format('woff');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(//fonts.gstatic.com/s/benchnine/v6/ahcev8612zF4jxrwMosT6-xhjGy7.woff) format('woff');
}



.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleSimple .EDN_article.EDN_articleSimple .EDN_simpleDate,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleSimpleAccordion .EDN_article.EDN_articleSimple .EDN_simpleDate,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimple .EDN_article.EDN_articleSimple .EDN_simpleDate,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimpleTabs .EDN_article.EDN_articleSimple .EDN_simpleDate,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimpleAccordion .EDN_article.EDN_articleSimple .EDN_simpleDate
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail
{
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #e4e4e4;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timeLineTime
{
	text-transform: uppercase;
	font-family: "BenchNine";
	color: #027dd3;
	font-size: 20px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticle2 .eds_timeLineThumbnail .eds_timeLineTime
{
	text-transform: uppercase;
	font-family: "BenchNine";
	color: #027dd3;
	font-size: 16px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	background-image: url("../images/timeLineEventStartIcon/predefined/timelineTime1.png");
	background-position: 0% 50%;
	color: #505050;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	font-size: 68px;
	font-weight: 300;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timelineEventLocation,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail .eds_timelineEventLocation
{
	background-image: url("../images/timeLineLocationIcon/predefined/timelineLocationBlue.png");
	background-position: 0% 1px;
	font-family: "BenchNine";
	color: #888;
	font-size: 17px;
	font-weight: 300;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail > a
{
	border-width: 1px;
	border-style: solid;
	border-color: #e8e8e8;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticle2:after
{
	background-color: #e8e8e8;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .articleTitle
{
	font-family: "BenchNine";
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article h2 a
{
	color: #25282A;
	font-size: 35px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article h2 a:hover
{
	text-decoration: none;
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box a
{
	color: #2F2F2F;
	font-size: 16px;
	font-weight: bold;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box a:hover
{
	color: #027dd3;
	border-top-color: #ebebeb;
	border-bottom-color: #ebebeb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box.EDN_activeclass a
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle > h2 a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle > h2 a
{
	color: #505050;
	font-size: 22px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle > h2 a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle > h2 a:hover
{
	text-decoration: none;
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleDefault .EDN_article.EDN_details h1,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimple .EDN_article.EDN_details h1,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimpleTabs .EDN_article.EDN_details h1,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimpleAccordion .EDN_article.EDN_details h1
{
	color: #25282A;
	font-size: 40px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article h3.articleTitle
{
	color: #919191;
	font-size: 22px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listCatalogDefault .EDN_category_info h1
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 30px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listCatalogDefault .EDN_category_info .EDN_categoryDescription
{
	color: #3B3B3B;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news a
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news a:hover
{
	text-decoration: underline;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle
{
	background-color: #f2f2f2;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .EDN_article_content
{
	color: #3B3B3B;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .EDN_article_content,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .EDN_article_content
{
	color: #7a7a7a;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle > div,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle > div
{
	border-top-color: #dedede;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineExportCalendar,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineExportCalendar
{
	background-image: url("../images/timeLineExportEvent/predefined/timelineExportCalendarBlue.png");
	background-position: 50% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration > span
{
	background-image: url("../images/timeLineEventTime/predefined/timelineTime2Blue.png");
	background-position: 0% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration
{
	text-transform: lowercase;
	text-shadow: 0px 1px 0px #fff;
	font-family: "Arial";
	color: #bababa;
	font-size: 13px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_tagCloud .tags a
{
	background-color: #cacaca;
	font-family: "Arial";
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_tagCloud .tags a:hover
{
	background-color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category
{
	font-family: "Arial";
	color: #25282a;
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category:hover
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.opened > div > a.category
{
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.active > div > a.category
{
	color: #027dd3;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .expand_collapse
{
	background-color: #a7abae;
	background-image: url("../images/expandCollapse/predefined/expand-collapse.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .expand_collapse.collapse
{
	background-position: 0px -25px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .rss
{
	background-image: url("../images/categorsRssIcon/predefined/rss.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .rss:hover
{
	background-position: 0px 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_simpleArticleImage
{
	border-width: 1px;
	border-style: solid;
	border-color: #efefef;
	background-color: #f7f7f7;
	box-shadow: none;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_simpleArticleImage:hover
{
	border-color: #fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .3);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimple .EDN_article.EDN_articleSimple .EDN_simpleArticleImage,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimpleTabs .EDN_article.EDN_articleSimple .EDN_simpleArticleImage,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_detailsArticleSimpleAccordion .EDN_article.EDN_articleSimple .EDN_simpleArticleImage,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .EDN_article.EDN_articleSimple .EDN_simpleArticleImage
{
	border-width: 1px;
	border-style: solid;
	border-color: #efefef;
	background-color: #f7f7f7;
	box-shadow: none;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .child_categories .EDN_catalog-item a
{
	border-width: 1px;
	border-style: solid;
	border-color: #efefef;
	background-color: #f7f7f7;
	box-shadow: none;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .child_categories .EDN_catalog-item a:hover
{
	border-color: #fff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .3);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .child_categories .EDN_catalog-item a span
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .child_categories .EDN_catalog-item a:hover span
{
	text-decoration: none;
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_articleBox .EDN_imageContainerBox
{
	border-width: 1px;
	border-style: solid;
	border-color: #efefef;
}

.eds_news_Vision.eds_style_predefined_blue .EDN_article.EDN_articleBox .EDN_imageContainerBox
{
	background-color: #f7f7f7;
}

.eds_news_Vision.eds_style_predefined_blue .EDN_article.EDN_articleBox .EDN_imageContainerBox .EDN_metaDetailsBox li
{
	color: #9E9E9E;
}

.eds_news_Vision.eds_style_predefined_blue .EDN_article.EDN_articleBox .EDN_imageContainerBox .EDN_metaDetailsBox li.EDN_number-views
{
	background-image: url("../images/boxArticleListImage/numberOfViewsIcon/predefined/icon.png");
	background-position: 0px 8px;
}

.eds_news_Vision.eds_style_predefined_blue .EDN_article.EDN_articleBox .EDN_imageContainerBox > h2 a
{
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue .EDN_article.EDN_articleBox .EDN_imageContainerBox > h2
{
	border-bottom-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_meta-details
{
	background-color: #EBEBEB;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_meta-details li.EDN_publish-date
{
	background-color: #027dd3;
	color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_meta-details li
{
	color: #838383;
	background-image: url("../images/articleMeta/iconSet/predefined/meta-icons.png");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_readmore.EDN_readMoreButton
{
	background-color: #0B507C;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_readmore.EDN_readMoreButton:hover
{
	background-color: #046DB0;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_event-location-container
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ebebeb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
	background-color: #fcfcfc;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_event-location-container .edn_eventPrice
{
	font-family: "BenchNine";
	font-size: 22px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_event-location-container .EDN_event-date
{
	background-image: url("../images/eventDetails/icons/dateIcon/predefined/date.png");
	background-position: 0% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_event-location-container .EDN_event-date .export-calendar
{
	background-image: url("../images/eventDetails/icons/exportIcon/predefined/export.png");
	background-position: 0% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_event-location-container .EDN_event-date .export-calendar:hover
{
	background-position: 0% 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_event-location-container .EDN_event-location
{
	background-image: url("../images/eventDetails/icons/locationIcon/predefined/location.png");
	background-position: 0% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_eventRegistrationModalTrigger
{
	background-color: #0B507C;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_eventRegistrationModalTrigger:hover
{
	background-color: #046DB0;
}

.eds_news_Vision.eds_style_predefined_blue .edsTabulator > ul .edsTabulator_tabTrigger
{
	background-color: #001827;
	font-family: "BenchNine";
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue .edsTabulator > ul .edsTabulator_tabTrigger:hover,
.eds_news_Vision.eds_style_predefined_blue .edsTabulator > ul .edsTabulator_tabTrigger.edsTabulator_active:hover
{
	background-color: #126cb3;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue .edsTabulator > ul .edsTabulator_tabTrigger.edsTabulator_active
{
	background-color: #126cb3;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue .edsTabulator > ul
{
	border-bottom-color: #2f2f2f;
}

.eds_news_Vision.eds_style_predefined_blue .edsAccordion .edsAccordion_section .edsAccordion_title
{
	background-color: #001827;
	background-image: url("../images/accordionExpandableHead/expandIcon/predefined/expand-blue.png");
	background-position: 97% 50%;
	font-family: "BenchNine";
	color: #ffffff;
	font-size: 17px;
}

.eds_news_Vision.eds_style_predefined_blue .edsAccordion .edsAccordion_section .edsAccordion_title:hover,
.eds_news_Vision.eds_style_predefined_blue .edsAccordion .edsAccordion_section.edsAccordion_active .edsAccordion_title:hover
{
	background-color: #126cb3;
}

.eds_news_Vision.eds_style_predefined_blue .edsAccordion .edsAccordion_section.edsAccordion_active .edsAccordion_title
{
	background-color: #126cb3;
	background-image: url("../images/accordionExpandableHead/expandIcon/predefined/collapse-blue.png");
	background-position: 97% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags
{
	border-left-color: #B1B1B1;
	font-family: "Arial";
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_tags a
{
	border-width: 1px;
	border-style: solid;
	border-color: #CACACA;
	background-color: #CACACA;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_meta-tags .EDN_tags a:hover
{
	border-color: #979797;
	background-color: #DBDBDB;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .edn_relatedArticles
{
	background-color: #E6E6E6;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .edn_relatedArticles h2
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 26px;
	background-image: url("../images/relatedArticles/boxTitle/icon/predefined/icon.png");
	background-position: 0px 4px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .edn_relatedArticles ul
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D0D0D0;
	box-shadow: inset 0px 1px 0px 0px #F4F4F4;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .edn_relatedArticles ul li
{
	background-image: url("../images/relatedArticles/articleList/listBullet/predefined/bullet.png");
	background-position: 4px 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .edn_relatedArticles ul li a
{
	text-decoration: none;
	color: #343638;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .edn_relatedArticles ul li a:hover
{
	text-decoration: underline;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments
{
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments > h2
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 19px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments ul li a
{
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_listDescription
{
	font-style: italic;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_docDetails
{
	color: #969696;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_docExtension
{
	font-style: italic;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_docFileSize
{
	color: #3B3B3B;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleLinks
{
	border-width: 1px;
	border-style: solid;
	border-color: #E6E6E6;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleLinks > h2
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 19px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleLinks ul li a
{
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .edn_articleLinks ul li .edn_listDescription
{
	font-style: italic;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_cf_all_fields_container
{
	background-color: #EBEBEB;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_cf_all_fields_container > table tr td
{
	color: #25282a;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_icon
{
	background-image: url("../images/articleCustomFields/checkBoxIcon/predefined/cf-checkbox.png");
	background-position: 0px -20px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_checked .EDN_cf_checkbox_icon
{
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_listOfAttendants
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ebebeb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_listOfAttendants > table tr:first-child.edn_listOfAttendantsHeader
{
	background-color: #e4e3e3;
	box-shadow: inset 0px 25px 15px -15px #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_listOfAttendants > table tr:first-child th
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e4e4;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(even)
{
	background-color: #fcfcfc;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(odd)
{
	background-color: #f4f4f4;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_listOfAttendants > table tr td
{
	font-size: 12px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .in_article_image
{
	background-color: #E6E6E6;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .in_article_image .image_title
{
	font-family: "BenchNine";
	color: #027dd3;
	font-size: 19px;
	line-height: 1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #20272D;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .in_article_image .image_description
{
	color: #3B3B3B;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_intro
{
	background-color: rgba(0, 0, 0, .52);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_intro .EDN_summary-container h2 a
{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 26px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_intro .EDN_summary-container h2 a:hover
{
	text-decoration: underline;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_intro .EDN_summary-container .EDN_summary
{
	color: #ffffff;
	line-height: 14px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date strong
{
	background-color: #012e4e;
	text-shadow: -1px -1px 1px #292929;
	color: #fff;
	font-size: 28px;
	line-height: 26px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date em
{
	background-color: #0d5f99;
	text-shadow: -1px -1px 1px #373737;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date
{
	font-family: "BenchNine";
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_featured-multi .EDN_featured-date:after
{
	border-top-color: #014677;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent
{
	background-color: rgba(0, 0, 0, .52);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent h2 a
{
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent h2 a:hover
{
	text-decoration: underline;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent .EDN_summary
{
	color: #ffffff;
	line-height: 1.5;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleMulti2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleInBox2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent
{
	background-color: rgba(0, 0, 0, .52);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleMulti2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent h2 a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleInBox2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent h2 a
{
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleMulti2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent h2 a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleInBox2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent h2 a:hover
{
	text-decoration: underline;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleMulti2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent .EDN_summary,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleInBox2 .EDN_article.edn_smallMultiarticleBox > div .edn_smallMultiarticleBoxContent .EDN_summary
{
	color: #ffffff;
	line-height: 1.5;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article .EDN_publish-date
{
	background-color: #027dd3;
	color: #fff;
	line-height: 27px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_two-articles-row .EDN_two-articles h2 a
{
	font-size: 22px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_two-articles-row .EDN_two-articles .EDN_article_content
{
	line-height: 1.2;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-color: #e0e0e0;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger
{
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger:hover
{
	background-color: #fbfbfb;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager a.active,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination span
{
	background-color: #fbfbfb;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span
{
	text-decoration: none;
	color: #bababa;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pager a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .article_pagination a:hover
{
	text-decoration: none;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: #fbfbfb;
	background-image: url("../images/pagination/loadingBackground/predefined/loadingArticles.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavImage:after
{
	border-radius: 4px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavTitle
{
	border-radius: 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails
{
	background-color: #b1b1b1;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails h4
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 18px;
	line-height: 1.1;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails .other-posty-by a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails .button span
{
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails .button
{
	background-image: url("../images/authorAndGroupBox/iconSet/predefined/icons.png");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails .EDN_connect-with
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9c9c9c;
	box-shadow: inset 0px 1px 0px 0px #c2c2c2;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails.EDN_groupDetails
{
	background-color: #b1b1b1;
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails.EDN_groupDetails h4
{
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails.EDN_groupDetails .other-posty-by a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails.EDN_groupDetails .button span
{
	color: #ffffff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .EDN_authorGroupDetails.EDN_groupDetails .button
{
	background-image: url("../images/authorAndGroupBox/groupBox/iconSet/predefined/icons.png");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .num_of_comment
{
	background-color: #B1B1B1;
	border-width: 1px;
	border-style: solid;
	border-color: #B1B1B1;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 1.1;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .votes span
{
	color: #3B3B3B;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .END_comment_details .EDN_author
{
	color: #919191;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .END_comment_details .EDN_date_time
{
	color: #535353;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .EDN_content_container .content > div,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .EDN_content_container .arrow
{
	border-color: #E6E6E6;
	background-color: #f8f8f8;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .right_side .EDN_content_container .content p
{
	font-family: "Arial";
	color: #1D1D1D;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .actions a
{
	font-family: "BenchNine";
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .actions a:hover
{
	color: #000;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .actions a.reply
{
	background-image: url("../images/comments/commentList/comment/replyIcon/predefined/replay.png");
	background-position: 0% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment h3
{
	color: #B1B1B1;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box
{
	background-color: #B1B1B1;
	border-width: 1px;
	border-style: solid;
	border-color: #b1b1b1;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.left
{
	color: #ffffff;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right textarea,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .comment_list .comment .edit_comment textarea
{
	border-top-color: #939393;
	border-right-color: #B1B1B1;
	border-bottom-color: #B1B1B1;
	border-left-color: #939393;
	background-color: #F8F8F8;
	font-family: "Arial";
	color: #2F2F2F;
	font-size: 13px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right .submit
{
	background-color: #0B507C;
	background-image: url("../images/comments/commentForm/submitButton/background/predefined/bg.png");
	background-repeat: repeat;
	background-position: 0% 0%;
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .1);
	text-transform: uppercase;
	text-shadow: -1px -1px 1px #5F5F5F;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_details .article_comments .add_comment .add_article_box table td.right .submit:hover
{
	background-color: #046DB0;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table .month_selection tr td,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-header-toolbar
{
	background-color: #EBEBEB !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .month_selection td,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-toolbar h2
{
	font-family: "BenchNine";
	color: #027dd3;
	font-style: normal;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table .month_selection td.next_prev_months a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button-group .fc-button.fc-prev-button,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button-group .fc-button.fc-next-button
{
	background-image: url("../images/calendar/monthSelectArrows/predefined/arrows.png");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .top_calendar_actions a
{
	background-image: url("../images/calendar/topCalendarActions/predefined/icons.png");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table tr td.day,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-bg .fc-day
{
	background-color: #fff !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .edn_styledSelect > span
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #efefef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b4b4b4;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .24);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .edn_styledSelect > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .edn_styledSelect > span select option
{
	background-color: #cecece;
	background-image: url("../images/calendar/monthQuickSelection/background/predefined/select-bg.png");
	background-position: 100% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .edn_styledSelect > span select,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .edn_styledSelect > span select option
{
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.week_days,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-day-header.fc-widget-header,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-week-number.fc-widget-header
{
	background-color: #b1b1b1 !important;
	font-family: "Arial";
	color: #ffffff;
	font-size: 11px;
	line-height: 32px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.week_days,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed div.fc-row.fc-widget-header
{
	border-bottom-width: 7px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc .fc-widget-header th.fc-week-number.fc-widget-header
{
	border-right-color: #ebebeb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-widget-header th.fc-week-number span
{
	color: #ffffff;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc .fc-bg .fc-week-number
{
	background-color: #b1b1b1;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc td.fc-week-number a
{
	color: #ffffff;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed .fc-content,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed .fc-divider,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed .fc-list-heading td,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed .fc-list-view,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed .fc-popover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed .fc-row,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed tbody,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed td,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed th,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-unthemed thead
{
	border-color: #EBEBEB;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-ltr .fc-basic-view .fc-day-top .fc-day-number
{
	background-color: #fcfcfc;
	font-family: "Arial";
	color: #111111;
	font-size: 14px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.other_month > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.other_month > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-ltr .fc-basic-view .fc-day-top.fc-other-month .fc-day-number
{
	color: #bbbbbb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.today > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.selected > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-ltr .fc-basic-view .fc-day-top .fc-day-number:hover
{
	background-color: #027dd3 !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.today > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.today > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-ltr .fc-basic-view .fc-day-top.fc-today .fc-day-number
{
	background-color: #027dd3 !important;
	color: #fff !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.selected > a
{
	background-color: #ebebeb !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.has_events > a
{
	background-image: url("../images/calendar/days/indicators/predefined/events.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.has_posts > a
{
	background-image: url("../images/calendar/days/indicators/predefined/posts-blue.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.has_events.has_posts > a
{
	background-image: url("../images/calendar/days/indicators/predefined/posts_events-blue.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.today > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-ltr .fc-basic-view .fc-day-top .fc-day-number:hover
{
	color: #fff !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.selected > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table tr td.day.selected.today > a
{
	color: #686868 !important;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-red > a
{
	color: #fff;
	background-color: #ea1515;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-blue > a
{
	color: #fff;
	background-color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-black > a
{
	color: #fff;
	background-color: #000;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-green > a
{
	color: #fff;
	background-color: #52bd23;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-yellow > a
{
	background-color: #ffff00;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-pink > a
{
	color: #fff;
	background-color: #ffc0cb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-gray > a
{
	color: #fff;
	background-color: #808080;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-orange > a
{
	color: #fff;
	background-color: #ff6a00;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_posts.EDNcategorycolor-brown > a
{
	color: #fff;
	background-color: #a52a2a;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-red > a
{
	color: #fff;
	background-color: #ea1515;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-blue > a
{
	color: #fff;
	background-color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-black > a
{
	color: #fff;
	background-color: #000;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-green > a
{
	color: #fff;
	background-color: #52bd23;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-yellow > a
{
	background-color: #ffff00;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-pink > a
{
	color: #fff;
	background-color: #ffc0cb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-gray > a
{
	color: #fff;
	background-color: #808080;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-orange > a
{
	color: #fff;
	background-color: #ff6a00;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .calendar_table td.day.has_events.EDNcategorycolor-brown > a
{
	color: #fff;
	background-color: #a52a2a;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event
{
	background-color: #f7f7f7;
	border-color: #027dd3;
	font-family: "Arial";
	color: #3c3c3c;
	font-size: 10px;
	line-height: 12px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event:hover
{
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-red,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-red
{
	border-color: #db313c;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-blue,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-blue
{
	border-color: #37cbcb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-blue:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-blue:hover
{
	border-color: #37cbcb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-black,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-black
{
	border-color: #000000;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-green,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-green
{
	border-color: #8de171;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-yellow,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-yellow
{
	border-color: #f6c606;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-pink,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-gray,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-orange,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-orange
{
	border-color: #ff6a00;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-brown,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.EDNcategorycolor-brown
{
	border-color: #e49908;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events
{
	background-color: #f7f7f7;
	border-color: #ff8400;
	font-family: "Arial";
	color: #3c3c3c;
	font-size: 10px;
	line-height: 12px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events:hover
{
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-red,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-red
{
	border-color: #db313c;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-blue,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-blue
{
	border-color: #37cbcb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-black,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-black
{
	border-color: #000000;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-green,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-green
{
	border-color: #8de171;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-yellow,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-yellow
{
	border-color: #f6c606;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-pink,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-gray,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-orange,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-orange
{
	border-color: #ff6a00;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-brown,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-event.has_events.EDNcategorycolor-brown
{
	border-color: #e49908;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button
{
	background-color: #f7f7f7;
	border-color: #d1d1d1;
	color: #b1b1b1;
	font-size: 15px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button.fc-state-hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button.fc-state-down,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button.fc-state-active
{
	background-color: #ffffff;
	color: #126CB3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button-group .fc-button.fc-state-default.fc-corner-left,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .fc-button-group .fc-button.fc-state-default.fc-corner-right
{
	border-radius: 4px;
}

.eds_news_Vision.eds_style_predefined_blue .fc-unthemed .fc-divider.fc-widget-header
{
	background-color: transparent;
}

.eds_news_Vision.eds_style_predefined_blue .fc .fc-list-view .fc-list-heading .fc-widget-header
{
	background-color: transparent;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.has_posts .fc-event-dot
{
	background-color: #126CB3;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.has_events .fc-event-dot
{
	background-color: #ff6a00;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-red .fc-event-dot
{
	background-color: #db313c;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-blue .fc-event-dot
{
	background-color: #37cbcb;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-black .fc-event-dot
{
	background-color: #000000;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-green .fc-event-dot
{
	background-color: #8de171;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-yellow .fc-event-dot
{
	background-color: #f6c606;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-pink .fc-event-dot
{
	background-color: #ffc0cb;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-gray .fc-event-dot
{
	background-color: #808080;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-orange .fc-event-dot
{
	background-color: #ff6a00;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item.EDNcategorycolor-brown .fc-event-dot
{
	background-color: #e49908;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item td a
{
	color: #3b3b3b;
}

.eds_news_Vision.eds_style_predefined_blue .fc-list-item td a:hover
{
	color: #126CB3;
}

.qtip.edn_calendarbox_Vision.blue
{
	background-color: #faf8f3;
	border-width: 2px;
	border-style: solid;
	border-color: #ebebeb;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > p.title a
{
	text-decoration: none;
	font-family: "BenchNine";
	color: #027dd3;
	font-size: 16px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > p.title a:hover
{
	text-decoration: none;
	color: #000;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > p.title
{
	text-decoration: none;
	font-family: "BenchNine";
	color: #027dd3;
	font-size: 16px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper .article_list > li > a
{
	text-decoration: none;
	font-family: "Arial";
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper .article_list > li > a:hover
{
	text-decoration: none;
	color: #027dd3;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper .article_list > li
{
	text-decoration: none;
	font-family: "Arial";
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper .article_list > li > p
{
	font-family: "Arial";
	color: #2f2f2f;
	font-size: 10px;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > .content
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content div.title
{
	background-color: #b1b1b1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content div.title span,
.qtip.edn_calendarbox_Vision.blue .qtip-content div.title span a
{
	font-family: "Arial";
	color: #fff;
	font-weight: bold;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content div.title span a:hover
{
	text-decoration: none;
	color: #000000;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article img
{
	border-width: 1px;
	border-style: solid;
	border-color: #ebebeb;
	background-color: #fff;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > a
{
	border-width: 1px;
	border-style: solid;
	border-color: #cacaca;
	background-color: #cacaca;
	text-decoration: none;
	font-family: "BenchNine";
	color: #ffffff;
	font-size: 14px;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > a:hover
{
	background-color: #fff;
	text-decoration: none;
	color: #027dd3;
}

.qtip.edn_calendarbox_Vision.blue .qtip-content .wrapper > .article > p.location
{
	background-image: url("../images/qtip/eventLocation/icon/predefined/location.png");
	background-position: 0% 0%;
	font-family: "Arial";
	color: #3b3b3b;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .EDN_module_box > .edn_module_title span
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 28px;
	line-height: 31px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .EDN_module_box > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #20272d;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div > a.edn_archive-year,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div > a.edn_archive-month
{
	font-family: "Arial";
	color: #3c3c3c;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li ul li > div > .edn_archive-month
{
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div > a.edn_archive-year:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div > a.edn_archive-month:hover
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li.opened div > a.edn_archive-year
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li.active div > a.edn_archive-year,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li.active div > a.edn_archive-month
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div .icon.expand_collapse
{
	background-image: url("../images/calendarArchive/archiveItems/icon/predefined/icon.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div .icon.expand_collapse.collapse
{
	background-position: 0px -17px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div .edn_archive-year > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div .edn_archive-month > span
{
	border-width: 1px;
	border-style: solid;
	border-color: #c6c9cb;
	color: #027dd3;
	font-size: 11px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div .edn_archive-year:hover > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list .EDN_module_box .edn_archive_menu_wrapper li div .edn_archive-month:hover > span
{
	color: #3c3c3c;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list > .edn_module_title span
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 28px;
	line-height: 31px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #20272d;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events > .edn_module_title .rss
{
	background-image: url("../images/calendarEvents/moduleTitle/rssIcon/predefined/rss.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events > .edn_module_title .rss:hover
{
	background-position: 0px 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events > .edn_module_title .export
{
	background-image: url("../images/calendarEvents/moduleTitle/exportIcon/predefined/export.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events > .edn_module_title .export:hover
{
	background-position: 0px 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events ul li a
{
	font-family: "Arial";
	color: #2f2f2f;
	line-height: 15px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events ul li a:hover
{
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events ul li a span
{
	color: #868686;
	background-image: url("../images/calendarEvents/eventsItems/icon/predefined/icon.png");
	background-position: 0% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_calendar .archive_list.events ul li
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b9b9b9;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_tagCloud .tags a .tag-count
{
	border-width: 1px;
	border-style: solid;
	border-color: #dddfe0;
	background-color: #fff;
	color: #027dd3;
	font-size: 11px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_tagCloud > .edn_module_title span
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 28px;
	line-height: 31px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_tagCloud > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #20272d;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .EDN_module_box > .edn_module_title span
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 28px;
	line-height: 31px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .EDN_module_box > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #20272d;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input.button_outside > .input input[type="text"]
{
	border-width: 3px;
	border-style: solid;
	border-color: #e1e1e1;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input input[type="text"]
{
	background-color: #f7f7f7;
	font-family: "Arial";
	color: #8f8f8f;
	font-size: 16px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input input[type="text"]:focus
{
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input.button_outside .do_search
{
	border-width: 3px;
	border-style: solid;
	border-color: #e1e1e1;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input .do_search
{
	background-color: #f7f7f7;
	background-image: url("../images/simpleSearch/submitButton/background/predefined/gradient.png");
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input .do_search:hover
{
	background-position: 0px -43px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .search_input .do_search span
{
	background-image: url("../images/simpleSearch/submitButton/searchIcon/predefined/magnifier.png");
	text-shadow: 1px 1px 1px #fff;
	font-family: "Arial";
	color: #8f8f8f;
	font-size: 20px;
}

.EDN_search.theme_Vision.blue
{
	background-color: #fff;
	border-color: #ebebeb;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.27);
}

.EDN_search.theme_Vision.blue ul li span a
{
	color: #494949;
}

.EDN_search.theme_Vision.blue ul li span a:hover
{
	color: #126CB3;
}

.EDN_search.theme_Vision.blue .acSelect
{
	border-color: #e1e1e1;
	background-color: #fcfcfc;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch
{
	background-color: #e6e6e6;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonListName,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList .edncf_CheckBoxListName,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput label > span
{
	font-family: "Arial";
	color: #8D8D8D;
	font-size: 12px;
	line-height: 2;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList label,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList label,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text label,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField label,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span
{
	font-family: "Arial";
	color: #8D8D8D;
	font-size: 12px;
	line-height: 1.8;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch > .edn_module_title span
{
	font-family: "BenchNine";
	color: #A8A8A8;
	font-size: 26px;
	line-height: 31px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch > .edn_module_title:after
{
	background-color: #bfbfbf;
	background-image: url("../images/advancedSearch/moduleTitle/icon/predefined/icon.png");
	background-position: 50% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #efefef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b4b4b4;
	background-color: #cecece;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .24);
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #efefef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b4b4b4;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select option,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	background-color: #cecece;
	background-image: url("../images/advancedSearch/select/background/predefined/select-bg.png");
	background-position: 100% 0%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice
{
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .24);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select option,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > span
{
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select:disabled
{
	color: #ABABAB;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label:before,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span:before
{
	border-width: 1px;
	border-style: solid;
	border-color: #a4a4a4;
	background-color: #CECECE;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.3),1px 1px 1px 0px #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox input[type="checkbox"]:checked + label:before,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li.selected label > span:before
{
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	background-color: #C4C4C4;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.26),inset 3px 3px 5px 0px #fff;
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton label:before
{
	background-color: #d3d3d3;
	box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.29),1px 1px 1px 0px #fff;
	text-shadow: 1px 1px 1px #fff;
	color: #b0b0b0;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton input[type="radio"]:checked + label:before
{
	background-color: #d3d3d3;
	box-shadow: inset 1px 2px 2px 0px rgba(0, 0, 0, 0.29),1px 1px 1px 0px #fff;
	text-shadow: 1px 1px 1px #fff;
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line
{
	background-color: #CECECE;
	border-color: #B6B6B6;
	box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.24),1px 1px 1px 0px rgba(255, 255, 255, 0.35);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line .irs-line-mid
{
	background-color: #fff;
	border-color: #A4A4A4;
	box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.45);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-diapason
{
	background-color: #868686;
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.28),1px 1px 1px 0px rgba(255, 255, 255, 0.35);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-single
{
	font-family: "Arial";
	color: #027dd3;
	font-size: 12px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-min,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-max
{
	font-family: "Arial";
	color: #a8a8a8;
	font-size: 10px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-slider
{
	background-color: #bfbfbf;
	border-width: 1px;
	border-style: solid;
	border-color: #7e7e7e;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.57),inset 4px 4px 5px 0px rgba(255, 255, 255, .7);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #efefef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #b4b4b4;
	background-color: #cecece;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .24);
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b4b4b4;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #efefef;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;
	background-color: #cecece;
	box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .24);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C6C6C6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B1B1B1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B0B0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C6C6C6;
	background-color: #c2c2c2;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2),inset 3px 3px 2px -1px rgba(255, 255, 255, 0.41),inset 1px 29px 20px -20px rgba(255, 255, 255, 0.6);
	text-transform: lowercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
	font-family: "BenchNine";
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover
{
	background-color: #D5D3D3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C6C6C6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B1B1B1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B3B0B0;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C6C6C6;
	background-color: #c2c2c2;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2),inset 3px 3px 2px -1px rgba(255, 255, 255, 0.41),inset 1px 29px 20px -20px rgba(255, 255, 255, 0.6);
	text-transform: lowercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
	font-family: "BenchNine";
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset:hover
{
	background-color: #D5D3D3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_module_box > .edn_module_title span
{
	font-family: "BenchNine";
	color: #25282A;
	font-size: 28px;
	line-height: 31px;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_module_box > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #20272d;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_module_box > .edn_module_title .rss
{
	background-image: url("../images/sidebarBoxModuleTitle/rssIcon/predefined/rss.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_module_box > .edn_module_title .rss:hover
{
	background-position: 0px 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article_rss_wrapper a
{
	background-image: url("../images/articlesRss/icon/predefined/rss.png");
	background-position: 0px 0px;
	line-height: 19px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article_rss_wrapper a:hover
{
	background-position: 0px 2px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .articlecount
{
	border-width: 1px;
	border-style: solid;
	border-color: #c6c9cb;
	color: #027dd3;
	font-size: 11px;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_categoryMenu .edn_category_menu_wrapper li .articlecount:hover
{
	color: #3c3c3c;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .EDN_article.EDN_eventsBox,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .EDN_article.EDN_eventsBox,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .EDN_article.EDN_eventsBox > a:before,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .EDN_article.EDN_eventsBox > a:before,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .EDN_eventsModuleBox .edsAccordionEventsBox .edsAccordion_section .edsAccordion_contentWrapper .edsAccordion_content,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .EDN_eventsModuleBox .edsAccordionEventsBox .edsAccordion_section .edsAccordion_contentWrapper .edsAccordion_content
{
	border-bottom-color: #e0e0e0;
	border-right-color: #e0e0e0;
	border-left-color: #e0e0e0;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title > span
{
	background-color: #005d9e;
	text-transform: uppercase;
	font-family: "Arial";
	color: #fff;
	font-size: 13px;
	line-height: 1;
	font-weight: normal;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title .EDN_eventsModuleBoxRSS
{
	background-image: url("../images/eventsBoxTitle/rssIcon/predefined/rss.png");
	background-position: 0px 0px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a
{
	background-color: #015e9d;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTitle
{
	color: #25282a;
	font-size: 21px;
	line-height: 1;
	font-weight: bold;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTime
{
	font-family: "Arial";
	color: #6c6c6c;
	font-size: 12px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTime,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventBox .EDN_eventBoxTime
{
	color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxLocation
{
	background-image: url("../images/eventBox/eventLocationAndTime/icons/location/predefined/location-blue.png");
	background-position: 0px 1px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventBox .EDN_eventBoxLocation
{
	background-position: 0px -49px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTime
{
	background-image: url("../images/eventBox/eventLocationAndTime/icons/time/predefined/time-blue.png");
	background-position: 0px 1px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTime,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventBox .EDN_eventBoxTime
{
	background-position: 0px -49px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate
{
	font-family: "BenchNine";
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:before
{
	background-color: ;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover:before,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a:before
{
	background-color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishDay,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventsBoxDate .EDN_eventPublishDay
{
	color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishMonth
{
	text-transform: uppercase;
	color: #027dd3;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishMonth,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventsBoxDate .EDN_eventPublishMonth
{
	color: #005d9e;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishYear,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section.edsAccordion_active .EDN_article > a .EDN_eventsBoxDate .EDN_eventPublishYear
{
	color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a
{
	border-color: #fff;
	background-color: #a7abae;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a:hover
{
	border-color: #005d9e;
	background-color: #a7abae;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a.active,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a.active
{
	border-color: #005d9e;
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-color: #e0e0e0;
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger:hover,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger:hover
{
	background-color: #fbfbfb;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span
{
	text-decoration: none;
	color: #bababa;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay,
.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: #fbfbfb;
	background-image: url("../images/eventBoxPagination/loadMoreButton/loadingBackground/predefined/loadingArticles.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision a.edsgg_galleryBackLink
{
	border-color: #e0e0e0;
	background-color: #fcfbf9;
	color: #bababa;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision a.edsgg_galleryBackLink:hover
{
	background-color: #fbfbfb;
	text-decoration: none;
	color: #bababa;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision a.edsgg_galleryBackLink:before
{
	background-image: url("../images/gravityGallery/viewInGalleryButton/icon/predefined/photo.png");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger
{
	border-color: #e0e0e0;
	background-color: #fff;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover
{
	background-color: #fbfbfb;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText span
{
	color: #bababa;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText span
{
	color: #bababa;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay
{
	background-color: #fbfbfb;
	background-image: url("../images/gravityGallery/loadMoreMediaButton/loadingOverlay/background/predefined/loadingArticles.gif");
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__itemsListContainer .edsgg__itemContainer
{
	border-top-color: #BABABA;
	border-right-color: #BABABA;
	border-bottom-color: #BABABA;
	border-left-color: #D3D3D3;
	background-color: #fff;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title
{
	font-size: 15px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer > a:hover .edsgg_title
{
	text-decoration: none;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description
{
	font-size: 11px;
}

.eds_news_Vision.eds_style_predefined_blue.eds_subCollection_news .eds_GravityGallery_Vision .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_image_thumbnail
{
	border-color: #d6d6d6;
	background-color: #fff;
}

