@charset "UTF-8";
body.smbLightFixed {
  overflow: hidden;
}

.smbLightOverlayWrapper.modern {
  display: block;
  position: fixed;
  max-height: none;
  max-width: none;
  height: auto;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 99999;
  transition: opacity linear 0.2s;
}
.smbLightOverlayWrapper.modern.show {
  opacity: 1;
}
.smbLightOverlayWrapper.modern > .contentWrapper {
  display: block;
  position: absolute;
  max-height: none;
  max-width: none;
  height: auto;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  opacity: 1;
}
.smbLightOverlayWrapper.modern .socialButtonsWrapper {
  position: absolute;
  display: none;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 0 3px 10px;
  border: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px 0 0 0;
}
.smbLightOverlayWrapper.modern .socialButtonsWrapper > div {
  display: block;
  margin: 0 0 1px;
  padding: 0;
  border: 0;
  height: 25px;
  width: 135px;
}
.smbLightOverlayWrapper.modern .socialButtonsWrapper.show {
  display: block;
}
.smbLightOverlayWrapper.modern .mainWrapper {
  display: block;
  background: #2F2F2F;
  border: 1px solid #fff;
  border-radius: 1px;
  margin: 52px;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 50px;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper {
  display: block;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div {
  display: block;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: auto;
  right: auto;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.activeElement {
  left: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.audioVideo iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.images img,
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.images p {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  height: auto !important;
  max-height: none !important;
  width: auto !important;
  max-width: none !important;
  position: absolute;
  top: 0;
  left: 100%;
  right: auto;
  bottom: auto;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.images img.activeElement {
  left: 0;
  height: 100% !important;
  width: 100% !important;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.images p {
  text-align: center;
  font: 16px/20px Arial, sans-serif;
  top: 50%;
  margin: -10px 0 0;
  padding: 0 30px;
  height: auto;
  color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.smbLightOverlayWrapper.modern .mainWrapper .viewWrapper > div.images.imageNotLoaded > p {
  left: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .loadingOverlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(images/loader.gif) 500% 0 #2F2F2F no-repeat;
  z-index: 1;
}
.smbLightOverlayWrapper.modern .mainWrapper .loadingOverlay.inProgress {
  background-position: center center;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemTitle {
  display: block;
  font: 17px/0.9 Arial, sans-serif;
  margin: 0 70px 10px 0;
  padding: 0;
  border: 0;
  background: none;
  color: #fff;
  text-shadow: 1px 1px 0 #333;
  position: absolute;
  top: auto;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemTitle > span {
  display: block;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemTitle > span.eds__SmbLight_lightboxTitle + .eds__SmbLight_lightboxDescription {
  margin-top: 7px;
}
.smbLightOverlayWrapper.modern .mainWrapper .itemTitle > span.eds__SmbLight_lightboxDescription {
  font-size: 12px;
  line-height: 1;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation,
.smbLightOverlayWrapper.modern .mainWrapper .close,
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  bottom: auto;
  left: auto;
  right: auto;
  cursor: pointer;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation {
  top: 50%;
  width: 34px;
  height: 70px;
  background: #fff;
  margin-top: -35px;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation > span {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 12px;
  height: 20px;
  background: url(images/icons.png) no-repeat -28px 0;
  margin: -10px 0 0 -6px;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.prev {
  right: 100%;
  border-radius: 4px 0 0 4px;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.prev > span {
  background-position: -28px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.next {
  left: 100%;
  border-radius: 0 4px 4px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation.next > span {
  background-position: -28px -20px;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation:hover.prev > span {
  background-position: -40px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .navigation:hover.next > span {
  background-position: -40px -20px;
}
.smbLightOverlayWrapper.modern .mainWrapper .close {
  top: auto;
  bottom: 100%;
  right: 20px;
  width: 42px;
  height: 31px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  margin-bottom: 1px;
  opacity: 1;
}
.smbLightOverlayWrapper.modern .mainWrapper .close > span {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 14px;
  height: 15px;
  background: url(images/icons.png) no-repeat 0 0;
  margin: -7px 0 0 -7px;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .close:hover {
  background: #ce0000;
}
.smbLightOverlayWrapper.modern .mainWrapper .close:hover > span {
  background-position: -14px 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger {
  top: 100%;
  width: 40px;
  height: 31px;
  right: 20px;
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger > span {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 13px;
  height: 15px;
  background: url(images/icons.png) no-repeat 0 -15px;
  margin: -7px 0 0 -8px;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
}
.smbLightOverlayWrapper.modern .mainWrapper .socialButtonsTrigger:hover > span {
  background-position: -13px -15px;
}
.smbLightOverlayWrapper.modern .mainWrapper.audioItem .navigation {
  height: 30px;
  margin-top: -15px;
}
.smbLightOverlayWrapper.modern.smbPlus {
  top: auto;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  bottom: -1px;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper.positionAnimation {
  transition: transform ease-in-out 0.5s;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper.swipeAnimation {
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  position: relative;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.imageItem > img {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.imageItem:before {
  content: "";
  font: 200px/1 FontAwesome;
  position: absolute;
  color: #6F6F6F;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  margin: -100px 0 0;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.videoItem, .smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.audioItem {
  position: relative;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.videoItem > div, .smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.audioItem > div {
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.videoItem > div > iframe, .smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.audioItem > div > iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.audioItem > div {
  padding: 0 40px;
  box-sizing: border-box;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.audioItem > div > .audiojs .play-pause p {
  width: 100%;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.loading.imageItem > img {
  opacity: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .contentWrapper > div.loading.imageItem:before {
  opacity: 1;
}
.smbLightOverlayWrapper.modern.smbPlus > .mobileOverlay {
  background: none;
  height: 100%;
  width: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 -160px 110px -135px #000 inset, -115px 0 120px -100px #000 inset, 115px 0 120px -100px #000 inset;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  z-index: 1;
  transition: box-shadow ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation {
  margin: -27px 0 0;
  height: 54px;
  width: 30px;
  background: none;
  display: block;
  border: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
  cursor: pointer;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation > span {
  position: relative;
  top: 15px;
  left: 7px;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation > span:after {
  font-size: 20px;
  line-height: 1.3;
  font-family: FontAwesome;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.5);
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation:hover > span:after {
  color: #aaa;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation.prev {
  left: 0;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation.prev > span:after {
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation.next {
  right: 0;
  left: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .navigation.next > span:after {
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .close {
  margin: 0;
  height: 45px;
  width: 40px;
  background: none;
  display: block;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  font-size: 0;
  line-height: 0;
  z-index: 2;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
  cursor: pointer;
}
.smbLightOverlayWrapper.modern.smbPlus > .close > span {
  position: relative;
  top: 9px;
  left: 14px;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .close > span:after {
  font-size: 20px;
  line-height: 1.3;
  font-family: FontAwesome;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.5);
  content: "";
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .close:hover > span:after {
  color: #aaa;
}
.smbLightOverlayWrapper.modern.smbPlus > .itemTitle {
  margin: 0;
  top: auto;
  bottom: 35px;
  font: 16px/1.3 Arial, sans-serif;
  color: #fff;
  text-align: left;
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.5);
  padding: 0 15px;
  z-index: 2;
  opacity: 1;
  transition: opacity ease-in-out 0.2s, bottom ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions {
  position: absolute;
  top: auto;
  bottom: 0;
  font-size: 0;
  line-height: 0;
  padding: 5px 15px 10px;
  z-index: 2;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
  cursor: pointer;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions > span {
  font: 16px/1.3 Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 0 0 0 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.5);
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions > span:before, .smbLightOverlayWrapper.modern.smbPlus > .actions > span:after {
  font: 18px/1.3 FontAwesome;
  color: #fff;
  position: relative;
  left: -3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8), 0px 0px 1px rgba(0, 0, 0, 0.5);
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions > span:after {
  left: auto;
  right: -3px;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions:hover > span {
  color: #aaa;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions:hover > span:before, .smbLightOverlayWrapper.modern.smbPlus > .actions:hover > span:after {
  color: #aaa;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.commentsTrigger {
  left: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.commentsTrigger > span:before {
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.likeTrigger {
  right: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.likeTrigger > span {
  padding: 0 3px 0 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.likeTrigger > span:after {
  transition: color ease-in-out 0.2s;
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.likeTrigger.liked > span:after {
  color: #ff3939;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.likeTrigger.liked:hover > span:after {
  color: #bb1919;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.socialButtonsTrigger {
  left: 50%;
  margin-left: -24px;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.socialButtonsTrigger > span {
  font-size: 0;
  line-height: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .actions.socialButtonsTrigger > span:before {
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .socialButtonsWrapper {
  width: 150px;
  right: auto;
  left: 50%;
  margin-left: -75px;
  bottom: 45px;
  z-index: 3;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .socialButtonsWrapper > div {
  margin-bottom: 5px;
}
.smbLightOverlayWrapper.modern.smbPlus > .socialButtonsWrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent;
  border-style: solid;
  border-width: 10px 20px 0;
  left: 50%;
  margin: 0 0 0 -20px;
}
.smbLightOverlayWrapper.modern.smbPlus > .modalOverlay {
  background: rgba(0, 0, 0, 0.9);
  display: block;
  width: 100%;
  height: 100%;
  top: 100%;
  bottom: auto;
  left: auto;
  right: auto;
  position: absolute;
  opacity: 0;
  z-index: 3;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  height: 100%;
  border: 14px solid transparent;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 100%, 0);
  transition: transform ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > p.loading {
  margin: -15px 0 0;
  padding: 0;
  border: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 1.3;
  color: #666;
  position: absolute;
  top: 200%;
  left: auto;
  right: auto;
  bottom: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 20px 20px 0;
  overflow: hidden;
  border: 0;
  border-radius: 5px 5px 0 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper {
  top: 0;
  left: 100%;
  right: auto;
  bottom: auto;
  padding-top: 40px;
  overflow-y: scroll;
  z-index: 1;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > p {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper input,
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper textarea {
  margin: 0 0 20px;
  padding: 5px 10px;
  background: #f1f1f1;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
  box-sizing: border-box;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper textarea {
  resize: vertical;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.error input,
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.error textarea {
  border-color: #e97f7f;
  color: #f00;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.actions {
  text-align: right;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.actions button {
  text-transform: uppercase;
  background: #a7a7a7;
  border: 0;
  padding: 5px 10px 4px;
  margin: 0 0 0 20px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
  transition: opacity ease-in-out 0.2s, background ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.actions button:hover {
  background: #7B7B7B;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.captchaContainer > .captchaError {
  display: none;
  font-size: 14px;
  line-height: 1.3;
  color: #f00;
  padding: 10px 5px;
  margin: 0 0 5px;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper > div.captchaContainer.error > .captchaError {
  display: block;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.anonymCommentWrapper.addingAnonComment > div.actions .post {
  opacity: 0.4;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top {
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  height: 25px;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span {
  font: 14px/1.3 Arial, sans-serif;
  color: #949494;
  position: relative;
  margin: 0;
  padding: 0 30px 0 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span:after {
  color: #c4c4c4;
  font: 18px/1.3 FontAwesome;
  position: absolute;
  display: block;
  top: -4px;
  left: auto;
  right: 10px;
  bottom: auto;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.comments:after {
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.likes:after {
  transition: color ease-in-out 0.2s;
  content: "";
  top: -3px;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.likes.liked:after {
  color: #FF6D6D;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.sort {
  position: absolute;
  right: 10px;
  left: auto;
  top: auto;
  bottom: auto;
  cursor: pointer;
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.sort:after {
  content: "";
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.sort.desc:after {
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.sort:hover {
  color: #5b5b5b;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .top > span.sort:hover:after {
  color: #8f8f8f;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .newCommentWrapper {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 20px;
  right: 20px;
  border: 0;
  border-top: 1px solid #dbdbdb;
  padding: 0 65px 0 0;
  background: #fff;
  z-index: 1;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .newCommentWrapper:before {
  color: #c4c4c4;
  font: 33px/1 FontAwesome;
  position: absolute;
  display: block;
  top: 50%;
  left: auto;
  right: auto;
  bottom: auto;
  margin: -17px 0 0;
  content: "";
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .newCommentWrapper > button {
  background: #a7a7a7;
  border: 0;
  border-radius: 2px;
  margin: -14px 0 0;
  padding: 5px 10px 4px;
  font: 14px/1.3 Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  transition: background ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .newCommentWrapper > button:hover {
  background: #7B7B7B;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .newCommentWrapper > textarea {
  color: #878787;
  font: 16px/1.3 Arial, sans-serif;
  margin: 0;
  padding: 10px 0 0 40px;
  border: 0;
  background: none;
  resize: none;
  width: 100%;
  height: 40px;
  box-shadow: none;
  box-sizing: border-box;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .newCommentWrapper.filledIn > button {
  background: #1287bd;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > .noComments {
  display: none;
  margin: -10px 0 0;
  padding: 0;
  border: 0;
  font: 16px/1.3 Arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  color: #747474;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-y: scroll;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li {
  display: block;
  margin: 0;
  padding: 10px 0 12px 60px;
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  font: 0/0 Arial;
  min-height: 44px;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > .authorAvatar {
  position: absolute;
  top: 12px;
  left: 0;
  right: auto;
  bottom: auto;
  border: 1px solid #adadad;
  display: block;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > .authorAvatar > img {
  border: 0;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  display: block;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > .author {
  color: #1287bd;
  font: 12px/1.3 Arial, sans-serif;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > div {
  margin: 4px 0 0;
  padding: 0;
  border: 0;
  display: block;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > div > p {
  margin: 10px 0 0;
  padding: 0;
  border: 0;
  display: block;
  font: 12px/1.3 Arial, sans-serif;
  font-weight: normal;
  color: #000;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > div > p:first-child {
  margin: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li > .datetime {
  margin: 4px 0 0;
  padding: 0;
  border: 0;
  display: block;
  font: 11px/1.3 Arial, sans-serif;
  font-weight: normal;
  color: #949494;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > div.main > ul > li:last-child {
  border: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > span.closeComments {
  position: absolute;
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  background: #dadada;
  padding: 0 10px 10px;
  margin: 0 0 0 -40px;
  border: 0;
  border-radius: 0 0 4px 4px;
  width: 60px;
  height: 25px;
  z-index: 2;
  transition: background ease-in-out 0.2s;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > span.closeComments:after {
  content: "";
  font: 18px/1 FontAwesome;
  color: #767676;
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 0;
  border: 0;
  padding: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > span.closeComments:hover {
  background: #cbcbcb;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper > span.closeComments:hover:after {
  color: #3c3c3c;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper.noComments > div.main > .noComments {
  display: block;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper.showAnonymWindow > div.anonymCommentWrapper {
  left: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper.loading > p.loading {
  top: 50%;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper.loading > div.main > .top > span.sort {
  right: -100%;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper.loading > div.main > ul {
  opacity: 0;
}
.smbLightOverlayWrapper.modern.smbPlus > .commentsModalWrapper.loading > div.main > .newCommentWrapper {
  bottom: 100%;
}
.smbLightOverlayWrapper.modern.smbPlus.modalActive > .modalOverlay {
  top: 0;
}
.smbLightOverlayWrapper.modern.smbPlus.modalActive > .commentsModalWrapper {
  transform: translate3d(0, 0, 0);
}
.smbLightOverlayWrapper.modern.smbPlus.firstItem > .navigation.prev {
  opacity: 0;
}
.smbLightOverlayWrapper.modern.smbPlus.lastItem > .navigation.next {
  opacity: 0;
}
.smbLightOverlayWrapper.modern.smbPlus.videoActive > .contentWrapper, .smbLightOverlayWrapper.modern.smbPlus.audioActive > .contentWrapper {
  z-index: 2;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .mobileOverlay {
  box-shadow: 0 160px 110px -135px #000 inset, -115px 0 120px -100px #000 inset, 115px 0 120px -100px #000 inset, 0 -160px 110px -135px #000 inset;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .navigation {
  width: 46px;
  height: 72px;
  margin-top: -36px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .navigation > span {
  top: 9px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .navigation > span:after {
  font-size: 45px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .navigation:hover {
  opacity: 1;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .navigation:hover > span:after {
  color: #fff;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent.lastItem > .navigation.next {
  transform: translate3d(100%, 0, 0);
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent.firstItem > .navigation.prev {
  transform: translate3d(-100%, 0, 0px);
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper {
  border-width: 0;
  border-radius: 0;
  width: 400px;
  transform: translate3d(0, 0, 0);
  transition: none;
  right: auto;
  left: 100%;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > div {
  border-radius: 0;
  padding: 20px 10px 0;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > div.main > .top > span.sort {
  left: 50%;
  margin: 0 0 0 -21px;
  position: absolute;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > div.main > .newCommentWrapper {
  left: 10px;
  right: 10px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > div.anonymCommentWrapper {
  border-top: 37px solid #ffffff;
  padding: 5px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > span.closeComments {
  padding: 0;
  margin: 0;
  left: auto;
  right: 10px;
  background: transparent !important;
  width: auto;
  height: auto;
  top: 9px;
  padding: 3px 21px 3px 5px;
  border-radius: 0;
  font: 17px/1.3 Arial, sans-serif;
  color: #c4c4c4;
  transition: color ease-in-out 0.2s;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > span.closeComments:after {
  font: 20px/1.3 FontAwesome;
  color: #c4c4c4;
  text-shadow: none;
  content: "";
  transition: color ease-in-out 0.2s;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
  width: auto;
  display: inline;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > span.closeComments:hover {
  color: #9F9F9F;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .commentsModalWrapper > span.closeComments:hover:after {
  color: #9F9F9F;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent.animateComments > .commentsModalWrapper {
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent.moveComments > .commentsModalWrapper {
  transform: translate3d(-100%, 0, 0);
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .modalOverlay {
  display: none;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .close {
  height: 45px;
  width: 45px;
  opacity: 0.5;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .close > span {
  left: 10px;
  top: 5px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .close > span:after {
  font-size: 29px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .close:hover {
  opacity: 1;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .close:hover > span:after {
  color: #fa3222;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions {
  padding: 8px 10px;
  top: 0;
  bottom: auto;
  opacity: 0.5;
  left: 50%;
  right: auto;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions > span:after, .smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions > span:before {
  font-size: 26px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions:hover {
  opacity: 1;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions:hover > span {
  color: #fff;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions:hover > span:after, .smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions:hover > span:before {
  color: #fff;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions.likeTrigger {
  margin: 0 0 0 50px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions.commentsTrigger {
  margin: 0 0 0 -108px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions.socialButtonsTrigger > span {
  position: relative;
  top: 2px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .actions.socialButtonsTrigger > span:before {
  left: -1;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent .socialButtonsWrapper {
  bottom: auto;
  top: 55px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent .socialButtonsWrapper:after {
  top: auto;
  bottom: 100%;
  border-color: transparent transparent rgba(0, 0, 0, 0.8);
  border-width: 0 20px 10px;
}
.smbLightOverlayWrapper.modern.smbPlus.desktopUserAgent > .itemTitle {
  bottom: 10px;
  font-size: 26px;
}
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .mobileOverlay {
  box-shadow: none;
}
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .navigation,
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .close,
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .actions,
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .socialButtonsWrapper,
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .itemTitle {
  opacity: 0;
}
.smbLightOverlayWrapper.modern.smbPlus.fadeOutControls > .itemTitle {
  bottom: -100px;
}
.smbLightOverlayWrapper.modern.smbPlus.hideControls > .navigation,
.smbLightOverlayWrapper.modern.smbPlus.hideControls > .close,
.smbLightOverlayWrapper.modern.smbPlus.hideControls > .actions,
.smbLightOverlayWrapper.modern.smbPlus.hideControls > .socialButtonsWrapper,
.smbLightOverlayWrapper.modern.smbPlus.hideControls > .itemTitle {
  display: none;
}
.smbLightOverlayWrapper.modern.initializing .mainWrapper .navigation,
.smbLightOverlayWrapper.modern.initializing .mainWrapper .close,
.smbLightOverlayWrapper.modern.initializing .mainWrapper .socialButtonsTrigger {
  display: none;
}
.smbLightOverlayWrapper.modern.initializing > .actions,
.smbLightOverlayWrapper.modern.initializing > .navigation,
.smbLightOverlayWrapper.modern.initializing > .itemTitle {
  opacity: 0 !important;
}
