<!--TemplateGroup:listArticleInBox-->
<!--ArticleRepeat:Before:-->
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/isotope2/isotope.v2.0.0-beta.4_2.2.min.js"></script>
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/imagesLoaded/imagesLoaded_3.1.4_2.2.min.js"></script>
<script>
	eds2_2(function ($) {
		var $articleListContainer = $('.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'),
			imageLoadedKey = 'imageLoaded';

		$articleListContainer
			.isotope({
				itemSelector: '.edn_articleWrapper',
				sortBy: 'original-order',
				masonry: {
					isFitWidth: true
				}
			})
			.find('img').imagesLoaded()
				.progress(function (instance, image) {
					var $img = $(image.img);

					if ($img.data(imageLoadedKey))
						return;

					$img.data(imageLoadedKey, true);

					$articleListContainer.isotope('layout');
				});
	});
</script>
<div class="edn_isotopeLayout">
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
	<div class="EDN_article EDN_articleBox EDN_displayInline edn_articleWrapper">
		[EasyDNNnews:HasArticlePermissions]
		<div>
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_imageContainerBox" style="max-width:[EasyDNNnews:MainArticleImageWidth]">
			[EasyDNNnews:IfExists:Image]
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></a>
			[EasyDNNnews:EndIf:Image]
			<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title][EDNcf:IfExists:price] - [EDNcf:price][EDNcf:EndIf:price]</a></h2>
			<div class="EDN_article_content">[EasyDNNnews:Summary]</div>
			<ul class="EDN_metaDetailsBox">
				<li class="EDN_number-views">[EasyDNNnews:NumberOfViews]</li>
				<li class="EDN_rating">[EasyDNNnews:ArticleRating]</li>
			</ul>
		</div>
	</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->

