<!--TemplateGroup:listArticleSidebarBox-->
<!--ArticleRepeat:Before:-->
<div class="EDN_module_box">
	<h2 class="edn_module_title">
		<span>[EasyDNNnewsLocalizedText:LatestNews]</span>
		[EasyDNNnews:IfExists:RSS]
		<a class="rss EDN_sidebar-news-module-rss" href="[EasyDNNnews:RSSLink]" target="_blank" title="[EasyDNNnewsLocalizedText:RSSLinkText]"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
		[EasyDNNnews:EndIf:RSS]
	</h2>
	<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
		[EasyDNNnews:HasArticlePermissions]
		<div>
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_article EDN_sidebar_box [EasyDNNnews:ItemOrderClasses] [EasyDNNnews:ActiveArticle]">
			<a class="articleTitle" href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">
			[EasyDNNnews:IfExists:Image]
			<div class="EDN_mediaContainer">
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:119:Height:74:Resize:Crop]" width="119" height="74"/>
			</div>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:Title]
			</a>
		</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
<!--RepeatEnd:After:-->
