<!--TemplateGroup:listArticleMulti2-->
<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--MultiArticleTemplate-->
<!--Before:1:2:3:-->
<div class="EDN_article edn_smallMultiarticleBox">
<!--BeforeEnd-->
<!--ArticleRepeat:1:2:3:-->
	<div>
		[EasyDNNnews:IfExists:Image]
		<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:272:Height:373:Resize:Crop]" width="272" height="373"/></a>
		<div class="edn_smallMultiarticleBoxContent">
			<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title:Limit:60]</a></h2>
			<div class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</div>
			<div class="EDN_summary">[EasyDNNnews:Summary:Limit:220]</div>
			<div class="EDN_summary EDN_summary_980">[EasyDNNnews:Summary]</div>
		</div>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		[EasyDNNnews:EndIf:Image]
		[EasyDNNnews:IfNotExists:Image]
		<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
		<div class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</div>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_article_content">[EasyDNNnews:Summary]</div>
		[EasyDNNnews:EndIf:Image]
		<div class="EDN_clear"></div>
	</div>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:1:2:3:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:4:5:6:-->
<div class="EDN_article edn_smallMultiarticleBox">
<!--BeforeEnd-->
<!--ArticleRepeat:4:5:6:-->
	<div>
		[EasyDNNnews:IfExists:Image]
		<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:272:Height:373:Resize:Crop]" width="272" height="373"/></a>
		<div class="edn_smallMultiarticleBoxContent">
			<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title:Limit:60]</a></h2>
			<div class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</div>
			<div class="EDN_summary">[EasyDNNnews:Summary:Limit:220]</div>
			<div class="EDN_summary EDN_summary_980">[EasyDNNnews:Summary]</div>
		</div>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		[EasyDNNnews:EndIf:Image]
		[EasyDNNnews:IfNotExists:Image]
		<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
		<div class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</div>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_article_content">[EasyDNNnews:Summary]</div>
		[EasyDNNnews:EndIf:Image]
		<div class="EDN_clear"></div>
	</div>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:4:5:6:-->
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:7:8:9:10:-->
	<div class="EDN_article">
		[EasyDNNnews:IfExists:Image]
		<div class="EDN_mediaContainer">
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:271:Height:175:Resize:Crop]" width="271" height="175"/></a>
			[EasyDNNnews:HasArticlePermissions]
			<div class="admin_actions">
				[EasyDNNnews:ArticlePermissions:Edit]
				[EasyDNNnews:ArticlePermissions:Publish]
				[EasyDNNnews:ArticlePermissions:Approve]
			</div>
			[EasyDNNnews:HasArticlePermissionsEnd]
			<div class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</div>
		</div>
		[EasyDNNnews:EndIf:Image]
		<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
		[EasyDNNnews:IfExists:SubTitle]
		<h3 class="articleTitle articleSubTitle">[EasyDNNnews:SubTitle]</h3>
		[EasyDNNnews:EndIf:SubTitle]
		[EasyDNNnews:IfNotExists:Image]
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</div>
		[EasyDNNnews:EndIf:Image]
		<div class="EDN_article_content">
			[EasyDNNnews:Summary]
		</div>
	</div>
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:11:12:-->

<!--Before:11:12:-->
<div class="EDN_article EDN_two-articles-row">
<!--BeforeEnd-->
	<div class="EDN_two-articles">
		[EasyDNNnews:IfExists:Image]
		<div class="EDN_mediaContainer">
			<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:141:Height:88:Resize:Crop]" width="141" height="88"/></a>
		</div>
		[EasyDNNnews:EndIf:Image]
		<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title:Limit:60]</a></h2>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_article_content">
			[EasyDNNnews:Summary:Limit:200]
		</div>
	</div>
<!--After:11:12:-->
	<div class="EDN_clear"></div>
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:13:14:-->

<!--Before:13:14:-->
<div class="EDN_article EDN_two-articles-row">
<!--BeforeEnd-->
	<div class="EDN_two-articles">
		[EasyDNNnews:IfExists:Image]
		<div class="EDN_mediaContainer">
			<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:141:Height:88:Resize:Crop]" width="141" height="88"/></a>
		</div>
		[EasyDNNnews:EndIf:Image]
		<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title:Limit:60]</a></h2>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_article_content">
			[EasyDNNnews:Summary:Limit:200]
		</div>
	</div>
<!--After:13:14:-->
	<div class="EDN_clear"></div>
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:15:16:-->

<!--Before:15:16:-->
<div class="EDN_article EDN_two-articles-row">
<!--BeforeEnd-->
	<div class="EDN_two-articles">
		[EasyDNNnews:IfExists:Image]
		<div class="EDN_mediaContainer">
			<a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:141:Height:88:Resize:Crop]" width="141" height="88"/></a>
		</div>
		[EasyDNNnews:EndIf:Image]
		<h2><a class="articleTitle" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title:Limit:60]</a></h2>
		[EasyDNNnews:HasArticlePermissions]
		<div class="admin_actions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<div class="EDN_article_content">
			[EasyDNNnews:Summary:Limit:200]
		</div>
	</div>
<!--After:15:16:-->
	<div class="EDN_clear"></div>
</div>
<!--AfterEnd-->

<!--RepeatEnd-->
<!--MultiArticleEnd-->


<!--MultiArticleTemplate-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
<!--MultiArticleEnd-->
