@import url("../../../static/font-awesome/css/font-awesome.min.css");
/* @import url(https://fonts.googleapis.com/css?family=BenchNine:400,700|Roboto+Slab:400,700&subset=latin,latin-ext) */
/* latin-ext */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/AVs3lMmyGvSpQmMt6DeeRhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/xmB9oJNpSFKa3qTF2JABPltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJZ6iIh_FvlUHQwED9Yt5Kbw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJS_vZmeiCMnoWNN9rHBYaTc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJSFaMxiho_5XQnyRZzQsrZs.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJQalQocB-__pDVGhF3uS2Ks.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJWhQUTDJGru-0vvUpABgH8I.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJejkDdvhIIFj_YMdgqpnSB0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/AVs3lMmyGvSpQmMt6DeeRltXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWRUOjZSKWg4xBWp_C_qQx0o.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zqg5eI2G47JWe0-AuFtD150.woff2) format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJasA81DAeuqoeYxDcSOJPMY.woff2) format("woff2");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 400;
  src: local("BenchNine Regular"), local("BenchNine-Regular"), url(https://fonts.gstatic.com/s/benchnine/v5/AVs3lMmyGvSpQmMt6DeeRj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face {
  font-family: "BenchNine";
  font-style: normal;
  font-weight: 700;
  src: local("BenchNine Bold"), local("BenchNine-Bold"), url(https://fonts.gstatic.com/s/benchnine/v5/qZpi6ZVZg3L2RL_xoBLxWRa1RVmPjeKy21_GQJaLlJI.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZtIh4imgI8P11RFo6YPCPC0.woff) format("woff");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYUt79146ZFaIJxILcpzmhI.woff) format("woff");
}
.eds_news_Vision.eds_subCollection_treeView {
  margin: 0;
  padding: 0;
}
.eds_news_Vision.eds_subCollection_treeView .edTv_headerTitle {
  padding: 0 0 5px;
  margin: 0 0 16px;
  border-bottom: solid 1px #20272d;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  font-family: "BenchNine", sans-serif;
  letter-spacing: normal;
  color: #25282A;
}
.eds_news_Vision.eds_subCollection_treeView li {
  list-style-type: none;
  margin: 0 0 0 13px;
  padding: 0;
}
.eds_news_Vision.eds_subCollection_treeView li ul {
  margin: 0;
  padding: 0;
  background: url("images/category_menu_vertical.png") 0 0 repeat-y;
}
.eds_news_Vision.eds_subCollection_treeView li div {
  position: relative;
  padding: 12px 0 0 15px;
  background: url("images/category_menu_t.png") 0 top no-repeat;
}
.eds_news_Vision.eds_subCollection_treeView li div a {
  display: none;
}
.eds_news_Vision.eds_subCollection_treeView li div .category {
  color: #25282a;
  display: inline;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  font-family: Arial;
  font-size: 12px;
  line-height: 1.5;
}
.eds_news_Vision.eds_subCollection_treeView li div .category:hover {
  color: #78a145;
  text-decoration: none;
}
.eds_news_Vision.eds_subCollection_treeView li:last-child > div {
  background: url("images/category_menu_l.png") 0 top no-repeat;
}
.eds_news_Vision.eds_subCollection_treeView li:last-child > ul {
  background: none;
}
.eds_news_Vision.eds_subCollection_treeView li.opened > div > a.category {
  font-weight: bold;
}
.eds_news_Vision.eds_subCollection_treeView li.active > div > a.category {
  font-weight: bold;
  color: #78a145;
}
.eds_news_Vision.eds_subCollection_treeView li.level_0 {
  margin-left: 0;
}
.eds_news_Vision.eds_subCollection_treeView li.level_0 > ul {
  background: none;
}
.eds_news_Vision.eds_subCollection_treeView li.level_0 > div {
  background: none !important;
}
.eds_news_Vision.eds_subCollection_treeView li.level_0 > div > .category {
  font-weight: bold;
  background-image: none;
}
.eds_news_Vision.eds_subCollection_treeView li.level_0 > div > .expand_collapse {
  left: 0;
}
.eds_news_Vision.eds_subCollection_treeView li.level_1 {
  margin-left: 6px;
}
.eds_news_Vision.eds_subCollection_treeView li.level_1 .edTv_articlesList {
  margin-left: 0;
}
.eds_news_Vision.eds_subCollection_treeView li .articlecount {
  border: solid 1px #c6c9cb;
  border-radius: 10px;
  color: #78a145;
  display: block;
  padding: 0 5px;
  font-family: Arial;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  height: 16px;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 0;
}
.eds_news_Vision.eds_subCollection_treeView li .articlecount:hover {
  color: #3c3c3c;
}
.eds_news_Vision.eds_subCollection_treeView li .articlecount:hover {
  background-position: 0 2px;
}
.eds_news_Vision.eds_subCollection_treeView li .expand_collapse {
  background: #a7abae url("images/expand-collapse.png") no-repeat center 0;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  text-indent: -9999px;
  cursor: pointer;
  display: inline;
  position: absolute;
  left: 7px;
  top: 14px;
  z-index: 1;
}
.eds_news_Vision.eds_subCollection_treeView li .expand_collapse.collapse {
  background-position: 0 -25px;
  visibility: visible;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList {
  padding: 0;
  margin: 0 0 0 -7px;
  background-image: none;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList > li {
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  position: relative;
  background: url("images/category_menu_t-a.png") 0 -12px no-repeat;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList > li:last-child {
  background: url("images/category_menu_l.png") 0 -12px no-repeat;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList > li > div {
  padding: 0;
  background: none;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList > li > div > a {
  font-size: 12px;
  line-height: 1.1;
  padding-top: 3px;
  color: #3b3b3b;
  display: inline-block;
  text-decoration: none;
  border-bottom: dotted 1px transparent;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList > li > div > a:hover {
  text-decoration: none;
  color: #3b3b3b;
  border-bottom-color: #78a145;
}
.eds_news_Vision.eds_subCollection_treeView li .edTv_articlesList > li.edTv_selected > div > a {
  color: #78a145;
}
