/* @import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext) */
/* cyrillic-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/7nBxcqTeiPvFX1XVBk6VGw.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/GdZvpAq9shJukTEvSQbePw.woff) format("woff");
}
.eds_socialEventsWidget * {
  box-sizing: border-box;
}
.eds_socialEventsWidget .eds_title {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  line-height: 1;
  font-weight: bold;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper {
  background: url("images/double-dotted-line.png") repeat-x left bottom;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper + div {
  margin-top: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBarWrapper > .eds_title {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 6px;
  margin: 0 0 2px;
  line-height: 1.3;
  font-size: 18px;
  color: #212121;
  font-size: 18px;
  text-transform: uppercase;
}
.eds_socialEventsWidget .eds_signUpActionBar {
  padding: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio] {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio]:checked + label {
  color: #fff;
  cursor: default;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_signUpActionBar input[type=radio]:checked + label:after {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar label {
  display: inline-block;
  margin: 5px 10px 5px 0;
  background-color: #d5d5d5;
  border: 1px solid #878787;
  min-width: 60px;
  border-radius: 3px;
  color: #555;
  font: normal 15px/1 Arial;
  padding: 6px 9px;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.eds_socialEventsWidget .eds_signUpActionBar label:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  content: "";
  display: inline-block;
  z-index: -1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.eds_socialEventsWidget .eds_signUpActionBar label:hover {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_signUpActionBar label:hover:after {
  opacity: 1;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 label:hover {
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 label:after {
  background-color: #5cb85c;
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue1 input[type=radio]:checked + label {
  background-color: #5cb85c;
  border-color: #438243;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 label:hover {
  border-color: #8a3431;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 label:after {
  background-color: #d9534f;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue2 input[type=radio]:checked + label {
  background-color: #d9534f;
  border-color: #8a3431;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 label:hover {
  border-color: #a2773a;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 label:after {
  background-color: #f0ad4e;
}
.eds_socialEventsWidget .eds_signUpActionBar .eds_optionValue3 input[type=radio]:checked + label {
  background-color: #f0ad4e;
  border-color: #a2773a;
}
.eds_socialEventsWidget .eds_eventUsersWrapper {
  background-color: #E7E7E7;
}
.eds_socialEventsWidget .eds_eventUsersWrapper > .eds_title {
  color: #666;
  font-size: 18px;
  border-bottom: solid 1px #ff7e00;
  padding: 10px 15px;
}
.eds_socialEventsWidget .eds_eventUsers {
  padding: 15px 15px 7px 15px;
}
.eds_socialEventsWidget .eds_eventUsers + .eds_eventUsers {
  border-top: solid 1px #cecece;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title {
  color: #666;
  font-size: 14px;
}
.eds_socialEventsWidget .eds_eventUsers > .eds_title > span {
  color: #ff7e00;
  font-weight: normal;
}
.eds_socialEventsWidget .eds_eventUsers > ul {
  margin: 0;
  padding: 7px 0 0 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li {
  list-style-type: none;
  margin: 0 8px 8px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a {
  display: inline-block;
  line-height: 1;
  position: relative;
  font-size: 0;
  line-height: 0;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover {
  text-decoration: none;
  color: #ff7e00;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span {
  font-size: 12px;
  line-height: 1;
  color: #666;
  opacity: 1;
  visibility: visible;
  top: 10px;
  left: 10px;
  padding: 5px 8px;
  border: solid 1px #ddd;
  border-radius: 2px;
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.4);
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a:hover > span:hover {
  color: #ff7e00;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.eds_socialEventsWidget .eds_eventUsers > ul li > a > span {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  opacity: 0;
  top: 7px;
  background-color: #fff;
  color: #666;
  text-decoration: none;
  font-size: 12px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  -webkit-transition: top 500ms ease;
  -moz-transition: top 500ms ease;
  -ms-transition: top 500ms ease;
  -o-transition: top 500ms ease;
  transition: top 500ms ease;
}
.eds_socialEventsWidget .eds_lblRegistrationInfo {
  background-color: #c0dcfe;
  border: 1px solid #95c1f1;
  border-radius: 4px;
  color: #3b3b3b;
  display: inline-block;
  font-style: italic;
  margin: 10px;
  padding: 5px;
}
