/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0-ExdGM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0aExdGM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yExQ.woff2) format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0yEww.woff) format('woff');
}



.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news h1,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news h2,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news h3,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news h4
{
	font-family: "PT Sans";
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box h2 a
{
	text-decoration: none;
	color: #ff7e00;
	line-height: 14px;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box h2 a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box.EDN_activeclass h2 a:hover
{
	text-decoration: underline;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box.EDN_activeclass h2 a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .EDN_article.EDN_simpleArticle .EDN_simpleDate,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listCatalogSimple .EDN_article.EDN_simpleArticle .EDN_simpleDate,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSimpleAccordion .EDN_article.EDN_simpleArticle .EDN_simpleDate
{
	color: #7E7D7D;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .EDN_article.EDN_simpleArticle h2.simpleArticleTitle a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSimpleAccordion .EDN_article.EDN_simpleArticle h2.simpleArticleTitle a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listCatalogSimple .EDN_article.EDN_simpleArticle h2.simpleArticleTitle a
{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSimple .EDN_article.EDN_simpleArticle h2.simpleArticleTitle a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSimpleAccordion .EDN_article.EDN_simpleArticle h2.simpleArticleTitle a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listCatalogSimple .EDN_article.EDN_simpleArticle h2.simpleArticleTitle a:hover
{
	text-decoration: none;
	color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleInBox > h2 a
{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleInBox > h2 a:hover
{
	text-decoration: none;
	color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper:before
{
	border-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail .eds_timeLineTime,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail .eds_timeLineTime,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail .eds_timelineEventLocation,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail .eds_timelineEventLocation
{
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timeLineTime
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #ff7e00;
	font-size: 15px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticle2 .eds_timeLineThumbnail .eds_timeLineTime
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #ff7e00;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	background-image: url("../images/timeLineEventStartIcon/predefined/timelineTime1.png");
	background-position: 0% 50%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper.eds_timeLineArticleWrapper2 .eds_timeLineThumbnail .eds_timeLineTime .eds_timeLineEventBegin
{
	color: #fff;
	font-size: 38px;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineThumbnail .eds_timelineEventLocation,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineThumbnail .eds_timelineEventLocation
{
	background-image: url("../images/timeLineLocationIcon/predefined/timelineLocation.png");
	background-position: 0% 1px;
	font-family: "PT Sans";
	color: #888;
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail > a
{
	background-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail > a:after,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail > a:after
{
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper:after,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper:after,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail > a:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineThumbnail > a:before
{
	background-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > h2 a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > h2 a
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #fff;
	font-size: 21px;
	line-height: 1;
	font-weight: normal;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > h2 a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > h2 a:hover
{
	text-decoration: none;
	color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > div,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > div,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeAndArticleWrapper:after,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeAndArticleWrapper:after,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper.eds_timeLineArticleWrapper2 .eds_timeLineThumbnail .eds_timeLineTime,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper.eds_timeLineArticleWrapper2 .eds_timeLineThumbnail .eds_timeLineTime
{
	border-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > div,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle > div
{
	box-shadow: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineExportCalendar,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineExportCalendar
{
	background-image: url("../images/timeLineExportEvent/predefined/timelineExportCalendar.png");
	background-position: 50% 50%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration > span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration > span
{
	background-image: url("../images/timeLineEventTime/predefined/timelineTime2.png");
	background-position: 0% 50%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article .eds_timeLineArticle .eds_timeLineEventDuration
{
	text-transform: lowercase;
	text-shadow: none;
	font-family: "Arial";
	color: #6f94a8;
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_article-subtitle
{
	color: #D3D3D3;
	font-size: 14px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleInBox .EDN_article-subtitle
{
	color: #D3D3D3;
	font-size: 13px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news
{
	font-family: "PT Sans";
	color: #fff;
	font-size: 13px;
	line-height: 1.4;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle .EDN_article_content,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleTimeline2 .EDN_article.eds_timeLineArticleWrapper .eds_timeLineArticle .EDN_article_content
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news a
{
	text-decoration: none;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news a:hover
{
	text-decoration: underline;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .EDN_article,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleDefault .EDN_article
{
	background-image: url("../images/articleBottomLine/predefined/triple-dotted-line-dark.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleInBox .EDN_article.EDN_articleInBox
{
	background-color: #00141f;
	background-image: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleSidebarBox .EDN_article.EDN_sidebar_box
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #999ca1;
	font-size: 14px;
	line-height: 1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.opened > div > a.category:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.active > div > a.category:hover
{
	text-decoration: underline;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.opened > div > a.category
{
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li.active > div > a.category
{
	color: #ff7e00;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category span
{
	color: #CECECE;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .category:hover span
{
	color: #CECECE;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div
{
	background-image: url("../images/categoryBullet/predefined/11.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .expand_collapse
{
	background-image: url("../images/expandCollapse/predefined/expand-collapse-dark.png");
	background-position: 4px 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div .expand_collapse.collapse
{
	background-position: 4px -9px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div:hover .expand_collapse
{
	background-position: 4px -27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_category_menu_wrapper li div:hover .expand_collapse.collapse
{
	background-position: 4px -45px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_module_box .rss
{
	background-image: url("../images/categoryRSS/predefined/rss-dark.png");
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_module_box .rss:hover
{
	background-position: 0px -16px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleDefault .EDN_article .EDN_title h2 a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .EDN_article .EDN_title h2 a
{
	text-decoration: none;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleDefault .EDN_article .EDN_title h2 a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listCatalogDefault .EDN_article .EDN_title h2 a:hover
{
	text-decoration: none;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_detailsArticleDefault .EDN_article .EDN_title h1,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_detailsArticleDefaultWithTabs .EDN_article .EDN_title h1
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_image-container .EDN_image-overlay
{
	background-color: rgba(255, 255, 255, .65);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_image-container .EDN_arrow,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_image-container .EDN_arrow:before
{
	border-bottom-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_image-container .EDN_moreIcon span
{
	background-color: #ff7e00;
	background-image: url("../images/articleImageOverlay/icon/predefined/plink.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_catalog-item .EDN_image-container .EDN_image-overlay
{
	background-color: rgba(255, 255, 255, .65);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_catalog-item .EDN_image-container .EDN_arrow,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_catalog-item .EDN_image-container .EDN_arrow:before
{
	border-bottom-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_catalog-item .EDN_image-container .EDN_moreIcon span
{
	background-color: #ff7e00;
	background-image: url("../images/catalogImageOverlay/icon/predefined/plink.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_catalog-item
{
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark .EDN_catalog-item h2 a
{
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}

.eds_news_Triumph.eds_style_predefined_dark .EDN_catalog-item h2 a:hover
{
	text-decoration: none;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_meta-details
{
	color: #fff;
	font-size: 11px;
	line-height: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_meta-details:before
{
	background-color: #3b8dbc;
	background-image: url("../images/metaDetails/icon/predefined/pen.png");
	background-position: 50% 50%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_event-location-container
{
	background-image: url("../images/eventDetails/background/predefined/double-dotted-line-dark.png");
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_event-location-container .edn_eventPrice
{
	font-size: 22px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_event-location-container p.EDN_event-date
{
	background-image: url("../images/eventDetails/icons/predefined/date-dark.png");
	background-position: 0% 0%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_event-location-container p.EDN_event-location
{
	background-image: url("../images/eventDetails/icons/predefined/location-dark.png");
	background-position: 0% 0%;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_event-location-container p.EDN_event-date .export-calendar
{
	background-image: url("../images/eventDetails/exportEvent/predefined/export-dark.png");
	background-position: 50% 2px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_event-location-container p.EDN_event-date .export-calendar:hover
{
	background-position: 50% -21px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_eventRegistrationModalTrigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #eb8841;
	background-color: #ff8659;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2),inset 0px 15px 15px -15px #ff9734;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	font-family: "PT Sans";
	color: #ffffff;
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_eventRegistrationModalTrigger:hover
{
	background-color: #ff9734;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsAccordion .edsAccordion_section .edsAccordion_title
{
	background-color: #002438;
	background-image: url("../images/accordionHeader/expandIcon/predefined/acc-plus-white.png");
	background-position: 98% 50%;
	color: #f8f8f8;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsAccordion .edsAccordion_section .edsAccordion_title:hover
{
	background-color: #ff7e00;
	color: #f8f8f8;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsAccordion .edsAccordion_section.edsAccordion_active .edsAccordion_title
{
	background-color: #ff7e00;
	background-image: url("../images/accordionHeader/expandIcon/predefined/acc-minus.png");
	background-position: 98% 50%;
	color: #f8f8f8;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsTabulator > ul .edsTabulator_tabTrigger
{
	background-color: #00141f;
	color: #cecece;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsTabulator > ul .edsTabulator_tabTrigger:hover
{
	background-color: #00141f;
	color: #ffffff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsTabulator > ul .edsTabulator_tabTrigger.eds__tabulatorActive
{
	background-color: #002438;
	color: #ffffff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_meta-tags
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #002c46;
	background-image: url("../images/tagsAndRating/background/predefined/triple-dotted-line-dark.png");
	background-repeat: repeat-x;
	background-position: 0% 100%;
	color: #878787;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_meta-tags .EDN_tags a
{
	color: #BBBBBB;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_meta-tags .EDN_tags a:hover
{
	color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_articleMeta > li
{
	color: #919191;
}

.eds_news_Triumph.eds_style_predefined_dark .EDN_article .EDN_articleMeta > li.EDN_simpleNumberVievs
{
	background-image: url("../images/articleMeta/icons/numberOfViews/predefined/numberViews.png");
}

.eds_news_Triumph.eds_style_predefined_dark .EDN_article .EDN_articleMeta > li.EDN_simpleNumberComments
{
	background-image: url("../images/articleMeta/icons/numberOfComments/predefined/numberComments.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments
{
	border-width: 1px;
	border-style: solid;
	border-color: #002c46;
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments > h2
{
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	font-style: normal;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments ul li > a
{
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_listDescription
{
	font-style: italic;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_docDetails
{
	color: #969696;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_docExtension
{
	font-style: italic;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleDocuments ul li .edn_docFileSize
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleLinks
{
	border-width: 1px;
	border-style: solid;
	border-color: #002c46;
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleLinks > h2
{
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	font-style: normal;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleLinks ul li > a
{
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_articleLinks ul li > span
{
	font-style: italic;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_listOfAttendants
{
	border-width: 1px;
	border-style: solid;
	border-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_listOfAttendants > table tr.edn_listOfAttendantsHeader:first-child
{
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_listOfAttendants > table tr:first-child th
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
	text-shadow: none;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(even)
{
	background-color: transparent;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(odd)
{
	background-color: #002134;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_listOfAttendants > table tr td
{
	color: #969696;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_cf_all_fields_container
{
	border-width: 1px;
	border-style: solid;
	border-color: #003350;
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_cf_all_fields_container > table tr td
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_icon
{
	background-image: url("../images/articleCustomFields/checkBoxIcon/predefined/checkBox.png");
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_checked .EDN_cf_checkbox_icon
{
	background-position: 0px -27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails:before
{
	border-left-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails
{
	background-color: #001722;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails > h4
{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	color: #fff;
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.author_rss
{
	background-image: url("../images/authorAndGroupBox/rssIcon/predefined/rss-dark.png");
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.author_rss:hover
{
	background-position: 0px -16px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails img
{
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #b9c3da;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.facebook
{
	border-width: 1px;
	border-style: solid;
	border-color: #003b52;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.facebook:hover
{
	background-position: 50% -17px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.facebook.social
{
	background-color: #002438;
	background-image: url("../images/authorAndGroupBox/socialGroupsLinks/facebook/background/predefined/icon-dark.png");
	background-position: 50% 3px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.twitter
{
	border-width: 1px;
	border-style: solid;
	border-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.twitter:hover
{
	background-position: 50% -16px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.twitter.social
{
	background-color: #002438;
	background-image: url("../images/authorAndGroupBox/socialGroupsLinks/twitter/background/predefined/icon-dark.png");
	background-position: 50% 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.linked_in
{
	border-width: 1px;
	border-style: solid;
	border-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.linked_in:hover
{
	background-position: 50% -19px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.linked_in.social
{
	background-color: #002438;
	background-image: url("../images/authorAndGroupBox/socialGroupsLinks/linkedIn/background/predefined/icon-dark.png");
	background-position: 50% 2px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.google_plus
{
	border-width: 1px;
	border-style: solid;
	border-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.social.google_plus:hover
{
	background-position: 50% -19px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_authorGroupDetails .button.google_plus.social
{
	background-color: #002438;
	background-image: url("../images/authorAndGroupBox/socialGroupsLinks/googlePlus/background/predefined/icon-dark.png");
	background-position: 50% 2px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles:before
{
	border-top-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles
{
	background-color: #00141f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles > h2
{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
	color: #fff;
	line-height: 1.4;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00324e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles ul li a
{
	text-decoration: none;
	color: #175273;
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles ul li a:hover
{
	text-decoration: underline;
	color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .edn_relatedArticles ul li
{
	background-image: url("../images/relatedArticles/articleTitle/bullet/predefined/3.png");
	background-position: 0px 2px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .num_of_comment
{
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .right_side .END_comment_details .user_avatar
{
	border-width: 1px;
	border-style: solid;
	border-color: #001722;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .2);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .right_side .EDN_content_container .content
{
	border-width: 1px;
	border-style: solid;
	border-color: #3689b2;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .2);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .right_side .EDN_content_container .content > p
{
	color: #878787;
	font-size: 11px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .right_side .EDN_content_container .content > p .EDN_date_time
{
	color: #175273;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .right_side .EDN_content_container .content > div
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment h3
{
	color: #fff;
	font-size: 16px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.left
{
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right textarea,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .edit_comment textarea
{
	border-color: #00324E;
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right input.text:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right textarea:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .edit_comment textarea:hover
{
	border-color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right input.text:focus,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right textarea:focus,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .comment_list .comment .edit_comment textarea:focus
{
	border-color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right .submit
{
	border-width: 1px;
	border-style: solid;
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4),inset 0px -32px 32px -15px #ff6633;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	text-decoration: none;
	color: #fff;
	line-height: 27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .article_comments .add_comment .add_article_box table td.right .submit:hover
{
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 32px 32px -15px #ff6633;
	text-decoration: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_readmore
{
	border-width: 1px;
	border-style: solid;
	border-color: #00324e;
	background-color: #002438;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article .EDN_readmore:hover
{
	background-color: #ff7e00;
	box-shadow: inset 0px -2px 0px 0px rgba(33, 33, 33, .25),inset 0px 32px 32px -15px #ff6633;
	text-decoration: none;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_module_box.EDN_sidebar_box_container .edn_module_title > span
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_module_box.EDN_sidebar_box_container > .edn_module_title,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_module_box.EDN_sidebar_box_container > .DNNModuleContent
{
	border-color: #00324e;
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_module_box.EDN_sidebar_box_container > .edn_module_title > span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_module_box.EDN_sidebar_box_container > .DNNModuleContent > div
{
	border-color: #001622;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article_rss_wrapper a
{
	line-height: 14px;
	background-image: url("../images/articlesRSSLink/icon/predefined/rss-dark.png");
	background-position: 0px -16px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article_rss_wrapper a:hover
{
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #04314f;
	background-color: #00121c;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger:hover
{
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager a.active,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger .actionTextContainer span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger:hover .actionTextContainer span
{
	text-shadow: 0px 1px 0px #000;
	text-decoration: none;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager a.active,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pagination span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay > span
{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
	text-decoration: none;
	color: #F1F1F1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavImage:after
{
	border-radius: 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavTitle
{
	background-color: rgba(0, 0, 0, .2);
	border-radius: 0px;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_tagCloud > .edn_module_title > span
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_tagCloud > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_tagCloud .tags a
{
	border-width: 1px;
	border-style: solid;
	border-color: #3689b2;
	background-color: #00141f;
	text-decoration: none;
	font-family: "PT Sans";
	color: #fff;
	font-size: 11px;
	line-height: 22px;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_tagCloud .tags a:hover
{
	background-color: #FF7E00;
	text-decoration: none;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_module_box > .edn_module_title > span
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_categoryMenu .edn_module_box > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .search_input > .input input[type="text"]
{
	border-width: 1px;
	border-style: solid;
	border-color: #00324E;
	background-color: #002438;
	text-transform: none;
	font-family: "PT Sans";
	color: #fff;
	font-size: 14px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .search_input > .input input[type="text"]:hover
{
	border-color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .search_input > .input input[type="text"]:focus
{
	border-color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .search_input .do_search
{
	background-image: url("../images/simpleSearch/submitButton/buttonInside/icon/predefined/icon.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .search_input.button_outside .do_search
{
	border-width: 1px;
	border-style: solid;
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4),inset 0px -32px 32px -15px #ff6633;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	text-decoration: none;
	color: #fff;
	line-height: 27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .search_input.button_outside .do_search:hover
{
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 32px 32px -15px #ff6633;
	text-decoration: none;
}

.EDN_search.theme_Triumph.dark
{
	background-color: #00121c;
	border-color: #3689b2;
	box-shadow: 0px 0px 2px 3px #000;
}

.EDN_search.theme_Triumph.dark ul li span a
{
	color: #fff;
}

.EDN_search.theme_Triumph.dark ul li span a:hover
{
	color: #ff7e00;
}

.EDN_search.theme_Triumph.dark .acSelect
{
	border-color: #3688b0;
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch
{
	border-width: 1px;
	border-style: solid;
	border-color: #00324E;
	background-color: #001a29;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonListName,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList .edncf_CheckBoxListName,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput label > span
{
	font-family: "PT Sans";
	color: #00598d;
	font-size: 12px;
	line-height: 2;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList label,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList label,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text label,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField label,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span
{
	font-family: "PT Sans";
	color: #fff;
	font-size: 12px;
	line-height: 2.3;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span:before
{
	background-image: url("../images/advancedSearch/checkBoxes/predefined/checkBox-dark.png");
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox input[type="checkbox"]:checked + label:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li.selected label > span:before
{
	background-position: 0px -27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton label:before
{
	background-image: url("../images/advancedSearch/radioButtons/predefined/radioButton-dark.png");
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton input[type="radio"]:checked + label:before
{
	background-position: 0px -33px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch > .edn_module_title > span
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002C46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]
{
	border-width: 1px;
	border-style: solid;
	border-color: #002c46;
	background-color: #00131e;
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]:hover
{
	border-color: #FF7E00;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]:focus
{
	border-color: #FF7E00;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	border-width: 1px;
	border-style: solid;
	border-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select option,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > span
{
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select:disabled
{
	color: #ABABAB;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:before,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > div
{
	border-left-color: #002c46;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line
{
	background-color: #002b43;
	box-shadow: inset 0px 7px 7px -4px #000a0f,0px 1px 1px 0px #001a29;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-slider
{
	background-image: url("../images/advancedSearch/rangeSlider/sliders/predefined/slider-dark.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line .irs-line-mid
{
	background-color: #00253a;
	border-top-color: #000508;
	border-right-color: #000508;
	border-bottom-color: #00324f;
	border-left-color: #000508;
	box-shadow: inset 0px 5px 5px -3px #00324f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-diapason
{
	background-color: #ff8b00;
	box-shadow: inset 0px 3px 3px 0px #bb6600,inset 0px -1px 1px -1px #f47a00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-single
{
	font-family: "Arial";
	color: #ff7e00;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-min,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-max
{
	font-family: "Arial";
	color: #fff;
	font-size: 10px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control
{
	border-color: #002c46;
	background-color: #00131e;
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control:hover
{
	border-color: #FF7E00;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control:focus
{
	border-color: #FF7E00;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon
{
	border-top-color: #002c46;
	border-bottom-color: #002c46;
	border-right-color: #002c46;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon .glyphicon
{
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit
{
	border-width: 1px;
	border-style: solid;
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4),inset 0px -32px 32px -15px #ff6633;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	text-decoration: none;
	color: #fff;
	line-height: 27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover
{
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 32px 32px -15px #ff6633;
	text-decoration: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset
{
	border-width: 1px;
	border-style: solid;
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .4),inset 0px -32px 32px -15px #ff6633;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	text-decoration: none;
	color: #fff;
	line-height: 27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset:hover
{
	border-color: #eb8841;
	background-color: #ff7e00;
	background-image: none;
	box-shadow: inset 0px 32px 32px -15px #ff6633;
	text-decoration: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_item .ednSbl_letter
{
	color: #ffffff;
	background-color: #00121c;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover a.ednSbl_item .ednSbl_letter
{
	color: #ffffff;
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_letter
{
	color: #ffffff;
	background-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search span.ednSbl_item .ednSbl_letter
{
	color: #003e60;
	background-color: #00121c;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_item
{
	border-color: #04314f;
	border-radius: 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover a.ednSbl_item
{
	border-color: #04314f;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item
{
	border-color: #04314f;
	border-radius: 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search span.ednSbl_item
{
	border-color: #04314f;
	border-radius: 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover .ednSbl_item
{
	border-radius: 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_item .ednSbl_count
{
	color: #ffffff;
	background-color: #00121c;
	border-color: #ff7e00;
	border-radius: 2px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_count
{
	color: #ffffff;
	background-color: #00121c;
	border-color: #ff7e00;
	border-radius: 2px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td
{
	border-color: #00324E;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td .month_selection
{
	background-color: #001723 !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection tr td
{
	font-family: "PT Sans";
	color: #fff;
	font-style: normal;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .top_calendar_actions a
{
	background-image: url("../images/calendar/topCalendarActions/predefined/icons-dark.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table tr td.day
{
	background-color: #00131e !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .edn_styledSelect > span
{
	border-width: 1px;
	border-style: solid;
	border-color: #002c46;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .edn_styledSelect > span select
{
	font-family: "Arial";
	color: #fff;
	font-size: 11px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .edn_styledSelect > span::before
{
	border-left-color: #002c46;
	background-color: #00131e;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection tr td.next_prev_months a
{
	border-width: 2px;
	border-style: solid;
	border-color: #fff;
	background-color: #1E659B;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection tr td.next_prev_months a:hover
{
	border-color: #FF7A07;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.week_days
{
	background-color: #ff7a07 !important;
	font-family: "PT Sans";
	color: #ffffff;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day
{
	background-color: #00141F;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day > a:hover
{
	background-color: #14315f !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.today > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.today > span
{
	background-color: #14315f !important;
	color: #fff !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.selected > a
{
	background-color: #01649d !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-red
{
	background-color: #ff0000;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-blue
{
	background-color: #0000ff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-black
{
	background-color: #000;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-green
{
	background-color: #008000;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-yellow
{
	background-color: #ffff00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-pink
{
	background-color: #ffc0cb;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-gray
{
	background-color: #808080;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-orange
{
	background-color: #ffa500;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-brown
{
	background-color: #a52a2a;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.has_events > a:after
{
	border-bottom-color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.has_posts > a:before
{
	border-top-color: #1E659B;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day > span
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #fff;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day > a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.today > a:hover
{
	color: #fff !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.other_month > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.other_month > span
{
	color: #afafaf;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.selected > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.has_events.selected > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.has_posts.selected > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.has_events.has_posts.selected > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-red > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-blue > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-black > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-green > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-yellow > a
{
	color: #666;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-pink > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-gray > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-orange > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container .calendar_table tr td.day.EDNcategorycolor-brown > a
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a
{
	border-color: #3689b2;
	background-color: #002438;
	font-family: "Arial";
	color: #fff;
	font-size: 10px;
	line-height: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a:hover
{
	background-color: #043652 !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-red
{
	border-color: #ff0000;
	background-color: #FFBABA;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
	background-color: #BADEFF;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-black
{
	border-color: #000;
	background-color: #A0A0A0;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-green
{
	border-color: #008000;
	background-color: #A5FFA4;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
	background-color: #FEFDC1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
	background-color: #FFF1F3;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-gray
{
	border-color: #808080;
	background-color: #E7E7E7;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
	background-color: #FFF4DE;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
	background-color: #FFE0B8;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a
{
	border-color: #ff7e00;
	background-color: #002438;
	font-family: "Arial";
	color: #fff;
	font-size: 10px;
	line-height: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a:hover
{
	background-color: #043652 !important;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-red
{
	border-color: #ff0000;
	background-color: #FFBABA;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
	background-color: #BADEFF;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-black
{
	border-color: #000;
	background-color: #A0A0A0;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-green
{
	border-color: #008000;
	background-color: #A5FFA4;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
	background-color: #FEFDC1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
	background-color: #FFF1F3;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-gray
{
	border-color: #808080;
	background-color: #E7E7E7;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
	background-color: #FFF4DE;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table td.day > ul > li.event > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
	background-color: #FFE0B8;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .edn_module_box > .edn_module_title > span
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .edn_module_box > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div .edn_archive-year,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div .edn_archive-month
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #fff;
	font-size: 14px;
	line-height: 1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div .edn_archive-year:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div .edn_archive-month:hover
{
	text-decoration: none;
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.opened > div > .edn_archive-year,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.opened > div > .edn_archive-month
{
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > .edn_archive-year,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > .edn_archive-month
{
	color: #ff7e00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
	background-image: url("../images/calendarArchive/archiveItems/bullet/predefined/11.png");
	background-position: 6px 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div .icon.expand_collapse
{
	background-image: url("../images/calendarArchive/archiveItems/expandCollapse/predefined/expand-collapse-dark.png");
	background-position: 4px 4px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div .icon.expand_collapse.collapse
{
	background-position: 4px -9px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div:hover .icon.expand_collapse
{
	background-position: 4px -27px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li div:hover .icon.expand_collapse.collapse
{
	background-position: 4px -45px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events > .edn_module_title > span
{
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 18px;
	line-height: 1.3;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events > .edn_module_title
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events > .edn_module_title .rss
{
	background-image: url("../images/calendarEvents/moduleTitle/rssIcon/predefined/rss-dark.png");
	background-position: 0px 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events > .edn_module_title .rss:hover
{
	background-position: 0px -16px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events > .edn_module_title .export
{
	background-image: url("../images/calendarEvents/moduleTitle/exportIcon/predefined/export-dark.png");
	background-position: 50% -23px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events > .edn_module_title .export:hover
{
	background-position: 50% 0px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events ul li a
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #fff;
	line-height: 15px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events ul li a:hover
{
	text-decoration: none;
	color: #175273;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events ul li a span
{
	color: #999ca1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_calendar .archive_list.events ul li
{
	background-image: url("../images/calendarEvents/eventsItems/bullet/predefined/2.png");
	background-position: 5px 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.qtip.edn_calendarbox_Triumph.dark
{
	background-color: #00121c;
	border-width: 1px;
	border-style: solid;
	border-color: #3689b2;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article > p.title a
{
	font-family: "PT Sans";
	color: #2a7ca7;
	font-size: 13px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article > p.title a:hover
{
	text-decoration: none;
	color: #ff7e00;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article > p.title
{
	font-family: "PT Sans";
	color: #2a7ca7;
	font-size: 13px;
	font-weight: bold;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article_list > li > a
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #a1a1a1;
	font-size: 12px;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article_list > li > a:hover
{
	text-decoration: none;
	color: #ff7d02;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article_list > li
{
	text-decoration: none;
	font-family: "PT Sans";
	color: #a1a1a1;
	font-size: 12px;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article_list > li > p
{
	font-family: "PT Sans";
	color: #a1a1a1;
	font-size: 11px;
}

.qtip.edn_calendarbox_Triumph.dark .qtip-content > .wrapper > .article > .content
{
	font-family: "PT Sans";
	color: #fff;
	font-size: 12px;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .title
{
	background-color: #002438;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #002c46;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .title span,
.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .title span a
{
	font-family: "PT Sans";
	color: #fff;
	font-weight: bold;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .title span a:hover
{
	text-decoration: none;
	color: #ff7e00;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article img
{
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: #b9c3da;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article > a
{
	border-width: 1px;
	border-style: solid;
	border-color: #00324E;
	background-color: #002438;
	text-decoration: none;
	font-family: "PT Sans";
	color: #fff;
	font-size: 12px;
}

.qtip.edn_calendarbox_Triumph.dark > .qtip-content > .wrapper > .article > a:hover
{
	background-color: #ff7d02;
	text-decoration: none;
	color: #fff;
}

.qtip.edn_calendarbox_Triumph.dark .qtip-content > .wrapper > .article > p.location
{
	background-image: url("../images/qtip/eventLocation/icon/predefined/location-dark.png");
	background-position: 0% 0%;
	font-family: "PT Sans";
	color: #999ca1;
	font-size: 12px;
	line-height: 22px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .article_pager,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .ednMoreArticlesTriggerWrapper,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .edsAccordionEventsBox .edsAccordion_section .edsAccordion_contentWrapper .edsAccordion_content
{
	border-color: #003350;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title > span
{
	background-color: #ff7e00;
	text-transform: uppercase;
	font-family: "PT Sans";
	color: #fff;
	font-size: 13px;
	line-height: 1;
	font-weight: normal;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title
{
	border-width: 1px;
	border-style: solid;
	border-color: #ff6633;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title .EDN_eventsModuleBoxRSS
{
	text-transform: lowercase;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_eventsModuleBox .edn_module_title .EDN_eventsModuleBoxRSS:hover
{
	text-decoration: underline;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover
{
	background-color: #f2631d;
	box-shadow: inset 0px 60px 30px -30px #ff8611;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTitle
{
	font-family: "PT Sans";
	color: #fff;
	font-size: 14px;
	line-height: 1;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTitle
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTime
{
	font-family: "PT Sans";
	color: #6c6c6c;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxLocation,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTime
{
	color: #000;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxLocation
{
	background-image: url("../images/eventBox/eventLocationAndTime/icons/location/predefined/location.png");
	background-position: 0px 1px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxLocation
{
	background-position: 0px -49px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventBox .EDN_eventBoxTime
{
	background-image: url("../images/eventBox/eventLocationAndTime/icons/time/predefined/time.png");
	background-position: 0px 1px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventBox .EDN_eventBoxTime
{
	background-position: 0px -49px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate
{
	font-family: "PT Sans";
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:before
{
	border-right-color: #003350;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover:before
{
	background-color: #de6e1f;
	border-right-color: #fca61c !important;
	box-shadow: inset 3px 0px 6px 0px rgba(0, 0, 0, 0.45);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishDay
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishDay
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishMonth
{
	text-transform: uppercase;
	color: #fe8918;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishMonth
{
	color: #fe8918;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a .EDN_eventsBoxDate .EDN_eventPublishYear
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .EDN_article.EDN_eventsBox > a:hover .EDN_eventsBoxDate .EDN_eventPublishYear
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a
{
	border-width: 7px;
	border-color: #001a29;
	background-color: #a7abae;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a:hover
{
	border-color: #ff7e00;
	background-color: #a7abae;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .article_pager > a.active,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .article_pager > a.active
{
	border-color: #ff7e00;
	background-color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #04314f;
	background-color: #00121c;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger:hover,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger:hover
{
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	background-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger .actionTextContainer span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger .actionTextContainer span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay
{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger:hover .actionTextContainer span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger:hover .actionTextContainer span
{
	text-shadow: 0px 1px 0px #000;
	text-decoration: none;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBox .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay > span,
.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news.eds_templateGroup_listArticleEventBoxAccordion .ednMoreArticlesTriggerWrapper > button.trigger > span.loadingOverlay > span
{
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.13);
	text-decoration: none;
	color: #F1F1F1;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph a.edsgg_galleryBackLink
{
	border-color: #04314f;
	background-color: #00121c;
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph a.edsgg_galleryBackLink:hover
{
	background-color: #002438;
	text-decoration: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph a.edsgg_galleryBackLink:before
{
	background-image: url("../images/gravityGallery/viewInGalleryButton/icon/predefined/photow.png");
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger
{
	border-color: #04314f;
	background-color: #00121c;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover
{
	background-color: #002438;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText span
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText span
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay
{
	background-color: #FF7E00;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay > span
{
	color: #fff;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__itemsListContainer .edsgg__itemContainer
{
	border-top-color: #002c46;
	border-right-color: #002c46;
	border-bottom-color: #002c46;
	border-left-color: #002c46;
	background-color: #00141f;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title
{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer > a:hover .edsgg_title
{
	text-decoration: none;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description
{
	color: #fff;
	font-size: 11px;
}

.eds_news_Triumph.eds_style_predefined_dark.eds_subCollection_news .eds_GravityGallery_Triumph .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_image_thumbnail
{
	border-color: #00324e;
	background-color: #00141f;
}

