@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/css?family=Exo|PT+Sans&subset=latin,latin-ext) */
/* latin-ext */
@import url("../../../../static/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(https://fonts.gstatic.com/s/exo/v4/J59yWLG3iwczjwZ63gnONw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(https://fonts.gstatic.com/s/exo/v4/kA_pX0U45Eb7PbHijV1x2w.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(https://fonts.gstatic.com/s/exo/v4/vSFmJTMa8EC9GxwcmIvm7A.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/7nBxcqTeiPvFX1XVBk6VGw.woff2) format("woff2");
}
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: local("Exo Regular"), local("Exo-Regular"), url(https://fonts.gstatic.com/s/exo/v4/NhShzqosC_KzkbrKRjCNPA.woff) format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(https://fonts.gstatic.com/s/ptsans/v8/GdZvpAq9shJukTEvSQbePw.woff) format("woff");
}
.eds_socialEventsWidget * {
  box-sizing: border-box;
}
.eds_socialEventsWidget .edSe_title {
  font-family: "Exo", sans-serif;
  margin: 0;
  letter-spacing: normal;
  line-height: 1;
}
.eds_socialEventsWidget > div {
  border: solid 1px #d0d0d0;
  border-radius: 6px;
}
.eds_socialEventsWidget > div + div {
  margin-top: 15px;
}
.eds_socialEventsWidget > div > h3 {
  font-size: 25px;
  color: #292929;
  border-bottom: solid 1px #d0d0d0;
  padding: 15px;
}
.eds_socialEventsWidget .eds_signUpActionBar {
  display: inline-block;
  margin: 20px;
  vertical-align: middle;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > input[type=radio] {
  display: none;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > input[type=radio]:checked + label::before {
  opacity: 1;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > label {
  position: relative;
  line-height: 1;
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  bacgrkound-color: #fff;
  -webkit-transition: all 200ms linear;
  -khtml-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span > label::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "FontAwesome";
  text-align: center;
  font-size: 29px;
  line-height: 1.2;
  opacity: 0;
  display: inline-block;
  cursor: default;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > label {
  border-color: #1ecd97;
  color: #1ecd97;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > label:hover {
  color: #fff;
  background-color: #1ecd97;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > label {
  border-color: #e44d54;
  color: #e44d54;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > label:hover {
  color: #fff;
  background-color: #e44d54;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > label {
  border-color: #bec3c7;
  color: #bec3c7;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > label:hover {
  color: #fff;
  background-color: #bec3c7;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > input[type=radio]:checked + label {
  color: #1ecd97;
  border-color: #1ecd97;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue1 > input[type=radio]:checked + label::before {
  background-color: #1ecd97;
  content: "";
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > input[type=radio]:checked + label {
  color: #e44d54;
  border-color: #e44d54;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue2 > input[type=radio]:checked + label::before {
  background-color: #e44d54;
  content: "";
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > input[type=radio]:checked + label {
  color: #bec3c7;
  border-color: #bec3c7;
}
.eds_socialEventsWidget .eds_signUpActionBar > div > span.eds_optionValue3 > input[type=radio]:checked + label::before {
  background-color: #bec3c7;
  content: "";
}
.eds_socialEventsWidget .edSe_eventUsers {
  padding: 15px;
}
.eds_socialEventsWidget .edSe_eventUsers + .edSe_eventUsers {
  border-top: solid 1px #d0d0d0;
}
.eds_socialEventsWidget .edSe_eventUsers > h4 {
  color: #7b7b7b;
  font-size: 16px;
}
.eds_socialEventsWidget .edSe_eventUsers > h4 > span {
  color: #187cc2;
}
.eds_socialEventsWidget .edSe_eventUsers > ul {
  margin: 0;
  padding: 15px 0 0 0;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li {
  list-style-type: none;
  margin: 0 8px 8px 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a {
  display: inline-block;
  line-height: 1;
  position: relative;
  font-size: 0;
  line-height: 0;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a > img {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a > span {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  color: #888;
  font-size: 13px;
  opacity: 0;
  top: 5px;
  left: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  line-height: 1.1;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  border-radius: 3px;
  padding: 4px 10px 3px;
  -webkit-transition: all 300ms ease;
  -khtml-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a:hover {
  text-decoration: none;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a:hover > span {
  opacity: 1;
  visibility: visible;
  top: 10px;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a:hover > span:hover {
  color: #187cc2;
}
.eds_socialEventsWidget .edSe_eventUsers > ul li > a:hover > img {
  border-color: #888;
}
.eds_socialEventsWidget .eds_lblRegistrationInfo {
  display: block;
  padding: 5px;
  font-style: italic;
  color: #3b3b3b;
  background-color: #c0dcfe;
  border: solid 1px #95c1f1;
  border-radius: 4px;
  margin: 15px;
}
