#{$baseThemeClass}

	&.eds_subCollection_tagCloud

		div, a, span
			font-family: inherit
			color: inherit
			line-height: inherit
			font-size: inherit

		> div

			a
				border: solid 1px $primaryColor
					radius: 4px
				font-size: 14px
				text-decoration: none
				margin: 0 5px 5px 0
				display: inline-block
				overflow: hidden

				span
					display: inline-block
					color: $primaryColor
					padding: 5px 10px
					background-color: #fff
					font-weight: bold
					@include transition (all linear 200ms)

					&:first-child
						background-color: $primaryColor
						color: #fff
						font-weight: normal

				&:hover

					span

						&:first-child
							background-color: #fff
							color: $primaryColor






