﻿<section name="formSettings">
   <style>
       .come-back-left {
           border: 1px solid;
       }
   </style>
    <!-- FORM -->
    <form></form>
    <form name="formUpdateSettings" id="settingsForm" novalidate>
        <button ng-click="vm.clickCancelarSettings()" type="button" class="btn btn-default come-back-left" aria-label="Left Align">
            <span class="k-icon k-i-undo" style=" margin-left: -10px; margin-top: -5px; padding-right: 27px;" aria-hidden="true"></span><strong>Volver</strong>
        </button>
        <div class="row">

            <div class="col-md-12">
                <h4>Actualizar Interés</h4>
            </div>
            <div class="col-md-4 form-group">
                <input type="hidden"  name="id" required ng-model="vm.settingEdit.Id" />
                <label><small>Nombre en español:</small></label>
                <input class="form-control" ng-model="vm.settingEdit.name_spanish" name="name_spanish" required placeholder="Nombre en español" />
                <div ng-show="formUpdateSettings.$submitted || formUpdateSettings.name_spanish.$touched">
                    <span class="error_forms" ng-show="formUpdateSettings.name_spanish.$error.required ">Nombre es requerido.</span>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label><small>Nombre en Inglés:</small></label>

                <input class="form-control" ng-model="vm.settingEdit.name_english" name="name_english" required placeholder="Nombre en Ingles" />
                <div ng-show="formUpdateSettings.$submitted || formUpdateSettings.name_english.$touched">
                    <span class="error_forms" ng-show="formUpdateSettings.name_english.$error.required ">Nombre en Inglés es requerido.</span>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label><small>Tipo de interés:</small></label>
                <select ng-pattern="/[1-9]/"  kendo-drop-down-list class="form-control" k-options="vm.optionsInterest" name="type_interest" required ng-model="vm.settingEdit.type_interest"></select>
                <div ng-show="formUpdateSettings.$submitted || formUpdateSettings.type_interest.$touched">
                    <span class="error_forms" ng-show="formUpdateSettings.type_interest.$error.required ">Este campo es requerido.</span>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <button ng-click="vm.clickCancelarSettings()" class="btn btn-cancel come-back-left">
                    <strong>Cancelar</strong>
                </button>
            </div>
            <div class="col-md-6 text-center">
                <button ng-click="vm.onSubmitSettings($event,vm.settingEdit,formUpdateSettings)" class="btn btn-succes bg-jungle-green librefranklin-regular text-white">
                    <strong>Actualizar</strong>
                </button>
            </div>
        </div>
    </form>
</section>
<style>
    .form-control.k-widget {
        width:100%;
    }
</style>