<!--TemplateGroup:listArticleMulti3-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--MultiArticleTemplate-->
<!--Before:1:2:-->
<div class="edn_clearFix">
<!--BeforeEnd-->
<!--ArticleRepeat:1:-->
<article class="edn_article edn_multiArticle edn_multiArticleMain" style="width:62%; margin-bottom:10px">
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<figure>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title:Limit:75]</span></a>
		[EasyDNNnews:IfExists:Image]
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:700:Height:350:Resize:Crop]"/>
		[EasyDNNnews:EndIf:Image]
		[EasyDNNnews:IfNotExists:Image]
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="700" height="350"/>
		[EasyDNNnews:EndIf:Image]
		<figcaption>
			<h2 class="edn_articleTitle">[EasyDNNnews:Title]</h2>
			[EasyDNNnews:IfExists:SubTitle]
			<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
			[EasyDNNnews:EndIf:SubTitle]
		</figcaption>
	</figure>
</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:2:-->
<article class="edn_article edn_multiArticle edn_multiArticleMain edn_multiArticleMain2" style="width:37%;margin-bottom:10px">
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<figure>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
		[EasyDNNnews:IfExists:Image]
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:420:Height:350:Resize:Crop]"/>
		[EasyDNNnews:EndIf:Image]
		[EasyDNNnews:IfNotExists:Image]
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="420" height="350"/>
		[EasyDNNnews:EndIf:Image]
		<figcaption>
			<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
			[EasyDNNnews:IfExists:SubTitle]
			<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
			[EasyDNNnews:EndIf:SubTitle]
		</figcaption>
	</figure>
</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:1:2:-->
</div>
<!--AfterEnd-->
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:3:4:5:6:-->
<div class="edn_clearFix edn_smallerBoxArticlesWrapper" style="margin:0 -0.5%;">
<!--BeforeEnd-->
<!--ArticleRepeat:3:4:5:6:-->
<article class="edn_article edn_multiArticle edn_articleInBox" style="width:24%;padding-right:0.5%;padding-left:0.5%">
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<figure>
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
		[EasyDNNnews:IfExists:Image]<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:280:Height:300:Resize:Crop]"/>[EasyDNNnews:EndIf:Image]
		[EasyDNNnews:IfNotExists:Image]
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="280" height="300"/>
		[EasyDNNnews:EndIf:Image]
		<figcaption>
			<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
			<div class="edn_articleSummary">[EasyDNNnews:Summary:Limit:150]</div>
		</figcaption>
	</figure>
</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:3:4:5:6:-->
</div>
<!--AfterEnd-->
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:After:-->
</div>
<!--RepeatEnd:After:-->
<!--MultiArticleEnd-->