<!--TemplateGroup:listArticleMulti37-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--MultiArticleTemplate-->
<!--Before:1:2:3:-->
<div class="edn_clearFix">
<!--BeforeEnd-->
<!--ArticleRepeat:1:-->
	<article class="edn_article edn_multiArticle edn_multiArticle3Main edn_leftAlign" style="width:75%;">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<figure>
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title:Limit:75]</span></a>
			[EasyDNNnews:IfExists:Image]
			<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:900:Height:600:Resize:Crop]"/>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfNotExists:Image]
			<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="900" height="600"/>
			[EasyDNNnews:EndIf:Image]
			<figcaption>
				<p>
					<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
				</p>
				<h2 class="edn_articleTitle"><a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle"><a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:SubTitle]</a></h3>
				[EasyDNNnews:EndIf:SubTitle]
			</figcaption>
			<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
		</figure>
	</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:2:3:-->
	<div class="edn_mdArticles">
<!--BeforeEnd-->
<!--ArticleRepeat:2:3:-->
		<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4MainSmall" style="width:25%;">
			[EasyDNNnews:HasArticlePermissions]
			<div class="edn_adminActions">
				[EasyDNNnews:ArticlePermissions:Edit]
				[EasyDNNnews:ArticlePermissions:Publish]
				[EasyDNNnews:ArticlePermissions:Approve]
			</div>
			[EasyDNNnews:HasArticlePermissionsEnd]
			<figure>
				<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
				<div>
					<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
					[EasyDNNnews:IfExists:Image]
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:500:Height:320:Resize:Crop]"/>
					[EasyDNNnews:EndIf:Image]
					[EasyDNNnews:IfNotExists:Image]
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="500" height="320"/>
					[EasyDNNnews:EndIf:Image]
				</div>
				<figcaption>
					<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
				</figcaption>
				<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
			</figure>
		</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:1:2:3:-->
	</div>
</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:4:5:6:7:-->
<div class="edn_multiArticleBelowMainContainer">
	<div>
<!--BeforeEnd-->
<!--ArticleRepeat:4:5:6:7:-->
		<article class="edn_article edn_multiArticle edn_multiArticleMainSmall" style="width:25%">
			[EasyDNNnews:HasArticlePermissions]
			<div class="edn_adminActions">
				[EasyDNNnews:ArticlePermissions:Edit]
				[EasyDNNnews:ArticlePermissions:Publish]
				[EasyDNNnews:ArticlePermissions:Approve]
			</div>
			[EasyDNNnews:HasArticlePermissionsEnd]
			<figure>
				<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
				<div>
					<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
					[EasyDNNnews:IfExists:Image]
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:500:Height:300:Resize:Crop]"/>
					[EasyDNNnews:EndIf:Image]
					[EasyDNNnews:IfNotExists:Image]
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="500" height="300"/>
					[EasyDNNnews:EndIf:Image]
				</div>
				<figcaption>
					<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
					[EasyDNNnews:IfExists:SubTitle]
					<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
					[EasyDNNnews:EndIf:SubTitle]
					<div class="edn_articleSummary">[EasyDNNnews:Summary:Limit:150]</div>
				</figcaption>
				<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
			</figure>
		</article>
<!--RepeatEnd-->
<!--After:4:5:6:7:-->
	</div>
</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->


<!--MultiArticleTemplate-->
<!--ArticleRepeat:After:-->
</div>
<!--RepeatEnd:After:-->
<!--MultiArticleEnd-->