<!--TemplateGroup:listArticleMulti4-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--MultiArticleTemplate-->
<!--Before:1:2:3:-->
<div class="edn_clearFix">
<!--BeforeEnd-->
<!--ArticleRepeat:1:-->
	<article class="edn_article edn_multiArticle edn_multiArticle4Main" style="width:75%;">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<figure>
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title:Limit:75]</span></a>
			[EasyDNNnews:IfExists:Image]
			<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:960:Height:530:Resize:Crop]"/>
			[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfNotExists:Image]
			<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="960" height="530"/>
			[EasyDNNnews:EndIf:Image]
			<figcaption>
				<div>
					<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
				</div>
				<h2 class="edn_articleTitle">[EasyDNNnews:Title]</h2>
			</figcaption>
			<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
		</figure>
	</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:2:3:-->
	<div class="edn_mdArticles">
<!--BeforeEnd-->
<!--ArticleRepeat:2:3:-->
		<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4MainSmall" style="width:25%;">
			[EasyDNNnews:HasArticlePermissions]
			<div class="edn_adminActions">
				[EasyDNNnews:ArticlePermissions:Edit]
				[EasyDNNnews:ArticlePermissions:Publish]
				[EasyDNNnews:ArticlePermissions:Approve]
			</div>
			[EasyDNNnews:HasArticlePermissionsEnd]
			<figure>
				<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
				<div>
					<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
					[EasyDNNnews:IfExists:Image]
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:500:Height:320:Resize:Crop]"/>
					[EasyDNNnews:EndIf:Image]
					[EasyDNNnews:IfNotExists:Image]
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="500" height="320"/>
					[EasyDNNnews:EndIf:Image]
				</div>
				<figcaption>
					<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
				</figcaption>
				<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
			</figure>
		</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:1:2:3:-->
	</div>
</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:4:5:6:7:8:9:-->
<div class="edn_clearFix eds_articlesSeparator">
<!--BeforeEnd-->
<!--ArticleRepeat:4:-->
	<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4Second" style="width:37%">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<figure>
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
			<div>
				<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
				[EasyDNNnews:IfExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:500:Height:300:Resize:Crop]"/>
				[EasyDNNnews:EndIf:Image]
				[EasyDNNnews:IfNotExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="500" height="300"/>
				[EasyDNNnews:EndIf:Image]
			</div>
			<figcaption>
				<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">[EasyDNNnews:Summary:Limit:150]</div>
			</figcaption>
			<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
		</figure>
	</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:5:6:7:8:-->
	<div class="edn_smallArticles" style="width:37%">
		<div>
<!--BeforeEnd-->
<!--ArticleRepeat:5:6:7:8:-->
			<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4MainSmall" style="width:50%;">
				[EasyDNNnews:HasArticlePermissions]
				<div class="edn_adminActions">
					[EasyDNNnews:ArticlePermissions:Edit]
					[EasyDNNnews:ArticlePermissions:Publish]
					[EasyDNNnews:ArticlePermissions:Approve]
				</div>
				[EasyDNNnews:HasArticlePermissionsEnd]
				<figure>
					<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
					<div>
						<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
						[EasyDNNnews:IfExists:Image]
						<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:200:Height:150:Resize:Crop]"/>
						[EasyDNNnews:EndIf:Image]
						[EasyDNNnews:IfNotExists:Image]
						<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="200" height="150"/>
						[EasyDNNnews:EndIf:Image]
					</div>
					<figcaption>
						<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
					</figcaption>
					<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
				</figure>
			</article>
<!--RepeatEnd-->
<!--After:5:6:7:8:-->
		</div>
	</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:9:-->
	<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4MainSmall edn_multiArticle4MainSmallThirdRow" style="width:26%;">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<figure>
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
			<div>
				<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
				[EasyDNNnews:IfExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:300:Height:300:Resize:Crop]"/>
				[EasyDNNnews:EndIf:Image]
				[EasyDNNnews:IfNotExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="300" height="300"/>
				[EasyDNNnews:EndIf:Image]
			</div>
			<figcaption>
				<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">[EasyDNNnews:Summary:Limit:130]</div>
			</figcaption>
			<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
		</figure>
	</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:4:5:6:7:8:9:-->
</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:10:11:12:13:14:15:-->
<div class="edn_clearFix eds_articlesSeparator">
<!--BeforeEnd-->
<!--ArticleRepeat:10:-->
	<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4MainSmall edn_multiArticle4MainSmallThirdRow edn_first" style="width:26%;">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<figure>
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
			<div>
				<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
				[EasyDNNnews:IfExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:300:Height:300:Resize:Crop]"/>
				[EasyDNNnews:EndIf:Image]
				[EasyDNNnews:IfNotExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="300" height="300"/>
				[EasyDNNnews:EndIf:Image]
			</div>
			<figcaption>
				<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">[EasyDNNnews:Summary:Limit:130]</div>
			</figcaption>
			<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
		</figure>
	</article>
<!--RepeatEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--Before:11:12:13:14:-->
	<div class="edn_smallArticles" style="width:37%">
		<div>
<!--BeforeEnd-->
<!--ArticleRepeat:11:12:13:14:-->
			<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4MainSmall" style="width:50%;">
				[EasyDNNnews:HasArticlePermissions]
				<div class="edn_adminActions">
					[EasyDNNnews:ArticlePermissions:Edit]
					[EasyDNNnews:ArticlePermissions:Publish]
					[EasyDNNnews:ArticlePermissions:Approve]
				</div>
				[EasyDNNnews:HasArticlePermissionsEnd]
				<figure>
					<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
					<div>
						<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
						[EasyDNNnews:IfExists:Image]
						<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:200:Height:150:Resize:Crop]"/>
						[EasyDNNnews:EndIf:Image]
						[EasyDNNnews:IfNotExists:Image]
						<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="200" height="150"/>
						[EasyDNNnews:EndIf:Image]
					</div>
					<figcaption>
						<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
					</figcaption>
					<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
				</figure>
			</article>
<!--RepeatEnd-->
<!--After:11:12:13:14:-->
		</div>
	</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:15:-->
	<article class="edn_article edn_multiArticle edn_multiArticleMainSmall edn_multiArticle4Second edn_last" style="width:37%">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<figure>
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><span>[EasyDNNnews:Title]</span></a>
			<div>
				<span class="edn_category">[EasyDNNnews:Categories separator="" last]</span>
				[EasyDNNnews:IfExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image:Width:500:Height:300:Resize:Crop]"/>
				[EasyDNNnews:EndIf:Image]
				[EasyDNNnews:IfNotExists:Image]
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png" width="500" height="300"/>
				[EasyDNNnews:EndIf:Image]
			</div>
			<figcaption>
				<h2 class="edn_articleTitle">[EasyDNNnews:Title:Limit:75]</h2>
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">[EasyDNNnews:Summary:Limit:150]</div>
			</figcaption>
			<span class="edn_numberCommentsBubble">[EasyDNNnews:Comments]</span>
		</figure>
	</article>

<!--RepeatEnd-->
<!--MultiArticleEnd-->
<!--After:10:11:12:13:14:15:-->
</div>
<!--AfterEnd-->
<!--MultiArticleEnd-->

<!--MultiArticleTemplate-->
<!--ArticleRepeat:After:-->
</div>
<!--RepeatEnd:After:-->
<!--MultiArticleEnd-->