.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.in_list h1 a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details > h1
{
	font-family: "Arial";
	color: #333333;
	font-size: 20px;
	line-height: 1.25em;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.in_list h1 a:hover
{
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article h2.edn_subTitle
{
	font-family: "Arial";
	color: #333333;
	font-size: 13px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListMulti .article.in_list.box h1 a
{
	font-family: "Arial";
	color: #333333;
	font-size: 18px;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListMulti .article.in_list.box h1 a:hover
{
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.in_list.span > .content > .summary,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.in_list.span > .content > .summary p,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .main_content,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .main_content p,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.in_list.box.normal .summary,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.in_list.box.big .summary
{
	font-family: "Arial";
	color: #333333;
	font-size: 13px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article a
{
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .bread_crumbs,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .bread_crumbs a
{
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Verdana";
	color: #363636;
	font-size: 11px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .bread_crumbs a:hover
{
	text-decoration: underline;
	color: #363636;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListSidebarBox .edn_module_box
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListSidebarBox .edn_module_box > h1.edn_module_title
{
	background-color: #dbdbdb;
	background-image: url("../images/sidebarBoxTitleBackground/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListSidebarBox .edn_module_box > h1.edn_module_title span
{
	text-shadow: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 20px;
	line-height: 1.25em;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListSidebarBox .article.sidebar_box > a.title
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListSidebarBox .article.sidebar_box > a.title:hover
{
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListSidebarBox .article.sidebar_box
{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: transparent;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	border-left-width: 0px;
	border-left-style: solid;
	border-left-color: transparent;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_tagCloud.tag_cloud
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_tagCloud.tag_cloud > h1.edn_module_title
{
	background-color: #dddddd;
	background-image: url("../images/tagCloudTitleBackground/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_tagCloud.tag_cloud > h1.edn_module_title span
{
	text-shadow: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 20px;
	line-height: 1.25em;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_tagCloud .tags a
{
	font-family: "Arial";
	color: #676767;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_tagCloud .tags a:hover
{
	text-decoration: none;
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_tagCloud .tags a span
{
	font-family: "Arial";
	color: #898989;
	font-size: 12px;
	font-style: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > h1.edn_module_title
{
	background-color: #343434;
	background-image: url("../images/categoryMenuTitleBackground/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > h1.edn_module_title span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 20px;
	line-height: 1.25em;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > .edn_category_menu_wrapper li > div
{
	background-color: #f0f0f0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	border-left-width: 0px;
	border-left-style: solid;
	border-left-color: #000000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > .edn_category_menu_wrapper > li ul li > div
{
	background-color: #d7d7d7;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > .edn_category_menu_wrapper li > div > a.category
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > .edn_category_menu_wrapper li > div > a.category:hover
{
	text-decoration: none;
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_categoryMenu .edn_module_box > .edn_category_menu_wrapper li > div > a.category span
{
	color: #898989;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_eventDetails .edn_eventPrice
{
	font-size: 22px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_eventRegistrationModalTrigger
{
	background-color: #929292;
	text-shadow: 0px -1px 1px #4b4b4b;
	color: #efefef;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_eventRegistrationModalTrigger:hover
{
	background-color: #3d7503;
	text-shadow: 0px -1px 1px #4b4b4b;
	color: #efefef;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .meta_text,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .box_list_container,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .rate_article
{
	font-family: "Arial";
	color: #7c7c7c;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .box_list_container
{
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .box_list_container a
{
	background-color: #b8b8b8;
	color: #ffffff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .box_list_container a:hover
{
	background-color: #787878;
	color: #ffffff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article_pager a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .main_content .article_pagination a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .main_content .article_pagination span
{
	background-color: #e7e7e7;
	box-shadow: 0px 0px 2px 0px #cdcdcd,inset 1px 1px 3px 0px #ffffff;
	font-family: "Arial";
	color: #696969;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article_pager a:hover,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.standalone .article_pagination table td a:hover
{
	background-color: #e7e7e7;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article_pager a.active,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .main_content .article_pagination span
{
	background-color: #e7e7e7;
	box-shadow: inset 1px 1px 3px 0px #adadad;
	color: #696969;
	font-weight: normal;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article_pager a:hover,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article.details .main_content .article_pagination a:hover
{
	box-shadow: 0px 0px 2px 0px #737373,inset 1px 1px 3px 0px #ffffff;
	color: #696969;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavImage:after
{
	border-radius: 4px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavTitle
{
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .author_group_profile,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .author_group_profile
{
	background-color: #eeeeee;
	border-width: 3px;
	border-style: solid;
	border-color: #e3e3e3;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .author_group_profile .details_container h2,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .author_group_profile .details_container h2
{
	font-family: "Arial";
	color: #555555;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .author_group_profile .details_container .short_info,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .author_group_profile .details_container .short_info
{
	font-family: "Arial";
	color: #888888;
	font-style: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_listOfAttendants
{
	border-width: 1px;
	border-style: solid;
	border-color: #dadada;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_listOfAttendants > table tr:first-child.edn_listOfAttendantsHeader
{
	background-color: #EBEBEB;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_listOfAttendants > table tr:first-child th
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(even)
{
	background-color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(odd)
{
	background-color: #F1F1F1;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .article_documents
{
	border-width: 2px;
	border-style: dashed;
	border-color: #dfdede;
	background-color: #f3f3f3;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .article_documents > h2
{
	font-family: "Arial";
	color: #333333;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .article_documents ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #676767;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .article_documents ul li a:hover
{
	text-decoration: none;
	color: #000000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .article_documents ul li span
{
	font-family: "Arial";
	color: #333333;
	font-size: 11px;
	line-height: 15px;
	font-style: italic;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .edn_article_links
{
	border-width: 2px;
	border-style: dashed;
	border-color: #dfdede;
	background-color: #f3f3f3;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .edn_article_links > h2
{
	font-family: "Arial";
	color: #333333;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .edn_article_links ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #676767;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .edn_article_links ul li a:hover
{
	text-decoration: none;
	color: #000000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .edn_article_links ul li span
{
	font-family: "Arial";
	color: #333333;
	font-size: 11px;
	line-height: 15px;
	font-style: italic;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .related_articles
{
	border-width: 2px;
	border-style: dashed;
	border-color: #dfdede;
	background-color: #f3f3f3;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .related_articles > h2
{
	font-family: "Arial";
	color: #333333;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .related_articles ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #676767;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .article .related_articles ul li a:hover
{
	text-decoration: none;
	color: #000000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box
{
	background-color: #f3f3f3;
	border-width: 1px;
	border-style: solid;
	border-color: #d3d3d3;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right textarea,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right textarea
{
	background-color: #ffffff;
	border-color: #bbbaba;
	color: #222222;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right .submit,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right .submit
{
	background-color: #929292;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right .submit:hover,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right .submit:hover
{
	background-color: #3d7503;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right .submit span,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right .submit span
{
	text-shadow: 0px -1px 1px #4b4b4b;
	color: #efefef;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right .submit:hover span,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right .submit:hover span
{
	text-shadow: 0px -1px 1px #4b4b4b;
	color: #efefef;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category_info h1
{
	font-family: "Arial";
	color: #000000;
	font-size: 22px;
	line-height: 26px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category_info .description
{
	font-family: "Arial";
	color: #000000;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category.in_list
{
	background-color: #e1e1e1;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category.in_list:hover
{
	background-color: #e1e1e1;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category.in_list .title
{
	font-family: "Arial";
	color: #333333;
	font-size: 17px;
	line-height: 21px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category.in_list:hover .title
{
	color: #333333;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection
{
	background-color: #3d7503;
	background-image: url("../images/calendar/calendarMonthBackground/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td
{
	text-shadow: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 20px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td.next_prev_months a
{
	text-shadow: none;
	color: #ffffff !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td.next_prev_months a:hover
{
	text-shadow: 0px 0px 1px #ffffff;
	color: #ffffff !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .edn_styledSelect > span,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .edn_styledSelect > span::after
{
	border-color: #bdbdbd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .edn_styledSelect > span
{
	background-color: #ffffff;
	background-image: url("../images/calendar/monthQuickSelection/selectArrow/predefined/select-pointer.png");
	background-position: 100% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .edn_styledSelect > span select,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .edn_styledSelect > span select option
{
	font-family: "Arial";
	color: #404040;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .week_days
{
	background-color: #cdcdcd !important;
	text-shadow: 1px 1px 1px #6d6d6d;
	font-family: "Arial";
	color: #ffffff;
	font-size: 9px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day > a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day > span
{
	background-color: #f6f6f6;
	font-family: "Arial";
	color: #6f6f6f;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_posts > a
{
	background-color: #cfcfcf;
	color: #ffffff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_events > a
{
	background-color: #fe852a;
	color: #ffffff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.today > a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.today > span
{
	background-color: #64c500 !important;
	color: #ffffff !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.selected > a
{
	background-color: #575958 !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-red > a
{
	background-color: #ff0000;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-blue > a
{
	background-color: #0000ff;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-black > a
{
	background-color: #000;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-green > a
{
	background-color: #008000;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-yellow > a
{
	background-color: #ffff00;
	color: #50504f;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-pink > a
{
	background-color: #ffc0cb;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-gray > a
{
	background-color: #808080;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-orange > a
{
	background-color: #ffa500;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-brown > a
{
	background-color: #a52a2a;
	color: #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.other_month > a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.other_month > span
{
	color: #c8cccf;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.selected > a,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container .calendar_table .day.selected > span
{
	color: #ffffff !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a
{
	background-color: #ffffff;
	border-color: #adadad;
	color: #707070 !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-red
{
	border-color: #ff0000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-black
{
	border-color: #000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-green
{
	border-color: #008000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a
{
	background-color: #fff3e9;
	border-color: #f77601;
	color: #ef5a00 !important;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-red
{
	border-color: #ff0000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-black
{
	border-color: #000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-green
{
	border-color: #008000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list .edn_module_box > h1.edn_module_title
{
	background-color: #dddddd;
	background-image: url("../images/calendarArchive/titleBackground/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list .edn_module_box > h1.edn_module_title span
{
	text-shadow: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 20px;
	line-height: 1.25em;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list ul li a
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list ul li a:hover
{
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > .edn_archive-year,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > .edn_archive-month
{
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list ul li
{
	border-color: #dedede;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list.events
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list.events > h1.edn_module_title
{
	background-color: #dddddd;
	background-image: url("../images/calendarEvents/titleBackground/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list.events > h1.edn_module_title span
{
	text-shadow: none;
	font-family: "Arial";
	color: #ffffff;
	font-size: 20px;
	line-height: 1.25em;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list.events ul li a
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list.events ul li a:hover
{
	color: #3e9805;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_calendar .archive_list.events ul li
{
	border-color: #dedede;
}

.qtip.edn_calendarbox_NewsOne.green
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article > p.title a,
.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article > p.title
{
	font-family: "Arial";
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article > p.title a:hover
{
	text-decoration: underline;
	color: #333333;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article_list > li > a,
.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article_list > li
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article_list > li > a:hover
{
	text-decoration: underline;
	color: #333333;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article_list > li > p
{
	font-family: "Arial";
	color: #333333;
	font-size: 10px;
}

.qtip.edn_calendarbox_NewsOne.green .qtip-content > .wrapper > .article > .content
{
	font-family: "Arial";
	color: #333333;
	font-size: 10px;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article > a
{
	text-decoration: none;
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .wrapper > .article > a:hover
{
	text-decoration: underline;
	color: #333333;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .title
{
	background-color: #ffffff;
	border-color: #cdcdcd;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .title span,
.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .title span a
{
	font-family: "Arial";
	color: #111111;
}

.qtip.edn_calendarbox_NewsOne.green > .qtip-content > .title span a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input .input
{
	background-color: #e6e6e6;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .input,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input
{
	border-color: #bdbdbd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input .input input
{
	color: #4d4d4d;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .do_search,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input .do_search
{
	background-color: #64c500;
	background-image: url("../images/searchButton/background/predefined/search-button-green.png");
	background-repeat: no-repeat;
	background-position: 100% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .do_search:hover,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input .do_search:hover
{
	background-color: #64c500;
	background-image: url("../images/searchButton/background/predefined/search-button-green.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .do_search
{
	border-color: #51b10f;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .do_search:hover
{
	border-color: #51b10f;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .do_search span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .search_input.button_outside .do_search:hover span
{
	color: #ffffff;
}

.EDN_search.theme_NewsOne.green
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.EDN_search.theme_NewsOne.green .acSelect
{
	background-color: #e4e4e4;
}

.EDN_search.theme_NewsOne.green ul li,
.EDN_search.theme_NewsOne.green ul li span a,
.EDN_search.theme_NewsOne.green .acSelect,
.EDN_search.theme_NewsOne.green .acSelect a
{
	color: #333333;
}

.EDN_search.theme_NewsOne.green ul li span a:hover
{
	color: #000000;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList label:before,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label:before,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span:before
{
	background-image: url("../images/advancedSearchForm/checkBoxes/predefined/cf-checkbox.png");
	background-position: 0px -17px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox input[type="checkbox"]:checked + label:before,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li.selected label > span:before
{
	background-image: url("../images/advancedSearchForm/checkBoxes/predefined/cf-checkbox.png");
	background-position: 0px 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton label:before
{
	background-image: url("../images/advancedSearchForm/radioButtons/predefined/cf-radiobutton.png");
	background-repeat: repeat;
	background-position: 0px -18px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton input[type="radio"]:checked + label:before
{
	background-image: url("../images/advancedSearchForm/radioButtons/predefined/cf-radiobutton.png");
	background-repeat: repeat;
	background-position: 0px 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container label > span,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span
{
	font-family: "Arial";
	color: #404040;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList .edncf_CheckBoxListName,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonListName,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput label > span
{
	font-family: "Arial";
	color: #404040;
	font-size: 12px;
	line-height: 1.5;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]
{
	border-color: #bdbdbd;
	background-color: #ffffff;
	font-family: "Arial";
	color: #404040;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:after
{
	border-color: #bdbdbd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span
{
	background-color: #ffffff;
	background-image: url("../images/advancedSearchForm/select/selectArrow/predefined/select-pointer.png");
	background-position: 100% 0%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select option
{
	font-family: "Arial";
	color: #404040;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select:disabled
{
	color: #b5b5b5;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line
{
	background-color: #ffffff;
	border-color: #727272;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-diapason
{
	background-color: #bcbcbc;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-single
{
	font-family: "Arial";
	color: #3e9805;
	font-size: 12px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-min,
.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-max
{
	font-family: "Arial";
	color: #777777;
	font-size: 10px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control
{
	border-color: #bdbdbd;
	background-color: #ffffff;
	color: #404040;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon
{
	border-top-color: #bdbdbd;
	border-bottom-color: #bdbdbd;
	border-right-color: #bdbdbd;
	background-color: #EFEEEE;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit
{
	background-color: #b1b1b1;
	background-image: url("../images/advancedSearchForm/submit/background/predefined/submit-bg.png");
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover
{
	background-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit span
{
	background-image: url("../images/advancedSearchForm/submit/submitIcon/predefined/icon.png");
	background-position: 100% 0%;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	font-family: "Arial";
	color: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover span
{
	color: #f1f1f1;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset
{
	background-color: #b1b1b1;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset:hover
{
	background-color: #cdcdcd;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset span
{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	font-family: "Arial";
	color: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset:hover span
{
	color: #f1f1f1;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch
{
	border-width: 1px;
	border-style: solid;
	border-color: #cdcdcd;
	background-color: #f6f6f6;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title
{
	background-color: #dbdbdb;
	background-image: url("../images/advancedSearchModule/moduleTitle/background/predefined/green.png");
	background-repeat: repeat-x;
	background-position: 0% 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title > span
{
	text-shadow: none;
	font-family: "Arial";
	color: #f6f6f6;
	font-size: 20px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_letter
{
	background-color: #e4e4e4;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search span.ednSbl_item
{
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search .ednSbl_item .ednSbl_count
{
	color: #363636;
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_count
{
	border-radius: 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .EDN_cf_all_fields_container > table tr td
{
	background-color: #E0DEDE;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .EDN_cf_all_fields_container > table tr:nth-child(2n) td
{
	background-color: #EBEBEB;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_icon
{
	background-image: url("../images/articleDetailsCustomFields/checkbox/predefined/cf-checkbox.png");
	background-position: 0px -18px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_checked .EDN_cf_checkbox_icon
{
	background-image: url("../images/articleDetailsCustomFields/checkbox/predefined/cf-checkbox.png");
	background-position: 0px 0px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne a.edsgg_galleryBackLink
{
	background-color: #ddd;
	color: #7A7A7A !important;
	font-weight: bold;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25),inset 0px 3px 6px -4px #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne a.edsgg_galleryBackLink:hover
{
	color: #595959 !important;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.44),inset 0px 3px 6px -4px #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne a.edsgg_galleryBackLink:before
{
	background-image: url("../images/gravityGallery/viewInGalleryButton/icon/predefined/photo.png");
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger
{
	background-color: #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25),inset 0px 3px 6px -4px #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover
{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.44),inset 0px 3px 6px -4px #fff;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText span
{
	color: #7A7A7A;
	font-weight: bold;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText span
{
	color: #595959;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay
{
	background-color: #ddd;
	background-image: url("../images/gravityGallery/loadMoreMediaButton/loadingOverlay/background/predefined/loadingArticles.gif");
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__itemsListContainer .edsgg__itemContainer
{
	border-top-color: #BABABA;
	border-right-color: #BABABA;
	border-bottom-color: #BABABA;
	border-left-color: #D3D3D3;
	background-color: #fff;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title
{
	color: #333;
	font-size: 13px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer > a:hover .edsgg_title
{
	color: #333;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description
{
	font-size: 11px;
}

.eds_news_NewsOne.eds_style_predefined_green.eds_subCollection_news .eds_GravityGallery_NewsOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_image_thumbnail
{
	border-color: #d6d6d6;
	background-color: #fff;
}

