.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSimpleImageLeftRight .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .article h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSimpleImageLeftRight .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .article.multi_layout h1.title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .article.multi_layout h1.title a
{
	font-family: "Verdana";
	color: #000000;
	font-size: 22px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSimpleImageLeftRight .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .article h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSimpleImageLeftRight .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .article.multi_layout h1.title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .article.multi_layout h1.title a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .in_article_image.has_article .image_wrapper .article_container h1 a
{
	font-family: "Verdana";
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .in_article_image.has_article .image_wrapper .article_container h1 a:hover
{
	text-decoration: underline;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .article.multi_layout.two_collumn.small h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti2colSmallImages .article.multi_layout.two_collumn.small h1 a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .article.multi_layout.two_collumn.small h1 a
{
	font-family: "Verdana";
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .article.multi_layout.two_collumn.small h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti2colSmallImages .article.multi_layout.two_collumn.small h1 a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .article.multi_layout.two_collumn.small h1 a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone > h1,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .article.standalone > h1,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone > h1,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .article.standalone > h1,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone > h1,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone > h1
{
	font-family: "Verdana";
	color: #000000;
	font-size: 25px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article h2
{
	font-family: "Verdana";
	color: #000000;
	font-size: 16px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone .event_date,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .article.standalone .event_date,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone .event_date,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone .event_date,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .article.standalone .event_date,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone .event_date,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone .event_location,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .article.standalone .event_location,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone .event_location,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone .event_location,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .article.standalone .event_location,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone .event_location
{
	font-family: "Arial";
	color: #3f3f3f;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .stats span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone .rate_article,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone .rate_article,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone .rate_article,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone .rate_article,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article.standalone .rate_article,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article.standalone .rate_article,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article.standalone .rate_article
{
	font-family: "Verdana";
	color: #363636;
	font-size: 11px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .content,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .content p
{
	font-family: "Verdana";
	color: #363636;
	font-size: 14px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .in_article_image.has_article .image_wrapper .article_container .content
{
	font-family: "Verdana";
	color: #ffffff;
	font-size: 14px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .bread_crumbs,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .bread_crumbs,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .bread_crumbs a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .bread_crumbs a
{
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Verdana";
	color: #363636;
	font-size: 11px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .bread_crumbs a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .bread_crumbs a:hover
{
	text-decoration: underline;
	color: #363636;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSidebarBox h1.edn_module_title
{
	background-color: #bd0202;
	background-image: url("../images/sidebarBoxModuleTitleBackground/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSidebarBox h1.edn_module_title span
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSidebarBox .article.sidebar_box h1 a
{
	font-family: "Verdana";
	color: #000000;
	font-size: 11px;
	line-height: 16px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSidebarBox .article.sidebar_box h1 a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSidebarBox .article.sidebar_box
{
	background-color: #dcdcdc;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleSidebarBox .article.sidebar_box.odd
{
	background-color: #cccccc;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_tagCloud h1.edn_module_title
{
	background-color: #bd0202;
	background-image: url("../images/tagCloudModuleTitleBackground/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_tagCloud h1.edn_module_title span
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_tagCloud .tags a
{
	font-family: "Arial";
	color: #363636;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_tagCloud .tags a:hover
{
	text-decoration: underline;
	color: #363636;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_tagCloud .tags a span
{
	font-family: "Arial";
	color: #787878;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_categoryMenu h1.edn_module_title
{
	background-color: #bd0202;
	background-image: url("../images/categoryMenuModuleTitleBackground/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_categoryMenu h1.edn_module_title span
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_categoryMenu ul.edn_category_menu_wrapper li.level_0 > div
{
	background-color: #f0f0f0;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_categoryMenu ul.edn_category_menu_wrapper li div
{
	background-color: #d7d7d7;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_categoryMenu ul.edn_category_menu_wrapper li div a
{
	font-family: "Verdana";
	color: #252525;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_categoryMenu ul.edn_category_menu_wrapper li div a:hover
{
	text-decoration: underline;
	color: #252525;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .in_article_image .image_wrapper img
{
	background-color: #ffffff;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cccccc !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .in_article_image .image_wrapper a img:hover
{
	background-color: #ffffff;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cccccc !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .date_box,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .date_box,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .date_box,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .date_box
{
	background-color: #d40404;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .date_box p.year,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .date_box p.year,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .date_box p.year,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .date_box p.year
{
	background-color: #d2d2d2;
	color: #252525;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .date_box p,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti .date_box p,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMultiWithoutBigImage .date_box p,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListABox .date_box p
{
	font-family: "Arial";
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .publish_date
{
	text-transform: uppercase;
	font-family: "Arial";
	color: #888888;
	font-size: 11px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .edn_eventPrice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .edn_eventPrice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .edn_eventPrice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .edn_eventPrice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .edn_eventPrice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .edn_eventPrice
{
	font-family: "Verdana";
	font-size: 22px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_eventRegistrationModalTrigger
{
	background-color: #d40404;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news edn_eventRegistrationModalTrigger:hover
{
	background-color: #d40404;
	text-decoration: underline;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news edn_eventRegistrationModalTrigger
{
	font-family: "Verdana";
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.author span
{
	background-color: #d40404;
	background-image: url("../images/articleAuthor/background/predefined/person.png");
	background-position: 4px 3px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .author_box span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .author_box a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .author_box a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .author_box a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .author_box a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .author_box a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .author_box a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.author span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.author span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.author span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.author span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.author span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.author span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.author span a
{
	font-family: "Verdana";
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.categories span
{
	background-color: #ea2424;
	background-image: url("../images/articleCategories/background/predefined/category.png");
	background-position: 3px 3px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.categories span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.categories span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.categories span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.categories span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.categories span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.categories span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.categories span a
{
	font-family: "Verdana";
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.tags span
{
	background-color: #ea2424;
	background-image: url("../images/articleTags/background/predefined/tag.png");
	background-position: 3px 3px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.tags span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault .article .details p.tags span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .article .details p.tags span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate .article .details p.tags span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article .details p.tags span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article .details p.tags span a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article .details p.tags span a
{
	font-family: "Verdana";
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault a.open_article_btn,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate a.open_article_btn,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti a.open_article_btn,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault a.open_article_btn
{
	background-color: #d40404;
	background-image: url("../images/readMoreButton/background/predefined/more.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-family: "Verdana";
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefault a.open_article_btn:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleDefaultNormalDate a.open_article_btn:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListArticleMulti a.open_article_btn:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault a.open_article_btn:hover
{
	background-color: #d40404;
	background-image: url("../images/readMoreButton/background/predefined/more.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
	text-decoration: underline;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article_pager
{
	background-color: #ebebeb;
	border-width: 1px;
	border-style: solid;
	border-color: #e4e4e4;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article_pager a.page,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article.standalone .article_pagination table td a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article.standalone .article_pagination table td span
{
	background-color: #ffffff;
	font-family: "Arial";
	color: #000000;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #e4e4e4;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article_pager a.page:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article.standalone .article_pagination table td a:hover
{
	background-color: #ffffff;
	color: #000000;
	border-color: #e4e4e4;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article_pager a.page.active,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article.standalone .article_pagination table td span
{
	background-color: #cc0000;
	color: #ffffff;
	font-weight: normal;
	border-color: #c10202;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #ededed;
	background-image: url("../images/pagination/infiniteScrollButton/background/predefined/trigger-bg.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #dadada;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading > button.trigger
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .ednMoreArticlesTriggerWrapper.loading > button.trigger > span.loadingOverlay
{
	background-color: #dadada;
	background-image: url("../images/pagination/infiniteScrollButton/loadingImage/predefined/loadingArticles.gif");
	background-position: 50% 50%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger > span.actionTextContainer span
{
	text-shadow: 1px 1px 0px #ffffff;
	font-family: "Verdana";
	color: #a19e9e;
	font-size: 14px;
	line-height: 1.3;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .ednMoreArticlesTriggerWrapper > button.trigger:hover > span.actionTextContainer span
{
	color: #53555e;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavImage:after
{
	border-radius: 4px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_fixedPrevNextArticleNavigation > a .edn_fixedNavTitle
{
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone .author_group_profile,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone .author_group_profile,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone .author_group_profile,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .article.standalone .author_group_profile,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone .author_group_profile,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .article.standalone .author_group_profile
{
	background-color: #f4f4f4;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone .author_group_profile .details_container h2,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone .author_group_profile .details_container h2,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone .author_group_profile .details_container h2,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .article.standalone .author_group_profile .details_container h2,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone .author_group_profile .details_container h2,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .article.standalone .author_group_profile .details_container h2
{
	font-family: "Arial";
	color: #555555;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefault .article.standalone .author_group_profile .details_container .short_info,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefault .article.standalone .author_group_profile .details_container .short_info,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleAboveTitle .article.standalone .author_group_profile .details_container .short_info,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleDefaultSimple .article.standalone .author_group_profile .details_container .short_info,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalogDefaultSimple .article.standalone .author_group_profile .details_container .short_info,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsArticleGalleryAboveTitleSimple .article.standalone .author_group_profile .details_container .short_info
{
	text-shadow: none;
	font-family: "Arial";
	color: #6a6a6a;
	font-style: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_listOfAttendants
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_listOfAttendants > table tr:first-child.edn_listOfAttendantsHeader
{
	background-color: #f5f5f5;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_listOfAttendants > table tr:first-child th
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(even)
{
	background-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .edn_listOfAttendants > table tr:nth-child(odd)
{
	background-color: #F1F1F1;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .article_documents
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #f5f5f5;
	background-image: url("../images/articleDocuments/background/predefined/grey_linear_gradient.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .article_documents > h2
{
	font-family: "Arial";
	color: #363636;
	font-size: 15px;
	line-height: 22px;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .article_documents ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #000000;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .article_documents ul li a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .article_documents ul li span
{
	font-family: "Arial";
	color: #666666;
	font-size: 11px;
	line-height: 19px;
	font-style: italic;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .edn_article_links
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #f5f5f5;
	background-image: url("../images/articleLinks/background/predefined/grey_linear_gradient.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .edn_article_links > h2
{
	font-family: "Arial";
	color: #363636;
	font-size: 15px;
	line-height: 22px;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .edn_article_links ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #000000;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .edn_article_links ul li a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .edn_article_links ul li span
{
	font-family: "Arial";
	color: #666666;
	font-size: 11px;
	line-height: 19px;
	font-style: italic;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .related_articles
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #f3f3f3;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .related_articles > h2
{
	font-family: "Arial";
	color: #363636;
	font-size: 15px;
	line-height: 22px;
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .related_articles ul li a
{
	text-decoration: none;
	font-family: "Arial";
	color: #000000;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .article .related_articles ul li a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.standalone .article_comments .add_comment .add_article_box,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.standalone .article_comments .add_comment .add_article_box
{
	background-color: #f4f4f4;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box
{
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.standalone .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.standalone .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.standalone .article_comments .add_comment .add_article_box table td.right textarea,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.standalone .article_comments .add_comment .add_article_box table td.right textarea
{
	background-color: #ffffff;
	border-color: #bfbfbf;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right input.text,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsDefault .article.details .article_comments .add_comment .add_article_box table td.right textarea,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsDetailsCatalog .article.details .article_comments .add_comment .add_article_box table td.right textarea
{
	color: #222222;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category_info h1
{
	font-family: "Verdana";
	color: #000000;
	font-size: 22px;
	line-height: 26px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .category_info .description
{
	font-family: "Verdana";
	color: #000000;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .child_categories .in_article_image .image_wrapper img,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .child_categories .in_article_image .image_wrapper img
{
	background-color: #ffffff;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cccccc !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .child_categories .in_article_image .image_wrapper img:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .child_categories .in_article_image .image_wrapper img:hover
{
	background-color: #ffffff;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #cccccc !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .child_categories .in_article_image .image_title a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .child_categories .in_article_image .image_title a
{
	font-family: "Verdana";
	color: #000000;
	font-size: 11px;
	line-height: 13px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsListCatalogDefault .child_categories .in_article_image .image_title a:hover,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news.eds_templateGroup_newsCatalogDefaultSimple .child_categories .in_article_image .image_title a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection
{
	background-color: #bb0202;
	background-image: url("../images/calendar/monthBackground/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td > a
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 15px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td.next_prev_months a
{
	text-shadow: 0px -1px 0px #b50303;
	color: #ffffff !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .month_selection td.next_prev_months a:hover
{
	color: #ffffff !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .edn_styledSelect > span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .edn_styledSelect > span::after
{
	border-color: #d6d6d6;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .edn_styledSelect > span
{
	background-color: #ffffff;
	background-image: url("../images/calendar/monthQuickSelection/selectArrow/predefined/select-pointer-red.png");
	background-position: 100% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .edn_styledSelect > span select,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .edn_styledSelect > span select option
{
	font-family: "Verdana";
	color: #404040;
	font-size: 13px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .week_days
{
	background-color: #e6e6e6;
	text-shadow: 1px 0px 0px #ffffff;
	font-family: "Arial";
	color: #6c7174;
	font-size: 9px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day > a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day > span
{
	background-color: #f3f3f3;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_posts > a
{
	background-color: #e0e0e0;
	color: #6F6F6F;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.has_events > a
{
	background-color: #ffae00;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.today > a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.today > span
{
	background-color: #d40404 !important;
	color: #ffffff !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.selected > a
{
	background-color: #fc5f5f !important;
	color: #ffffff !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-red > a
{
	background-color: #ff0000;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-blue > a
{
	background-color: #0000ff;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-black > a
{
	background-color: #000000;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-green > a
{
	background-color: #008000;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-yellow > a
{
	background-color: #ffff00;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-pink > a
{
	background-color: #ffc0cb;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-gray > a
{
	background-color: #808080;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-orange > a
{
	background-color: #ffa500;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.EDNcategorycolor-brown > a
{
	background-color: #a52a2a;
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day > span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day > a
{
	font-family: "Arial";
	color: #6f6f6f;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.other_month > a,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container .calendar_table .day.other_month > span
{
	color: #c8cccf;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a
{
	background-color: #ffffff;
	border-color: #adadad;
	color: #707070 !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-red
{
	border-color: #ff0000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-black
{
	border-color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-green
{
	border-color: #008000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li.event > a
{
	background-color: #fff3e9;
	border-color: #f77601;
	color: #ef5a00 !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-red
{
	border-color: #ff0000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-blue
{
	border-color: #0000ff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-black
{
	border-color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-green
{
	border-color: #008000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-yellow
{
	border-color: #ffff00;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-pink
{
	border-color: #ffc0cb;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-gray
{
	border-color: #808080;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-orange
{
	border-color: #ffa500;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .callendar_table_container.advanced .calendar_table .day > ul > li > a.EDNcategorycolor-brown
{
	border-color: #a52a2a;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar h1.edn_module_title
{
	background-color: #bd0202;
	background-image: url("../images/calendarArchive/titleBackground/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar h1.edn_module_title span
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list ul li a
{
	font-family: "Arial";
	color: #363636;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list ul li a:hover
{
	text-decoration: underline;
	color: #363636;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > .edn_archive-year,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list .edn_module_box .edn_archive_menu_wrapper li.active > div > .edn_archive-month
{
	font-weight: bold;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list ul li
{
	border-bottom-color: #d3d2d2;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list.events h1.edn_module_title
{
	background-color: #bd0202;
	background-image: url("../images/calendarEvents/titleBackground/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list.events h1.edn_module_title span
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list.events ul li a
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list.events ul li a:hover
{
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_calendar .archive_list.events ul li
{
	border-color: #dedede;
}

.qtip.edn_calendarbox_BlogOne.red
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article > p.title a,
.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article > p.title
{
	font-family: "Arial";
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article > p.title a:hover
{
	text-decoration: underline;
	color: #333333;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article_list > li > a,
.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article_list > li
{
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article_list > li > a:hover
{
	text-decoration: underline;
	color: #333333;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article_list > li > p
{
	font-family: "Arial";
	color: #333333;
	font-size: 10px;
}

.qtip.edn_calendarbox_BlogOne.red .qtip-content > .wrapper > .article > .content
{
	font-family: "Arial";
	color: #333333;
	font-size: 10px;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article > a
{
	text-decoration: none;
	font-family: "Arial";
	color: #333333;
	font-size: 12px;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .wrapper > .article > a:hover
{
	text-decoration: underline;
	color: #333333;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .title
{
	background-color: #ffffff;
	border-color: #cdcdcd;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .title span,
.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .title span a
{
	font-family: "Arial";
	color: #111111;
}

.qtip.edn_calendarbox_BlogOne.red > .qtip-content > .title span a:hover
{
	text-decoration: underline;
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input .input
{
	background-color: #eeeeee;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input .input input
{
	color: #707070;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input .do_search
{
	background-color: #ffffff;
	background-image: url("../images/searchButtonInside/background/predefined/bg-red.png");
	background-position: 0px 0px;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input .do_search:hover
{
	background-color: #ffffff;
	background-image: url("../images/searchButtonInside/background/predefined/bg-red.png");
	background-position: -31px 0px;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input.button_outside .do_search
{
	background-color: #ffffff;
	background-image: url("../images/searchButtonOutside/background/predefined/bg-red.png");
	background-position: 0px 0px;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input.button_outside .do_search:hover
{
	background-color: #ffffff;
	background-image: url("../images/searchButtonOutside/background/predefined/bg-red.png");
	background-position: 0px -22px;
	border-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input.button_outside .do_search span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .search_input.button_outside .do_search:hover span
{
	color: #ffffff;
}

.EDN_search.theme_BlogOne.red
{
	background-color: #f6f6f6;
	border-color: #cdcdcd;
}

.EDN_search.theme_BlogOne.red .acSelect
{
	background-color: #d10404;
}

.EDN_search.theme_BlogOne.red ul li,
.EDN_search.theme_BlogOne.red ul li span a,
.EDN_search.theme_BlogOne.red .acSelect,
.EDN_search.theme_BlogOne.red .acSelect a
{
	color: #333333;
}

.EDN_search.theme_BlogOne.red ul li span a:hover
{
	color: #000000;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox label:before,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li label > span:before
{
	background-image: url("../images/advancedSearchForm/checkBoxes/predefined/cf-checkbox-red.png");
	background-position: 0px 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBox input[type="checkbox"]:checked + label:before,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop ul > li.selected label > span:before
{
	background-image: url("../images/advancedSearchForm/checkBoxes/predefined/cf-checkbox-red.png");
	background-position: 0px -22px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton label:before
{
	background-image: url("../images/advancedSearchForm/radioButtons/predefined/cf-radiobutton-red.png");
	background-repeat: repeat;
	background-position: 0px 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonGroup .edncf_RadioButton input[type="radio"]:checked + label:before
{
	background-image: url("../images/advancedSearchForm/radioButtons/predefined/cf-radiobutton-red.png");
	background-repeat: repeat;
	background-position: 0px -25px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container label > span
{
	font-family: "Verdana";
	color: #404040;
	font-size: 12px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_CheckBoxList .edncf_CheckBoxListName,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RadioButtonList .edncf_RadioButtonListName,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput label > span
{
	font-family: "Verdana";
	color: #404040;
	font-size: 13px;
	line-height: 1.5;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Text .edncf_TextInput input[type="text"]
{
	border-color: #d4d4d4;
	background-color: #ffffff;
	font-family: "Verdana";
	color: #404040;
	font-size: 13px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span:after,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > div,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	border-color: #d6d6d6;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-drop
{
	background-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice
{
	background-image: url("../images/advancedSearchForm/select/selectArrow/predefined/select-pointer-red.png");
	background-position: 100% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select option,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_Multiselect .edncf_MultiselectGroup .ms-choice > span
{
	font-family: "Verdana";
	color: #404040;
	font-size: 13px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_DropDownList > span select:disabled
{
	color: #b5b5b5;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-line
{
	background-color: #ffffff;
	border-color: #727272;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-diapason
{
	background-color: #f22b2c;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-from,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-to,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-single
{
	font-family: "Verdana";
	color: #f02a2b;
	font-size: 11px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-min,
.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_RangeSliderInput .irs .irs-max
{
	font-family: "Verdana";
	color: #777777;
	font-size: 9px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .form-control
{
	border-color: #d4d4d4;
	background-color: #ffffff;
	font-family: "Verdana";
	color: #404040;
	font-size: 13px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon
{
	border-color: #d4d4d4;
	background-color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_dateSearchField .input-group-addon .glyphicon
{
	color: #C92328;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit
{
	background-image: url("../images/advancedSearchForm/button/background/predefined/bg-red.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover
{
	background-position: 0% -22px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_submit:hover span
{
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset
{
	background-color: #f40f0f;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset span
{
	font-family: "Arial";
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edncf_container .edncf_submitContainer .edncf_reset:hover span
{
	color: #ffffff;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title
{
	background-color: #bd0202;
	background-image: url("../images/advancedSearchModule/title/background/predefined/bg-red.png");
	background-repeat: repeat-x;
	background-position: 0% 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .edncf_AdvancedSearch .edn_module_title > span
{
	text-shadow: 0px -1px 0px #b50303;
	font-family: "Arial";
	color: #ffffff;
	font-size: 14px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_letter
{
	background-color: #e4e4e4;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search span.ednSbl_item
{
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper:hover .ednSbl_item
{
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search .ednSbl_item .ednSbl_count
{
	color: #363636;
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_search .ednSbl_search .ednSbl_itemWrapper.ednSbl_selected .ednSbl_item .ednSbl_count
{
	border-radius: 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .EDN_cf_all_fields_container > table tr td
{
	background-color: #E0DEDE;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .EDN_cf_all_fields_container > table tr:nth-child(2n) td
{
	background-color: #EBEBEB;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_icon
{
	background-image: url("../images/articleDetailsCustomFields/checkboxBackground/predefined/cf-checkbox-red.png");
	background-position: 0px 0px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .EDN_cf_all_fields_container > table tr td.EDN_all_fields_table_value .EDN_cf_checkbox_checked .EDN_cf_checkbox_icon
{
	background-image: url("../images/articleDetailsCustomFields/checkboxBackground/predefined/cf-checkbox-red.png");
	background-position: 0px -22px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne a.edsgg_galleryBackLink
{
	border-color: #ffffff;
	background-color: #ededed;
	background-image: url("../images/gravityGallery/viewInGalleryButton/background/predefined/trigger-bg.png");
	color: #a19e9e !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne a.edsgg_galleryBackLink:hover
{
	background-color: #dadada;
	color: #53555e !important;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne a.edsgg_galleryBackLink:before
{
	background-image: url("../images/gravityGallery/viewInGalleryButton/icon/predefined/photo.png");
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger
{
	border-color: #ffffff;
	background-color: #ededed;
	background-image: url("../images/gravityGallery/loadMoreMediaButton/background/predefined/trigger-bg.png");
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover
{
	background-color: #dadada;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerText span
{
	color: #a19e9e;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger:hover .edsgg__loadMediaTriggerText span
{
	color: #53555e;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__loadMediaWrapper .edsgg__loadMediaTrigger .edsgg__loadMediaTriggerOverlay
{
	background-color: #dadada;
	background-image: url("../images/gravityGallery/loadMoreMediaButton/loadingOverlay/background/predefined/loadingArticles.gif");
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__itemsListContainer .edsgg__itemContainer
{
	border-top-color: #BABABA;
	border-right-color: #BABABA;
	border-bottom-color: #BABABA;
	border-left-color: #D3D3D3;
	background-color: #ffffff;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_thumbnailContainer .edsgg_title
{
	color: #323232;
	font-size: 13px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_description
{
	font-size: 11px;
}

.eds_news_BlogOne.eds_style_predefined_red.eds_subCollection_news .eds_GravityGallery_BlogOne .edsgg__itemsListContainer .edsgg__itemContainer .edsgg_image_thumbnail
{
	border-color: #d6d6d6;
	background-color: #ffffff;
}

