﻿<button ng-click="vm.clickCancelar()" type="button" class="btn btn-default come-back-left" aria-label="Left Align">
    <span class="k-icon k-i-undo" style=" margin-left: -10px; margin-top: -5px; padding-right: 27px;" aria-hidden="true"></span><strong>Volver</strong>

</button>
<div class="modal-header modal-header bg-alto position-relative">
    <h2 class="modal-title librefranklin-bold color-jungle-green header-mineros ng-binding title_interest_h2">{{textAddProvider}}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form name="form_providers" id="form_providers" class="form_providers" novalidate prevent-enter-submit>
                <p class="field_required librefranklin-reg">(*) {{fieldRequiredText}}</p>
                <fieldset>
                    <strong class="title_interes date_contact librefranklin-bold">{{dataContactText}}:</strong>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name_enterprise" required ng-model="vm.providerForm.NameEnterprise"
                                       class="form-control bg-very-light-gray librefranklin-reg" placeholder="{{nameEnterpriseText}} *" />
                                <div ng-show="form_providers.$submitted || form_providers.name_enterprise.$touched">
                                    <span class="error_forms" ng-show="form_providers.name_enterprise.$error.required ">{{required_field}}.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control bg-very-light-gray librefranklin-reg" required
                                       ng-model="vm.providerForm.Nit" name="nit" placeholder="{{nitPlaceholder}} *" />
                                <div ng-show="form_providers.$submitted || form_providers.nit.$touched">
                                    <span class="error_forms" ng-show="form_providers.nit.$error.required ">{{required_field}}.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control bg-very-light-gray librefranklin-reg"
                                       ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" ng-model="vm.providerForm.SiteUrl" name="site_url" placeholder="{{siteUrlPlaceholder}}" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" required class="form-control bg-very-light-gray" placeholder="{{nameAdiserText}}*" ng-model="vm.providerForm.ContactName" name="name_contact" />
                            <div ng-show="form_providers.$submitted || form_providers.name_contact.$touched">
                                <span class="error_forms" ng-show="form_providers.name_contact.$error.required ">{{required_field}}.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="text" required class="form-control bg-very-light-gray" name="phone_number" ng-model="vm.providerForm.PhoneNumber" placeholder="{{phoneAdviserText}} *" />
                            <small class="contact-paragraph-one librefranklin-regular color-very-dark-gray">+XX XXX XXXXXXX,+XX-XXX-XXX-XXXX,+XX(XXX)-XXX-XXXX </small>
                            <div ng-show="form_providers.$submitted || form_providers.phone_number.$touched">
                                <span class="error_forms" ng-show="form_providers.phone_number.$error.required ">{{required_field}}.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input required placeholder="{{emailAdviser}}*" type="email" ng-parent="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" 
                                   ng-model="vm.providerForm.ContactEmail" name="email_contact" class="form-control bg-very-light-gray" />
                            <div ng-show="form_providers.$submitted || form_providers.email_contact.$touched">
                                <span class="error_forms" ng-show="form_providers.email_contact.$error.required ">{{required_field}}.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" ng-parent="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required class="form-control bg-very-light-gray" ng-model="vm.providerForm.CompanyEmail" name="company_email" placeholder="{{emailEnterpriseText}}*" />
                                <div ng-show="form_providers.$submitted || form_providers.company_email.$touched">
                                    <span class="error_forms" ng-show="form_providers.company_email.$error.required ">{{required_field}}.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="contact-paragraph-one label-form librefranklin-regular color-very-dark-gray">{{representationCountryText}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="margin: 0;">
                                        <div class="col-md-2 no-padding">
                                            <input type="checkbox" class="check_country" id="argentinaLabel" />
                                            <label ng-click="vm.checkCountry($event)" for="argentinaLabel" id="checkArgentina" class="check-box"></label>
                                            <label class="form-check-label label-form librefranklin-regular color-very-dark-gray">Argentina</label>
                                        </div>
                                        <div class="col-md-2 no-padding">
                                            <input type="checkbox" class="check_country" id="colombiaLabel" />
                                            <label ng-click="vm.checkCountry($event)" for="colombiaLabel" id="checkColombia" class="check-box"></label>
                                            <label class="form-check-label label-form librefranklin-regular color-very-dark-gray">
                                                Colombia</labe>
                                        </div>
                                        <div class="col-md-2 no-padding">
                                            <input type="checkbox" class="check_country" id="hondurasLabel" />
                                            <label ng-click="vm.checkCountry($event)" for="hondurasLabel" id="checkHonduras" class="check-box"></label>
                                            <label class="form-check-label label-form librefranklin-regular color-very-dark-gray">Hondulras</label>
                                        </div>
                                        <div class="col-md-6 no-padding" style="padding-right: 15px;">
                                            <div class="row" style="padding-top: 0px;">
                                                <div class="col-md-2 no-padding">
                                                    <input type="checkbox" class="check_country" id="checkotherlabel" />
                                                    <label ng-click="vm.checkCountry($event)" for="checkotherlabel" id="checkOther" class="check-box"></label>
                                                    <label class="form-check-label label-form librefranklin-regular color-very-dark-gray">{{otherText}}</label>
                                                </div>
                                                <div class="col-md-10 no-padding">
                                                    <input class="form-control bg-very-light-gray" id="country_enterprise" ng-disabled="vm.booleanotherCheck" ng-model="vm.providerForm.othersCountry" googleplace placeholder="{{wichText}}" />
                                                </div>
                                                <div class="col-md-12 no-padding">
                                                    <small class=" librefranklin-regular color-very-dark-gray">{{canTypeCountryText}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-country" ng-show="vm.otherCountryBoolean">
                                        <p class=" librefranklin-regular color-very-dark-gray">{{otherCountries}}:</p>
                                        <ul class="ul_country">
                                            <li ng-repeat="c in vm.arrayCountry" ng-if="c.show==1">{{c.name}}  <span ng-click="vm.deleteTag(c,'country')" class="k-icon k-i-close"></span></li>
                                        </ul>
                                    </div>
                                    <div ng-show="form_providers.$submitted && !vm.selectCountryBoolean" class="">
                                        <span class="error_forms">{{selectRequiredCountry}}.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <strong class="title_interes librefranklin-bold contact-paragraph-one">{{productsAndServiceText}}:</strong>
                    </legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="contact-paragraph-one label-form librefranklin-regular color-very-dark-gray">{{hadProductText}}:</label>
                                    <label class="switcher">
                                        <input type="checkbox" ng-change="vm.changeServices($event,'product')" ng-model="vm.providerForm.productChck" name="products" />
                                        <div class="switcher__indicator"></div>
                                    </label>
                                </div>
                                <div class="col-md-9" style="padding:0">
                                    <div class="row content-categories no-padding-top" style="padding-top: 0px;">
                                        <div class="col-md-6" ng-if="vm.contentProd">
                                            <select ng-model="vm.productSelect" class="form-control bg-very-light-gray" required ng-change="vm.selectService(vm.productSelect,'product')"
                                                    data-ng-options="listProduct as listProduct.Spanish for listProduct in vm.listProducts track by listProduct.Id" name="category_product">
                                                <option value="">{{categoryText}}..</option>
                                            </select>
                                        
                                            <div ng-show="form_providers.$submitted ">
                                                <span class="error_forms" ng-show="productSelect.$error.required ">{{required_field}}.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-if="vm.contentProd">
                                                <multiple-autocomplete ng-model="vm.providerFormMulti.subcategoryProduct"
                                                                       object-property="Spanish"
                                                                       after-select-item="vm.selectItemAfterProd"
                                                                       name="subcategory_product"
                                                                       suggestions-arr="vm.optionsListProduct"
                                                                       placeholder="Subcategory">
                                                </multiple-autocomplete>
                                      
                                            <div ng-show="form_providers.$submitted && listSubcategoryProd.length==0">
                                                <span class="error_forms" ng-show="form_providers.$submitted && listSubcategoryProd.length==0">{{maxSubCategory}}.</span>
                                            </div>
                                        </div>
                                        <div class="list-country" ng-if="vm.listSubcategoryProd.length>0 && vm.contentProd">
                                            <ul class="ul_country">
                                                <li ng-repeat="p in vm.listSubcategoryProd">{{p.SubcategorySpanish}}<span ng-click="vm.deleteTag(p,'product')" class="k-icon k-i-close"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="contact-paragraph-one label-form librefranklin-regular color-very-dark-gray">{{hadServiceText}}:</label>
                                    <label class="switcher">
                                        <input type="checkbox" ng-change="vm.changeServices($event,'service')" ng-model="vm.providerForm.serviceChck" name="services" />
                                        <div class="switcher__indicator"></div>
                                    </label>
                                </div>
                                <div class="col-md-9">
                                    <div class="row content-categories no-padding-top" style="padding-top: 0px;">
                                        <div class="col-md-6" ng-if="vm.contentService">
                                            <select ng-model="vm.serviceSelect" class="form-control bg-very-light-gray" required ng-change="vm.selectService(vm.serviceSelect,'service')"
                                                    data-ng-options="listService as listService.Spanish for listService in vm.listServices" name="category_service">
                                                <option selected value="">{{categoryText}}..</option>
                                            </select>
                                            
                                            <div ng-show="form_providers.$submitted">
                                                <span class="error_forms" ng-show="serviceSelect.$error.required ">{{required_field}}.</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-if="vm.contentService">
                                                <multiple-autocomplete ng-model="vm.providerFormMulti.subcategoryService"
                                                                       object-property="Spanish"
                                                                       after-select-item="vm.selectItemAfterServ"
                                                                       suggestions-arr="vm.optionsListService"
                                                                       placeholder="Subcategorias">
                                                </multiple-autocomplete>

                                            <div ng-show="form_providers.$submitted && listSubcategoryService.length==0 && contentService">
                                                <span class="error_forms" ng-show="form_providers.$submitted && listSubcategoryService.length==0">{{maxSubCategory}}.</span>
                                            </div>
                                        </div>
                                        <div class="list-country" ng-if="vm.listSubcategoryService.length>0">
                                            <ul class="ul_country">
                                                <li ng-repeat="p in vm.listSubcategoryService">{{p.SubcategorySpanish}}<span ng-click="vm.deleteTag(p,'service')" class="k-icon k-i-close"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="form_providers.$submitted && !vm.selectServiceBoolean" class="col-md-12">
                            <span class="error_forms">{{requiredSomeOption}}.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 " style="margin-top: 10px;">
                            <div class="form-group">
                                <input type="text" class="form-control bg-very-light-gray" ng-keyup="vm.brandAdd($event)" ng-model="brandInput" name="brand" placeholder="{{brandText}}" />
                                <small class=" librefranklin-regular color-very-dark-gray">{{brandTypeRequireText}}.</small>
                            </div>
                            <div class="list-brand form-group" ng-if="vm.providerForm.Brands.length>0">
                                <p class=" librefranklin-regular color-very-dark-gray">{{brandRegister}}:</p>
                                <ul class="ul_country">
                                    <li ng-repeat="b in vm.providerForm.Brands">{{b.Name}} <span ng-click="vm.deleteTag(b,'brand')" class="k-icon k-i-close"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="curriculum">
                                <input type="file" name="file" id="botonFileInterest" file-model="vm.file_document">
                                <label for="botonFileInterest" class="btn btn-secondary bg-light-gray librefranklin-reg">{{attachFile}}</label>
                                <label>{{vm.file_document.name}}</label>
                            </div>
                        </div>
                        <div class="col-md-12 text-center form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check d-flex">

                                    </div>
                                    <div ng-show="form_providers.$submitted || providerForm.checkterms.$touched">
                                        <span class="error_forms" ng-show="form_providers.checkterms.$error.required ">{{acceptterms}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-succes bg-jungle-green librefranklin-regular text-white" type="button" id="submit_interest" ng-click="vm.saveProvider($event,form_providers,vm.providerForm)">{{sendText}}</button>
                        </div>
                        <div class="col-md-6">
                            <div class="message_send" ng-show="vm.errorRequest">
                                <p class="librefranklin-regular color-very-dark-gray">{{message_error}}.</p>
                            </div>
                            <div class="LoaderBalls" ng-show="vm.send">
                                <div class="LoaderBalls__item"></div>
                                <div class="LoaderBalls__item"></div>
                                <div class="LoaderBalls__item"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
