﻿
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.form_certificate button {
    background: #24a570;
    background-color: #24a570 !important;
    border-color: #24a570 !important;
}
.error_forms {
    color: #ec6565;
}
ul.download-list {
    margin-left: 0;
}

    ul.download-list li {
        list-style: none;
    }

        ul.download-list li img {
            width: auto;
            max-width: 30px;
            margin-left: 10px;
        }

.content-download {
    margin-top: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.form_certificate button {
    background: #24a570;
    background-color: #24a570 !important;
    border-color: #24a570 !important;
}

.error_forms {
    color: #ec6565;
}
