<!--TemplateGroup:detailsArticleDefaultAccordion-->
<!--ArticleTemplate-->
<EDNHeader>
	<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsAccordion/edsAccordion-1.1.js"></script>
	<script>
		jQuery(function ($) {
			$('div.edn_accordionWrapper').edsAccordion_1();
		});
	</script>
	<article class="edn_article edn_articleDetails edn_articleAccordion">
		[EasyDNNnews:IfExists:Event]
		<div class="edn_eventDetails edn_clearFix">
			[EasyDNNnews:IfExists:EventRegistration][EasyDNNnews:EventRegistration:RegisterButton][EasyDNNnews:EndIf:EventRegistration]
			[EasyDNNnews:IfExists:Payment]<span class="edn_eventPrice">[EasyDNNnews:Price]</span>[EasyDNNnews:EndIf:Payment]
			[EasyDNNnewsLocalizedText:Eventdate]: <strong>[EasyDNNnews:EventDate]</strong> <a class="edn_calendarExport edn_toolTip" href="[EasyDNNnews:iCalendar]"><span class="edn_toolTipContent">[EasyDNNnewsLocalizedText:ExportEvent]</span></a>
			[EasyDNNnews:IfExists:EventLocation]
			<p class="edn_eventLocation">[EasyDNNnewsLocalizedText:EventLocation]: <strong>[EasyDNNnews:EventLocation]</strong></p>
			[EasyDNNnews:EndIf:EventLocation]
			[EasyDNNnews:IfExists:EventRegistration]
			<ul>
				<li>[EasyDNNnewsLocalizedText:NumberOfAttendants]: <strong>[EasyDNNnews:EventRegistration:NumberOfAttendants]</strong></li>
				<li>[EasyDNNnewsLocalizedText:MaxNumberOfTickets]: <strong>[EasyDNNnews:EventRegistration:MaxNumberOfTickets]</strong></li>
				<li>[EasyDNNnewsLocalizedText:NotUsedTickets]: <strong>[EasyDNNnews:EventRegistration:NotUsedTickets]</strong></li>
				[EasyDNNnews:IfExists:Payment]<li>[EasyDNNnewsLocalizedText:Price]: <strong>[EasyDNNnews:Price]</strong></li>[EasyDNNnews:EndIf:Payment]
			</ul>
			[EasyDNNnews:EventRegistration:InfoMessage]
			[EasyDNNnews:EndIf:EventRegistration]
			[EasyDNNnews:IfExists:EventSignUp]
			<div class="eds_signUpActionBarWrapper edn_clearFix">
				<h4>[EasyDNNnewsLocalizedText:AreYouGoing]</h4>[EasyDNNnews:SignUpActionBar]
			</div>
			[EasyDNNnews:EndIf:EventSignUp]
		</div>
		[EasyDNNnews:EndIf:Event]
		[EasyDNNnews:IfMediaType:Image]
		<div class="edn_mediaContainer">
			<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
			[EasyDNNnews:IfExists:GalleryBackLink]
			<a href="[EasyDNNnews:GalleryBackLink]" class="edn_galleryLink"><span>[EasyDNNnewsLocalizedText:ViewInGallery]</span></a>
			[EasyDNNnews:EndIf:GalleryBackLink]
		</div>
		[EasyDNNnews:EndIfMediaType]
		[EasyDNNnews:IfMediaType:EmbedMedia]
		<div class="edn_mediaContainer" style="width:[EasyDNNnews:MainArticleImageWidth]">
			[EasyDNNnews:MainMedia]
			[EasyDNNnews:IfExists:GalleryBackLink]
			<a href="[EasyDNNnews:GalleryBackLink]" class="edn_galleryLink"><span>ViewInGallery</span></a>
			[EasyDNNnews:EndIf:GalleryBackLink]
		</div>
		[EasyDNNnews:EndIfMediaType]
		<div class="edn_metaDetails">
			[EasyDNNnews:Author:Link]
			<time> / [EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event]</time>
			<div class="edn_articleCategories"> / [EasyDNNnewsLocalizedText:Categories]: [EasyDNNnews:Categories]</div>
		</div>
</EDNHeader>
<!--Gallery TOP position-->
<EDNContentTop>
		<h1 class="edn_articleTitle">[EasyDNNnews:Title]</h1>
		[EasyDNNnews:IfExists:SubTitle]
		<h2 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h2>
		[EasyDNNnews:EndIf:SubTitle]
</EDNContentTop>
<EDNContent>
		[EasyDNNnews:Article]
</EDNContent>
<EDNContentBottom>
		[EasyDNNnews:IfExists:ArticlePreviousNext]
		<div class="article_pager edn_articleScrolling edn_clearFix">
			[EasyDNNnews:IfExists:PreviousArticleLink]
			<div class="edn_toolTip edn_tooltipLeft">
				<a class="edn_previusArticle" href="[EasyDNNnews:PreviousArticleLink]">[EasyDNNnewsLocalizedText:PreviusArticle]</a>
				<span class="edn_toolTipContent">[EasyDNNnews:PreviousArticleTitle]</span>
			</div>
			[EasyDNNnews:EndIf:PreviousArticleLink]
			[EasyDNNnews:IfExists:NextArticleLink]
			<div class="edn_toolTip edn_tooltipRight">
				<a class="edn_nextArticle" href="[EasyDNNnews:NextArticleLink]">[EasyDNNnewsLocalizedText:NextArticle]</a>
				<span class="edn_toolTipContent">[EasyDNNnews:NextArticleTitle]</span>
			</div>
			[EasyDNNnews:EndIf:NextArticleLink]
		</div>
		[EasyDNNnews:EndIf:ArticlePreviousNext]
		<div class="edn_socialPrintWrapper">
			[EasyDNNnews:SocialButtons:FBLike]
			[EasyDNNnews:SocialButtons:AddThis]
			[EasyDNNnews:Print:ArticleDetails]
		</div>
		<div class="edn_metaDetails edn_clearFix">
			<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
			[EasyDNNnews:ArticleRating]
		</div>
		[EasyDNNnews:IfExists:Tags]
		<div class="edn_articleTags edn_clearFix">[EasyDNNnewsLocalizedText:Tags]: [EasyDNNnews:Tags separator=""]</div>
		[EasyDNNnews:EndIf:Tags]
		<div class="edn_accordionWrapper">
			[EDNcf:IfExists:ShowAll]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:DetailsCF]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">[EDNcf:ShowAll]</div>
				</div>
			</div>
			[EDNcf:EndIf:ShowAll]
			[EasyDNNnews:IfExists:ArticleMaps]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:MapsTitle]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">[EasyDNNnews:ArticleMaps]</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:ArticleMaps]
			[EasyDNNnews:IfExists:EventRegistration:ListOfAttendants]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:Attendees]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">[EasyDNNnews:EventRegistration:ListOfAttendants]</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:EventRegistration:ListOfAttendants]
			[EasyDNNnews:IfExists:DocumentList]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:Documents]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">[EasyDNNnews:DocumentList]</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:DocumentList]
			[EasyDNNnews:IfExists:Links]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:LinksIncluded]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">[EasyDNNnews:Links]</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:Links]
			[EasyDNNnews:IfExists:Gallery]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:GalleryTitle]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">
			[EasyDNNnews:EndIf:Gallery]
</EDNContentBottom>
<!--Gallery BOTTOM position-->
<EDNFooter>
			[EasyDNNnews:GravityGallery]
			[EasyDNNnews:IfExists:Gallery]
					</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:Gallery]
			[EasyDNNnews:IfExists:AuthorProfile]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:ContactAuthorGroupTitle]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">
						<div class="edn_authorGroupDetails">
							[EasyDNNnews:Author:Image:Width:85:Height:120:Resize:Crop]
							<h4>[EasyDNNnews:Author:DisplayName][EasyDNNnews:Author:RSSURL]</h4>
							[EasyDNNnews:Author:ShortInfo] <span class="edn_otherPostsBy">[EasyDNNnewsLocalizedText:Otherpostsby] [EasyDNNnews:Author:Link]</span>
							<div class="edn_connectWith">
								[EasyDNNnews:Author:Contact]
								[EasyDNNnews:Author:FullInfo]
								[EasyDNNnews:Author:Facebook]
								[EasyDNNnews:Author:Twitter]
								[EasyDNNnews:Author:LinkedIn]
								[EasyDNNnews:Author:GooglePlus]
							</div>
						</div>
						[EasyDNNnews:EndIf:AuthorProfile]
						[EasyDNNnews:IfExists:AuthorGroup]
						<div class="edn_authorGroupDetails edn_groupDetails">
							[EasyDNNnews:Author:GroupImage:Width:85:Height:120:Resize:Crop]
							<h4>[EasyDNNnews:Author:GroupName][EasyDNNnews:Author:GroupRSSURL]</h4>
							[EasyDNNnews:Author:GroupInfo]
							<div class="edn_connectWith">
								[EasyDNNnews:Author:GroupContact]
								[EasyDNNnews:Author:GroupFacebook]
								[EasyDNNnews:Author:GroupTwitter]
								[EasyDNNnews:Author:GroupGooglePlus]
								[EasyDNNnews:Author:GroupLinkedIn]
							</div>
						</div>
					</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:AuthorGroup]
			[EasyDNNnews:IfExists:Comments]
			<div class="edsAccordion_section">
				<h3 class="edsAccordion_title">[EasyDNNnewsLocalizedText:CommentsTitle]</h3>
				<div class="edsAccordion_contentWrapper">
					<div class="edsAccordion_content">
			[EasyDNNnews:EndIf:Comments]
</EDNFooter>
<!--Comments position-->
<EDNBottom>
			[EasyDNNnews:IfExists:Comments]
					</div>
				</div>
			</div>
			[EasyDNNnews:EndIf:Comments]
		</div>
		[EasyDNNnews:RelatedArticles]
	</article>
</EDNBottom>
<!--ArticleEnd-->
