<!--TemplateGroup:detailsArticleDefaultTabs-->
<!--ArticleTemplate-->
<EDNHeader>
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsTabulator/edsTabulator-1.0.js"></script>
<script>
	jQuery(function ($) {
		$('div.edsTabulator').edsTabulator_1();
	});
</script>
	<article class="edn_article edn_articleDetails">
		[EasyDNNnews:IfExists:Event]
		<div class="edn_eventDetails edn_clearFix">
			[EasyDNNnews:IfExists:EventRegistration][EasyDNNnews:EventRegistration:RegisterButton][EasyDNNnews:EndIf:EventRegistration]
			[EasyDNNnews:IfExists:Payment]<span class="edn_eventPrice">[EasyDNNnews:Price]</span>[EasyDNNnews:EndIf:Payment]
			[EasyDNNnewsLocalizedText:Eventdate]: <strong>[EasyDNNnews:EventDate]</strong> <a class="edn_calendarExport edn_toolTip" href="[EasyDNNnews:iCalendar]"><span class="edn_toolTipContent">[EasyDNNnewsLocalizedText:ExportEvent]</span></a>
			[EasyDNNnews:IfExists:EventLocation]
			<p class="edn_eventLocation">[EasyDNNnewsLocalizedText:EventLocation]: <strong>[EasyDNNnews:EventLocation]</strong></p>
			[EasyDNNnews:EndIf:EventLocation]
			[EasyDNNnews:IfExists:EventRegistration]
			<ul>
				<li>[EasyDNNnewsLocalizedText:NumberOfAttendants]: <strong>[EasyDNNnews:EventRegistration:NumberOfAttendants]</strong></li>
				<li>[EasyDNNnewsLocalizedText:MaxNumberOfTickets]: <strong>[EasyDNNnews:EventRegistration:MaxNumberOfTickets]</strong></li>
				<li>[EasyDNNnewsLocalizedText:NotUsedTickets]: <strong>[EasyDNNnews:EventRegistration:NotUsedTickets]</strong></li>
				[EasyDNNnews:IfExists:Payment]<li>[EasyDNNnewsLocalizedText:Price]: <strong>[EasyDNNnews:Price]</strong></li>[EasyDNNnews:EndIf:Payment]
			</ul>
			[EasyDNNnews:EventRegistration:InfoMessage]
			[EasyDNNnews:EndIf:EventRegistration]
			[EasyDNNnews:IfExists:EventSignUp]
			<div class="eds_signUpActionBarWrapper edn_clearFix">
				<h4>[EasyDNNnewsLocalizedText:AreYouGoing]</h4>[EasyDNNnews:SignUpActionBar]
			</div>
			[EasyDNNnews:EndIf:EventSignUp]
		</div>
		[EasyDNNnews:EndIf:Event]
		[EasyDNNnews:IfMediaType:Image]
		<div class="edn_mediaContainer">
			<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
			[EasyDNNnews:IfExists:GalleryBackLink]
			<a href="[EasyDNNnews:GalleryBackLink]" class="edn_galleryLink"><span>[EasyDNNnewsLocalizedText:ViewInGallery]</span></a>
			[EasyDNNnews:EndIf:GalleryBackLink]
		</div>
		[EasyDNNnews:EndIfMediaType]
		[EasyDNNnews:IfMediaType:EmbedMedia]
		<div class="edn_mediaContainer" style="width:[EasyDNNnews:MainArticleImageWidth]">
			[EasyDNNnews:MainMedia]
			[EasyDNNnews:IfExists:GalleryBackLink]
			<a href="[EasyDNNnews:GalleryBackLink]" class="edn_galleryLink"><span>ViewInGallery</span></a>
			[EasyDNNnews:EndIf:GalleryBackLink]
		</div>
		[EasyDNNnews:EndIfMediaType]
		<div class="edn_metaDetails">
			[EasyDNNnews:Author:Link]
			<time> / [EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event]</time>
			<div class="edn_articleCategories"> / [EasyDNNnewsLocalizedText:Categories]: [EasyDNNnews:Categories]</div>
		</div>
</EDNHeader>
<!--Gallery TOP position-->
<EDNContentTop>
		<h1 class="edn_articleTitle">[EasyDNNnews:Title]</h1>
		[EasyDNNnews:IfExists:SubTitle]
		<h2 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h2>
		[EasyDNNnews:EndIf:SubTitle]
</EDNContentTop>
<EDNContent>
		[EasyDNNnews:Article]
</EDNContent>
<EDNContentBottom>
		[EasyDNNnews:IfExists:ArticlePreviousNext]
		<div class="article_pager edn_articleScrolling edn_clearFix">
			[EasyDNNnews:IfExists:PreviousArticleLink]
			<div class="edn_toolTip edn_tooltipLeft">
				<a class="edn_previusArticle" href="[EasyDNNnews:PreviousArticleLink]">[EasyDNNnewsLocalizedText:PreviusArticle]</a>
				<span class="edn_toolTipContent">[EasyDNNnews:PreviousArticleTitle]</span>
			</div>
			[EasyDNNnews:EndIf:PreviousArticleLink]
			[EasyDNNnews:IfExists:NextArticleLink]
			<div class="edn_toolTip edn_tooltipRight">
				<a class="edn_nextArticle" href="[EasyDNNnews:NextArticleLink]">[EasyDNNnewsLocalizedText:NextArticle]</a>
				<span class="edn_toolTipContent">[EasyDNNnews:NextArticleTitle]</span>
			</div>
			[EasyDNNnews:EndIf:NextArticleLink]
		</div>
		[EasyDNNnews:EndIf:ArticlePreviousNext]
		<div class="edn_socialPrintWrapper">
			[EasyDNNnews:SocialButtons:FBLike]
			[EasyDNNnews:SocialButtons:AddThis]
			[EasyDNNnews:Print:ArticleDetails]
		</div>
		<div class="edn_metaDetails edn_clearFix">
			<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
			[EasyDNNnews:ArticleRating]
		</div>
		[EasyDNNnews:IfExists:Tags]
		<div class="edn_articleTags edn_clearFix">[EasyDNNnewsLocalizedText:Tags]: [EasyDNNnews:Tags separator=""]</div>
		[EasyDNNnews:EndIf:Tags]
		<div class="edsTabulator"><!--TabsWrapper begin-->
			<ul class="eds_tabsNav"><!--Tabs navigation-->
				[EDNcf:IfExists:ShowAll]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:DetailsCF]</li><!--EDNcf:ShowAllTab-->
				[EDNcf:EndIf:ShowAll]
				[EasyDNNnews:IfExists:ArticleMaps]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:MapsTitle]</li><!--ArticleMapsTab-->
				[EasyDNNnews:EndIf:ArticleMaps]
				[EasyDNNnews:IfExists:EventRegistration:ListOfAttendants]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:Attendees]</li><!--ListOfAttendantsTab-->
				[EasyDNNnews:EndIf:EventRegistration:ListOfAttendants]
				[EasyDNNnews:IfExists:DocumentList]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:Documents]</li><!--DocumentListTab-->
				[EasyDNNnews:EndIf:DocumentList]
				[EasyDNNnews:IfExists:Links]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:LinksIncluded]</li><!--LinksTab-->
				[EasyDNNnews:EndIf:Links]
				[EasyDNNnews:IfExists:Gallery]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:GalleryTitle]</li><!--GalleryTab-->
				[EasyDNNnews:EndIf:Gallery]
				[EasyDNNnews:IfExists:AuthorProfile]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:ContactAuthorGroupTitle]</li><!--AuthorProfileTab-->
				[EasyDNNnews:EndIf:AuthorProfile]
				[EasyDNNnews:IfExists:Comments]
				<li class="edsTabulator_tabTrigger">[EasyDNNnewsLocalizedText:CommentsTitle]</li><!--CommentsTab-->
				[EasyDNNnews:EndIf:Comments]
			</ul><!--end of Tabs navigation-->
			<div class="edsTabulator_tabsWrapper"><!--TabsContent begin-->
				[EDNcf:IfExists:ShowAll]
				<div class="edsTabulator_tab">[EDNcf:ShowAll]</div><!--EDNcf:ShowAllTab-->
				[EDNcf:EndIf:ShowAll]
				[EasyDNNnews:IfExists:ArticleMaps]
				<div class="edsTabulator_tab">[EasyDNNnews:ArticleMaps]</div><!--ArticleMapsTab-->
				[EasyDNNnews:EndIf:ArticleMaps]
				[EasyDNNnews:IfExists:EventRegistration:ListOfAttendants]
				<div class="edsTabulator_tab">[EasyDNNnews:EventRegistration:ListOfAttendants]</div><!--ListOfAttendantsTab-->
				[EasyDNNnews:EndIf:EventRegistration:ListOfAttendants]
				[EasyDNNnews:IfExists:DocumentList]
				<div class="edsTabulator_tab">[EasyDNNnews:DocumentList]</div><!--DocumentListTab-->
				[EasyDNNnews:EndIf:DocumentList]
				[EasyDNNnews:IfExists:Links]
				<div class="edsTabulator_tab">[EasyDNNnews:Links]</div><!--LinksTab-->
				[EasyDNNnews:EndIf:Links]
				[EasyDNNnews:IfExists:Gallery]
				<div class="edsTabulator_tab"><!--GalleryTab begin-->
				[EasyDNNnews:EndIf:Gallery]
</EDNContentBottom>
<!--Gallery BOTTOM position-->
<EDNFooter>
				[EasyDNNnews:IfExists:Gallery]
				[EasyDNNnews:GravityGallery]
				</div><!--end of GalleryTab end-->
				[EasyDNNnews:EndIf:Gallery]
				[EasyDNNnews:IfExists:AuthorProfile]<!--AuthorProfileTab begin-->
				<div class="edsTabulator_tab">
					<div class="edn_authorGroupDetails">
						[EasyDNNnews:Author:Image:Width:85:Height:120:Resize:Crop]
						<h4>[EasyDNNnews:Author:DisplayName][EasyDNNnews:Author:RSSURL]</h4>
						[EasyDNNnews:Author:ShortInfo] <span class="edn_otherPostsBy">[EasyDNNnewsLocalizedText:Otherpostsby] [EasyDNNnews:Author:Link]</span>
						<div class="edn_connectWith">
							[EasyDNNnews:Author:Contact]
							[EasyDNNnews:Author:FullInfo]
							[EasyDNNnews:Author:Facebook]
							[EasyDNNnews:Author:Twitter]
							[EasyDNNnews:Author:LinkedIn]
							[EasyDNNnews:Author:GooglePlus]
						</div>
					</div>
					[EasyDNNnews:IfExists:AuthorGroup]
					<div class="edn_authorGroupDetails edn_groupDetails">
						[EasyDNNnews:Author:GroupImage:Width:85:Height:120:Resize:Crop]
						<h4>[EasyDNNnews:Author:GroupName][EasyDNNnews:Author:GroupRSSURL]</h4>
						[EasyDNNnews:Author:GroupInfo]
						<div class="edn_connectWith">
							[EasyDNNnews:Author:GroupContact]
							[EasyDNNnews:Author:GroupFacebook]
							[EasyDNNnews:Author:GroupTwitter]
							[EasyDNNnews:Author:GroupGooglePlus]
							[EasyDNNnews:Author:GroupLinkedIn]
						</div>
					</div>
					[EasyDNNnews:EndIf:AuthorGroup]
				</div>
				[EasyDNNnews:EndIf:AuthorProfile]<!--AuthorProfileTab end-->
				[EasyDNNnews:IfExists:Comments]
				<div class="edsTabulator_tab"><!--CommentsTab begin-->
				[EasyDNNnews:EndIf:Comments]
</EDNFooter>
<!--Comments position-->
<EDNBottom>
				[EasyDNNnews:IfExists:Comments]
				</div><!--CommentsTab end-->
				[EasyDNNnews:EndIf:Comments]
			</div><!--TabsContent end-->
		</div><!--TabsWrapper end-->
		[EasyDNNnews:RelatedArticles]
	</article>
</EDNBottom>
<!--ArticleEnd-->
