<!--TemplateGroup:detailsArticleDefault-->
<!--ArticleTemplate-->
<EDNHeader>
	<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/sss/sss.js"></script>
	<article class="edn_article edn_articleDetails">
		[EasyDNNnews:IfExists:Event]
		<div class="edn_eventDetails edn_clearFix">
			[EasyDNNnews:IfExists:EventRegistration][EasyDNNnews:EventRegistration:RegisterButton][EasyDNNnews:EndIf:EventRegistration]
			[EasyDNNnews:IfExists:Payment]<span class="edn_eventPrice">[EasyDNNnews:Price]</span>[EasyDNNnews:EndIf:Payment]
			[EasyDNNnewsLocalizedText:Eventdate]: <strong>[EasyDNNnews:EventDate]</strong> <a class="edn_calendarExport edn_toolTip" href="[EasyDNNnews:iCalendar]"><span class="edn_toolTipContent">[EasyDNNnewsLocalizedText:ExportEvent]</span></a>
			[EasyDNNnews:IfExists:EventLocation]
			<p class="edn_eventLocation">[EasyDNNnewsLocalizedText:EventLocation]: <strong>[EasyDNNnews:EventLocation]</strong></p>
			[EasyDNNnews:EndIf:EventLocation]
			[EasyDNNnews:IfExists:EventRegistration]
			<ul>
				<li>[EasyDNNnewsLocalizedText:NumberOfAttendants]: <strong>[EasyDNNnews:EventRegistration:NumberOfAttendants]</strong></li>
				<li>[EasyDNNnewsLocalizedText:MaxNumberOfTickets]: <strong>[EasyDNNnews:EventRegistration:MaxNumberOfTickets]</strong></li>
				<li>[EasyDNNnewsLocalizedText:NotUsedTickets]: <strong>[EasyDNNnews:EventRegistration:NotUsedTickets]</strong></li>
				[EasyDNNnews:IfExists:Payment]<li>[EasyDNNnewsLocalizedText:Price]: <strong>[EasyDNNnews:Price]</strong></li>[EasyDNNnews:EndIf:Payment]
			</ul>
			[EasyDNNnews:EventRegistration:InfoMessage]
			[EasyDNNnews:EndIf:EventRegistration]
			[EasyDNNnews:IfExists:EventSignUp]
			<div class="eds_signUpActionBarWrapper edn_clearFix">
				<h4>[EasyDNNnewsLocalizedText:AreYouGoing]</h4>[EasyDNNnews:SignUpActionBar]
			</div>
			[EasyDNNnews:EndIf:EventSignUp]
		</div>
		[EasyDNNnews:EndIf:Event]
		[EasyDNNnews:IfExists:Image]
		<div class="edn_mediaContainer">
			<div class="edn_galleryImagesContainer edn_slider_[EasyDNNnews:ArticleID]" style="width:[EasyDNNnews:MainArticleImageWidth];height:[EasyDNNnews:MainArticleImageHeight]">
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]" style="width:[EasyDNNnews:MainArticleImageWidth];height:[EasyDNNnews:MainArticleImageHeight]"/>
				[EasyDNNnews:IfExists:GalleryImage:2]
				<img src="[EasyDNNnews:GalleryImage:2]" style="width:[EasyDNNnews:MainArticleImageWidth];height:[EasyDNNnews:MainArticleImageHeight]"/>
				[EasyDNNnews:EndIf:GalleryImage]
				[EasyDNNnews:IfExists:GalleryImage:3]
				<img src="[EasyDNNnews:GalleryImage:3]" style="width:[EasyDNNnews:MainArticleImageWidth];height:[EasyDNNnews:MainArticleImageHeight]"/>
				[EasyDNNnews:EndIf:GalleryImage]
			</div>
		</div>
		<script>
		jQuery(function($) {
			$('.edn_slider_[EasyDNNnews:ArticleID]').edn_sss({
				slideShow : false, // Set to false to prevent edn_sss from automatically animating.
				startOn : 0, // Slide to display first. Uses array notation (0 = first slide).
				transition : 300, // Length (in milliseconds) of the fade transition.
				speed : 3500, // Slideshow speed in milliseconds.
				arrows : true, // Set to false to hide navigation arrows.
				keyboardNavigation : false // Set to false to disable keyboard navigation.
			});
		});
		</script>
		[EasyDNNnews:EndIf:Image]
		<div class="edn_metaDetails">
			[EasyDNNnews:Author:Link]
			<time> / [EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event]</time>
			<div class="edn_articleCategories"> / [EasyDNNnewsLocalizedText:Categories]: [EasyDNNnews:Categories]</div>
		</div>
</EDNHeader>
<!--Gallery TOP position-->
<EDNContentTop>
		<h1 class="edn_articleTitle">[EasyDNNnews:Title]</h1>
		[EasyDNNnews:IfExists:SubTitle]
		<h2 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h2>
		[EasyDNNnews:EndIf:SubTitle]
</EDNContentTop>
<EDNContent>
		[EasyDNNnews:Article]
</EDNContent>
<EDNContentBottom>
		[EasyDNNnews:IfExists:ArticlePreviousNext]
		<div class="article_pager edn_articleScrolling edn_clearFix">
			[EasyDNNnews:IfExists:PreviousArticleLink]
			<div class="edn_toolTip edn_tooltipLeft">
				<a class="edn_previusArticle" href="[EasyDNNnews:PreviousArticleLink]">[EasyDNNnewsLocalizedText:PreviusArticle]</a>
				<span class="edn_toolTipContent">[EasyDNNnews:PreviousArticleTitle]</span>
			</div>
			[EasyDNNnews:EndIf:PreviousArticleLink]
			[EasyDNNnews:IfExists:NextArticleLink]
			<div class="edn_toolTip edn_tooltipRight">
				<a class="edn_nextArticle" href="[EasyDNNnews:NextArticleLink]">[EasyDNNnewsLocalizedText:NextArticle]</a>
				<span class="edn_toolTipContent">[EasyDNNnews:NextArticleTitle]</span>
			</div>
			[EasyDNNnews:EndIf:NextArticleLink]
		</div>
		[EasyDNNnews:EndIf:ArticlePreviousNext]
		<div class="edn_socialPrintWrapper">
			[EasyDNNnews:SocialButtons:FBLike]
			[EasyDNNnews:SocialButtons:AddThis]
			[EasyDNNnews:Print:ArticleDetails]
		</div>
		<div class="edn_metaDetails edn_clearFix">
			<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
			[EasyDNNnews:ArticleRating]
		</div>
		[EasyDNNnews:IfExists:Tags]
		<div class="edn_articleTags edn_clearFix">[EasyDNNnewsLocalizedText:Tags]: [EasyDNNnews:Tags separator=""]</div>
		[EasyDNNnews:EndIf:Tags]
		[EDNcf:ShowAll]
		[EasyDNNnews:ArticleMaps]
		[EasyDNNnews:EventRegistration:ListOfAttendants]
		[EasyDNNnews:DocumentList]
		[EasyDNNnews:Links]
</EDNContentBottom>
<!--Gallery BOTTOM position-->
<EDNFooter>
		[EasyDNNnews:GravityGallery]
		[EasyDNNnews:IfExists:AuthorProfile]
		<div class="edn_authorGroupDetails">
			[EasyDNNnews:Author:Image:Width:85:Height:120:Resize:Crop]
			<h4>[EasyDNNnews:Author:DisplayName][EasyDNNnews:Author:RSSURL]</h4>
			[EasyDNNnews:Author:ShortInfo] <span class="edn_otherPostsBy">[EasyDNNnewsLocalizedText:Otherpostsby] [EasyDNNnews:Author:Link]</span>
			<div class="edn_connectWith">
				[EasyDNNnews:Author:Contact]
				[EasyDNNnews:Author:FullInfo]
				[EasyDNNnews:Author:Facebook]
				[EasyDNNnews:Author:Twitter]
				[EasyDNNnews:Author:LinkedIn]
				[EasyDNNnews:Author:GooglePlus]
			</div>
		</div>
		[EasyDNNnews:EndIf:AuthorProfile]
		[EasyDNNnews:IfExists:AuthorGroup]
		<div class="edn_authorGroupDetails edn_groupDetails">
			[EasyDNNnews:Author:GroupImage:Width:85:Height:120:Resize:Crop]
			<h4>[EasyDNNnews:Author:GroupName][EasyDNNnews:Author:GroupRSSURL]</h4>
			[EasyDNNnews:Author:GroupInfo]
			<div class="edn_connectWith">
				[EasyDNNnews:Author:GroupContact]
				[EasyDNNnews:Author:GroupFacebook]
				[EasyDNNnews:Author:GroupTwitter]
				[EasyDNNnews:Author:GroupGooglePlus]
				[EasyDNNnews:Author:GroupLinkedIn]
			</div>
		</div>
		[EasyDNNnews:EndIf:AuthorGroup]
		[EasyDNNnews:RelatedArticles]
</EDNFooter>
<!--Comments position-->
<EDNBottom>
	</article>
</EDNBottom>
<!--ArticleEnd-->
