<!--TemplateGroup:listArticle2-->
<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
<article class="edn_article edn_clearFix edn_listArticle2">
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<div class="edn_mediaContainer edn_withTime">
		[EasyDNNnews:IfNotExists:Event]
		<time><span>[EasyDNNnews:PublishDay]</span><span class="edn_monthName">[EasyDNNnews:PublishMonthString]</span><span>[EasyDNNnews:PublishYear]</span></time>
		[EasyDNNnews:EndIf:Event]
		[EasyDNNnews:IfExists:Event]
		<time><span>[EasyDNNnews:EventStartDay]</span><span class="edn_monthName">[EasyDNNnews:EventStartMonthNameShort]</span><span>[EasyDNNnews:EventStartYear]</span></time>
		[EasyDNNnews:EndIf:Event]
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">
			[EasyDNNnews:IfExists:Image]<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>[EasyDNNnews:EndIf:Image]
			[EasyDNNnews:IfNotExists:Image]
			<img alt="[EasyDNNnews:Title]" style="width:[EasyDNNnews:MainArticleImageWidth]" src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/common/images/blank-grey.png"/>
			[EasyDNNnews:EndIf:Image]
			<span class="edn_mediaLink">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</span>
		</a>
	</div>
	<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
	[EasyDNNnews:IfExists:Event]
	<p class="edn_listEventDetails">
		[EasyDNNnews:IfExists:EventLocation]
		<span class="edn_eventLocation">[EasyDNNnews:EventLocation]</span>
		[EasyDNNnews:EndIf:EventLocation]
		<span class="edn_eventDate">[EasyDNNnews:EventDate]</span>
	</p>
	[EasyDNNnews:EndIf:Event]
	<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>

</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
