<!--TemplateGroup:listArticleEventsSimple-->
<!--ArticleRepeat:Before:-->
<div class="edn_accordionWrapper_[EasyDNNnews:ModuleID]">
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsAccordion/edsAccordion-1.1.js"></script>
<script>
	jQuery(function ($) {
		$('div.edn_accordionWrapper_[EasyDNNnews:ModuleID]').edsAccordion_1();
		//For first opened article remove comment tag from lines bellow
		//$('> .edn_article', $('div.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'))
		//	.eq(0)
		//		.addClass('edsAccordion_active');
	});
</script>
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
	<article class="edn_article edn_clearFix edn_articleAccordion edn_eventsSimple edsAccordion_section">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<section class="edsAccordion_title">
			[EasyDNNnews:IfExists:Event]
			<time><span>[EasyDNNnews:EventStartDay]</span><span class="edn_monthName">[EasyDNNnews:EventStartMonthNameShort]</span><span>[EasyDNNnews:EventStartYear]</span></time>
			<div>
				<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
				[EasyDNNnews:IfExists:EventLocation]<span class="edn_eventBoxLocation">[EasyDNNnews:EventLocation]</span>[EasyDNNnews:EndIf:EventLocation]
				<time>[EasyDNNnews:EventDate]</time>
				<div class="edn_readMoreButtonWrapper"><a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a></div>
			</div>
			[EasyDNNnews:EndIf:Event]
			[EasyDNNnews:IfNotExists:Event]
			<time><span>[EasyDNNnews:PublishDay]</span><span class="edn_monthName">[EasyDNNnews:PublishMonthString]</span><span>[EasyDNNnews:PublishYear]</span></time>
			<div>
				<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
				<time>[EasyDNNnews:PublishDate]</time>
				<div class="edn_readMoreButtonWrapper"><a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnewsLocalizedText:Read]</a></div>
			</div>
			[EasyDNNnews:EndIf:Event]
		</section>
		<div class="edsAccordion_contentWrapper">
			<div class="edsAccordion_content">
				[EasyDNNnews:IfExists:Image]
				<div class="edn_mediaContainer">
					<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
				</div>
				[EasyDNNnews:EndIf:Image]
				<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
				[EasyDNNnews:DocumentList]
				<div class="edn_readMoreButtonWrapper"><a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a></div>
			</div>
		</div>
	</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->