<!--TemplateGroup:listArticleDefault-->
<!--ArticleRepeat:Before:-->
[EasyDNNnews:SecondaryList]
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
<article class="edNews__article edn_article edn_clearFix" [EasyDNNnews:ArticleMetaDataAttribute]>
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="edn_mediaContainer">
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
	</div>
	[EasyDNNnews:EndIf:Image]
	<h2 class="edn_articleTitle">[EasyDNNnews:Title]</h2>
	[EasyDNNnews:IfExists:SubTitle]
	<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
	[EasyDNNnews:EndIf:SubTitle]
	<div class="edn_metaDetails">
		[EasyDNNnews:Author:Link]
		<time> / [EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
		<span class="edn_numberComments">[EasyDNNnews:Comments]</span>
		<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
		[EasyDNNnews:ArticleRating]
	</div>
	<div class="edn_articleSummary">[EasyDNNnews:Article]</div>
	[EasyDNNnews:GravityGallery]
	[EasyDNNnews:ListComments]
</article>
[EasyDNNnews:GravityGallery]
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->

<!--SecondaryList:Before-->
<div class="edNews__secondaryArticleList" style="height:80%; top:auto; bottom:auto;">
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport">
		<ul class="overview edNews__secondaryArticleList_[EasyDNNnews:ModuleID]">
<!--SecondaryList:Before:End-->

	<!--SecondaryList:Item-->
			<li class="edNews__article">
				<a class="edNews__articleTrigger" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
			</li>
	<!--SecondaryList:Item:End-->

<!--SecondaryList:After-->
		</ul>
	</div>
</div>
<!--SecondaryList:After:End-->
