<!--TemplateGroup:listArticleTimeline-->
<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
<article class="edn_article edn_timeline edn_clearFix">
	<section class="edn_timelineTimeLocation">
		<time class="edn_timelineDate">
			[EasyDNNnews:IfNotExists:Event][EasyDNNnews:FormatedDate:MMMM dd, yyyy][EasyDNNnews:EndIf:Event]
			[EasyDNNnews:IfExists:Event][EasyDNNnews:EventFormatedStartDate:MMMM dd, yyyy][EasyDNNnews:EndIf:Event]
		</time>
		<time class="edn_timelineClock">
			[EasyDNNnews:IfNotExists:Event][EasyDNNnews:FormatedDate:HH:mm][EasyDNNnews:EndIf:Event]
			[EasyDNNnews:IfExists:Event][EasyDNNnews:EventFormatedStartDate:HH:mm][EasyDNNnews:EndIf:Event]
		</time>
		[EasyDNNnews:IfExists:EventLocation]
		<p class="edn_listEventDetails">
			<span class="edn_eventLocation">[EasyDNNnews:EventLocation]</span>
		</p>
		[EasyDNNnews:EndIf:EventLocation]
		[EasyDNNnews:IfExists:Payment]<span class="edn_eventPrice">[EasyDNNnewsLocalizedText:Price]: [EasyDNNnews:Price]</span>[EasyDNNnews:EndIf:Payment]
	</section>
	[EasyDNNnews:IfExists:Image]
	<div class="edn_timeLineImage">
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]" style="width:[EasyDNNnews:MainArticleImageWidth]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]" /></a>
	</div>
	[EasyDNNnews:EndIf:Image]
	[EasyDNNnews:IfNotExists:Image]
	<div class="edn_timeLineImage edn_noImage" style="width:[EasyDNNnews:MainArticleImageWidth]">
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"></a>
	</div>
	[EasyDNNnews:EndIf:Image]
	<section class="edn_timeLineContent">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<header>
			[EasyDNNnews:IfExists:Event]<time>[EasyDNNnews:EventDate]</time><a class="edn_calendarExport" href="[EasyDNNnews:iCalendar]"><span>[EasyDNNnewsLocalizedText:ExportEvent]</span></a>[EasyDNNnews:EndIf:Event]
			<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
		</header>
		<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
	[EasyDNNnews:IfExists:EventRegistration]<div class="edn_readMoreButtonWrapper"><a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnewsLocalizedText:Register]</a></div>[EasyDNNnews:EndIf:EventRegistration]
	</section>
</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
