<!--TemplateGroup:listArticleWithTabs-->
<!--ArticleRepeat:Before:-->
<div class="edn_accordionWrapper_[EasyDNNnews:ModuleID] edn_articleAccordion" style="min-height: 400px">
	<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsAccordion/edsAccordion-1.1.js"></script>
	<script>
		jQuery(function ($) {
			$('div.edn_accordionWrapper_[EasyDNNnews:ModuleID]').edsAccordion_1({
				toggleActive: false
			});
			$('> .edn_article', $('div.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'))
				.eq(0)
					.addClass('edsAccordion_active');
		});
	</script>
	<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
		<article class="edn_article edsAccordion_section edn_listArticle3 edn_verticalAccordion eds_accordionTabLeft">
			<header class="edn_articleTitle edsAccordion_title" style="width:45%">
				<div class="edn_metaDetails">
					<time>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
				</div>
				<h3>[EasyDNNnews:Title]</h3>
			</header>
			<div class="edsAccordion_contentWrapper" style="width:55%">
				<div class="edsAccordion_content">
					[EasyDNNnews:HasArticlePermissions]
					<div class="edn_adminActions">
						[EasyDNNnews:ArticlePermissions:Edit]
						[EasyDNNnews:ArticlePermissions:Publish]
						[EasyDNNnews:ArticlePermissions:Approve]
					</div>
					[EasyDNNnews:HasArticlePermissionsEnd]
					[EasyDNNnews:IfExists:Image]
					<div class="edn_mediaContainer">
						<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
						<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
					</div>
					[EasyDNNnews:EndIf:Image]
					<div class="edn_metaDetails">
						<time>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
						<span class="edn_numberComments">[EasyDNNnews:Comments]</span>
						<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
					</div>
					<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
					[EasyDNNnews:IfExists:SubTitle]
					<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
					[EasyDNNnews:EndIf:SubTitle]
					<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
					<div class="edn_readMoreButtonWrapper"><a class="edn_readMore edn_readMoreButton" href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:IfNotExists:EventRegistration][EasyDNNnewsLocalizedText:Read][EasyDNNnews:EndIf:EventRegistration][EasyDNNnews:IfExists:EventRegistration][EasyDNNnewsLocalizedText:Register][EasyDNNnews:EndIf:EventRegistration]</a></div>
				</div>
			</div>
		</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
	</div>
</div>
<!--RepeatEnd:After:-->