<!--TemplateGroup:listArticleListBox2-->
<!--ArticleRepeat:Before:-->
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/isotope2/isotope.v2.0.0-beta.4_2.2.min.js"></script>
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/imagesLoaded/imagesLoaded_3.1.4_2.2.min.js"></script>
<script>
	eds2_2(function ($) {
		var $articleListContainer = $('.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'),
			imageLoadedKey = 'imageLoaded';

		$articleListContainer
			.isotope({
				itemSelector: '.edn_articleWrapper',
				sortBy: 'original-order',
				masonry: {
					isFitWidth: true //set to true if you want to center the elements
				}
			})
			.find('img').imagesLoaded()
				.progress(function (instance, image) {
					var $img = $(image.img);

					if ($img.data(imageLoadedKey))
						return;

					$img.data(imageLoadedKey, true);

					$articleListContainer.isotope('layout');
				});
	});
</script>
<div class="edn_isotopeLayout">
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
<article class="edn_article edn_articleInBox edn_articleWrapper" style="width:[EasyDNNnews:MainArticleImageWidth]">
	[EasyDNNnews:HasArticlePermissions]
	<div class="edn_adminActions">
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Image]
	<div class="edn_mediaContainer">
		<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title][EDNcf:IfExists:price] - [EDNcf:price][EDNcf:EndIf:price]</a>
		<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
	</div>
	[EasyDNNnews:EndIf:Image]
	<div class="edn_metaDetails">
		<time>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:FormatedDate:MMMM dd, yyyy][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
		<span class="edn_numberComments">[EasyDNNnews:Comments]</span>
		<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
	</div>
	<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title][EDNcf:IfExists:price] - [EDNcf:price][EDNcf:EndIf:price]</a></h2>
	[EasyDNNnews:IfExists:SubTitle]
	<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
	[EasyDNNnews:EndIf:SubTitle]
	<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
