<!--TemplateGroup:listArticleList3WithAccordion-->
<!--ArticleRepeat:Before:-->
<div class="edn_accordionWrapper_[EasyDNNnews:ModuleID] edn_articleAccordion">
<script src="[EasyDNNnews:ClientBasePath]/DesktopModules/EasyDNNnews/static/edsAccordion/edsAccordion-1.1.js"></script>
<script>
	jQuery(function ($) {
		$('div.edn_accordionWrapper_[EasyDNNnews:ModuleID]').edsAccordion_1();
		$('> .edn_article', $('div.edn_[EasyDNNnews:ModuleID]_article_list_wrapper'))
			.eq(0)
				.addClass('edsAccordion_active');
	});
</script>
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
	<article class="edn_article edn_clearFix edsAccordion_section edn_listArticle3">
		[EasyDNNnews:HasArticlePermissions]
		<div class="edn_adminActions">
			[EasyDNNnews:ArticlePermissions:Edit]
			[EasyDNNnews:ArticlePermissions:Publish]
			[EasyDNNnews:ArticlePermissions:Approve]
		</div>
		[EasyDNNnews:HasArticlePermissionsEnd]
		<header class="edn_articleTitle edsAccordion_title">
			<h3>[EasyDNNnews:Title]</h3>
			<div class="edn_metaDetails">
				<time>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
			</div>
		</header>
		<div class="edsAccordion_contentWrapper">
			<div class="edsAccordion_content">
				[EasyDNNnews:IfExists:Image]
				<div class="edn_mediaContainer">
					<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a>
					<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
				</div>
				[EasyDNNnews:EndIf:Image]
				<div class="edn_metaDetails">
					<time>[EasyDNNnews:IfNotExists:Event][EasyDNNnews:PublishDate][EasyDNNnews:EndIf:Event][EasyDNNnews:IfExists:Event][EasyDNNnews:EventDate][EasyDNNnews:EndIf:Event]</time>
					<span class="edn_numberComments">[EasyDNNnews:Comments]</span>
					<span class="edn_numberOfVievs">[EasyDNNnews:NumberOfViews]</span>
				</div>
				<h2 class="edn_articleTitle"><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
				[EasyDNNnews:IfExists:SubTitle]
				<h3 class="edn_articleTitle edn_articleSubTitle">[EasyDNNnews:SubTitle]</h3>
				[EasyDNNnews:EndIf:SubTitle]
				<div class="edn_articleSummary">[EasyDNNnews:Summary]</div>
				[EasyDNNnews:DocumentList]
			</div>
		</div>
	</article>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
[EasyDNNnews:IfExists:RSS]
<div class="edn_articlesRssWrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->