﻿.container{
    width:100%;
}
.button-provider {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 16px;
    background: #DCA900;
    /* padding: 10px 20px 10px 20px; */
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    width: 142px !important;
    min-height: 41px !important;
}

.form_providers input[type='checkbox'] {
    width: auto !important;
}

.demo__title {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.switcher {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 100px;
    height: 15px;
    line-height: 40px;
    margin: 5px;
    font-size: 30px;
    user-select: none;
    margin-top: 0;
}
ul.ul_category{
    margin:0;
}
li.li_category {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    list-style: none;
}
p.text-left {
    text-align: left !important;
}
.modal-header {
    background: #426d61;
}
.modal-title{
    color:#ffffff;
}
button.close span{
    color:#ffffff;
}
.switcher input {
    display: none;
}

.switcher__indicator::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    height: 20px;
    width: 20px;
    background-color: #d5d5d5;
    border-radius: 50%;
    transition: all 0.3s ease;
    animation-name: pulsein;
    animation-duration: 0.3s;
}

.switcher__indicator::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 10px;
    width: 30px;
    height: 5px;
    background-color: #d5d5d5;
    border-radius: 10px;
    transition: all 0.3s ease;
}

input:checked + .switcher__indicator::after {
    background-color: #29ce9a;
    transform: translateX(40px);
    animation-name: pulseout;
    animation-duration: 0.3s;
}

input:checked + .switcher__indicator::before {
    background-color: #29ce9a;
}

input:disabled + .switcher__indicator::after, input:disabled + .switcher__indicator::before {
    background-color: #e5e5e5;
}

@keyframes pulsein {
    0%, 100% {
        top: 5px;
        height: 20px;
        width: 25px;
    }

    50% {
        top: 5px;
        height: 25px;
        width: 25px;
    }
}

@keyframes pulseout {
    0%, 100% {
        top: 5px;
        height: 20px;
        width: 25px;
    }

    50% {
        top: 5px;
        height: 25px;
        width: 25px;
    }
}

.LoaderBalls {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-width: 120px;
}

.LoaderBalls__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00f1ca;
    display: inline-block;
}

    .LoaderBalls__item:nth-child(1) {
        animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
    }

    .LoaderBalls__item:nth-child(2) {
        animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
    }

    .LoaderBalls__item:nth-child(3) {
        animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
    }

@keyframes bouncing {
    0% {
        transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
    }

    100% {
        transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
    }
}

.form_providers label.label-form, .form_providers p {
    font-size: 14px;
    margin-bottom: 0;
}

.form_providers small {
    font-size: 12px !important;
}

@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 20px;
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }

    100% {
        height: 10px;
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 20px;
    }
}

@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 20px;
    }
}

@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }

    50% {
        height: 0;
    }

    100% {
        height: 20px;
    }
}

input[type=checkbox] {
    display: none;
}

.check-box {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 3px solid #000;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
}

    .check-box::before, .check-box::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: 5px;
        background-color: #34b93d;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease 0.5;
        -moz-transition: opacity ease 0.5;
        transition: opacity ease 0.5;
    }

    .check-box::before {
        top: 13.4px;
        left: 9px;
        box-shadow: 0 0 0 1px #fff;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .check-box::after {
        top: 5px;
        left: 0px;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    input[type=checkbox]:checked + .check-box, .check-box.checked {
        border-color: #34b93d;
    }

        input[type=checkbox]:checked + .check-box::after, .check-box.checked::after {
            height: 3px;
            -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
            -o-animation: dothabottomcheck 0.2s ease 0s forwards;
            -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
            animation: dothabottomcheck 0.2s ease 0s forwards;
        }

        input[type=checkbox]:checked + .check-box::before, .check-box.checked::before {
            height: 5px;
            -moz-animation: dothatopcheck 0.4s ease 0s forwards;
            -o-animation: dothatopcheck 0.4s ease 0s forwards;
            -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
            animation: dothatopcheck 0.4s ease 0s forwards;
        }

.no-padding {
    padding: 0;
}

legend {
    margin-bottom: 0;
}

div.pac-container {
    z-index: 99999999999 !important;
}

ul.ul_country {
    margin: 0;
}
    ul.ul_country li {
        display: inline-block;
        border: 1px solid #d5d5d5;
        padding: 2px 1px 2px 10px;
        border-radius: 5px;
        font-weight: 600;
        margin-right: 5px;
        line-height: 35px;
        margin-bottom: 5px;
    }

        ul.ul_country li span {
            border-radius: 8px;
            height: 18px;
            width: 18px;
            border: 1px solid #d5d5d5;
            font-size: 14px;
            margin-top: -5.1px;
            text-align: center;
            font-weight: 600;
            background: #dddddd;
            color: #22a571;
            cursor: pointer;
            margin-left: 5px;
        }
            ul.ul_country li span:hover {
                cursor: pointer;
                background: ##d5d5d5;
            }

.error_forms {
    font-weight: 600;
    font-size: 14px;
    color: #b12828;
}

/* Checkbox*/
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.form-check {
    padding-left: 0px;
}

    .form-check .checkbox {
        padding-right: 10px;
        height: 15px;
    }

.checkbox .cr {
    position: relative;
    display: inline-block;
    /*border: 1px solid #cccccc;*/
    border-radius: .25em;
    width: 22px;
    height: 22px;
    float: inherit;
    margin-right: 0;
    margin-top: 2px;
    background-color: white;
}

    .checkbox .cr .cr-icon {
        position: absolute;
        font-size: 1rem;
        line-height: 0;
        top: 10px;
        left: 3px;
        margin: auto;
    }



.form-check a:hover {
    /*color:var(--main-color-jungle-green);*/
    color: var(--main-color-very-dark-gray);
    text-decoration: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-21deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.ng-ms.form-item-container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-item-container .list-inline input {
    border: 0px;
}

/* Checkbox*/
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.form-check {
    padding-left: 0px;
}

    .form-check .checkbox {
        padding-right: 10px;
    }

.checkbox .cr {
    position: relative;
    display: inline-block;
    /*border: 1px solid #cccccc;*/
    border-radius: .25em;
    width: 22px;
    height: 22px;
    float: inherit;
    margin-right: 0;
    margin-top: 2px;
    background-color: white;
}

    .checkbox .cr .cr-icon {
        position: absolute;
        font-size: 1rem;
        line-height: 0;
        top: 10px;
        left: 3px;
        margin: auto;
    }



.form-check a:hover {
    /*color:var(--main-color-jungle-green);*/
    color: var(--main-color-very-dark-gray);
    text-decoration: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-21deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"] {
    /*display: none;*/
    top: 2px;
    left: 24px;
    height: auto;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr {
        opacity: .5;
    }

input[type='file'] {
    opacity: 0;
    width: 25px;
    margin: 0 auto;
    display: initial;
    margin-left: -30px;
}

.checkbox > label {
    margin-bottom: 0
}

.content-categories {
    padding-bottom: 8px;
    padding-top: 8px;
}

.list-country {
    padding-top: 5px;
}

.message_interest {
    max-width: 320px;
    background-color: #22a571;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    position: absolute;
    z-index: 999;
    box-shadow: 2px 2px 4px #a7a7a7;
}
td.k-command-cell {
    padding-left: 0px !important;
    padding-right: 5px;
}

.k-grid-content-locked table tbody tr td {
    padding-top: 0;
    padding-bottom: 0;
}

    .k-grid-content-locked table tbody tr td button {
        max-width: 35px;
    }

.k-header.k-grid-toolbar, .k-header, .k-grid .k-header .k-button, .k-primary {
    background: #426d61;
    background-color: #426d61;
}

.k-button {
    border-color: #426d61 !important;
}

.k-header.k-grid-toolbar {
    border-color: #426d61;
}

.k-primary:focus {
    border-color: #426d61 !important;
    background: #426d61;
    background-color: #426d61;
}

.k-filter-item, .k-item {
    background: #fafafa;
}

.growl {
    background: #426d61;
    background-color: #426d61;
    border-radius: 8px !important;
    border-color: #426d61 !important;
    color: #ffffff;
    border: 0;
    height: 80px;
    width: 300px;
    font-weight: 600;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    padding: 15px;
}

    .growl h3 {
        color: #fafafa;
    }

.k-animation-container {
    background: #426d61;
    background-color: #426d61;
    border-radius: 8px !important;
    border-color: #426d61 !important;
    border: 0px !important color: #ffffff;
    font-weight: 600;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    padding: 0px;
    margin: 0;
    font-size: 1.25rem !important;
    line-height: 24px !important;
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
}

.container {
    max-width: 1950px !important
}

.k-grid-header-wrap.k-auto-scrollable table tr th a, .k-grid-header-wrap.k-auto-scrollable table tr th {
    font-size: 12px !important;
}

.k-grid-content.k-auto-scrollable table tr td {
    font-size: 12px !important;
}

.k-grid-content-locked tr td {
    font-size: 12px;
    text-align: center;
}

tr td p {
    font-size: 12px !important;
    text-align: center !important;
}

div.k-grid-content-locked table tbody tr[role='row'] td:nth-child(5) {
    text-align: right;
}
.page .container .no-padding .row.no-padding-top:last-child {
    padding-top: 0 !important;
}
.content-action {
    vertical-align: bottom;
    text-align: right;
    position: absolute;
    bottom: 3px;
    left: 15px;
}
.header-grid{
    margin-bottom:15px;
}
.header-grid strong {
    color: #FFFFFF;
}
.form_category{
    width:100%
}