<!--TemplateGroup:listArticleEventBox-->
<!--ArticleRepeat:Before:-->
<div class="EDN_eventsModuleBox">
	<h2 class="edn_module_title">
		[EasyDNNnews:IfExists:RSS]
		<a class="rss EDN_eventsModuleBoxRSS" href="[EasyDNNnews:RSSLink]" target="_blank" title="[EasyDNNnewsLocalizedText:RSSLinkText]"><span>[EasyDNNnewsLocalizedText:RSSLinkText]</span></a>
		[EasyDNNnews:EndIf:RSS]
		<span>[EasyDNNnewsLocalizedText:UpcomingEvents]</span>
	</h2>
	<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="EDN_article EDN_eventsBox [EasyDNNnews:ItemOrderClasses] [EasyDNNnews:ActiveArticle]">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	[EasyDNNnews:IfExists:Event]
	<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]">
		<span class="EDN_eventsBoxDate">
			<span class="EDN_eventPublishDay">[EasyDNNnews:EventStartDay]</span>
			<span class="EDN_eventPublishMonth">[EasyDNNnews:EventStartMonthNameShort]</span>
			<span class="EDN_eventPublishYear">[EasyDNNnews:EventStartYear]</span>
		</span>
		<span class="EDN_eventBox">
			<span class="EDN_eventBoxTitle articleTitle">[EasyDNNnews:Title:Limit:120]</span>
			[EasyDNNnews:IfExists:EventLocation]<span class="EDN_eventBoxLocation">[EasyDNNnews:EventLocation]</span>[EasyDNNnews:EndIf:EventLocation]
			<span class="EDN_eventBoxTime">[EasyDNNnews:EventDate]</span>
		</span>
	</a>
	[EasyDNNnews:EndIf:Event]
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
</div>
<!--RepeatEnd:After:-->
