<!--TemplateGroup:listArticleDefault-->

<!--ArticleRepeat:Before:-->
<div class="[EasyDNNnews:ArticleListWrapperClass]">
<!--RepeatEnd:Before:-->

<!--ArticleTemplate-->
<div class="EDN_article">
	[EasyDNNnews:HasArticlePermissions]
	<div>
		[EasyDNNnews:ArticlePermissions:Edit]
		[EasyDNNnews:ArticlePermissions:Publish]
		[EasyDNNnews:ArticlePermissions:Approve]
	</div>
	[EasyDNNnews:HasArticlePermissionsEnd]
	<div class="EDN_title-container">
		<h2><a href="[EasyDNNnews:Title:Link]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnews:Title]</a></h2>
	</div>
	[EasyDNNnews:IfExists:Event]
	<div class="EDN_event-location-container">
		<p class="EDN_event-date"><strong>[EasyDNNnewsLocalizedText:Eventdate]:</strong> [EasyDNNnews:EventDate][EasyDNNnews:IfExists:EventRegistration], (<a href="[EasyDNNnews:ReadMore]" title="[EasyDNNnews:Title]" target="[EasyDNNnews:DetailTarget]">[EasyDNNnewsLocalizedText:Register]</a>)[EasyDNNnews:EndIf:EventRegistration]</p>
	</div>
	[EasyDNNnews:EndIf:Event]
	<div class="EDN_article-content">
		[EasyDNNnews:IfExists:SubTitle]
		<h3 class="article-subtitle">[EasyDNNnews:SubTitle]</h3>
		[EasyDNNnews:EndIf:SubTitle]
		[EasyDNNnews:IfExists:Image]
		<div class="EDN_image-container">
			<a href="[EasyDNNnews:ReadMore]" target="[EasyDNNnews:DetailTarget]"><img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/></a>
		</div>
		[EasyDNNnews:EndIf:Image]
		<div class="EDN_summary">
			[EasyDNNnews:Summary]
		</div>
		<ul class="EDN_meta-details">
			<li class="EDN_publish-date">[EasyDNNnews:FormatedDate: d MMMM yyyy]</li>
			<li>[EasyDNNnewsLocalizedText:Author]: [EasyDNNnews:Author:Link]</li>
			<li>[EasyDNNnewsLocalizedText:Numberofviews]: <span>[EasyDNNnews:NumberOfViews]</span></li>
			<li>[EasyDNNnewsLocalizedText:Comments]: <span>[EasyDNNnews:Comments]</span></li>
		</ul>
	</div>
</div>
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
</div>
[EasyDNNnews:IfExists:RSS]
<div class="EDN_article_rss_wrapper">
	<a href="[EasyDNNnews:RSSLink]" target="_blank"><span></span>[EasyDNNnewsLocalizedText:RSSLinkText]</a>
</div>
[EasyDNNnews:EndIf:RSS]
<!--RepeatEnd:After:-->
