﻿<section name="myForm">
   <style>
       .error_forms {
           padding-top: 15px;
           color: #e41717;
           display: inline-block;
       }
       .come-back-left{
           border: 1px solid;

       }
   </style>
    <!-- FORM -->
    <form></form>
    <form name="formUpdate" id="problemsForm" novalidate>
        <button ng-click="vm.clickCancelar()" type="button" class="btn btn-default come-back-left" aria-label="Left Align">
            <span class="k-icon k-i-undo" style=" margin-left: -10px; margin-top: -5px; padding-right: 27px;" aria-hidden="true"></span><strong>Volver</strong>

        </button>
        <div class="row">

            <div class="col-md-12">
                <h4>Información del contacto</h4>
            </div>
            <div class="col-md-6 form-group">
                <input type="hidden" placeholder="id" ng-model="vm.contactEdit.Id" />
                <input class="form-control" ng-model="vm.contactEdit.name_contact" name="contact_name" required placeholder="Nombre del contacto" />
                <div ng-show="formUpdate.$submitted || formUpdate.contact_name.$touched">
                    <span class="error_forms" ng-show="formUpdate.contact_name.$error.required ">Nombre es requerido.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input class="form-control" ng-model="vm.contactEdit.number_id" name="number_id" required placeholder="Identificación (CC / DNI)" />
                <div ng-show="formUpdate.$submitted || formUpdate.contact_name.$touched">
                    <span class="error_forms" ng-show="formUpdate.contact_name.$error.required ">La Identificación es requerido.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input type="email" class="form-control" ng-model="vm.contactEdit.email" name="email" required placeholder="Correo electrónico" />
                <div ng-show="formUpdate.$submitted || formUpdate.email.$touched">
                    <span class="error_forms" ng-show="formUpdate.email.$error.required ">El Correo electrónico es requerido.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input class="form-control" ng-model="vm.contactEdit.number_phone" name="number_phone" required placeholder="Teléfono de contacto (+Indicativo #)" />
                <div ng-show="formUpdate.$submitted || formUpdate.number_phone.$touched">
                    <span class="error_forms" ng-show="formUpdate.number_phone.$error.required ">El Telefono es requerido.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                
                <input class="form-control" id="locationfirst"  ng-model="vm.contactEdit.city_current"  googleplace placeholder="Ciudad de residencia actual" />
                <div ng-show="formUpdate.$submitted || formUpdate.city_current.$touched">
                    <span class="error_forms" ng-show="formUpdate.city_current.$error.required ">La Ciudad es requerido.</span>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input class="form-control" id="country_field" ng-model="vm.contactEdit.country_current" disabled required placeholder="País de residencia actual" />
                <div ng-show="formUpdate.$submitted || formUpdate.country_current.$touched">
                    <span class="error_forms" ng-show="formUpdate.country_current.$error.required ">El País es requerido.</span>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <input class="form-control" ng-model="vm.contactEdit.application" placeholder="Vacante" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Intereses del usuario</h4>
            </div>
            <div class="col-md-6 form-group">
                <label>Interés de cargo (Principal) *</label>
                <select kendo-drop-down-list class="form-control" k-options="vm.activeOptionsPositionFirst" name="interest_position_first" ng-model="vm.contactEdit.interest_position_first"></select>
                <!--<div ng-show="formUpdate.$submitted || formUpdate.interest_position_first.$touched || formUpdate.interest_position_first.$viewValue=='null'">
                    <span class="error_forms error" ng-show="formUpdate.interest_position_first.$error.required || formUpdate.interest_position_first.$viewValue=='null'">Este campo es obligatorio.</span>
                </div>-->
            </div>
            <div class="col-md-6 form-group">
                <label>Interés de cargo (Segundario)</label>
                <select kendo-drop-down-list class="form-control" k-options="vm.activeOptionsPositionSecond" ng-model="vm.contactEdit.interest_position_second"></select>
            </div>
            <div class="col-md-6 form-group">
                <label>Interés de Proceso (Principal) *</label>
                <select kendo-drop-down-list class="form-control" name="process_interest_first" k-options="vm.activeOptionsProcessFirst" ng-model="vm.contactEdit.process_interest_first"></select>
                
                <!--<div ng-show="formUpdate.$submitted || formUpdate.process_interest_first.$touched || formUpdate.process_interest_first.$viewValue=='null'">
                    <span class="error_forms error" ng-show="formUpdate.process_interest_first.$error.required || formUpdate.process_interest_first.$viewValue=='null'">Este campo es obligatorio.</span>

                </div>-->
            </div>
            <div class="col-md-6 form-group">
                <label>Interés de Proceso (Segundario)</label>
                <select kendo-drop-down-list class="form-control" k-options="vm.activeOptionsProcessSecond" ng-model="vm.contactEdit.process_interest_second"></select>

            </div>
            <div class="col-md-6 form-group">
                <label>Interés de Ubicación (Primario) *</label>

                <select kendo-drop-down-list class="form-control" k-options="vm.activeOptionsLocationFirst" name="location_interest_first" ng-model="vm.contactEdit.location_interest_first"></select>
                <!--<div ng-show="formUpdate.$submitted || formUpdate.location_interest_first.$touched || formUpdate.location_interest_first.$viewValue=='null'">
                    <span class="error_forms error" ng-show="formUpdate.location_interest_first.$error.required || formUpdate.location_interest_first.$viewValue=='null'">Este campo es obligatorio.</span>
                </div>-->
            </div>
            <div class="col-md-6 form-group">
                <label>Interés de Ubicación (Segundario)</label>

                <select kendo-drop-down-list class="form-control" k-options="vm.activeOptionsLocationSecond" ng-model="vm.contactEdit.location_interest_second"></select>
            </div>

            <div class="col-md-6">
                <div class="form-group curriculum">
                    <input type="file" class="btn btn-primary" name="file" id="filecurrum" style="display:none" onchange="angular.element(this).scope().fileNameChanged(this)" ng-model="vm.contactEdit.file" file-model="vm.contactEdit.file">
                    <label for="filecurrum" class="btn btn-secondary">Adjuntar hoja de vida</label>
                    <label class="nameField"></label>
                </div>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6 text-center">
                <button ng-click="vm.clickCancelar()" class="btn btn-cancel come-back-left">
                    <strong>Cancelar</strong>
                </button>
            </div>
            <div class="col-md-6 text-center">
                <button ng-click="vm.onSubmit($event,vm.contactEdit,formUpdate)" class="btn btn-succes bg-jungle-green librefranklin-regular text-white">
                    <strong>Actualizar</strong>
                </button>
            </div>
        </div>
    </form>
</section>
<style>
    .form-control.k-widget {
        width:100%;
    }
    .nameField span {
        color: red;
        font-size: 16px;
        font-weight: 600;
    }
</style>