/************************************
     INICIO CSS BOLETINES
*************************************/
.content {
    margin-top: 121px;
}

.title {
    max-width: 350px;
    font-size: 1.25rem;
    line-height: 1.2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
}

.circle-green {
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.sin-format {
    border-radius: 0;
    border: none;
    padding: 0;

}

.image {
    position: relative;
    max-width: 850px;
    width: 100%;
    overflow: hidden;
}
  .eds_news_Ozone.eds_subCollection_news a{
    color: rgb(102, 106, 111);
  }
  .eds_news_Ozone h5{
    font-size: 1.125rem;
  }
.info-date {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 70.71px;
    width: 100%;
    height: 82.29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #DAA900;
}

.info-date time .date-post {
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'LibreFranklin', sans-serif;
    line-height: 1.15;
    color: #fff;
}

.info-date .date-post:nth-child(1) {
    font-size: 1.63rem;
    font-weight: bold;
}
.info-date .date-post:nth-child(1)::first-letter {
    text-transform: uppercase;
}
.info-date .date-post:nth-child(2) {
    font-weight: normal;
    font-size: 1.63rem;
}

.info-date .date-post:last-child {
    font-size: 1.06rem;
    font-weight: normal;
    line-height: 1.19;
}

.card-body {
    padding: 20px 0;
    padding-left: 15px;
}

.date {
    font-family: 'Libre Franklin'!important;
    font-size: 0.93rem!important;
    line-height: 1.2!important;
    color: #426D61!important;    
    display: block;
    margin-top: 15px;
}

.titulopost{
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 20px!important;
}

.textopost {
    font-size: 1.125rem;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 25px;
}

.card.gallery.sin-format {
    min-height: 510px;
    display: flex;
    margin-top: 50px;
}
.card.gallery .first {
    text-transform: capitalize;
}
.btn.btn-mas {
    max-width: 170px;
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: none;
    text-decoration: none;
    box-shadow: none;
    transition: .5s;
}

.page-navegation {
    margin-top: 30px;
    margin-bottom: 90px;
}
.eds_news_Ozone.eds_subCollection_news .article_pager {
    border: none;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eds_news_Ozone.eds_subCollection_news .article_pager a{
    border:none;
}
a.page {
    border-radius: 100px;
    border: none;
    margin-right: 15px;
      font-family: 'LibreFranklin', sans-serif;
    font-size: 1.06rem;
    line-height: 1.2;
}
.eds_news_Ozone.eds_subCollection_news .article_pager a:hover{
        background-color: #DAA900;
}
/*.page-item:first-child .page-link,
.page-item:last-child .page-link {
    position: relative;
    border-radius: 100px;
    background-color: #E6E6E6;
    color: rgb(179, 179, 179);
}
*/
/*.eds_news_Ozone.eds_subCollection_news .article_pager {
    border: none;
    border-radius: 100px!important;
    width: 28px;
    height: 28px;
    color: #606060;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: .5s;
    font-family: 'LibreFranklin', sans-serif;
    font-size: 1.06rem;
    line-height: 1.2;
    font-weight: normal;
}
*/
/*.page-link:focus {
    box-shadow: none;
}
*/
.eds_news_Ozone.eds_subCollection_news .article_pager a.active {
    background-color: #DAA900;
    color: #fff;
}
.eds_news_Ozone .texto blockquote p, .eds_news_Ozone .textopost blockquote p {
    font-size: .91rem;
}
.eds_news_Ozone .texto p, .eds_news_Ozone .textopost p {
    font-family: 'LibreFranklin', sans-serif !important;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 400;
}

.eds_news_Ozone.eds_subCollection_news li {
    font-family: 'LibreFranklin', sans-serif !important;
        font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 400;
}
.card  .card-body .textopost {
    font-family: 'LibreFranklin', sans-serif !important;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 400;
}

.card .card-body .btn.btn-mas {
    font-size: 1rem;
    font-weight: 400 !important;
}
/*span.arrow {
    position: relative;
}

.page-item a.page-link:hover span.arrow::before,
.page-item a.page-link:hover span.arrow::after {
    border-color: #FFF;
}

span.arrow::before {
    content: '';
    width: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    position: absolute;
    transform: rotateZ(25deg);
    bottom: -6px;
    left: -8px;
}

span.arrow::after {
    content: '';
    width: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    position: absolute;
    transform: rotateZ(-44deg);
    left: -9px;
    bottom: 0;
    margin: auto;
}

.next {
    transform: rotateY(180deg);
}
*/
.textopost p > img {
    width: auto !important;
}
.container__image {
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.container__image img {
    height: 300px;
    width: auto;
    margin-left: -30%;
}