/*baner*/
.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}
.section-baner .content-title:after, .section-baner .content-title .title:after {
    background-color: #daa900;
}
@media screen and (min-width: 1500px) {
	.section-baner .col {
	    min-height: 40vh;
	}
}
    .section-navigation .container nav ol.breadcrumb {
        display: flex;
    }
.section-navigation .container nav .breadcrumb-item {
    display: flex;
}

.section-navigation .container nav .breadcrumb-item a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}
.uk-article-title {
	    font-size: 2.1875rem;
    line-height: 2.625rem;
    letter-spacing: 0rem;
    color: rgb(128, 128, 128);
        font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
}

.separator-top {
	height: 100px;
	display: block;
	max-width: 100%;
	width: 100%;
	position: relative;
}

.page .container p {
	 font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
	font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    color: rgb(102, 106, 111);
}

.page .container .form-control {
    min-height: 47px;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
}
.page .container .form-control:focus {
	/*border-color: rgba(255,255,255,0);*/
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}

.page .container  button.btn.btn-primary {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
}

.page .container  .row:last-child {
	padding-top: 25px;
}

.page .container .btn-primary.focus, .page .container .btn-primary:focus {
	box-shadow: 0 0 0 0 rgba(38,143,255,0);
}

.page .container [name="form_certificate"] .btn-primary:not(:disabled):hover {
	background-color: rgb(218, 169, 0) !important;
	border-color: rgb(218, 169, 0) !important;
}

.form_certificate .form-text {
  font-family: 'LibreFranklin', sans-serif !important;
  font-weight: 400;
  font-size: .91rem;
  line-height: 1.3125rem;
  margin: 0;
}

.form_certificate .form-group:first-child input {
  margin-bottom: 15px;
}

.page .container .form-control {
  font-family: 'LibreFranklin', sans-serif !important;
  font-weight: 400;
  line-height: 1.3125rem;
}

.error_forms {
    font-family: 'LibreFranklin', sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
line-height: 1.3125rem;
}

.form_certificate .form-group label {
  font-family: 'LibreFranklin', sans-serif !important;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 600;
}