html,
body {
    overflow-x: hidden;
}

@media screen and (min-width: 1500px) {
    .section-baner .col {
        min-height: 40vh !important;
    }
}

.top-0 {
    top: 0 !important;
}

.left-0 {
    left: 0 !important;
}

/*---------------------------------------------------------
section banner
---------------------------------------------------------*/
.section-baner .content-title .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px;
}

.section-baner .caja {
    max-width: 390px;
    width: 100%;
    padding: 54px;
    padding-top: 38px;
    padding-bottom: 32px;
    margin-right: -90px;
    z-index: 9;
}

.section-baner .caja h1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0rem;
}

.section-baner .caja p {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0rem;
}

.section-baner .caja .line-color {
    height: 10.5px;
}

.section-baner .caja .line {
    width: 90px;
    height: 2px;
    margin-top: 12px
}


.section-baner .bg-img {
    background-image: url(/portals/0/Images/OperacionesEspeciales/banner_Responsabilidad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-baner .caja .line-color {
    width: 100%;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

.section-baner .line-color {
    width: 100%;
    height: 5.869px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 34%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}


@media screen and (max-width: 991.8px) {
    .section-baner .bg-fern {
        padding: 2rem 15px;
    }

    .section-baner .caja {
        margin: auto;
    }

    .section-baner .bg-img {
        background-position: 38% top;
    }
}

@media screen and (max-width:767.8px) {
    .section-baner .bg-img {
        min-height: auto;
        padding-top: 56.22%;
    }
}

@media screen and (max-width: 425px) {
    .section-baner .bg-fern {
        padding: 2rem 10%;
    }

    .section-baner .caja {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*---------------------------------------------------------
section navigation
---------------------------------------------------------*/

.section-navigation .breadcrumb-item a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

.section-navigation .breadcrumb-item.active {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

@media screen and (max-width: 575px) {
    .section-navigation .breadcrumb {
        flex-wrap: nowrap;
        align-items: center;
    }

    .section-navigation .breadcrumb-item.active {
        display: flex;
        align-items: center;
    }
}

.section-baner .col {
    min-height: 355px;
}

li.list-group-item.rounded-0 {
    border: 0;
}

/* Structure modification */
@media (min-width: 576px) {
    .container.content_AS {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container.content_AS {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container.content_AS {
        max-width: 960px;
    }

    .container.content_AS>.row {
        flex-wrap: nowrap;
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container.content_AS {
        max-width: 1150px;
    }

    .content_AS .content_S {
        flex-basis: 860px;
        padding-left: 0;
        padding-right: 25px;
        width: 100%;
        max-width: 860px;
    }

    .content_AS .content_A {
        flex-basis: 275px;
    }
}

.content_S .content_info {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    z-index: 9;
}

.container.content_AS>.row {
    max-width: 100%;
    width: 100%;
}

li.list-group-item.rounded-0 {
    padding-left: 0;
}

.content_S .card-body {
    padding-bottom: 10px;
    padding-top: 30px;
    padding-right: 42px;
}

.content_AS .content_S .content_info {
    padding-top: 52px;
}

.content_AS .content_S .content_info.text_2 {
    padding-bottom: 45px;
    margin-bottom: 62px;
}

.content_AS .content_S .content_info.text_g .text {
    margin-bottom: 15px;
}

.content_AS .content_S .content_info .descarga .icon {
    width: 42px;
    height: 31px;
}

.content_AS .content_S .content_info.border {
    padding: 15px 60px 15px 32px;
    margin-bottom: 30px;
}

/*----------------- ASIDE -------------------------------*/
.content_A .aside .indicadores .indicadores-ico {
    min-width: 48px;
    width: 56px;
    height: 42px;
}

.content_A .aside .indicadores .indicadores-ico img {
    width: 37.385px;
    height: 27px;
}

.content_A .aside .indicadores .h4.title {
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
    padding-left: 18px;
}

.content_A .aside .indicadores .card {
    margin-top: 32px;
}

.content_A .aside .indicadores .h4.card-title {
    font-size: 1.136875rem;
    line-height: 1.136875rem;
    letter-spacing: 0rem;
    margin-bottom: 2px;
}

.content_A .aside .indicadores .card-header .card-text {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0rem;
}

.content_A .aside .indicadores .card-header .moneda {
    font-size: 1.0625rem;
    line-height: 1.275rem;
    letter-spacing: 0rem;
}

.content_A .aside .indicadores .card-header::after {
    content: "";
    position: absolute;
    border: 0.5px solid #fff;
    max-width: 192px;
    width: 192px;
    left: 20px;
    right: 0;
    bottom: 0;
}

.content_A .aside .indicadores .card-text {
    font-size: 0.875rem;
    line-height: 0.82rem;
    letter-spacing: 0rem;
}

.content_A .aside .indicadores .card-text span {
    font-size: 0.875rem;
    line-height: 1.05rem;
    letter-spacing: 0rem;
}

.content_A .aside .indicadores .card-body {
    padding-top: 15px;
}

.content_A .indicadores .card span.span-simbolo {
    font-size: 8.49rem;
    top: -10px;
    line-height: 10rem;
    right: -35px;
    font-family: "Franklin Gothic Demi";
    color: #fff;
    opacity: .10;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.aside .tarjetas .trimestre {
    padding-top: 52px;
}

.aside .tarjetas .trimestre .card-header {
    padding-left: 29px;
    padding-top: 22px;
    padding-bottom: 8px;
}

.aside .tarjetas .trimestre .h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body {
    padding-top: 20px;
    padding-left: 31px;
    min-height: 220px;
}

.aside .tarjetas .trimestre .card-body .card-text {
    font-size: 1.11625rem;
    line-height: 1.34rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body .image-two img {
    max-width: 100%;
    position: absolute;
    right: -65px;
    bottom: -33px;
}

.aside .tarjetas .boletines {
    padding-top: 66px;
}

.aside .tarjetas .boletines .card-body {
    background-image: url(/Portals/0/skins/mineros/images/boletin-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 356px;
    padding-top: 48px;
    padding-right: 14px;
    position: relative;
}

.aside .tarjetas .boletines .card-body::after {
    content: "";
    position: absolute;
    background-color: #22a571;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
}

.aside .tarjetas .boletines .card-body p.card-text {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
    max-width: 146px;
    z-index: 9;
    position: relative;
    padding-bottom: 6px;
}

.aside .tarjetas .boletines .card-body .card-title {
    font-size: 1.875rem;
    line-height: 1.9rem;
    letter-spacing: 0rem;
    max-width: 143px;
    z-index: 9;
    position: relative;
}

.aside .tarjetas .boletines .card-footer {
    padding-top: 6px;
    padding-bottom: 5px;
}

.aside .tarjetas .boletines .card-footer .btn {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .boletines .card-footer .btn span {
    margin-left: 25px;
}

@media (max-width: 991.8px) {
    .aside .tarjetas .trimestre .card-body {
        min-height: 282px;
    }

    .aside .tarjetas .boletines {
        padding-top: 52px;
    }
}

@media (max-width: 575.8px) {
    .content_AS .content_S {
        padding-left: 0;
        padding-right: 0;
    }

    .content_AS .content_A {
        padding-left: 0;
        padding-right: 0;
    }

    .content_AS {
        padding-left: 10%;
        padding-right: 10%;
    }
}