html,
body {
    overflow-x: hidden;
    font-size: 16px;
}

.left-0 {
    left: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.section-baner .bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1500px) {
    .section-baner .col {
        min-height: 40vh !important;
    }
}

@media screen and (max-width: 991.8px) {
    .section-baner .bg-fern {
        padding: 2rem 15px;
    }

    .section-baner .caja {
        margin: auto;
    }

    .section-baner .bg-img {
        background-position: 38% top;
    }
}

@media screen and (max-width: 767.8px) {
    .section-baner .bg-img {
        min-height: auto;
        padding-top: 56.22%;
    }
}

@media screen and (max-width: 425px) {
    .section-baner .bg-fern {
        padding: 2rem 10%;
    }
}

/*Aside*/
@media (min-width: 1200px) {
    .row.tarjetas {
        max-width: 270px;
    }
}

@media (max-width: 991px) {
    section.content .row {
        width: 100%;
        margin: 0;
    }

    .aside {
        padding-left: 15px;
    }
}

/*contenido */

@media (min-width: 576px) {
    .container.content_AS {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container.content_AS {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container.content_AS {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container.content_AS {
        max-width: 1140px;
    }
}

@media screen and (max-width: 991.8px) {
    body .aside .tarjetas .trimestre .card-body .image-two img {
        max-width: 88%;
        right: -22px;
    }

    .aside .tarjetas .boletines {
        padding-top: 0;
        padding-bottom: 67px;
    }

    .aside .tarjetas .trimestre .card-header {
        padding-left: 19px;
    }

    .content_AS .column__content .info_pp .title {
        max-width: 100%;
        width: 100%;
    }

    .content_AS .column__content .info_pp .text {
        max-width: 100%;
        width: 100%;
        border-left: 0;
    }
}

.container.content_AS {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content_AS {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.content_AS .info_pp .title:before {
    background: #ACD68D;
    left: 0px;
    top: 7px;
}

.content_AS .info_pp .title:after {
    background: #CEA800;
    opacity: 0.77;
    left: 30px;
    top: 65px;
}

.content_AS .info_pp .title:before,
.content_AS .info_pp .title:after {
    content: "";
    width: 80px;
    height: 110px;
    position: absolute;
    display: inline-block;
    z-index: 1;
}

.content_AS .info_pp .title {
    width: 200px;
    padding-right: 10px;
    color: #62A472;
    font-family: "Franklin Gothic Medium", arial;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: 0rem;
    padding-top: 35px;
    position: relative;
}

.content_AS .info_pp .text {
    width: calc(100% - 200px);
    padding-left: 47px;
    border-left: 1px solid #CEA800;
    color: #606060;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    letter-spacing: 0rem;
    padding-top: 14px;
    padding-bottom: 10px;
}

.content_AS .info_pp .text p {
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    /*font-size: 1.125rem;*/
    font-size: 1rem;
    padding-left: 15px;
    line-height: 1.3125rem;
}

.content_AS .content_S .content_info {
    padding-top: 52px;
}

.content_AS .content_S .content_info {
    position: relative;
    padding: 25px 0;
    padding-top: 45px;
    /*margin-bottom: 50px;*/
}

.content_S .content_info {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    z-index: 9;
}

.content_AS .content_S .content_info .title_tag {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    background: #CEA800;
    min-height: 61px;
    display: inline-flex;
    align-items: center;
}

.content_AS .content_S .content_info .title_tag .content_icon {
    background: #62A472;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    min-height: 100%;
}

.content_AS .content_S .content_info .title_tag .content_icon svg {
    max-width: 90%;
    max-height: 90%;
}

.content_AS .content_S .content_info .title_tag .text {
    color: #fff;
    padding: 0 12px;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
}

.content_AS .content_S .content_info .text,
.content_AS .content_S .content_info .text p {
    color: #606060;
    /*font-size: 1.125rem;*/
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .list.list_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_AS .content_S .list {
    margin: 40px 0;
    padding: 0;
    display: block;
}

.content_AS .content_S .list .content_item .title {
    color: #536D61;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 18px;
    box-shadow: 35px 0px 0px 0px #ACD68D inset;
    display: flex;
    align-items: center;
    min-height: 62px;
}

.content_AS .content_S .list .content_item {
    max-width: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 25px;
}

.content_AS .content_S .list .content_item .item {
    margin-bottom: 10px;
}

.content_AS .content_S .list .item {
    padding-left: 25px;
    display: block;
    margin-bottom: 30px;
    color: #606060;
    /*font-size: 1.125rem;
    line-height: 1.29;*/
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    position: relative;
}

.content_AS .content_S .list .item:not(.not_before):before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    top: 3px;
    left: 0;
    border-radius: 100%;
    background: #62A472;
}

.content_AS .content_S .list .content_item:before {
    content: "";
    width: calc(100% - 20px);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    background-color: #C1BFBF;
    position: absolute;
}

.content_AS .content_S .list.list_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_AS .content_S .list .content_item .title.color_2 {
    box-shadow: 35px 0px 0px 0px #CEA800 inset;
}

.col-12 p img {
    max-width: 80%;
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 575px) {

    .aside .indicadores .col-12,
    .aside .tarjetas .trimestre,
    .aside .tarjetas .boletines,
    .aside .sucribir .col-12 {
        padding-right: 15px !important;
        padding-left: 15px;
    }
}


@media screen and (max-width: 375px) {
    .container.content_AS .column__content  .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .aside {
        padding-left: 0;
        padding-right: 0;
    }
}

#dnn_contentList .content_item p {
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: 'LibreFranklin', sans-serif !important;
}

.min-h61 {
    min-height: 45px;
}