/**
 * Invercionista CSS
 */

 
/*---------------------------------------------------------
	General
---------------------------------------------------------*/
html, body {
  overflow-x: hidden;
  font-size: 16px;
}

body{
  overflow: hidden;
}

.left-0 {
	left: 0 !important;
}

.right-0 {
	right: 0 !important;
}

.top-0 {
	top: 0 !important;
}

.bottom-0 {
	bottom: 0 !important;
}

[data-icon]:before {
    line-height: 65px !important;
    font-size: 66px;
}

/* text Colors*/
.color-scorpion {
	color: rgb(96, 96, 96); /* #606060 */

}

.border-color-d0cece {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 206, 206);; /* #d0cece */
}


/*---------------------------------------------------------
	section banner
---------------------------------------------------------*/
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}

.section-baner .caja {
	max-width: 343px;
    width: 100%;
    padding: 54px;
    padding-top: 38px;
    padding-bottom: 32px;
    margin-right: -90px;
    z-index: 9;
}

.section-baner .caja h1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0rem;
}

.section-baner .caja p {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0rem;
}

.section-baner .caja .line-color {
	height: 10.5px;
}

.section-baner .caja .line {
	width: 90px;
	height: 2px;
	margin-top: 12px
}


.section-baner .bg-img {
	background-image: url(../images/banner-informacion-financiera.jpg);
    background-repeat: no-repeat;
    /*background-size: 100% 100%;*/
}

.section-baner .caja .line-color {
  width: 100%;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 );
}

.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 34%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 );
}


	.section-baner .min-height .col-12 {
		min-height: 350px
	}


/*@media screen and (min-width: 992px) and (max-width: 1200px) {
	.section-baner .min-height .col-12 {
		min-height: 300px
	}
}*/


@media screen and (min-width: 1500px) {
    .section-banner .min-height .col-12 {
        min-height: 60vh;
    }
}
@media screen and ( max-width: 991.8px) {
	.section-baner .bg-fern {
		padding: 2rem 15px;
	}
  .section-baner .min-height .col-12{
    justify-content: center!important;
  }
	.section-baner .caja {
		margin: auto 0;
	}
	.section-baner .bg-img {
      background-position: 38% top;
		/*min-height: 35vw;*/
		/*background-size: 100vw 40vw;*/
	}
}

@media screen and (max-width: 425px) {
	.section-baner .bg-fern {
		padding: 2rem 10%;
	}

	.section-baner .caja {
		padding-left: 15px;
		padding-right: 15px;
	}
}
/*---------------------------------------------------------
	section navigation
---------------------------------------------------------*/
.section-navigation .breadcrumb-item a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

/*.section-navigation .breadcrumb-item a img.icon {
    width: 28.423px;
    height: 23.942px;
    margin-right: 14px;
}
*/
.section-navigation .breadcrumb-item.active {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}
/*
.section-navigation .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #666a6f;
    width: 1px;
    content: "|";
    height: 22px;
    font-size: 22px;
    margin: 0 15px;
}
*/
@media screen and (max-width: 575px) {
  .section-navigation .breadcrumb {
    flex-wrap: nowrap;
    align-items: center;
  }
  .section-navigation .breadcrumb-item.active {
    display: flex;
    align-items: center;
  }
}

/*---------------------------------------------------------
	section-informacion
---------------------------------------------------------*/
.section-informacion{
	padding-top: 44px;
  padding-bottom: 95px;
}

.section-informacion .column-content .dividendos .title {
    min-height: 136px;
    height: 100%;
    padding-left: 30px;
    padding-top: 18px;
    padding-right: 25px;
    max-width: 477.188px;
}

.section-informacion .column-content .paragraph-content {
    padding-left: 64px;
    margin-top: -27px;
    padding-right: 0;
}

.section-informacion .column-content .dividendos .title .h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0rem;
}

.section-informacion .column-content .line-vertical {
    width: 71.487px;
    height: 100%;
    right: -35px;
    opacity: .72;
}

.section-informacion .column-content p.paragraph,
.section-informacion .column-content .paragraph p {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding: 39px 21px 14px 37px;
  margin-bottom: 33px;
}

.section-informacion .column-content p.paragraph:nth-child(2),
.section-informacion .column-content .paragraph:nth-child(2) p
 {
  padding-bottom: 51px;
  padding-top: 28px;
}

/* participacion */
.section-informacion .column-content .participacion {
  padding-top: 30px;
  padding-bottom: 63px;
}

.section-informacion .column-content .participacion .title {
	max-width: 340px;
	width: 100%;
	z-index: 9;
}

.section-informacion .participacion .box-icon {
	min-height: 59px;
	min-width: 62px;
}

.section-informacion .participacion .h4 {
	min-height: 59px;
	padding: 14px 18px;
	font-size: 1.25rem;
	line-height: 1.5rem;
	letter-spacing: 0rem;
}
/*.section-informacion .participacion .m-negativo {
	margin-top: -23px;
}
*/
.section-informacion .participacion ul.list-group .list-group-item {
    min-height: 70px;
    padding-bottom: 19px;
    border-color: rgb(210, 210, 210);
    padding-left: 25px;
    padding-right: 25px;
}

.section-informacion .participacion span.icon-pdf {
	min-width: 24.001px;
	min-height: 30.668px;
	margin-right: 23px;
}
.section-informacion .participacion span.icon-pdf img {
  width: 24.001px;
}
.participacion .icon-donwload img { width: 16px; }
.section-informacion .participacion p.texto {
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    margin-bottom: 6px;
}

.section-informacion .participacion .icon-donwload {
	min-width: 16px;
	min-height: 16px;
}

.section-informacion .participacion .box-link {
    margin-top: 49px;
    max-width: 417px;
    margin-left: 16px;
    margin-right: 16px;
}

.section-informacion .participacion .box-link .card-title {
    font-size: 1.5625rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}
@media (min-width:1200px){
  .section-informacion .participacion .box-link .card-title{
    min-height: 100px;
  }
}
@media (max-width:1199px) and (min-width:768px){
  .section-informacion .participacion .box-link .card-title{
    min-height: 135px;
  }
}
@media (max-width:767px) and (min-width:576px){
  .section-informacion .participacion .box-link .card-title{
    min-height: 172px;
  }
}
.section-informacion .participacion .box-link .btn {
    max-width: 221px;
    min-height: 60px;
    margin: auto;
    margin-bottom: -35px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transition: .35s ease all;
}

.section-informacion .participacion .box-link .btn:hover {
  background-color: rgba(218, 169, 0,.81);
}

.section-informacion .participacion .box-link .icon-hyperlink {
	min-width: 30px;
	min-height: 30px;
	height: 30px;
	margin-right: 15px;
}

/*presentacion*/
.section-informacion .presentacion {
  padding-top: 30px;
}

.section-informacion .column-content .presentacion .title {
  max-width: 368px;
  width: 100%;
  z-index: 9;
}

.section-informacion .presentacion .box-icon {
  min-height: 59px;
  min-width: 62px;
}

.section-informacion .presentacion .h4 {
  min-height: 59px;
  padding: 14px 18px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

.collapse-conatiner {
  padding-top: 25px;
}

.collapse-conatiner a.btn {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.collapse-conatiner span.icon-collapse {
  margin-right: 20px;
}

.collapse-conatiner span.text {
  font-size: 1.25rem;
  line-height: 2.25rem;
  vertical-align: sub;
}

.collapse-conatiner  span.icon-collapseExampleInterno {
  margin-right: 10px;
}
/*
.collapse-conatiner span.text {
  font-size: 1rem;
  line-height: 1.2rem;
  vertical-align: sub;
}
*/
.collapse-conatiner .collapse-trimestres .card-body {
  padding-left: 17px;
  padding-top: 0;
  padding-bottom: 11px;
}
.collapse-conatiner .collapsing {
  transition:height .15s ease !important
}

.collapse-conatiner .collapse-trimestres {
    margin-bottom: 21px;
}

.collapse-conatiner .icon-rotateZ img {
  transform: rotateZ(90deg);
}
.collapse-conatiner .card  span.icon-pdf {
  margin-right: 21px;
}

.collapse-conatiner .collapse-trimestres p {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
    padding-top: 4px;
}


/* consolidados*/
.section-informacion .column-content .consolidados {
    padding-top: 32px;
    padding-bottom: 51px;
}

.section-informacion .column-content .consolidados .title {
  max-width: 450px;
  width: 100%;
  z-index: 9;
}

.section-informacion .consolidados .box-icon {
  min-height: 59px;
  min-width: 62px;
}

.section-informacion .consolidados .h4 {
  min-height: 59px;
  padding: 14px 18px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

.section-informacion .consolidados .m-negativo {
  margin-top: -25px;
}

.section-informacion .consolidados .card-body {
  padding: 35px;
}

.section-informacion .consolidados .list-group-item {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 6px;
    padding-left: 14px;
    margin: 1px 0 0 0;
}

.section-informacion .consolidados .card, .section-informacion .consolidados .list-group-item {
  border-color: #c2c2c2;
}

.section-informacion .consolidados .card .list-group p {
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0;
}

.section-informacion  .relacion .card-body {
  padding-top: 12px;
  padding-left: 31px;
  padding-bottom: 32px;
}

.section-informacion  .relacion .card-title {
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.section-informacion  .relacion .list-group-item {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 0;
  display: flex;
}

.section-informacion  .relacion .list-group-item a {
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0;
}

.section-informacion  .relacion .list-group {
  padding-left: 13px;
}

@media screen and (max-width: 575px) {
  .section-informacion .participacion .box-link {
    max-width: 100%;
    flex-basis: 100%;
    width: 100% !important;
    margin: 0;
    margin-top: 49px;
  }
  .section-informacion .participacion .box-link .btn {
    z-index: 9;
    position: relative;
  }
  .section-informacion .consolidados .list-group-item {
    padding-right: 0;
  }
  .section-informacion .relacion .list-group-item {
    padding: 0;
    display: flex;
  }
  .section-informacion .relacion .list-group-item img {
    width: 20px;
    min-width: 16px;
}

  .collapse-conatiner .collapse-trimestres p {
    font-size: 1rem;
  }

  .section-informacion .column-content .dividendos .title .h4 {
    font-size: 1.5875rem;
    line-height: 2.025rem;
  }

  .section-informacion .participacion .icon-donwload {
    min-width: 25px;
  }
  .section-informacion .participacion p.texto {
    font-size: 1rem;
    line-height: 1.05rem;
    letter-spacing: 0rem;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 425px) {
  .section-informacion .relacion .card-body {
    padding-left: 15px;
  }
  .section-informacion .participacion .box-link .card-title {
    font-size: 1.25rem;
    line-height: 2.025rem;
    letter-spacing: 0rem;
}
.section-informacion .relacion .list-group-item a {
  font-size: .91rem;
  line-height: 2.025rem;
  word-break: break-all;
}

.section-informacion .relacion .card-title {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    text-align: center;
    margin-bottom: 15px !important;
}
}

/*----------------- ASIDE -------------------------------*/
.section-informacion .aside .indicadores .indicadores-ico {
	min-width: 48px;
	width: 56px;
	height: 42px;
}

.section-informacion .aside .indicadores .indicadores-ico img {
	width: 37.385px;
	height: 27px;
}

.section-informacion .aside .indicadores .h4.title {
	border-bottom-width: 2px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-size: 1.125rem;
	line-height: 2.25rem;
	letter-spacing: 0rem;
	padding-left: 18px;
}

.section-informacion .aside .indicadores .card {
	margin-top: 32px;
}
.section-informacion .aside .indicadores .h4.card-title {
	font-size: 1.136875rem;
	line-height: 1.136875rem;
	letter-spacing: 0rem;
	margin-bottom: 2px;
}

.section-informacion .aside .indicadores .card-header .card-text {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-header .moneda {
    font-size: 1.0625rem;
    line-height: 1.275rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-header::after {
    content: "";
    position: absolute;
    border: 0.5px solid #fff;
    max-width: 192px;
    width: 192px;
    left: 20px;
    right: 0;
    bottom: 0;
}

.section-informacion .aside .indicadores .card-text {
    font-size: 0.875rem;
    line-height: 0.82rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-text span {
    font-size: 0.875rem;
    line-height: 1.05rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-body {
	padding-top: 15px;
}

.section-informacion .indicadores .card span.span-simbolo {
    font-size: 8.49rem;
    top: -10px;
    line-height: 10rem;
    right: -35px;
    font-family: "Franklin Gothic Demi";
    color: #fff;
    opacity: .10;
}

[class^="hvr-"] {
    margin: inherit;
    padding: inherit;
    cursor: pointer;
    /*background: #e1e1e1;*/
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

@media screen and (min-width: 1280px) {
  .section-informacion .container {
    max-width: 1144px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.8px){
  .section-informacion .container {
    max-width: 95%;
    padding: 0 20px !important;
  }
  .aside .tarjetas .trimestre .h4 {
    font-size: 1.79rem !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 991.8px){
  .aside .tarjetas .trimestre .h4 {
    font-size: 1.4875rem !important;
    line-height: 2.025rem !important;
}
}
.aside .tarjetas .trimestre {
  padding-top: 0;
}

.aside .tarjetas .trimestre .card-header {
  padding-left: 29px;
  padding-top: 22px;
  padding-bottom: 8px;
}

.aside .tarjetas .trimestre .h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0rem;
}

.aside .tarjetas .trimestre  .card-body {
  padding-top: 20px;
  padding-left: 31px;
  min-height: 220px;
}

.aside .tarjetas .trimestre .card-body .card-text {
    font-size: 1.11625rem;
    line-height: 1.34rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body .image-two img {
    max-width: 100%;
    position: absolute;
    right: -65px;
    bottom: -33px;
}

.aside .tarjetas .boletines {
  padding-top: 66px;
}

.aside .tarjetas .boletines .card-body {
  background-image: url(../images/boletin-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 356px;
  padding-top: 48px;
  padding-right: 14px;
  position: relative;

}

.aside .tarjetas .boletines .card-body::after {
    content: "";
    position: absolute;
    background-color: #22a571;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
}
.aside .tarjetas .boletines .card-body p.card-text {
  font-size: 1.125rem;
  line-height: 1.35rem;
  letter-spacing: 0rem;
  max-width: 146px;
  z-index: 9;
  position: relative;
  padding-bottom: 6px;
}

.aside .tarjetas .boletines .card-body .card-title {
  font-size: 1.875rem;
  line-height: 1.9rem;
  letter-spacing: 0rem;
  max-width: 143px;
  z-index: 9;
  position: relative;
}
html[lang='en-US'] .aside .tarjetas .boletines .card-body .card-title{
  max-width: 180px;
}

.aside .tarjetas .boletines .card-footer {
  padding-top: 6px;
  padding-bottom: 5px;
}

.aside .tarjetas .boletines .card-footer .btn {
  font-size: 1.125rem;
  line-height: 1.35rem;
  letter-spacing: 0rem;
}

.aside .tarjetas .boletines .card-footer .btn span {
  margin-left: 25px;
}

.aside .sucribir {
  padding-top: 64px;
}
.aside .sucribir .card {
  min-height: 303px;
}
.aside .sucribir .card-body {
  padding-top: 25px;
  padding-bottom: 0;
}

.aside .sucribir .card-body svg {
	width: 58px;
}

.aside .sucribir h3.h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    padding-top: 10px;
}

.aside .sucribir p.h4 {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0rem;
    font-weight: 200 !important;
}

.aside .sucribir .card-footer {
    padding: 16px 0px 12px;
    margin: 0 -11px;
}

.aside .sucribir .form-suscriber .form-control,.aside .sucribir .form-suscriber .form-control::placeholder {
  min-height: 50px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  letter-spacing: 0rem;
  color: rgb(210, 210, 210);
}

.aside .sucribir .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
@media screen and (max-width: 991.8px) {
  .aside {
    padding-top: 30px;
    padding-left: 0;
  }
  .aside .card-header,.aside .card-body {
      width: 100%;
  }
  .aside .indicadores .card-header {
    min-height: 100px;
    width: 100%;
  }
  .aside .indicadores .col-12 {
    padding-right: 15px !important;
  }

  .aside .tarjetas .boletines {
    padding-top: 52px;
    padding-right: 15px !important;
  }

  .aside .tarjetas .trimestre {
    padding-right: 15px !important;
    padding-top: 0 !important;
  }

  .aside .trimestre .card {
    min-height: 396px;
  }

  .aside .tarjetas .boletines .card-body {
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
	.section-informacion .column-content .paragraph-content {
    	padding-left: 0;
    	margin-top: 15px;
    	padding-right: 0;
	}
}

@media screen and ( max-width: 575px ) {
	.section-informacion .container {
		padding: 0 10%;
	}
	.section-informacion .column-content {
		padding: 0;
	}
  .aside .indicadores .col-12, .aside .tarjetas .trimestre, .aside .tarjetas .boletines, .aside .sucribir .col-12 {
    padding-right: 0px !important;
    padding-left: 0;
  }
}



.presentacion .icon-download {
  margin-right: 20px;
}
.section-informacion .consolidados .list-group-item{
  padding-right: 46px;
}
@media (max-width: 400px){
  .section-informacion .column-content .line-vertical{
    display: none;
  }
}
@media(max-width: 991px){
  .aside{
    margin-top: 50px;
  }
  .DnnModule.DnnModule-ActionsMineros.DnnModule-885 {
    width: 100%;
}
div#val-mineros {
    width: 100%!important;
}

}
.section-informacion .participacion ul.list-group .list-group-item{
  cursor: pointer;
}
.section-informacion .relacion .list-group-item *{
  transition:  .5s;
  cursor: pointer;
}
.section-informacion .relacion .list-group-item:hover img{
  filter: invert(1);
}
.section-informacion .relacion .list-group-item:hover a{
 color: #000 !important;
}

/**/
.informacion-financiera .eds_news_Vision * {
  -moz-box-sizing: content-box;
  box-sizing: border-box;
}


#dnn_InformesFinancierosPanel .DnnModule-EasyDNNnews {
  width: 100%;
}

.sucribir .icon {
  display: inline-block;
  fill: currentColor;
  height: auto;
  position: relative;
  top: -0.0625em;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 767.8px){
  .section-baner .min-height .col-12 {
    display: none;
}
}
@media screen and (max-width: 991.8px){
  .aside .tarjetas .trimestre .card-body.bg-jungle-green .image-two img {
    max-width: 80%;
    right: -14px;
    bottom: 0px;
}
}

.card.bg-feijoa{
	background-color: rgb(90, 182, 95);
}
.card.bg-fern{
	/*background-color: rgb(218, 169, 0);*/
}

.card.bg-jungle-green{
	    /*background-color: #8a9597;*/
}
.card.bg-mineral-green{
	    background-color: rgb(34, 165, 113);
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

/*Crard */

#val-mineros span span {
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
    display: block;
}

#val-mineros {
  /*background-color: rgb(90, 182, 95);*/
}

#val-mineros .card-header:first-child {
    padding: 0 !important;
        padding-bottom: 0 !important;
}
#val-mineros .card-header:after,
#val-oro .card-header:after,
#val-plata .card-header:after   {
  display: none;
}
#val-mineros .card-header,
#val-oro .card-header,
#val-plata .card-header {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

#val-mineros .text-left,
#val-oro .text-left,
#val-plata .text-left {
  font-size: 1.136875rem;
  line-height: 1.136875rem;
  letter-spacing: 0rem;
  margin-bottom: 2px;
}

#val-mineros .card-body,
#val-oro .card-body,
#val-plata .card-body {
    padding-top: 15px;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0rem;
    padding-top: 0;
    /*border-bottom: 0 !important;*/
    position: relative;
}

#val-mineros .card-body .val-text,
#val-oro .card-body .val-text,
#val-plata .card-body .val-text {
  font-size: 1.011625rem;
    line-height: 1.275rem;
    letter-spacing: 0rem;  
}
#val-mineros:before,
#val-oro:before,
#val-plata:before
 {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 8rem;
    line-height: 190px;
    position: absolute;
    top: -10px;
    z-index: 0;
    right: -30px;
}

#val-mineros .card-footer,
#val-oro .card-footer,
#val-plata .card-footer {
  border-top: 0 !important;
}

@media screen and (max-width: 991.8px) {
  .section-informacion .aside .indicadores .card {
    max-width: 100% !important;
    width: 100%;
  }
}

.aside .indicadores  .target-med {
    width: 100%;
    height: 200px;
    padding: 26px 24px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.19);
}
.aside .indicadores  div#box-sections {
    width: 565px;
}
.aside .indicadores  .target-med .card-header{
    padding: 0;
    border: 0;
}
.aside .indicadores  #val-plata{
    margin-right: 15px;
}
.aside .indicadores  h4{
    margin-bottom: 17px;
}
.aside .indicadores  .text-target-card {
    font-size: 1.37rem;
    line-height: 30.1px ;
}
.aside .indicadores  .target-med .card-body{
    padding: 0;
    border: 0;
    margin-right: 22px;
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}
.aside .indicadores  .target-med .val-numerico {
    font-size: 1.75rem;
    line-height: 33.6px;
}
.aside .indicadores  .target-med .val-text {
    font-size: 1.12rem;
    line-height: 21.59px;
}
.aside .indicadores  .target-med .text-footer-tittle-mark {
    font-size: 0.91rem;
    line-height: 12.64px;
}
.aside .indicadores  .target-med .card-footer{
    margin-left: -6px;
    padding: 0;
    border: 0;
    margin-top: 13px;
}
.aside .indicadores  .target-med .text-footer-fecha-mark {
    font-size: 0.91rem;
    line-height: 17.51px;
}
.aside .indicadores  .simbol-dolar:before {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 13.8rem;
    line-height: 190px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: -55px;
}
.aside .indicadores  .espcial-card {
    padding: 23px 24px;
    height: 217px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.19);
    
}
.aside .indicadores  .espcial-card .card-body{
    padding: 0;
    border: 0;
    margin-right: 22px;
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}
.aside .indicadores  .espcial-card .val-numerico {    
    font-size: 1.73rem;
    line-height: 33.6px;
}
.aside .indicadores  .espcial-card .val-text {
    font-size: 2.35rem;
    line-height: 40.28px;
}
.aside .indicadores .espcial-card .text-footer-tittle-mark {
    font-size: 0.91rem;
    line-height: 12.64px;
}
.aside .indicadores  .espcial-card .card-footer{
    padding: 0;
    border: 0;
    margin-top: 20px;
    margin-left: -6px;
}
.aside .indicadores  .espcial-card .text-footer-fecha-mark {
    font-size: 0.91rem;
    line-height: 17.51px;
}
.aside .indicadores  .simbol-dolar-e:before {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 17rem;
    line-height: 230px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: -55px;
}
.aside .indicadores  .col-box-section-4 {
    margin-top: 78px;
}
@media (max-width:1199px){
    .aside .indicadores  .col-graf-section-4 {
        width: 100%;
    }
    .aside .indicadores  #box-sections{
        justify-content: space-between !important;
        width: 100% !important;
    }
.aside .indicadores .target-med {
    width: 100%;
    max-width: 100% !important;
}
}
@media screen and (max-width: 991.8px){
  .aside .indicadores .target-med{
  height: auto;
}
}
@media (max-width:767px){
    .aside .indicadores {
        padding-bottom: 50px;
    }
    .aside .indicadores  #val-plata{
        margin-right: 0;
    }
    .aside .indicadores  .target-med {
        width: 100%;
        max-width: 100% !important;
    }
}
@media (max-width:425px){
    .aside .indicadores  .espcial-card .val-numerico {
        font-size: 2.4rem;
        line-height: 51px;
    }
    .aside .indicadores  .espcial-card .val-text {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (max-width:375px){
    .aside .indicadores .espcial-card .val-numerico {
        font-size: 2rem;
        line-height: 30px;
    }
    .aside .indicadores .espcial-card .val-text {
        font-size: 1rem;
        line-height: 1rem;
    }
    .aside .indicadores .espcial-card .text-footer-fecha-mark {
        font-size: 1rem;
        line-height: 22.22px;
    }
}

.section-informacion .aside .indicadores .target-med .card-header::after {
  display: none;
}

.calendario .calendar_title {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.calendario .card-text {
    font-size: .95rem;
    font-weight: 400;
}
.calendario  .calendar_date_details {
    min-width: 95px;
    padding-left: 10px;
    padding-right: 10px;
}

.calendario .details_calendar {
  font-size: .91rem;
}
.calendario  .calendar_month {
  font-size: .81rem;
  text-align: center;
}
.calendario .calendar_day {
  font-size: 2rem;
  line-height: normal;
}

.calendario .calendar_hour {
    font-size: .78rem;
}

.section-informacion .participacion .box-link .card-body {
  flex: 0;
}

.target-med .card-body {
    border: 0 !important;
    position: relative;
}

.target-med {
    height: auto !important;
}

.target-med  .card-body:after {
  content: "";
    position: absolute;
    border-bottom: 1px solid #fff;
    max-width: 90%;
    width: 100%;
    left: 0;
    right: 0 ;
    bottom: 0;
    margin: auto;
}

.section-informacion .consolidados .list-group-item:last-child {
    border-bottom: 0;
}

@media screen and (max-width: 991.8px) {
  .aside .tarjetas .trimestre .card-body {
    min-height: 282px;
  }
}
.icon-pdf img {
  width: 23px;
  margin-right: 10px;
}