/**
 * informacion-relevante SCSS
 *
 */
/**---------------------------------------------------------
	General
---------------------------------------------------------**/
html, body {
  overflow-x: hidden;
  font-size: 16px; }

.left-0 {
  left: 0 !important; }

.right-0 {
  right: 0 !important; }

.top-0 {
  top: 0 !important; }

.bottom-0 {
  bottom: 0 !important; }

/**-----------------------------------------------------
	Banner
------------------------------------------------------**/
  .section-banner .content-title .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px; }
  .section-banner .caja {
    max-width: 343px;
    width: 100%;
    padding: 54px;
    padding-top: 38px;
    padding-bottom: 32px;
    margin-right: -90px;
    z-index: 9; }
    .section-banner .caja h1 {
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: 0rem; }
    .section-banner .caja p {
      font-size: 2.1875rem;
      line-height: 2.625rem;
      letter-spacing: 0rem; }
    .section-banner .caja .line-color {
      height: 10.5px;
      width: 100%;
      display: block;
      background: #27a570;
      background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
      background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
      background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
      background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
      background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 ); }
    .section-banner .caja .line {
      width: 90px;
      height: 2px;
      margin-top: 12px; }
    @media screen and (max-width: 991.8px) {
      .col.col-12.col-lg-4.col-md-6.bg-fern.content-title{
        justify-content: center!important;
      }
      .section-banner .caja {
        margin: auto 0; } }
    @media screen and (max-width: 425px) {
      .section-banner .caja {
        padding-left: 15px;
        padding-right: 15px; } }
  .section-banner .bg-img {
    /*background-image: url(../images/banner-informacion-relevante.jpg);*/
    background-image: url(/Portals/0/skins/mineros/images/relevante-banner.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 355px; }
  .section-banner .line-color {
    width: 100%;
    height: 4px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 34%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 ); }
  @media screen and (min-width: 1200px) {
    .section-banner .min-height .col-12 {
      min-height: 350px; } }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .section-banner .min-height .col-12 {
      min-height: 300px; } }
  @media screen and (max-width: 991.8px) {
    .section-banner .bg-fern {
      padding: 2rem 15px; } }
  @media screen and (max-width: 425px) {
    .section-banner .bg-fern {
      padding: 2rem 10%; } }

/**---------------------------------------------------------
	section navigation
---------------------------------------------------------**/
/*.section-navigation .container {
  max-width: 1147px;
  padding-left: 0;
  padding-right: 0; }*/
/*  .section-navigation .container nav {
    min-height: 48px; }*/
    .section-navigation .container nav .breadcrumb-item {
      display: flex; }
      .section-navigation .container nav .breadcrumb-item a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 19.2px;
        letter-spacing: 0rem; }
      /*  .section-navigation .container nav .breadcrumb-item a img.icon {
          width: 28.423px;
          height: 23.942px;
          margin-right: 14px; }*/
      .section-navigation .container nav .breadcrumb-item.active {
        text-decoration: none;
        font-size: 1rem;
        line-height: 19.2px;
        letter-spacing: 0rem; }
        @media screen and (max-width: 575px) {
          .section-navigation .container nav .breadcrumb-item.active {
            flex-wrap: nowrap;
            align-items: center; } }
      @media screen and (max-width: 575px) {
        .section-navigation .container nav .breadcrumb-item {
          flex-wrap: nowrap;
          align-items: center; } }
    .section-navigation .container nav ol.breadcrumb {
      display: flex; }

/**------------------------------------------------------
	Section relevante
-------------------------------------------------------**/
.section-relevante {
  padding-top: 80px;
  padding-bottom: 60px; }
  @media screen and (min-width: 1200px) {
    .section-relevante .container {
      max-width: 1146px;
      padding: 0; } }
  .section-relevante .h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem; }
    .section-relevante .h1 span.circle-figure {
      position: relative;
      padding: 0 22px; }
      .section-relevante .h1 span.circle-figure::after {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #22a571;
        right: -12px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto; }
      .section-relevante .h1 span.circle-figure::before {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #22a571;
        left: -12px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto; }
  .section-relevante .padding-top {
    padding-top: 75px; }
  .section-relevante .collapse-conatiner a.btn {
    min-height: 59.26px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .section-relevante .collapse-conatiner a.btn span.text {
      font-size: 1.25rem;
      line-height: 2.25rem;
      letter-spacing: 0rem; }
  .section-relevante .collapse-conatiner .table thead th {
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
    border: 0;
    border-right: 1px solid #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px; }
    .section-relevante .collapse-conatiner .table thead th:nth-child(1) {
      width: 150px; }
    .section-relevante .collapse-conatiner .table thead th:nth-child(2) {
      width: 86.5px; }
    .section-relevante .collapse-conatiner .table thead th:nth-child(3) {
      width: 360.999px; }
    .section-relevante .collapse-conatiner .table thead th:nth-child(4) {
      width: 449px; }
  .section-relevante .collapse-conatiner .table tbody td {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0rem;
    color: #606060;
    vertical-align: middle; }
    .section-relevante .collapse-conatiner .table tbody td.tema {
      padding-left: 18px; }
    .section-relevante .collapse-conatiner .table tbody td.resumen {
      padding-left: 20px; }
  .section-relevante .collapse-conatiner .icon-rotateZ img {
    transform: rotateZ(90deg); }
@media screen and (max-width: 1199.8px){
  table.table.table-bordered{
    width: 850px;
  }
}
hr{
  margin: 0;
}
/*# sourceMappingURL=informacion-relevante.css.map */

