html,
body {
  overflow-x: hidden;
  font-size: 16px;
}
/* star Section Banner*/
.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-info .header:after, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.subtitulo{
    font-weight: 600!important;
}
.section-baner .content-title {
  position: relative;
}
@media (min-width: 1290px){
    .section-baner .bg-img {
    background-position: center -120px;
    background-size: cover;
    background-repeat: no-repeat;
    }
    
}
@media (max-width:1289px){
    .section-baner .bg-img {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    }
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
  }
}
@media (min-width:868px) and (max-width:990px){
     .section-baner .bg-img {
    background-position: center -60px;
    background-size: cover;
    background-repeat: no-repeat;
    }
}
@media (max-width:349px){

    .barragris{
        padding-right: 50px;
    }
    
    .section-baner .nav .nav-item:last-child {
      font-size: 1rem;
      line-height: 1.1875rem;
      letter-spacing: 0rem;
      text-decoration: none;
      padding-left: 10px;
      padding-right: 25px;
      border-right: 1px solid #666A6F;
    }
}

.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 50px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
  max-width: 210px;
  padding-top: 15px;
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 );
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}

.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
  margin-left: -18px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

.section-info {
  margin-top: 50px;
}
.section-info .header {
  position: relative;
  margin-bottom: 60px;
}
.section-info .header .icon {
  width: 61px;
  height: 61px;
  z-index: 1;
}
.section-info .header .icon img {
  max-width: 28px;
}
.section-info .header .title {
  height: 61px;
  padding: 0 33px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin: 0;
}
.section-info .header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  z-index: 0;
}
@media (min-width: 992px) {
  .section-info .body {
    padding: 0 17px;
  }
}
.section-info .body .text {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  margin-bottom: 0;
}
/* end section-banner */

/* star section-post */
#section-principal .bg2-imagen{
    padding-top: 97.15px;
  /* float: right;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    
}

#section-principal p{
    margin-bottom: 0px!important;
}

#section-principal .fechapost{
    width: 97px;
    height: 94px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-right: 10px;
    margin-bottom: 11px;
}
#section-principal .fechapost h1{
    margin-bottom: 0px;
}
#section-principal .formatpost{
    font-size: 1.45em;
}
#section-principal .formatyear{
    font-size: 1.12rem;
}
#section-principal .titulopost{
    font-size: 1.25rem;
    line-height: 1.5rem;
}
#section-principal .textopost{
    font-size: 1.125rem;
    text-align: left;
    padding-bottom: 21px;
    line-height: 1.3125rem;
}
#section-principal .textopost:first-child{
    padding-top: 21px;
}

#section-principal .gallery{
  
   margin-bottom: 14px!important;
}
#section-principal .imagen1{
   position: relative;
   
}
#section-principal .imagen2{
   position: relative;
}

@media (min-width:1200px){
    .container{
        min-width: 1155px!important;
    }
}
@media (min-width:992px){
    #section-principal .titulopost{
        width: calc(100% - 108px);
     }
}
@media(max-width:990px){
   /* .aside{
        display: none;
    }*/
    #section-principal .bg2-imagen{
        padding-top: 97.15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
#section-principal .imagen1{
   position: relative;
  
}
#section-principal .imagen2{
    position: relative;
 
    margin-top: 15px;
}
}
@media(max-width:768px){
    
     #section-principal .bg2-imagen{
        padding-top: 77.15px!important;
        margin-left: auto;
        margin-right: auto;
    }
}
/* End section-post */

/* Star Aside */

.card{
    border:none;
}
.card-header:first-child{
    border-radius: 0!important;
}
.titulo1{
    margin-top: 137px;
    width: 254px;
    height: 115px;
    
}
.titulo2{
    width: 254px;
    height: 251px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.adornopost{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.asidepos{
   /* float: left;
    margin-left: auto;*/
    width: 253px;
    height: 302px;
    justify-content: center;
    margin-top: 64px;
    position: relative;
    margin-bottom: 64px;
}

.formatlibre{
     font-size: 1.95rem;
    padding-left: 24px;
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.03rem;
}
.formatlibre2{
    font-size: 1.2rem;
    padding-top: 20px;
    letter-spacing: 0.035rem;
    line-height: 1.35rem;
}
.formatlibre3{
    font-size: 1rem;
    padding-top: 0px;
}
.golden{
    position: relative;
    bottom: -70px;
    right: -45px;
    z-index: 9999;
}

.customcard2{
    width: 253px;
    height: 356px;
    background-image: url(../images/card2.png);
    margin-top: 68px;
    padding: 1.75rem 0.5rem!important;
}
.customcard2body{
    width: 253px;
    height: 42px;
}
.aboletin{
    font-size: 1rem;
}
.card-body{
    padding: 0.2rem 0.5rem 1.5rem 1.5rem!important;
}
.flecha{
    width: 20%;
    margin-left: 20px;
}

.formatlibrec2{
    font-size: 2.15rem;
    padding-left: 77px;
    padding-top: 4px;
    line-height: 1.89rem;
}
.formatlibre4{
     font-size: 1.2rem;
    padding-top: 1rem;
    padding-left: 77px;
}
.arroba{
    width: 15%;
    left: 40%;
    right: 45%;
    position: absolute;
    margin-top: 25px;
}

.formattexta{
    font-size: 1.5rem;
    margin-top: 87.31px;
    position: absolute;
    left: 15%;
}
.formattextsub{
    font-size: 1rem;
    position: absolute;
    margin-top: 114px;
    line-height: initial;
}

.formslocat{
    position: absolute;
    margin-top: 205px;
    margin-left: 12px;
    margin-right: 10px;
}

input.inputsubs{
    width: 229px;
    height: 50px;
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    color: #ACACAC;
}
input.inputsubs::-webkit-input-placeholder{
   font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    color: #ACACAC;
}
input.inputsubs::-moz-placeholder{
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    color: #ACACAC;
}
input.inputsubs::-ms-input-placeholder{
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    color: #ACACAC;
}

@media(min-width:991px) and (max-width:1040px){
    .asidepos{
       right: 23px;
    }
    .card{
        right:23px;
    }
    .golden{
        width: 89%;
    }
}

@media(max-width:990px){
    .titulo1{
        margin-top: 90px;
    }
    .card{
        align-items: center;
    }
    .asidepos{
        margin-left: auto;
        margin-right: auto;
    }
}
/* End Aside */

/*# sourceMappingURL=style-boletin-interna1.css.map */
