/**
 * Invercionista CSS
 */


/* font extra*/
@font-face {
    font-family: "Franklin Gothic Demi";
    src: url("Franklin Gothic Demi.eot?") format("eot"),
        url("fonts/FranklinGothicDemi/Franklin Gothic Demi.woff") format("woff"),
        url("fonts/FranklinGothicDemi/Franklin Gothic Demi.ttf") format("truetype");
}

/*---------------------------------------------------------
	General
---------------------------------------------------------*/
html,
body {
    overflow-x: hidden;
    font-size: 16px;
}


.left-0 {
    left: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important;
}

/* text Colors*/
.color-scorpion {
    color: rgb(96, 96, 96);
    /* #606060 */

}

.border-color-d0cece {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 206, 206);
    ;
    /* #d0cece */
}


.box-duo-title .box-icon {
    min-height: 59px;
    min-width: 62px;
}

.box-duo-title .h4 {
    min-height: 59px;
    padding: 14px 18px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    padding-right: 40px;
}

.box-duo-title .m-negativo {
    margin-top: -23px;
}

/*---------------------------------------------------------
	section banner
---------------------------------------------------------*/
.section-baner .content-title .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px;
}

.section-baner .caja {
    max-width: 343px;
    width: 100%;
    padding: 54px;
    padding-top: 38px;
    padding-bottom: 32px;
    margin-right: -90px;
    z-index: 9;
}

.section-baner .caja h1 {
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: 0rem;
}

.section-baner .caja p {
    font-size: 2.18rem;
    line-height: 42px;
    letter-spacing: 0rem;
}

.section-baner .caja .line-color {
    height: 10.5px;
}

.section-baner .caja .line {
    width: 90px;
    height: 2px;
    margin-top: 12px
}


.section-baner .bg-img {
    background-image: url('../images/2x/portada-inversionista-junta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-baner .caja .line-color {
    width: 100%;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

.section-baner .line-color {
    width: 100%;
    height: 4px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 34%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

@media screen and (min-width: 1200px) {
    .section-baner .min-height .col-12 {
        min-height: 350px
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section-baner .min-height .col-12 {
        min-height: 300px
    }
}


@media screen and (max-width: 991.8px) {
    .section-baner .bg-fern {
        padding: 2rem 15px;
    }

    .section-baner .col.bg-fern {
        justify-content: center !important;
    }

    .section-baner .caja {
        margin: auto 0;
    }

    .section-baner .bg-img {
        min-height: 35vw;
        background-size: cover;
    }
}

@media screen and (max-width: 425px) {
    .section-baner .bg-fern {
        padding: 2rem 10%;
    }

    .section-baner .caja {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*---------------------------------------------------------
	section navigation
---------------------------------------------------------*/
.section-navigation .breadcrumb-item a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

.section-navigation .breadcrumb-item.active {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

.section-navigation .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #666a6f;
    content: "|";
    height: 22px;
    font-size: 22px;
    margin: 0 15px;
    font-weight: bold;
}

@media screen and (max-width: 575px) {
    .section-navigation .breadcrumb {
        flex-wrap: nowrap;
        align-items: center;
    }

    .section-navigation .breadcrumb-item.active {
        display: flex;
        align-items: center;
    }
}

/*---------------------------------------------------------
	section 1
---------------------------------------------------------*/
#section-1 {
    margin-top: 80px;
}

@media screen and (min-width:1200px) {
    #section-1 .container {
        max-width: 1000px;
    }
}

#section-1 .box-title-section-1 {
    padding: 23px 100px 70px 28px;
    max-width: 350px;
}

#section-1 .box-title-section-1 h1 {
    font-size: 1.84rem;
}

#section-1 .box-parrafo-section-1 {
    padding: 23px 20px 32px 54px;
    margin-top: -58px;
    margin-left: 91px;
}

#section-1 .box-parrafo-section-1 p {
    font-size: 1rem;
    line-height: 1.3125rem;
}

@media screen and (max-width:425px) {
    #section-1 .box-title-section-1 h1 {
        font-size: 1.35rem;
    }

    #section-1 .box-parrafo-section-1 p {
        font-size: 1rem;
    }

    #section-1 .box-parrafo-section-1 {
        margin-left: 30px;
    }
}

/*---------------------------------------------------------
	section 2
---------------------------------------------------------*/

#section-2 {
    margin-top: 70px;
}

@media (min-width: 1200px) {
    #section-2 .container {
        max-width: 1150px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #section-2 .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

#section-2 .box-target-user {
    margin-left: 0;
    margin-right: 0;
}
#section-2 .box-target-user > div,
#section-2 .box-target-user > div > div,
#section-2 .box-target-user > div > div > div,
#section-2 .box-target-user > div > div > div > div,
#section-2 .box-target-user > div > div > div > div > div,
#section-2 .box-target-user > div > div > div > div > div > div{
    display:flex;
    align-items: stretch;
}
#section-2 .box-target-user > div > div > div > div > div > div > div{
    justify-content: stretch;
}
#section-2 .box-target-user .card .card-body {
    width: 100%;

}

#section-2 .title-principales {
    font-size: 1.25rem;
}

#section-2 .box-title-section-2 {
    width: 164px;
}

#section-2 .circulo-green {
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

#section-2 .box-target-user .card {
    margin-top: 93.5px;
}

#section-2 .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 354px !important;
    max-width: 354px;
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.48);
    min-width: 354px;
    margin-left: 0;
    margin-right: 0;
}

#section-2 .card-img-top {
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #d2d2d2;
    margin-top: -40px;
}

#section-2 .card-body {
    padding-top: 32px;
    padding-bottom: 42px;
}

#section-2 .box-target-user h5 {
    font-size: 1.125rem;
    color: #606060;
    display: flex;
    justify-content: center;
    line-height: 1.3125rem;
}

#section-2 .box-target-user h5:after {
    content: '';
    position: absolute;
    bottom: -14px;
    width: 105px;
    height: 3px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 100px;
    background-color: #daa900;
}

#section-2 .card-text {
    margin-top: 45px;
    font-size: 1rem;
    color: #606060;
    line-height: 1.3125rem;
}

@media (max-width: 991px) {
    #section-2 .box-target-user {
        justify-content: space-around !important;
    }
}

@media (max-width: 575px) {
    #section-2 .box-target-user {
        align-items: center;
    }
}

@media (max-width: 425px) {
    #section-2 .card {
        max-width: 272px !important;
    min-width: auto;
    }
}

/*---------------------------------------------------------
	section 3
---------------------------------------------------------*/

#section-3 {
    margin-top: 120px;
    padding-bottom: 48px;
}

#section-3 #tittle-section-3 {
    margin-top: -27px;
}

#section-3 .target-section-3 .media {
    min-width: 350px;
    max-width: 350px;
    width: 100%;
    height: 62px;
    background: #fff;
    box-shadow: 0 0 11px -5px rgba(0, 0, 0, 0.68);
    align-items: center;
    overflow: hidden;
    margin-top: 45px;
    padding-left: 21px;
}

#section-3 .box-media-img-seciton-3 {
    width: 28px;
    height: 31px;
    margin-right: 14px;
}

#section-3 .box-media-img-seciton-3 img {
    width: 100%;
}

#section-3 .target-section-3 h5 {
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
}

#section-3 .target-section-3 {
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width:767px) {
    #section-3 .target-section-3 {
        justify-content: center;
    }
}

@media screen and (max-width:425px) {
    #section-3 .target-section-3 {
        margin-top: 30px;
    }

    #section-3 .target-section-3 .media {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        margin-top: 15px;
    }
}

#section-3 .box-green-text-section-3 {
    margin-top: 40px;
    padding: 20px 40px;
    width: 941px;
}

#section-3 .box-green-text-section-3 p {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    letter-spacing: 0.5px;
    line-height: 1.3125rem;
}

@media screen and (max-width:550px) {
    #section-3 .box-green-text-section-3 p {
        font-size: 1.3rem;
        line-height: 23px;
    }

    #section-3 .box-green-text-section-3 {
        padding: 20px;
    }
}

/*---------------------------------------------------------
	section 4
---------------------------------------------------------*/

#section-4 .box-icon img {
    height: 40px;
}

#section-4 {
    padding-bottom: 128px;
}

#section-4 #tittle-section-4 {
    margin-top: 54px;
}

#section-4 .card-body {
    padding: 0;
}

#section-4 .media {
    max-width: 350px;
    /*min-width: 350px;
    max-width: 350px;*/
    width: 100%;
    height: 130px;
    background: #fff;
    align-items: center;
    overflow: hidden;
    padding-left: 21px;
}

#section-4 .box-media-img-seciton-4 {
    width: 100px;
    height: 100px;
    margin-right: 14px;
}

#section-4 .box-media-img-seciton-4 img {
    width: 100%;
}

#section-4 .target-section-4 h5 {
    color: #606060;
    font-size: 1.125rem;
}

#section-4 .target-section-4 {
    justify-content: space-between;
}

@media screen and (max-width:767px) {
    #section-4 .target-section-4 {
        justify-content: center;
    }

}

@media screen and (max-width:425px) {
    #section-4 .target-section-4 {
        margin-top: 30px;
    }

    #section-4 .target-section-4 .media {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        margin-top: 15px;
    }
}

#section-4 #box-card-section-4 .card {
    border-radius: 0;
    margin-top: 78px;
    box-shadow: 0 0 14px -7px rgba(0, 0, 0, 0.47);
}

#section-4 #box-card-section-4 .card-footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#section-4 #box-card-section-4 .card-footer p {
    line-height: 1.3125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0 5px;
}

#section-4 #box-card-section-4 .media-body h5 {
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
}

#section-4 #box-card-section-4 {
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;
}

@media screen and (min-width:1200px) {
    #section-4 #box-card-section-4 {
        margin-left: -22.5px;
        margin-right: -22.5px;
    }

    #section-4 #box-card-section-4 .card {
        margin-left: 21.5px;
        margin-right: 21.5px;
    }
}

@media screen and (max-width:1199px) {
    #section-4 #box-card-section-4 {
        /*justify-content: space-between;*/
    }
}

@media screen and (max-width:767px) {
    #section-4 #box-card-section-4 {
        align-items: center;
        justify-content: center;
    }

    #section-4 #box-card-section-4 .card {
        margin-top: 25px;
    }

    #section-4 #box-card-section-4 {
        margin-top: 10px;
    }
}

@media screen and (max-width:425px) {
    #section-4 .media {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
}

/*---------------------------------------------------------
	section 4
---------------------------------------------------------*/
#section-5 {
    padding-bottom: 54px;
}

#section-5 .box-icon-circle {
    width: 162px;
    height: 162px;
    border-radius: 100%;
    margin-top: -47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-5 .box-icon-circle img {
    width: 46px;
}

#section-5 .box-section-text h2 {
    font-size: 1.875rem;
    line-height: 36px;
}

#section-5 .box-section-text p {
    font-size: 1.25rem;
    line-height: 24px;
    margin-top: 30px;
}

@media screen and (max-width:375px) {
    #section-5 .box-section-text h2 {
        font-size: 1.6rem;
        line-height: 20px;
    }

    #section-5 .box-section-text p {
        font-size: 1.15rem;
        line-height: 18px;
        margin-top: 20px;
    }

    #SliderResponsive.section-6-content-box {
        margin-top: 35px;
    }
}


#section-5 {
    padding-bottom: 15px;
}

#section-5 .box-section-text {
    /*transform: translateY(-35px);*/
    transform:  translateY(0);
}

#section-5 .box-section-text p {
    transform: translateY(-10px);
}

@media(max-width: 991px) {
 /*   #section-2 .card {
        margin-left: calc((100% - 354px)/2);
        margin-right: calc((100% - 354px)/2);
    }
*/
}

@media (max-width: 767px) {

    #tittle-section-4,
    #tittle-section-3 {
        justify-content: center;
    }
}

@media screen and (max-width:767.8px) {
    .section-baner .col {
        display: none;
    }
}
#section-2 .card-img-top img {
width: 250px;
    object-fit: cover;
    height: 250px;
    object-position: center;    
}

#section-3 #tittle-section-3 .Normal {
    display: flex;
}

#section-4 #tittle-section-4 .Normal {
    display: flex;
}

#section-3 .target-section-3 h5 a {
  text-decoration: none;
  color: #606060;
}
.bg-hover-corn:hover {
    background-color: rgb(218, 169, 0) !important;
}

/* section Comites */
#section-6 .title-section .Normal {
    display: flex;
}

#section-6 .title-section img {
    height: 40px;
}

#section-6 .box-icon {
    min-height: 60spx;
    min-width: 62px;
}
#section-6 .h4 {
    min-height: 60spx;
    padding: 14px 18px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    padding-right: 40px;
}

#section-6 .card {
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.48);
    border-top: 0;
}

#section-6 .card  .card-header {
    min-height: 80px;
}

#section-6 .card h5 {
    color: #606060;
    font-size: 1.3rem;
}

#section-6 .card .card-text {
    margin-top: 45px;
    font-size: 1rem;
    color: #606060;
    line-height: 1.3125rem;
}

#section-6 .card .list-group-flush .list-group-item {
    padding: 5px;
    padding-left: 10px;
    border: 0;
    font-size: 1rem;
    line-height: 1.3125rem;
}

@media screen and (max-width: 1199.8px) {
    #section-4 #box-card-section-4 .card {
        margin-right: 10px;
    }
}
@media screen and (max-width: 991.8px) {
    #section-6 .card .card-header {
        min-height: 40px;
    }
}
@media screen and (max-width: 575.8px) {
    #section-6 .row {
        margin: 0;
    }
    #section-4 #box-card-section-4 .card {
        margin-right: 0;
        padding-left: 0;
    }
    #section-4 #box-card-section-4 {
        margin-top: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
}
    #section-2 .card-deck .card-footer {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

#section-4 .media-body {
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
     #section-4 .media-body .card-footer {
        padding-top: 5px;
        height: auto !important;
    }
#section-4 .media-body .card-footer a {
    padding-bottom: 5px;
}
    #section-4 #box-card-section-4 .media-body h5{
        margin-bottom: 10px !important;
    }