html,
body {
    overflow-x: hidden;
    font-size: 16px;
}

.bg-5DB65F {
    background-color: #5DB65F;
}

.bg-DCAA00,
.section-info .header:after,
.section-baner .content-title:after,
.section-baner .content-title .title:after {
    background-color: #daa900;
    background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
    background-color: #c1c3c2;
    background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
    position: relative;
}

.section-baner .col {
    min-height: 355px;
}

.section-baner .bg-img {
    background-position: center top;
    background-size: cover;
}

.section-baner .content-title {
    position: relative;
}

@media (max-width: 991px) {
    .section-baner .content-title {
        min-height: 0;
        padding: 20px 15px;
    }
}

.section-baner .col {
    min-height: 355px;
}

.section-baner .content-title .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px;
}

.section-baner .content-title .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    position: relative;
    margin-bottom: 100px;
}

.section-baner .content-title .title span {
    font-size: 2.1875rem;
    line-height: 2.625rem;
    letter-spacing: 0rem;
}

.section-baner .content-title .title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 2px;
    max-width: 100%;
    width: 90px;
}

.section-baner .content-title:after {
    content: "";
    width: 56px;
    position: absolute;
    right: -28px;
    height: 100%;
    top: 0;
    opacity: 0.77;
    z-index: 1;
}

@media (max-width: 991px) {
    .section-baner .content-title:after {
        display: none;
    }
}

.section-baner .line-color {
    width: 100%;
    height: 4px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

.container.content_AS {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container.content_AS {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container.content_AS {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container.content_AS {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .row.tarjetas {
        max-width: 270px;
    }

    .container.content_AS {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1500px) {
    .section-baner .col {
        min-height: 40vh;
    }
}

@media screen and (max-width: 991.8px) {
    .content_AS .content_S {
        padding-left: 15px;
        padding-right: 15px;
    }

    .content_AS .content_A {
        padding-left: 15px;
        padding-right: 15px;
    }

    .aside .tarjetas .boletines {
        padding-top: 0;
    }

    .section-baner .content-title {
        min-height: 205px;
    }
}

@media screen and (max-width: 575.8px) {
    .content_AS .content_S {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content_AS .content_A {
        padding-left: 10%;
        padding-right: 10%;
    }

    .aside .tarjetas .boletines {
        padding-top: 0;
    }

    .section-baner .col.bg-img {
        min-height: auto;
        padding: 0;
        padding-top: 56.25%;
    }
}

@media screen and (max-width: 375px) {
    #section-6 .tittle-section-6 #text-section-6 {
        font-size: 1rem;
    }
}

.section-baner .content-title .title {
    margin-bottom: 0;
}

section.content {
    padding-bottom: 95px;
}

#section-6 .section-6-tittle-box .tittle-section-6 {
    max-width: 350px;
    width: 100%;
}

.breadcrumb {
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.content_AS>row {
    width: 100%;
}

picture img {
    left: 0;
}
.list-unstyled li {
    margin-bottom: 1rem;
}
.list-unstyled li::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    top: 3px;
    left: -15px;
    border-radius: 100%;
    background: #62A472;
}