/*.aside {
    max-width: 100%;
    margin: auto;
}*/
.aside .tarjetas .trimestre {
    padding-top: 52px;
}

.aside .tarjetas .trimestre .card-header {
    padding-left: 29px;
    padding-top: 22px;
    padding-bottom: 8px;
}

.aside .tarjetas .trimestre .h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body {
    padding-top: 20px;
    padding-left: 31px;
    min-height: 220px;
}

.aside .tarjetas .trimestre .card-body .card-text {
    font-size: 1.11625rem;
    line-height: 1.34rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body .image-two img {
    max-width: 100%;
    position: absolute;
    right: -65px;
    bottom: -33px;
}

.aside .tarjetas .boletines {
    padding-top: 66px;
}

.aside .tarjetas .boletines .card-body {
    background-image: url(../images/boletin-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 356px;
    padding-top: 48px;
    padding-right: 14px;
    position: relative;

}

.aside .tarjetas .boletines .card-body::after {
    content: "";
    position: absolute;
    background-color: #22a571;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
}

.aside .tarjetas .boletines .card-body p.card-text {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
    max-width: 146px;
    z-index: 9;
    position: relative;
    padding-bottom: 6px;
}

.aside .tarjetas .boletines .card-body .card-title {
    font-size: 1.875rem;
    line-height: 1.9rem;
    letter-spacing: 0rem;
    max-width: 143px;
    z-index: 9;
    position: relative;
}
html[lang='en-US'] .aside .tarjetas .boletines .card-body .card-title{
    max-width:190px;;
}

.aside .tarjetas .boletines .card-footer {
    padding-top: 6px;
    padding-bottom: 5px;
}

.aside .tarjetas .boletines .card-footer .btn {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .boletines .card-footer .btn span {
    margin-left: 25px;
}

@media screen and (max-width: 991.8px) {
    .aside {
        padding-top: 30px;
        padding-left: 0;
    }

    .aside .indicadores .card-header {
        min-height: 100px;
    }

    .aside .indicadores .col-12 {
        padding-right: 15px !important;
    }

    .aside .tarjetas .boletines {
        padding-top: 0;
        padding-right: 15px !important;
    }

    .aside .tarjetas .trimestre {
        padding-right: 15px !important;
    }

    .aside .trimestre .card {
        min-height: 396px;
    }

    .aside .tarjetas .boletines .card-body {
        background-size: cover;
    }

    .aside .tarjetas .trimestre .card-body {
        min-height: 282px;
    }
}

@media screen and (max-width: 575px) {
    .content-section-aside {
        padding: 0 10%;
    }

    .aside .indicadores .col-12,
    .aside .tarjetas .trimestre,
    .aside .tarjetas .boletines,
    .aside .sucribir .col-12 {
        padding-right: 0px !important;
        padding-left: 0;
    }

    .aside .tarjetas .boletines {
        padding-top: 50px !important;
    }

    .aside {
        max-width: 80%;
    }

    .content-section-aside .flex-lg-nowrap {
        margin: 0;
    }

    .aside {
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    .aside {
        max-width: 100%;
    }
}