﻿@charset "UTF-8";

.Normal, .NormalDisabled, .NormalDeleted {
    color: inherit!important;
    font-size: inherit!important;
    font-weight: inherit!important;
    line-height: inherit!important;
    word-wrap: inherit!important;
}

@font-face {
    font-family: "mineros-font";
    src: url("fonts/mineros-font.eot");
    src: url("fonts/mineros-font.eot?#iefix") format("embedded-opentype"),
        url("fonts/mineros-font.woff") format("woff"),
        url("fonts/mineros-font.ttf") format("truetype"),
        url("fonts/mineros-font.svg#mineros-font") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "mineros-font" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "mineros-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-at:before {
    content: "\61";
}

.icon-at-sign:before {
    content: "\62";
}


/* START BAR LANGUAGE */
#hed-top-green {
    height: 30px;
    padding: 0 120px;
}

#bar-lang {
    width: max-content;
    margin-left: auto;
    height: 100%;
    align-items: center;
    padding-right: 20px;
}

#bar-lang li {
    position: relative;
    display: flex;
    justify-content: center;
}

#bar-lang li:not(:last-child) span:after {
    content: '';
    width: 1px;
    height: 15px;
    background: #fff;
    position: absolute;
    right: 0;
    opacity: 0.7;
}

#bar-lang li span {
    height: 21px;
    position: relative;
    top: 4px;
    width: 1px;
    align-items: center;
}

#bar-lang a {
    font-size: 0.875rem;
    padding: 0 10px;
}

#bar-lang a:hover {
    font-weight: 600 !important;
    text-decoration: underline;
}

#bar-lang a.active {
    font-weight: 600 !important;
}

#hed-top-band {
    width: 83px;
    display: none;
}

#hed-top-band li {
    display: flex;
    align-items: center;
}

#hed-top-band a {
    padding: 0 4.5px;
}

@media screen and (max-width: 991.8px) {
    #hed-top-band {
        display: flex;
    }

    #hed-top-band .box-img-loc {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        position: relative;
    }

    #hed-top-band a:not(.active) .box-img-loc::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #585858;
        border-radius: 100%;
        opacity: 0.6;
    }

    #hed-top-band a:not(.active) .box-img-loc:hover::after {
        opacity: 0;
    }

    #hed-top-band .box-img-loc img {
        width: 18px;
        padding: inherit;
        background: rgba(255, 255, 255, 0);
    }

    .navigation-top.bg-menu-trans a.img-margin {
        display: none;
    }
}

@media screen and (min-width: 992px) {

    /*****Nuevo requerimiento********/
    .navigation-top.bg-menu-trans .box-img-loc {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        transition: .5s ease all;
    }

    .navigation-top.bg-menu-trans a:not(.active) .box-img-loc::after {
        /*content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #585858;
        border-radius: 100%;
        opacity: 0.6;*/
    }

    .navigation-top.bg-menu-trans a:not(.active) .box-img-loc:hover::after {
        opacity: 0;
    }

    #masthead .navigation-top .wrap {
        padding-right: 0;
    }

    .navigation-top.bg-menu-trans img.icon-flag {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
    }

    /* .navigation-top.bg-menu-trans img.icon-flag {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 100%;
    }*/

    .navigation-top.bg-menu-trans .img-margin {
        margin: 0 10px;
    }
}

@media screen and (max-width:550px) {
    #hed-top-green {
        padding: 0 20px;
    }
}

/* END BAR LANGUAGE*/

/* START FOOTER*/
footer .container-fluid:first-child {
    padding: 25px 0;
}

footer h4 {
    font-size: 1.125rem;
}

/*@media screen and (min-width:1200px){
    footer .col-box-logo-footer {
        min-width: 590px;
    }
}*/
footer .box-logo-footer {
    width: 272px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .box-logo-footer img {
    width: 100%;
}

footer .box-items-col-1-footer h4,
footer .box-items-col-2-footer h4 {
    font-size: 1.125rem;
}

footer .box-items-col-1-footer ul {
    padding-left: 15px;
}

footer .box-items-col-1-footer ul {
    list-style: none;
    /* Remove default bullets */
    margin-top: 14px;
    margin-bottom: 0;
}

footer .box-items-col-1-footer ul li::before {
    content: "\2022";
    font-size: 1rem;
    color: rgb(218, 169, 0);
    font-weight: bold;
    display: flex;
    line-height: 21px;
    position: absolute;
    left: 0;
    height: 24px;
    text-align: center;
    width: 8px;
    justify-content: center;
    align-items: center;
}

footer .box-items-col-1-footer ul li a,
footer .box-items-col-2-footer p,
footer .box-items-col-2-footer a {
    font-size: 0.93rem;
    line-height: 23px;
    vertical-align: bottom;
    opacity: 0.8;
}

footer .box-items-col-2-footer p {
    margin-bottom: 0;
    line-height: 17px;
}

.footer-footer {
    height: 73px;
}

footer .box-items-col-1-footer {
    margin-top: 22px;
}

footer .box-items-col-1-footer ul li {
    line-height: 27px;
}

@media screen and (min-width:1200px) {
    .box-col-1-footer {
        max-width: 360px;
    }
}

footer .box-items-col-2-footer {
    margin-top: 22px;
}

footer .box-parrafo {
    margin-top: 14px;
    position: relative;
}

footer .box-parrafo:after {
    content: '';
    position: absolute;
    width: 274px;
    height: 1px;
    background: #daa900;
    bottom: -15px;
}

footer .box-rrss {
    margin-top: 40px;
}

footer .box-rrss .link-rrss {
    opacity: 1;
    font-size: 1.5rem;
}

footer .box-icon-rrss {
    margin-left: 40px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

footer h4.pl-1 {
    padding-left: 1px !important;
}

footer a.link-rrss:hover i {
    color: #daa900 !important;
}

footer .box-items-col-2-footer a {
    line-height: 17px;
}

@media screen and (max-width:1199px) {
    footer .box-parrafo:after {
        width: 35%;
    }
}

@media screen and (max-width:991px) {
    .col-box-logo-footer {
        min-width: 100%;
    }

    footer .box-items-col-1-footer,
    footer .box-items-col-2-footer {
        max-width: 280px;
        margin: auto;
    }

    footer .box-items-col-1-footer ul {
        position: relative;
    }

    footer .box-items-col-1-footer ul li::before {
        left: 0;
    }
}

@media screen and (max-width:678px) {
    .box-col-1-footer {
        margin-bottom: 30px;
    }

    .box-col-1-footer,
    .box-col-2-footer {
        min-width: 100%;
    }

    .footer-footer {
        height: 30px;
    }
}

/* END FOOTER */
.menu-menu-primary-container a:visited {
    color: transparent;
}

.breadcrumb-item .icon-home {
    width: 28px;
    height: 28px;
}

.breadcrumb {
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb .breadcrumb-item a {
    transition: .35s all;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
}

.breadcrumb-item .color-nevada {
    color: rgb(102, 106, 111);
}

.breadcrumb-item .color-nevada:hover {
    color: rgb(102, 106, 111);
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "|";
    padding: 0 20px;
    color: #666A6F;
    font-size: 18px;
    font-weight: 700;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0rem;
}

@media screen and (max-width: 425px) {
    .breadcrumb {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        flex-wrap: nowrap;
    }

    .breadcrumb .breadcrumb-item {
        display: flex;
        align-items: center;
    }

    .section-navigation nav {
        padding: 0 15px;
    }
}

.text-decoration-none,
.text-decoration-none a {
    text-decoration: none;

}

.aside .tarjetas .trimestre .h4 a,
.aside .tarjetas .trimestre p a {
    color: white;
}

.card-body .list-group .list-group-item p {
    color: #606060;
    /*font-size: 1.125rem;*/
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin";
    font-weight: 400;
}

.card-body .list-group .list-group-item,
.card-body .list-group .list-group-item p:hover {
    color: #62A472;
}

.aside .tarjetas .trimestre .h4 a,
.aside .tarjetas .trimestre p a,
.aside .tarjetas .trimestre .card-body .card-text a,
.aside .tarjetas .trimestre a {
    text-decoration: none;
}

/* efecto del las banderas del menu*/
/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.box-items-col-3-footer ul {
    list-style: none;
}

.box-items-col-3-footer ul li::before {
    content: "\2022";
    font-size: 1rem;
    color: rgb(218, 169, 0);
    font-weight: bold;
    display: flex;
    line-height: 21px;
    position: absolute;
    left: 14px;
    height: 24px;
    text-align: center;
    width: 8px;
    justify-content: center;
    align-items: center;
}

.menu-item-has-children:last-child:hover .sub-menu {
    right: 0;
    left: inherit;
}

/* Modal para página en construcción */
#bar-lang {
    z-index: 99;
}

.page_construct .modal-content {
    border-radius: 0;
    border-top: 0;
}

.page_construct .modal-header {
    background-color: rgb(210, 210, 210);
    border-radius: 0;
}

.page_construct .modal-header .modal-title span {
    display: none;
}

.page_construct .modal-header h5 {
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase;
}

.page_construct .modal-header .close {
    position: absolute;
    top: -16px;
    right: -45px;
    background-color: rgba(221, 221, 221, 1);
    opacity: 1 !important;
    color: rgba(96, 96, 96, 1) !important;
    font-size: 2.008125rem !important;
    line-height: 2.409375rem !important;
    text-shadow: none !important;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_construct .modal-header .close:hover {
    border: 1px;
    border-style: solid;
    border-color: rgba(96, 96, 96, 1);
    background-color: rgba(96, 96, 96, 1);
    color: rgb(33, 37, 41) !important;
}

.page_construct .modal-header button {
    border-radius: 50% !important;
}

.page_construct .modal-header button span {
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
}

.page_construct .modal-body {
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.page_construct .modal-body .card-text {
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400 !important;
    color: rgb(128, 128, 128);
    line-height: normal;
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

.page_construct .modal-footer .btn {
    background-color: rgb(34, 165, 113);
}

.page_construct .modal-footer .btn:hover {
    color: rgb(34, 165, 113);
    border-color: rgb(34, 165, 113);
    background-color: white;
}


@media screen and (max-width: 991.8px) {
    #hed-top-band {
        width: 30%;
    }

    .d-flex.w-100.box-items-col-3-footer ul li {
        position: relative;
    }

    .box-items-col-3-footer ul li::before {
        left: -14px;
    }
}

@media screen and (max-width: 1021.8px) {
    .col-box-logo-footer {
        min-width: 100%;
    }

    footer .box-items-col-1-footer,
    footer .box-items-col-2-footer {
        max-width: 280px;
        margin: auto;
    }

    .box-items-col-3-footer ul li::before {
        left: -14px;
    }

    .box-items-col-3-footer ul li {
        position: relative;
    }
}

@media screen and (max-width: 675px) {
    #hed-top-green {
        padding: 0 41px;
    }
}

/*.col.col-box-logo-footer {
    display: flex;
    flex-basis: 100%;
}
.col.box-col-1-footer.col-6 {
    justify-content: center;
    display: flex;
}
.col.box-col-2-footer {
    display: flex;
    margin-left: 154px;
}*/


/* Social networks */
#masthead .navigation-top .box-icon-rrss {
    height: 38px;
    min-height: 38px;
}

#masthead .navigation-top .box-icon-rrss a.link-rrss {
    margin: 0 15px;
}

#masthead .navigation-top .box-icon-rrss a * {
    color: rgb(102, 106, 111) !important;
    font-size: 1.5rem;
}

#masthead .navigation-top a.link-rrss:hover i {
    color: #daa900 !important;
}
#section-6 .section-6-content-box{
    justify-content: center;
}
@media screen and (min-width: 992px) {
    #section-6 .section-6-content-box {
        flex-wrap: nowrap !important;
    }

    #logo-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-header img {
        display: block;
    }
}

@media screen and (max-width: 991.8px) {
    #hed-top-green {
        padding: 0 30px 0 0;
    }

    #hed-top-band {
        margin-left: auto;
    }

    #hed-top-band a:not(.active) .box-img-loc::after {
        display: none;
    }

    #masthead .navigation-top .box-icon-rrss {
        display: none !important;
    }
}

#cab-section-3 .dnnModuleManager.dnnSortable {
    min-height: auto !important;
}

@media screen and (max-width: 575px) {
    #hed-top-band {
        max-width: 100%;
        width: 100%;
    }
}

footer .box-col-2-footer .autogestion a {
    font-size: 1.125rem;
    line-height: normal;
}

footer .box-col-2-footer .autogestion {
    position: relative;
}

footer .box-col-2-footer .autogestion::before {
    left: -18px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cash_cost_title {
    font-size: 1rem;
    border-top: 0;
    border-right: 0;
    border-width: 2px;
    max-width: 100%;
    width: 100%;
    line-height: normal;    
}

.border_status {
      padding-top: 30px !important;
    border: 1px solid rgb(210, 210, 210);
    padding-left: 20px !important;
    transform: translateY(-30px);
}
.border_status ul li {
    padding: 12px 20px 12px 0;
}

.border_status ul li .icon-pdf {
    margin-right: 20px;
}
.border_status ul li span img {
    width: 24px; height: 30px;
}

#dnn_test {
    /*display: block !important;  */
}

.language-object{
    display: flex;
    align-items: center;
    justify-content: space-around!important;
}
.language-object .Language {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    flex-direction: row-reverse;    
}
.language-object .Language span {
    height: 15px;
    position: relative;
    top: 0;
    width: 1px;
    align-items: center;
}
.language-object .Language img {
    display: none;
    width: 0;
    height: 0;
}

.language-object .Language:last-child span:after {
        content: '';
    width: 1px;
    height: 15px;
    background: #fff;
    position: absolute;
    right: 0;
    opacity: 0.7;
    top: 0;
}

/** footer **/
@media screen and (min-width: 992px) {
    #section-6 .col-img-gall {
        max-width: calc(100% / 7);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*#section-6 .section-6-content-box {
        margin-top: 65px;
        max-width: 1190px;
    }*/

/*    #section-6 .section-6-content-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }*/

    #section-6 .col-img-gall img {
        width: 80%;
    }

    .col-img-gall a {
        width: 100%;
        transition: .35s ease all;
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);

    }

    .col-img-gall a:hover {
        filter: grayscale(0) !important;
        -webkit-filter: grayscale(0);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        -moz-filter: grayscale(0);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(0) -ms-filter: grayscale(0);

    }
}

@media screen and (min-width: 1200px) {
    #section-6 .container {
        max-width: 1240px;

    }
}

@media screen and (max-width: 1199.8px) {
    #section-4 .target-med {
        max-width: 100% !important;
        width: 100%;
    }
}


@media screen and (max-width: 991.8px) {
    /*#section-6 .col-img-gall {
        margin-top: 0;
        text-align: center;
    }*/
}

@media screen and (max-width: 767.8px) {
    section#info-block {
        padding-bottom: 40px;
    }
}

#section-6 .circle-green {
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.bg-jungle-green {
    background-color: rgb(34, 165, 113);
    background-color: var(--main-color-jungle-green);
}

#section-6 .tittle-section-6 {
    max-width: 350px;
    width: 100%;
}

#section-6 #text-section-6 {
    font-size: 1.25rem;
    line-height: 24px;
}

#section-6 {
    padding-top: 40px;
    padding-bottom: 110px;
}

#section-6 .col-img-gall img {
    max-width: 340px;
    width: 80%;
    display: flex;
    margin: auto;
}

@media screen and (max-width:575.8px) {
    #SliderResponsive.section-6-content-box {
        margin-top: 35px;
    }
}

footer .box-items-col-1-footer ul li ul {
    margin: 0;
}

footer .box-items-col-1-footer ul li li {
    display: flex;
}

footer .box-items-col-1-footer ul li li::before {
    left: 0;
    position: relative;
    margin-right: 10px;
}

section#section-6 h2 {
    font-size: 1.25rem;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
section#section-6 h2:after, section#section-6 h2:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgb(34, 165, 113);
    margin: 0 25px;
}

@media screen and (max-width:991.8px) {
    section#section-6 .section-6-content-box {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
}


#modal_image .modal-header {
    background-color: rgba(255,255,255,0);
    border: 0;
    height: 0;
}
#modal_image button:focus {
    outline: 1px dotted;
    outline: 0 auto -webkit-focus-ring-color;
}
#modal_image button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal_image button {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 100px;
    background: #000;
    z-index: 1;
}
#modal_image button span {
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
    color: #fff;
}
#terminos_interest, #checkterms-error-accept {
    display: none;
}
#logo-header img {
    height: inherit !important;
}