html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-info-pp .title:after, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
  position: relative;
}
/*.section-baner .col {
  min-height: 355px;
}*/
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
@media screen and (min-width: 992px) {
  .section-baner .bg-img {
    background-position: 25% top;
  }
}
@media screen and (min-width: 1200px) {
  .section-baner .bg-img {
    background-position: 0 top;
  }
}
/*@media screen and (min-width: 1500px) {
  .section-baner .col {
    min-height: 60vh;
  }
}*/
@media screen and (max-width: 991.8px) {
  .section-baner .bg-img {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: auto;
    padding-top: 56.25%;
}
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 100px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

/*section-aside*/
.content-section-aside {
  margin-bottom: 50px;
  margin-top: 77px;
}
@media (min-width: 1200px) {
  .content-section-aside {
    max-width: 1165px;
    margin-bottom: 100px;
  }
}

/*info-pp*/
.section-info-pp .title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0rem;
  padding: 28px;
  max-width: 270px;
  margin: 0;
  padding-bottom: 44px;
  padding-top: 22px;
  position: relative;
}
@media (max-width: 500px) {
  .section-info-pp .title {
    font-size: 1.5625rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
  }
}
.section-info-pp .title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-info-pp .title:after {
    display: none;
  }
}
.section-info-pp .text {
  /*font-size: 1.25rem;
  line-height: 1.5rem;*/
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  max-width: 915px;
  padding: 15px;
  transform: translateY(-28px);
  margin-left: 10px;
  margin-bottom: calc(40px - 28px);
  z-index: 2;
  position: relative;
}
@media (min-width: 992px) {
  .section-info-pp .text {
    margin-left: 60px;
    padding: 52px 25px;
    padding-right: 20px;
  }
}
.section-info-pp .content-tag .tag {
  min-height: 81px;
  padding: 5px 22px;
  box-shadow: 0 0 5px 0 #afafaf;
  margin-bottom: 22px;
  width: 100%;
}
.content-tag .tag a,
.section-info-pp .content-tag .tag .text-tag {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 400;
}
@media (min-width: 768px) {
  .section-info-pp .content-tag .tag {
    width: calc(50% - 11px);
  }
}
.section-info-pp .content-tag .tag .icon {
  width: 28px;
  margin-right: 9px;
}
.section-info-pp .content-tag .tag .text-tag {
  max-width: calc(100% - 28px - 13px - 1px);
  font-size: 1rem;
  line-height: 1.325rem;
  letter-spacing: 0rem;
}
.section-info-pp .content-descargra .title-d {
  min-height: 59px;
  z-index: 1;
  position: relative;
}
.section-info-pp .content-descargra .title-d .content-icon {
  width: 61px;
}
.section-info-pp .content-descargra .title-d .content-icon .icon {
  width: 32px;
}
.section-info-pp .content-descargra .title-d .content-text {
  padding: 5px 30px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}
.section-info-pp .content-descargra .content-link {
  padding-top: 34px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 35px;
  transform: translateY(-30px);
  z-index: 0;
}
.section-info-pp .content-descargra .content-link .link {
  min-height: 58px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  padding-left: 7px;
  padding-right: 23px;
  cursor: pointer;
  text-decoration: none;
}
.section-info-pp .content-descargra .content-link .link:last-child {
  border-bottom: 0;
}
.section-info-pp .content-descargra .content-link .link .icon-1 {
  width: 24px;
  margin-right: 20px;
}
.section-info-pp .content-descargra .content-link .link .text-link {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  text-decoration: none;
  width: calc(100% - 24px - 20px - 16px - 1px);
}
.section-info-pp .content-descargra .content-link .link .icon-2 {
  width: 16px;
}

/*etica*/
.section-etica .content-info-1 {
  background: #98d78a;
  background: -moz-linear-gradient(top, #98d78a 0%, #98d78a 68%, white 68%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #98d78a), color-stop(68%, #98d78a), color-stop(68%, white), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #98d78a 0%, #98d78a 68%, white 68%, white 100%);
  background: -o-linear-gradient(top, #98d78a 0%, #98d78a 68%, white 68%, white 100%);
  background: -ms-linear-gradient(top, #98d78a 0%, #98d78a 68%, white 68%, white 100%);
  background: linear-gradient(to bottom, #98d78a 0%, #98d78a 68%, white 68%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#98d78a", endColorstr="#ffffff", GradientType=0);
  padding: 30px 20px;
  padding-bottom: 0;
  min-height: 226px;
}
.section-etica .content-info-1 .title {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
.section-etica .content-info-1 .content-img-text {
  padding: 0 15px;
  box-shadow: 0 0 5px 0 rgba(199, 199, 199, 0.3490196078);
  margin-bottom: 38px;
}
.section-etica .content-info-1 .content-img-text .img {
  width: 201px;
}
@media (max-width: 767px) {
  .section-etica .content-info-1 .content-img-text{
    display: block!important;
  }
  .section-etica .content-info-1 .content-img-text .img {
    margin: 10px auto;
    padding-top: 15px;
    margin-bottom: 0;
    display: flex;
  }
}
.section-etica .content-info-1 .content-img-text .text {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding: 20px 0;
  position: relative;
  margin-left: 25px;
  text-align: left!important;
}
@media (min-width: 768px) {
 /* .section-etica .content-info-1 .content-img-text .text {
    width: calc(100% - 201px);
  }*/
  .section-etica .content-info-1 .content-img-text .text:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -12px;
    width: 24px;
    height: 24px;
    transform: rotateZ(45deg);
    background-color: #fff;
    display: none;
  }
}
.section-etica .content-list .title-list {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin-bottom: 25px;
}
@media (min-width: 767px) {
  .section-etica .content-list .title-list {
    padding-left: 36px;
  }
}
.section-etica .content-list .item {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding-left: 33px;
  position: relative;
  margin-bottom: 25px;
}
.section-etica .content-list .item .adorno {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  left: calc(0px + 33px/2 - 12px/2);
  top: 4px;
}
.section-etica .content-casos-no {
  margin-bottom: 32px;
}
.section-etica .content-casos-no .title-casos-no {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin-bottom: 20px;
}
.section-etica .content-casos-no .content-info-casos-no {
  margin-bottom: 10px;
}
.section-etica .content-casos-no .content-info-casos-no .numer {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  margin-right: 12px;
  transition: 0.5s;
}
.section-etica .content-casos-no .content-info-casos-no .text-casos-no {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  width: calc(100% - 12px - 46px);
  padding-top: 3px;
}
.section-etica .content-utilizar {
  margin-bottom: 40px;
}
.section-etica .content-utilizar .title-utilizar {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin-bottom: 20px;
}
.section-etica .content-utilizar .item {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}
@media (max-width: 767px) {
  .section-etica .content-utilizar .item {
    border-right: 0;
  }
}
.section-etica .content-utilizar .item:last-child {
  border: 0;
}
.section-etica .content-utilizar .item .icon {
  width: 50px;
  margin-top: 18px;
  margin-bottom: 22px;
}
.section-etica .content-utilizar .item .text {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  margin-bottom: 12px;
}

/*politicas*/
.section-politicas .content-info-politicas .title-d {
  min-height: 59px;
  z-index: 1;
  position: relative;
}
.section-politicas .content-info-politicas .title-d .content-icon {
  width: 61px;
}
.section-politicas .content-info-politicas .title-d .content-icon .icon {
  width: 32px;
}
.section-politicas .content-info-politicas .title-d .content-text {
  padding: 6px 30px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  max-width: calc(100% - 61px);
}
.section-politicas .content-info-politicas .text-p {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding: 40px 20px;
  margin-left: 15px;
  transform: translateY(-24px);
  z-index: 0;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-politicas .content-info-politicas .text-p {
    margin-left: 31px;
  }
}
.section-politicas .content-info-politicas .title-2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin-bottom: 20px;
}
.section-politicas .content-info-politicas .text-2 {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  margin-bottom: 50px;
}
.section-politicas .content-info-politicas .btn-descargar-politicas {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  min-height: 61px;
  min-width: 350px;
  padding: 5px 30px;
  text-decoration: none;
  transition: 0.5s;
}
.section-politicas .content-info-politicas .btn-descargar-politicas .icon {
  margin-right: 20px;
  width: 24px;
}
@media (max-width: 500px) {
  .section-politicas .content-info-politicas .btn-descargar-politicas {
    min-width: 250px;
  }
}

/*aside*/
.aside {
  max-width: 250px;
  margin: auto;
}
@media (max-width: 991px) {
  .aside {
    margin-top: 50px;
  }
}
.aside .info-1 .header {
  min-height: 115px;
  padding: 10px 30px;
}
.aside .info-1 .header .title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0rem;
}
.aside .info-1 .body {
  padding: 23px 30px;
  padding-bottom: 105px;
  min-height: 220px;
  position: relative;
}
.aside .info-1 .body .text {
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0rem;
}
.aside .info-1 .body .decoration {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}
.aside .info-1 .body .oro {
  max-width: 100%;
  position: absolute;
  right: -27px;
  bottom: -55px;
}
.aside .info-2 {
  padding: 48px 23px;
  min-height: 360px;
  background-size: cover;
  background-position: center;
  margin-top: 88px;
  position: relative;
}
.aside .info-2 * {
  position: relative;
  z-index: 1;
}
.aside .info-2 .title {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  max-width: 145px;
  margin-left: auto;
}
.aside .info-2 .title .sub-title {
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
}
.aside .info-2 .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.6;
  z-index: 0;
}
.aside .info-2 .btn-pp {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
  height: 40px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding: 0 30px;
  text-decoration: none;
  transition: 0.5s;
}
.aside .info-2 .btn-pp .arrow {
  width: 54px;
}
.aside .info-3 {
  min-height: 300px;
  margin-top: 64px;
  padding: 25px 10px;
  padding-bottom: 50px;
}
.aside .info-3 .icon {
  max-width: 54px;
}
.aside .info-3 .title {
  max-width: 200px;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
}
.aside .info-3 .title span {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}
.aside .info-3 .btn-i {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  padding: 10px 16px;
  height: 50px;
  border: 0;
  outline: none;
}
.aside .info-3 .btn-i::-webkit-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  color: #c1c3c2;
  /* #c1c3c2 */
  color: var(--main-color-pumice);
}
.aside .info-3 .btn-i:-moz-placeholder {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  color: #c1c3c2;
  /* #c1c3c2 */
  color: var(--main-color-pumice);
}
.aside .info-3 .btn-i:-ms-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  color: #c1c3c2;
  /* #c1c3c2 */
  color: var(--main-color-pumice);
}
.content-descargra .btn-descargar-politicas {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    min-height: 61px;
    min-width: 350px;
    padding: 5px 30px;
    text-decoration: none;
    transition: 0.5s ease all!important;
}
.content-descargra a.btn-descargar-politicas {
    margin-bottom: 20px;
}

.eds_news_Ozone.eds_subCollection_news {
  margin-bottom: 0;
}
#dnn_panneLink1 .card-body {
  padding-bottom: 0 !important;
}
/*# sourceMappingURL=style-nosotros-gobierno.css.map */
