/**
 *	GLOBAL
 * Estilos para el banner
 */

.new_banner .col_left {
    min-height: 100px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.new_banner .col_left .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px;
}

.new_banner .col_left .caja {
    max-width: 345px;
    width: 100%;
    padding: 38px 30px 32px 30px;
    z-index: 9;
}

.new_banner .col_left .caja .line-color {
    height: 10.5px;
    width: 100%;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

.top-0 {
    top: 0 !important;
}

.left-0 {
    left: 0 !important;
}

.new_banner .col_left .caja h1 {
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: 0rem;
}

.new_banner .col_left .caja p {
    font-size: 2rem;
    line-height: 42px;
    letter-spacing: 0rem;
    text-transform: inherit !important;
}

.new_banner .col_left .caja .line {
    width: 90px;
    height: 2px;
    margin-top: 12px;
}

.new_banner .col_right,
.new_banner .col_right .bg_image {
    min-height: 350px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.new_banner .col_right img {
    /*position: absolute;*/
    object-fit: fill;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    left: 0;
    right: 0;
    height: 100%;
}

.new_banner .col_right * {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.new_banner .col_right .bg_image {
    width: 100%;
}

.new_banner .col_right .DNNModuleContent>div {
    height: auto;
}

.new_banner .col_right .DNNModuleContent .Normal {
    /*height: 100%;*/
}

.new_banner .row>.line-color {
    width: 100%;
    height: 4px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 34%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}
@media screen and (max-width: 767.8px) {
	.new_banner .col_right .DNNModuleContent .Normal div {
	    /*min-height: auto;
	    padding-top: 56.25% !important;*/
	}
}
@media screen and (min-width: 992px) {
    .new_banner .col_left .caja {
        margin-right: -90px;
    }
}
@media screen and (min-width: 1500px) {
    .new_banner .col_right,.new_banner .col_right .bg_image{
        min-height: 40vh;
    }
}



@media screen and (max-width: 991.8px) {
    .new_banner .col_left .caja {
        margin-left: auto;
        margin-right: auto;
    }

    .new_banner .col_right,
    .new_banner .col_right .bg_image {
        min-height: 35vw;
        max-height: 350px;
        background-size: cover;
    }
}