/**
 * TRABAJE CON NOSOTROS CSS
 */


/* font extra*/
@font-face {
    font-family: "Franklin Gothic Demi";
    src: url("Franklin Gothic Demi.eot?") format("eot"),
        url("fonts/FranklinGothicDemi/Franklin Gothic Demi.woff") format("woff"),
        url("fonts/FranklinGothicDemi/Franklin Gothic Demi.ttf") format("truetype");
}

/*---------------------------------------------------------
  General
---------------------------------------------------------*/
html,
body {
    overflow-x: hidden;
    font-size: 16px;
}


.left-0 {
    left: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.top-0 {
    top: 0 !important;
}

.bottom-0 {
    bottom: 0 !important;
}

/* text Colors*/
.color-scorpion {
    color: rgb(96, 96, 96);
    /* #606060 */

}

.border-color-d0cece {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 206, 206);
    ;
    /* #d0cece */
}


/*---------------------------------------------------------
  section banner
---------------------------------------------------------*/
.section-baner .content-title .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px;
}

.section-baner .caja {
    max-width: 343px;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 32px;
    z-index: 9;
}


@media screen and (min-width: 1024px) {
    .section-baner .caja {
        max-width: 343px;
        width: 100%;
        padding-top: 38px;
        padding-bottom: 32px;
        z-index: 9;
        padding-left: 10px;
    }
}


.section-baner .caja h1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0rem;
}

.section-baner .caja p {
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0rem;
}

.section-baner .caja .line-color {
    height: 10.5px;
}

.section-baner .caja .line {
    width: 90px;
    height: 2px;
    margin-top: 12px
}


.section-baner .bg-img {
    background-image: url(../img/img-baner.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
}

.section-baner .caja .line-color {
    width: 100%;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

.section-baner .line-color {
    width: 100%;
    height: 5.869px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 34%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

@media screen and (min-width: 1200px) {
    .section-baner .min-height .col-12 {
        min-height: 350px
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section-baner .min-height .col-12 {
        min-height: 300px
    }
}


@media screen and (max-width: 991.8px) {
    .section-baner .bg-fern {
        padding: 2rem 15px;
    }

    .section-baner .caja {
        margin: auto;
    }

    .section-baner .bg-img {
        min-height: 35vw;
        background-size: 100vw 40vw;
    }
}

@media screen and (max-width: 425px) {
    .section-baner .bg-fern {
        padding: 2rem 10%;
    }

    .section-baner .caja {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*---------------------------------------------------------
  section navigation
---------------------------------------------------------*/
.section-navigation .breadcrumb-item a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

.section-navigation .breadcrumb-item.active {
    text-decoration: none;
    font-size: 1rem;
    line-height: 19.2px;
    letter-spacing: 0rem;
}

/*---------------------------------------------------------
  section-informacion
---------------------------------------------------------*/
.section-informacion {
    padding-top: 44px;
}

.section-informacion .column-content .dividendos .title {
    min-height: 136px;
    height: 100%;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 25px;
    max-width: 267px;
}

.section-informacion .column-content .paragraph-content {
    padding-left: 64px;
    margin-top: -30px;
    padding-right: 0;
}

.section-informacion .column-content .dividendos .title .h4 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.section-informacion .column-content .line-vertical {
    width: 71.487px;
    height: 100%;
    right: -35px;
    opacity: .72;
}



@media screen and (max-width: 320px) {
    .section-informacion .column-content .line-vertical {
        width: 71.487px;
        height: 100%;
        right: 0px;
        opacity: .72;
    }
}



.section-informacion .column-content p.paragraph {
    /*font-size: 1.25rem;*/
    font-size: 1rem;
    /*line-height: 1.5625rem;*/
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    /*padding: 25px 21px 25px 36px !important;*/
    padding: 25px 21px 25px 32px !important;
}

.section-informacion .column-content p.paragraph:nth-child(2) {
    padding-bottom: 51px;
}

/* participacion */
.section-informacion .column-content .participacion {
    padding-top: 5px;
    padding-bottom: 5px;
}

.section-informacion .column-content .participacion .title {
    max-width: 340px;
    width: 100%;
    z-index: 9;
}

.section-informacion .participacion .box-icon {
    min-height: 59px;
    min-width: 62px;
}

.section-informacion .participacion .h4 {
    min-height: 59px;
    padding: 14px 18px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
}

.section-informacion .participacion .m-negativo {
    margin-top: -23px;
}

.section-informacion .participacion ul.list-group .list-group-item {
    min-height: 93px;
    padding-bottom: 19px;
    border-color: rgb(210, 210, 210);
}

.section-informacion .participacion span.icon-pdf {
    min-width: 24.001px;
    min-height: 30.668px;
    margin-right: 23px;
}

.section-informacion .participacion p.texto {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
    margin-bottom: 6px;
}

.section-informacion .participacion .icon-donwload {
    min-width: 16px;
    min-height: 16px;
}

.section-informacion .participacion .box-link {
    padding-top: 49px;
    max-width: 417px;
    margin: 0 16px;
}

.section-informacion .participacion .box-link .card-title {
    font-size: 1.5625rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.section-informacion .participacion .box-link .btn {
    max-width: 221px;
    min-height: 60px;
    margin: auto;
    margin-bottom: -35px;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.section-informacion .participacion .box-link .icon-hyperlink {
    min-width: 30px;
    min-height: 30px;
    height: 30px;
    margin-right: 15px;
}

/*presentacion*/
.section-informacion .presentacion {
    padding-top: 30px;
}

.section-informacion .column-content .presentacion .title {
    max-width: 368px;
    width: 100%;
    z-index: 9;
}

.section-informacion .presentacion .box-icon {
    min-height: 59px;
    min-width: 62px;
}

.section-informacion .presentacion .h4 {
    min-height: 59px;
    padding: 14px 18px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
}

.section-informacion .presentacion,
.section-informacion .presentacion .Normal
/* .section-informacion .presentacion **/ {
    position: relative;
    z-index: 1;
    display: flex;

}

.section-informacion .presentacion:before {
    content: "";
    background-color: #daa900;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.collapse-conatiner {
    padding-top: 25px;
}

.collapse-conatiner a.btn {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.collapse-conatiner span.icon-collapse {
    margin-right: 20px;
}

.collapse-conatiner span.text {
    font-size: 1.25rem;
    line-height: 2.25rem;
    vertical-align: sub;
}

.collapse-conatiner span.icon-collapseExampleInterno {
    margin-right: 10px;
}

.collapse-conatiner span.text {
    font-size: 1rem;
    line-height: 1.2rem;
    vertical-align: sub;
}

.collapse-conatiner .collapse-trimestres .card-body {
    padding-left: 17px;
    padding-top: 0;
    padding-bottom: 11px;
}

.collapse-conatiner .collapsing {
    transition: height .15s ease !important
}

.collapse-conatiner .collapse-trimestres {
    margin-bottom: 21px;
}

.collapse-conatiner .icon-rotateZ img {
    transform: rotateZ(90deg);
}

.collapse-conatiner .card span.icon-pdf {
    margin-right: 21px;
}

.collapse-conatiner .collapse-trimestres p {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
    padding-top: 4px;
}


/* consolidados*/
.section-informacion .column-content .consolidados {
    padding-top: 35px;
    padding-bottom: 40px;
}
.section-informacion .column-content .consolidados .card {
    margin-bottom: 30px;
    border-radius: 0;
    border-color: #c2c2c2;
    border-width: 1.3px;
}

.section-informacion .column-content .consolidados .title {
    max-width: 450px;
    width: 100%;
    z-index: 9;
}

.section-informacion .consolidados .box-icon {
    min-height: 59px;
    min-width: 62px;
}

.section-informacion .consolidados h4 {
    padding: 6px 18px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    color: rgb(34, 165, 113);
}
.eds_news_Ozone h6,
.eds_news_Ozone.eds_subCollection_news a:not(.btn){
    color: rgb(102, 106, 111)!important;
        font-size: 1rem;

} 
.eds_news_Ozone p{
    font-size: 1rem;
}
span.fuente-grande {
    font-size: 3.375rem!important;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h7.date{
    font-size: 1rem;
    text-transform: capitalize;
}
.section-informacion .consolidados .m-negativo {
    margin-top: -25px;
}

.section-informacion .consolidados .card-body {
    padding: 35px;
}

.section-informacion .consolidados .list-group-item {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 6px;
    padding-left: 10px;
    margin: 1px 0 0 0;
}

.section-informacion .consolidados .card,
.section-informacion .consolidados .list-group-item {
    border-color: #c2c2c2;
}

.section-informacion .consolidados .card .list-group p {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0;
}

.section-informacion .relacion .card-body {
    padding-top: 12px;
    padding-left: 31px;
    padding-bottom: 32px;
}

.section-informacion .relacion .card-title {
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.section-informacion .relacion .list-group-item {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.section-informacion .relacion .list-group-item a {
    font-size: 1rem;
    line-height: 2.25rem;
    letter-spacing: 0;
}

/*----------------- ASIDE -------------------------------*/
.section-informacion .aside .indicadores .indicadores-ico {
    min-width: 48px;
    width: 56px;
    height: 42px;
}

.section-informacion .aside .indicadores .indicadores-ico img {
    width: 37.385px;
    height: 27px;
}

.section-informacion .aside .indicadores .h4.title {
    border-bottom-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
    padding-left: 18px;
}

.section-informacion .aside .indicadores .card {
    margin-top: 48px;
}

.section-informacion .aside .indicadores .h4.card-title {
    font-size: 1.136875rem;
    line-height: 1.136875rem;
    letter-spacing: 0rem;
    margin-bottom: 2px;
}

.section-informacion .aside .indicadores .card-header .card-text {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-header .moneda {
    font-size: 1.0625rem;
    line-height: 1.275rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-header::after {
    content: "";
    position: absolute;
    border: 0.5px solid #fff;
    max-width: 192px;
    width: 192px;
    left: 20px;
    right: 0;
    bottom: 0;
}

.section-informacion .aside .indicadores .card-text {
    font-size: 0.875rem;
    line-height: 0.82rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-text span {
    font-size: 0.875rem;
    line-height: 1.05rem;
    letter-spacing: 0rem;
}

.section-informacion .aside .indicadores .card-body {
    padding-top: 15px;
}

.section-informacion .indicadores .card span.span-simbolo {
    font-size: 8.49rem;
    top: 0;
    line-height: 10rem;
    right: -35px;
    font-family: "Franklin Gothic Demi";
    color: #fff;
    opacity: .10;
}

/*           ASIDE                  */

/* Start column_paginate */
.article_pager{
    margin: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;    
}
.consolidados .eds_news_Ozone.eds_subCollection_news .article_pager {
    position: relative;
    float: none!important;
    max-width:440px;
    height: 54px;

    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    border: solid 1.3px #c2c2c2;
    padding: 0 15px;
}
.consolidados .eds_news_Ozone.eds_subCollection_news .article_pager:after,
.consolidados .eds_news_Ozone.eds_subCollection_news .article_pager:before {
	content: "";
	width: 2px;
    background-color: #c2c2c2;
    height: 42px;
    display: inline-block;
    margin: 0 15px;
}
.eds_news_Ozone.eds_subCollection_news .article_pager  a.page.active {
    background-color: rgb(34, 165, 113);
    color: #fff!important;
}
    
.eds_news_Ozone.eds_subCollection_news .article_pager a:hover,
.eds_news_Ozone.eds_subCollection_news .article_pagination a:hover{
     z-index: 2;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(34, 165, 113);
    border-color: rgb(34, 165, 113);
    color: #fff!important;
}
.eds_news_Ozone.eds_subCollection_news .article_pager a,
.eds_news_Ozone.eds_subCollection_news .article_pagination > span{
    color:#fff;
}
.consolidados .eds_news_Ozone.eds_subCollection_news .article_pager  a.page {
    border-radius: 50px;
    margin: 0;
    border: 0;
    border-left: none!important;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.article_pager.next::after {
   content: '\03e';
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid;
}

.article_pager.prev::before {
    content: '\03c';
    font-size: 2rem;
    font-weight: 100;
    width: 50px;
    display: flex;
    height: 50px;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid;
}*/

@media screen and (max-width: 991.8px) {
        .page-item-separator {
        padding: 0 8px;
    }
}
@media screen and (max-width: 767.8px) {

.column_paginate ul {
    max-width: 100%;
    flex-wrap: wrap;
    height: auto;
}
}

@media screen and (min-width: 425px) {
    li.page-item-prev, li.page-item-next {
        display: flex;
    }
    .page-item-separator {
        display: flex;
    }
}
/* End column_paginate */

.aside .tarjetas .trimestre {
    padding-top: 52px;
}

.aside .tarjetas .trimestre .card-header {
    padding-left: 29px;
    padding-top: 31px;
    padding-bottom: 5px;
}

.aside .tarjetas .trimestre .h4 {
    font-size: 1.8rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body {
    padding-top: 20px;
    padding-left: 31px;
    min-height: 220px;
}

.aside .tarjetas .trimestre .card-body .card-text {
    font-size: 1.11625rem;
    line-height: 1.34rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .trimestre .card-body .image-two img {
    right: -25px;
    bottom: -51px;
}

.aside .tarjetas .boletines {
    padding-top: 66px;
}

.aside .tarjetas .boletines .card-body {
    background-image: url(../img/boletin-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 356px;
    padding-top: 48px;
    padding-right: 14px;
    position: relative;

}

.aside .tarjetas .boletines .card-body::after {
    content: "";
    position: absolute;
    background-color: #22a571;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
}

.aside .tarjetas .boletines .card-body p.card-text {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
    max-width: 146px;
    z-index: 9;
    position: relative;
    padding-bottom: 6px;
}

.aside .tarjetas .boletines .card-body .card-title {
    font-size: 1.875rem;
    line-height: 1.9rem;
    letter-spacing: 0rem;
    max-width: 143px;
    z-index: 9;
    position: relative;
}

.aside .tarjetas .boletines .card-footer {
    padding-top: 6px;
    padding-bottom: 5px;
}

.aside .tarjetas .boletines .card-footer .btn {
    font-size: 1.125rem;
    line-height: 1.35rem;
    letter-spacing: 0rem;
}

.aside .tarjetas .boletines .card-footer .btn span {
    margin-left: 25px;
}

.aside .sucribir {
    padding-top: 64px;
}

.aside .sucribir .card-body {
    padding-top: 25px;
    padding-bottom: 0;
}

.aside .sucribir .card-body svg {
    width: 70px;
}

.aside .sucribir h3.h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    padding-top: 24px;
}

.aside .sucribir p.h4 {
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 0rem;
}

.aside .sucribir .card-footer {
    padding: 21px 12px 12px;
}

.aside .sucribir .form-suscriber .form-control {
    min-height: 50px;
}

@media screen and (max-width: 768px) {
    .section-informacion .column-content .paragraph-content {
        padding-left: 0;
        margin-top: 15px;
        padding-right: 0;
    }
}

@media screen and (max-width: 575px) {
    .section-informacion .container {
        padding: 0 10%;
    }

    .section-informacion .column-content {
        padding: 0;
    }
}

.img-primary-section-card {
    width: 470px;
}

.loc-primary-section-card {
    width: 194px;
}

.btn-primary-section-card {
    width: 141px;
    padding-top: 3px;
}

.caja-verde {
    width: 95px;
    min-height: 88px;
    display: flex;
    justify-content: center;
}

.padding-izq {
    padding-left: 14px;
}

.borde-izq {
    border: 0;
    border-left: 1px;
    border-style: solid;
    /*border-color: var(--main-color-gray);*/
    border-color: var(--main-color-light-gray);
    /*margin-top: 12px;*/
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
}


/* CODIGO BOTONES */
.butn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #ffffff;
    font-size: 16px;
    background: #DCA900;
    /*padding: 10px 20px 10px 20px;*/
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    width: 142px !important;
    min-height: 41px !important;
}

.butn:hover {
    background: #3F6D62;
    color: #ffffff;
    text-decoration: none;
}


/* Cambios en el Paginador */
/*
.page-link {
    position: relative;
    display: block;
    line-height: 1.25;
    color: #808080;
    background-color: #fff;
    border: 0 !important;
    border: 1px solid #dee2e6;
}
*/
/*.pagination .page-link {
    width: 28px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-radius: 50%;
    color: #808080;
}

.pagination .page-link:hover {
    background: content-box green;
    border-radius: 100%;
    color: white;
}

.pagination .page-link:hover span i {
    color: #fff;
}
*/
/* Color de los angulos en Font-Awesome < > */
.background-angulos {
    color: green;
}

/* Hover de los angulos en Font-Awesome < > */
/*.pagination .page-link:hover {
    background: rgb(34, 165, 113);
    border-radius: 100%;
    color: white;
}
*/
/* Cambiando el display flex por inline-flex */
/*.pagination {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #808080;
    border-radius: 4px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
*/
/* Fin cambios paginador */



@media screen and (max-width: 768px) {


    .borde-izq {
        border-left-width: 0px;
    }

    .padding-izq {
        padding-left: 0px;
    }

    /* Ajuste para el responsive de las Cards */
    .ajuste-pad {
        width: 100%;
        padding: 0;
        display: block;
        max-width: 100%;
        flex: none;
    }

    /* Ajuste para el responsive de las Cards */
    .flex {
        flex-wrap: wrap;
    }

    .baja-resol {
        padding: 35px;
    }


}


@media screen and (max-width: 425px) {

    /* Oculta numeros del paginador del 7 en adelante en bajas resoluciones */
    .no-ver {
        display: none;
    }

}


/***************************************************************************/
/*                           form modal                                    */
/***************************************************************************/

/* Eliminar el Scroll de la modal */
.modal-open .modal::-webkit-scrollbar {
    width: 0px;
    /* background-color: #F5F5F5;*/
}


.frame-form {
    max-width: 929px !important;
    border-radius: 0;
    padding-top: 10px;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    #form-modal {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.modal-dialog .modal-header {
    padding-left: 3.98% !important;
    padding-right: 3.98% !important;
}

.modal-dialog .border,
.modal-dialog .modal-header {
    border-radius: inherit !important;
}

.modal-header .letter-a {
    width: 94px;
    height: 88px;
}

.letter-a span {
    font-size: 3.4075rem;
    line-height: 4.081875rem;
}

.header-left p {
    padding-top: 13px;
    padding-left: 11px;
    font-size: 1.125rem;
    line-height: 1.35rem;
}

.header-left .header-mineros {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.modal-header .header-right {
    border: 0;
    border-left: 1px;
    border-style: solid;
    border-color: var(--main-color-gray);
    margin-top: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
}

@media screen and (min-width: 1280px) {
    .modal-header .header-right {
        margin-right: 12px;
    }
}


@media screen and (max-width: 450px) {
    .modal-header .header-right {
        display: none !important;
    }
}




.header-right .header-right-img {
    padding-right: 10px;
}

.header-right .header-right-position {
    font-size: 1rem;
    line-height: 1.3125rem;
}

.modal-header .close {
    position: absolute;
    top: -16px;
    right: -72px;
    background-color: var(--main-color-very-light-gray);
    opacity: 1 !important;
    color: var(--main-color-very-dark-gray) !important;
    font-size: 2.008125rem !important;
    line-height: 2.409375rem !important;
    text-shadow: none !important;
    padding: 12px 20px !important;

}

.modal-header .close:hover {
    border: 1px;
    border-style: solid;
    border-color: var(--main-color-very-dark-gray);
    background-color: var(--main-color-very-dark-gray);
    color: var(--main-color-light-gray) !important;
}


.modal-header button {
    border-radius: 50% !important;
}

@media screen and (max-width: 1100px) {
    .modal-header .close {
        top: 16px;
        right: 17px;
        font-size: 1.2rem !important;
        line-height: 1.2rem !important;
    }
}

@media screen and (max-width: 1024px) {
    .modal-header .close {
        padding: 5px 7px !important;
    }
}

@media screen and (max-width: 425px) {
    .modal-header .close {
        top: 16px;
        right: 17px;
        font-size: .9rem !important;
        line-height: .7rem !important;
        padding: 6px 10px !important;
    }
}

.modal-body .container-body {
    padding-left: 60px;
    padding-right: 43px;
}

@media screen and (max-width: 425px) {
    .modal-body .container-body {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.modal-body .body-paragraph {
    margin-top: 21px;
    font-size: 1rem;
    line-height: 1.2rem;
    opacity: 0.9;
}

/* formulario*/
.modal-body .form {
    padding-top: 22px;
}

.modal-body .form-control {
    border: 0;
    border-radius: inherit;
    font-size: 1rem;
    padding-left: 40px;
}

@media (max-width: 375px) {
    .modal-body .form-control {
        font-size: 0.9rem;
    }
}

@media (max-width: 425px) {
    .modal-body .form-control {
        padding-left: 9px;
    }
}

.modal-body .form-group input::placeholder,
.modal-body .form-group textarea::placeholder,
    {
    color: var(--main-color-nevada);
}

.modal-body .form-group input {
    height: 47px;
}

.modal-body .form-group input[id="ciudad"] {
    padding-left: 28px;
}

.modal-body .form-group input[id="mail"] {
    margin-top: 2px;
    margin-bottom: 23px;
}

@media (min-width: 1280px) {
    .modal-body .col-left {
        padding-right: 8px !important;
    }

    .modal-body .col-right {
        padding-left: 8px !important;
    }
}

.modal-body .form-control:focus {
    border: 0;
    outline: 0;
    box-shadow: inherit;
}

.bg-focus input:focus {
    background-color: var(--main-color-very-light-gray) !important;
}


.curriculum input[type="button"]:hover {
    border: 0;
    /*border-style: solid;
 border-color: var(--main-color-light-gray)!important;*/
    background-color: var(--main-color-very-dark-gray);
    color: var(--main-color-light-gray) !important;
}


.curriculum input[type="button"] {
    margin-top: 2px;
    height: 41px !important;
    border-radius: 0px !important;
    padding: 0 22px 0 17px;
    border: 0;
    outline: none;
    margin-bottom: -3px;
}

.curriculum input[type="button"]:hover {
    border: 0 !important;
}

/* Checkbox*/
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.form-check {
    padding-left: 0px;
}

.form-check .checkbox {
    padding-right: 10px;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    /*border: 1px solid #cccccc;*/
    border-radius: .25em;
    width: 22px;
    height: 22px;
    float: inherit;
    margin-right: 0;
    margin-top: 2px;
    background-color: white;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: 1rem;
    line-height: 0;
    top: 10px;
    left: 3px;
    margin: auto;
}



.form-check a:hover {
    /*color:var(--main-color-jungle-green);*/
    color: var(--main-color-very-dark-gray);
    text-decoration: none;

}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-21deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"] {
    /*display: none;*/
    top: 2px;
    left: 24px;
    height: auto;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
}

.modal-body button {
    border-radius: 0px;
    width: 198px;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 10px 15px;
    transition: all 0.4s ease;
    margin-top: -2px;
    margin-bottom: 47px;
}

.modal-body button:hover {
    background-color: white;
    color: var(--main-color-jungle-green) !important;
    border-color: var(--main-color-jungle-green) !important;
}

/**************************************************************/
/*************         fin modal                        *******/
/**************************************************************/

.efecto-hover:hover {
    background: #606060;
    color: #ffffff;
}


/* Hover del enlace VER CONDICIONES de las modales */
.condiciones:hover {
    /*background: #3F6D62;*/
    color: var(--main-color-mineral-green) !important;
    text-decoration: none;
}

.section-baner .content-title {
    position: relative;
}

/* Linea amarilla vertical del banner */
.section-baner .content-title:after {
    content: "";
    width: 56px;
    position: absolute;
    right: -28px;
    height: 100%;
    top: 0;
    opacity: 0.77;
    z-index: 1;
    background-color: var(--main-color-corn);
}


@media screen and (max-width:768px) {
    .section-baner .content-title:after {
        display: none;
    }
}


/* Lineas verticales grises en paginador */
/*.pagination .borde-der-paginador:after {
    content: "";
    width: 2px;
    position: absolute;
    right: 1px;
    height: 38px;
    top: 0;
    opacity: 0.77;
    background-color: var(--main-color-gray);
    bottom: 0;
    margin: auto;
}

.pagination .borde-der-paginador2:after {
content: "";
    width: 2px;
    position: absolute;
    right: 0;
    height: 38px;
    top: 0;
    bottom: 0;
    opacity: 0.77;
    background-color: var(--main-color-gray);
    margin: auto;
}
*//*
.page-item.active .page-link {
    background: rgb(34, 165, 113);
}
*/
.row.consolidados .col {
    flex-basis: 100%;
}
.btn-primary-section-card .butn {
    /*display: none;*/
}
.consolidados .caja-verde {
	display: none;
}

.consolidados .eds_news_Ozone.eds_subCollection_news .btn-primary-section-card a {
	height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .35s ease all;	
}

.borde-izq {
	position: relative;
	display: flex;
	padding: 0;
	border-left: 0;
}
.borde-izq:before {
	content: "";
	display: inline-block;
	width: 1.3px;
	height: 100%;
	background-color: #c2c2c2;
	margin-right: 15px;
}

.borde-izq .media {
	width: 100%;
	padding-top: 26px;
}

.borde-izq .media img {
	align-self: flex-start !important;
}

.card-header .btn-primary-section-card {
	display: flex;
	align-items: center;
}
.section-informacion .consolidados h4 {
	padding-left: 0;
}
.section-informacion .consolidados .edn_metaDetails img {
	vertical-align: baseline;
}

.card .card-body div,
.modal-body .col-12 div p {
    font-family: 'LibreFranklin', sans-serif !important;
    font-size: 1rem;
    line-height: 1.3125rem;
    font-weight: 400 !important;
    color: rgb(128, 128, 128);
    line-height: normal;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

.modal-body label.btn.btn-secondary.color-very-dark-gray.bg-light-gray {
    border-radius: 0;
    background-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
    font-family: 'LibreFranklin', sans-serif !important;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 185px;
}

.form .form-check-label {
    font-size: 1rem;
    line-height: 1.3125rem;
}