

html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-info .header:after, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
    min-height: 205px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 100px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 );
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

/*info*/
.section-info {
  margin-top: 50px;
}
.section-info .header {
  position: relative;
  margin-bottom: 60px;
  align-items: center;
}
.section-info .header .icon {
  width: 61px;
  height: 61px;
  z-index: 1;
  top: 0;
  bottom: 0;
}
.section-info .header .icon img {
  max-width: 28px;
}
.section-info .header .title {
  height: 61px;
  padding: 0 25px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  margin: 0;
}
.section-info .header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  z-index: 0;
}
@media (min-width: 992px) {
  .section-info .body {
    padding: 0 17px;
  }
}
.section-info .body .text {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  margin-bottom: 0;
}
.section-info .body .text span {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
}

/*presencia*/
.section-presencia {
  margin-top: 80px;
}
.section-presencia .controler {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  margin-bottom: 40px;
  padding: 24px;
  box-shadow: 0 0 10px 0 #bfbfbf;
}
.section-presencia .controler .title {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .section-presencia .controler .content-w-ban {
    max-width: 180px;
    margin: auto;
  }
}
.section-presencia .controler .ban {
  /*font-size: 1.25rem;
  line-height: 1.5rem;*/
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  .section-presencia .controler .ban {
    width: 100%;
    margin-bottom: 10px;
  }
}
.section-presencia .controler .ban:not(:hover):not(.active) {
  font-weight: 400 !important;
  color: gray !important;
  color: var(--main-color-gray) !important;
}
.section-presencia .controler .ban:not(:hover):not(.active) .content-ban:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.41;
  background-color: #000;
}
.section-presencia .controler .ban.active {
  position: relative;
}
@media (min-width: 992px) {
  .section-presencia .controler .ban.active:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    transform: rotateZ(45deg);
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40px;
    background: #fff;
    box-shadow: 4px 4px 5px 0px #e4e4e4;
  }
}
.section-presencia .controler .ban .content-ban {
  border-radius: 100%;
  margin-right: 16px;
  position: relative;
  overflow: hidden;
}
.section-presencia .controler .ban .content-ban img {
  width: 56px;
  max-width: 100%;
}
.section-presencia .content-info-ban {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  margin-bottom: 50px;
  overflow: hidden;
}
.section-presencia .content-info-ban .ban-info {
  transition: 0.5s;
  overflow: hidden;
}
.section-presencia .content-info-ban .ban-info:not(.active) {
  position: absolute;
  top: -100%;
  transform: translateY(-100%);
}
.section-presencia .content-info-ban .content-img img {
  width: 100%;
  height: auto;
}
.section-presencia .content-info-ban .content-info {
  margin-top: 5px;
  padding: 30px 28px;
}
@media (min-width: 1200px) {
  .section-presencia .content-info-ban .content-info {
    border-left: 0;
  }
}
@media (min-width: 992px) {
  .section-presencia .content-info-ban .content-info {
    margin-top: 0;
  }
}
@media (max-width: 991px) {
  .section-presencia .content-info-ban .content-info {
    padding: 30px 5%;
  }
  .d-flex.w-100.box-items-col-3-footer ul li {
    position: relative;
  }
  .box-items-col-3-footer ul li::before {
      left: -14px;
  }
  #info p img {
      width: 100%;
      padding-left: 1%;
  }
}
.section-presencia .content-info-ban .content-info .info {
  padding: 30px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.section-presencia .content-info-ban .content-info .info.list {
  padding-left: 17px;
  padding-right: 17px;
}
.section-presencia .content-info-ban .content-info .info:last-child {
  border: 0;
  padding-bottom: 0;
}
.section-presencia .content-info-ban .content-info .info .icon {
  height: auto;
  margin-right: 10px;
}
@media (min-width: 500px) {
  .section-presencia .content-info-ban .content-info .info .icon {
    max-width: 25%;
  }
}
@media (max-width: 499px) {
  .section-presencia .content-info-ban .content-info .info .icon {
    margin: auto;
    margin-bottom: 10px;
  }
}
.section-presencia .content-info-ban .content-info .info .text {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  margin-bottom: 0;
}
@media (min-width: 500px) {
  .section-presencia .content-info-ban .content-info .info .text {
    max-width: 75%;
  }
}
@media (max-width: 499px) {
  .section-presencia .content-info-ban .content-info .info .text {
    text-align: center;
  }
}
.section-presencia .content-info-ban .content-info .info li.text {
  position: relative;
  margin-bottom: 22px;
  display: block;
  padding-left: 25px;
}
@media (max-width: 499px) {
  .section-presencia .content-info-ban .content-info .info li.text {
    text-align: left;
  }
}
.section-presencia .content-info-ban .content-info .info li.text .circle {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 2px;
  left: 0;
  border-radius: 100%;
}
@media screen and (max-width: 767.8px){
  .section-baner .bg-img{
    min-height: auto;
    padding-top: 56.22%;
  }
}
@media  screen and (max-width:575.8px){
  #SliderResponsive.section-6-content-box {
    margin-top: 35px;
}

}
/*# sourceMappingURL=style-nosotros-quienes-1.css.map */
