html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
    min-height: 205px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 100px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .section-baner .content-title .title {
    margin-right: 14px;
  }
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

/*info*/
.section-info {
  margin-top: 60px;
}
.section-info .title-pp {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 84px;
}
@media (max-width: 500px) {
  .section-info .title-pp {
    padding: 0 35px;
  }
}
.section-info .title-pp .decoration {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  height: 14px;
  width: 14px;
}
.section-info .title-pp .decoration:nth-child(1) {
  left: -50px;
}
@media (max-width: 500px) {
  .section-info .title-pp .decoration:nth-child(1) {
    left: 0;
  }
}
.section-info .title-pp .decoration:nth-child(2) {
  right: -50px;
}
@media (max-width: 500px) {
  .section-info .title-pp .decoration:nth-child(2) {
    right: 0;
  }
}
.section-info .content-slider-pp {
  max-width: 1090px;
  margin: auto;
  box-shadow: 0 0 5px 0px #c7c7c7;
  min-height: 205px;
  padding: 56px 24px;
  position: relative;
}
@media (max-width: 991px) {
  .section-info .content-slider-pp {
    padding: 30px 10%;
    max-width: 90%;
  }
}
.section-info .content-slider-pp .slider li {
  text-align: center;
  height: 100px;
  padding-top: 80px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 992px) {
  .section-info .content-slider-pp .slider li {
    margin: 0 5px !important;
  }
}
.section-info .content-slider-pp .slider li:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #808080;
  top: calc(40px - 14px/2);
  border-radius: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
}
.section-info .content-slider-pp .slider li:before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 2px;
  background-color: #808080;
  top: 40px;
  left: -5px;
}
.section-info .content-slider-pp .slider li:hover:not(.active):after, .section-info .content-slider-pp .slider li.click:after {
  width: 30px;
  height: 30px;
  border: 1px solid #27A570;
  background-color: #27A570;
  box-shadow: 0 0 0 7px #fff inset;
  top: calc(40px - 30px/2);
}
.section-info .content-slider-pp .slider li.active:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 3px solid #808080;
  background-color: #fff;
  top: calc(40px - 60px/2 - 5px);
  border-radius: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s;
  background-image: url("../images/icon-1-after.png");
  background-position: center;
  background-repeat: no-repeat;
}
.section-info .content-slider-pp .slider li.active:before {
  content: "";
  position: absolute;
  width: calc(50% + 5px);
  height: 2px;
  background-color: #808080;
  top: 40px;
  left: 50%;
}
.section-info .content-slider-pp .lSPager {
  display: none;
}
.section-info .content-slider-pp .next, .section-info .content-slider-pp .prev {
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  outline: none;
}
.section-info .content-slider-pp .next:after, .section-info .content-slider-pp .prev:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
}
.section-info .content-slider-pp .prev {
  right: -19px;
  transform: rotateZ(-45deg);
}
.section-info .content-slider-pp .next {
  left: -19px;
  transform: rotateZ(135deg);
}
@media (min-width: 992px) {
  .section-info .content-slider-pp:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    transform: rotateZ(45deg);
    border-radius: 5px;
    left: 67px;
    margin: auto;
    bottom: -15px;
    background: #fff;
    box-shadow: 4px 4px 5px 0px #e4e4e4;
    z-index: -1;
  }
}
.section-info .content-info {
  max-width: 1090px;
  margin: auto;
  margin-top: 80px;
  overflow: hidden;
}
.section-info .content-info .info {
  transition: 0.5s;
}
.section-info .content-info .info:not(.active) {
  position: absolute;
  top: -100%;
  transform: translateY(-100%);
}
.section-info .content-info .info .title {
  position: relative;
  padding-right: 60px;
}
@media (max-width: 991px) {
  .section-info .content-info .info .title {
    margin-bottom: 25px;
  }
}
.section-info .content-info .info .title .numer {
  z-index: 1;
  position: relative;
  font-size: 7.125rem;
  line-height: 7.5rem;
  letter-spacing: 0.05rem;
}
@media (max-width: 1199px) {
  .section-info .content-info .info .title .numer {
    font-size: 5.125rem;
    line-height: 7.5rem;
    letter-spacing: 0.05rem;
  }
}
@media (max-width: 991px) {
  .section-info .content-info .info .title .numer {
    width: 100%;
  }
}
.section-info .content-info .info .title .text {
  z-index: 1;
  position: relative;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0rem;
  transform: translateY(-10px);
  text-transform: capitalize;
}
@media (max-width: 1199px) {
  .section-info .content-info .info .title .text {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.05rem;
  }
}
@media (max-width: 991px) {
  .section-info .content-info .info .title .text {
    width: 100%;
  }
}
.section-info .content-info .info .title .decoration {
  position: absolute;
  width: 97px;
  height: 124px;
  z-index: 0;
}
@media (max-width: 767px) {
  .section-info .content-info .info .title .decoration {
    display: none;
  }
}
.section-info .content-info .info .title .decoration:nth-child(1) {
  top: 0;
  right: 0;
}
.section-info .content-info .info .title .decoration:nth-child(2) {
  opacity: 0.77;
  top: 62px;
  right: -30px;
}
.section-info .content-info .info .text-p {
  /*font-size: 1.125rem;*/
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .section-info .content-info .info .text-p {
    padding-left: 14px;
    margin-left: 40px;
    padding-bottom: 8px;
    padding-top: 4px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-width: 2px;
  }
}
@media (max-width: 991px) {
  .section-info .content-info .info .text-p {
    border: 0;
  }
}
@media  screen and (max-width:575.8px){
  #SliderResponsive.section-6-content-box {
    margin-top: 35px;
}
}


/*.btn-ebook {
    min-height: 45px;
    height: 50px;
    background-color: rgb(150, 214, 138);
    max-width: 90%;
    margin: auto;
  font-size: .891rem;
}

.st0 {
    fill: rgba(255, 255, 255, 0);
  
}

.btn-ebook  svg { margin-right: 5px; }

.btn-ebook:hover { background-color: rgb(215, 173, 38);}
.btn-ebook svg .st1, 
.btn-ebook svg  .st2, 
.btn-ebook svg .st3 { stroke: rgb(255, 255, 255) !important; }
.btn-ebook svg .st0 {
    fill: rgba(255, 255, 255, 0) !important;
}
.btn-ebook svg .st3 { fill: #FFF !important;}

.btn-ebook .btn-text-two {
    font-size: .8rem;
    text-transform: lowercase;
    letter-spacing: .12rem;
    line-height: 1;
}

.btn-ebook.focus, .btn-ebook:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
*/
.btn_ebook_container {
padding-right: 0;
}
.btn_ebook_container .btn_ebook {
    background-color: rgb(239, 239, 239);
  padding: 0;
  border-radius: 0;
}
.btn_ebook_container .ebook_text {
    padding: 15px;
    text-align: left;
}
.btn_ebook_container .ebook_icon {
    background-color: rgb(88, 150, 65);
  padding: 15px;
}

.btn_ebook_container .ebook_icon svg {
width: 69px;
  height: 69px;
}

.btn_ebook_container .ebook_text .text_one {
    font-size: 1.1rem;
    line-height: normal;
    letter-spacing: 0;
    color: rgb(128, 128, 128);
  margin-bottom: 5px;
}

.btn_ebook_container .ebook_text .text_two {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 0;
    color: rgb(128, 128, 128);
}

.btn_ebook_container .btn_ebook.focus, .btn_ebook_container .btn_ebook:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}
/*# sourceMappingURL=style-nosotros-hechos-historicos.css.map */
