/*ajustes*/
/*body*/
body {
  overflow: hidden;
}

/*aside*/
.aside .tarjetas .boletines .card-body {
  background-size: cover;
}

/*title section 1*/
.ajustes-after-title {
  position: relative;
  padding: 0 !important;
  margin-bottom: 95px !important;
}

.ajustes-after-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #DCAA00;
}

@media (min-width: 992px) {
  .ajusted-de-pl-li li {
    padding-left: 40px !important;
  }
}

@media (max-width: 600px) {
  .section-informacion .consolidados .card .list-group p {
    max-width: calc(100% - 60px);
  }
}

/*section-info-pp*/
.section-info-pp {
  padding-bottom: 100px;
  /* border-bottom: 35px solid #D9D9D9; */
  /*margin-bottom: 65px;*/
}
.section-info-pp .title {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
  margin-bottom: 45px;
}
.section-info-pp .title span {
  font-style: normal;
  margin-top: 10px;
}
.section-info-pp .text {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
}
@media (min-width: 992px) {
  .section-info-pp .text {
    padding-right: 1px;
  }
}
.section-info-pp .list {
  margin: 45px 0;
  list-style: none;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .section-info-pp .list {
    padding-left: 40px;
  }
}
.section-info-pp .list .item {
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  display: block;
  position: relative;
  padding-left: 35px;
}
.section-info-pp .list .item .numer {
  width: 40px;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.section-info-pp .list .item .numer:after {
  content: ".";
}

/*# sourceMappingURL=style-asamblea-general-2.css.map */
