html,
body {
    overflow-x: hidden;
    font-size: 16px;
}

.bg-5DB65F {
    background-color: #5DB65F;
}

.bg-DCAA00,
.section-baner .content-title:after,
.section-baner .content-title .title:after {
    background-color: #daa900;
    background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
    background-color: #c1c3c2;
    background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
    position: relative;
}

.section-baner .col {
    min-height: 355px;
}

.section-baner .bg-img {
    background-position: center top;
    background-size: cover;
}

.section-baner .content-title {
    position: relative;
}

@media (max-width: 991px) {
    .section-baner .content-title {
        min-height: 0;
        padding: 20px 15px;
        min-height: 205px;
    }
}

.section-baner .content-title .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 235px;
}

.section-baner .content-title .title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    position: relative;
    margin-bottom: 100px;
}

.section-baner .content-title .title span {
    font-size: 2.1875rem;
    line-height: 2.625rem;
    letter-spacing: 0rem;
}

.section-baner .content-title .title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    height: 2px;
    max-width: 100%;
    width: 90px;
}

.section-baner .content-title:after {
    content: "";
    width: 56px;
    position: absolute;
    right: -28px;
    height: 100%;
    top: 0;
    opacity: 0.77;
    z-index: 1;
}

@media (max-width: 991px) {
    .section-baner .content-title:after {
        display: none;
    }
}

.section-baner .line-color {
    width: 100%;
    height: 4px;
    display: block;
    background: #27a570;
    background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
    background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}

.section-baner .nav {
    min-height: 50px;
}

.section-baner .nav .nav-item {
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0rem;
    text-decoration: none;
    padding: 0 25px;
    border-right: 1px solid #666A6F;
}

.section-baner .nav .nav-item .icon {
    width: 28px;
    margin-right: 10px;
    height: auto;
}

.section-baner .nav .nav-item:last-child {
    border: 0;
}

/*info-pp*/
.section-info-pp {
    margin-top: 77px;
    margin-bottom: 60px;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .section-info-pp {
        padding-left: 67px;
    }
}

.section-info-pp .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
    padding: 30px;
    max-width: 371px;
    margin: 0;
}

@media (max-width: 500px) {
    .section-info-pp .title {
        font-size: 1.5625rem;
        line-height: 2.25rem;
        letter-spacing: 0rem;
    }
}

.section-info-pp .text {
    font-size: 1rem;
    line-height: 1.3125rem;
    /*font-size: 1.25rem;
    line-height: 1.375rem;*/
    letter-spacing: 0rem;
    max-width: 915px;
    padding: 15px;
    transform: translateY(-18px);
    margin-left: 10px;
}

@media (min-width: 992px) {
    .section-info-pp .text {
        margin-left: 87px;
        padding: 52px 36px;
        padding-right: 48px;
    }
}

/*content-card*/
.section-content-card .card-columns {
    column-gap: 30px;
}

@media (max-width: 991px) {
    .section-content-card .card-columns {
        column-count: 2;
    }
}

@media (max-width: 767px) {
    .section-content-card .card-columns {
        column-count: 1;
    }
}

.section-content-card .card-columns .card {
    border-radius: 0;
    box-shadow: 0 0 5px 0 #b5b5b5;
    margin-bottom: 48px;
}

.section-content-card .card-columns .card .card-header {
    border-radius: 0;
    padding-top: 45px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 24px;
}

.section-content-card .card-columns .card .card-header .flagicon {
    left: 12px
}

.section-content-card .card-columns .card .card-header .title {
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    margin: 0;
}

.section-content-card .card-columns .card .card-header .img-title {
    /*max-width: 50%;
    float: right;
    transform: translateY(-15px);
    width: 121px;
    margin-left: 10px;*/
    width: 100%;
    max-height: 94px;
}
.section-content-card .card-columns .card .card-header .box_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.section-content-card .card-columns .card .card-body {
    padding-top: 22px;
    padding-bottom: 52px;
}

.section-content-card .card-columns .card .card-body .text {
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: 0rem;
}

.section-content-card .card-columns .card.card-img .card-body {
    padding-top: 40px;
}

@media screen and (max-width:575.8px) {
    #SliderResponsive.section-6-content-box {
        margin-top: 35px;
    }

}

.flagicon {
    position: absolute;
    width: 30px;
    position: absolute;
    top: -4px;
    left: -4px;
    margin: 10px;
}

.section-content-card .card-columns .card.card-img .card-body,
.section-content-card .card-columns .card .card-body {
    padding-top: 45px;
}

.flagicon {
    left: 10px !important;
}

/** Start code */
#dnn_panneBreadcrumb {
    min-height: auto !important;
}

@media screen and (min-width: 992px) {
    .section-baner .bg-img {
        background-position: 65% top;
        background-size: cover;
    }
}

@media screen and (min-width: 1500px) {
    .section-baner .col {
        min-height: 40vh;
    }
}

@media screen and (max-width: 991.8px) {
    .section-baner .content-title .title {
        text-align: center;
    }
}

@media screen and (max-width: 767.8px) {
    .section-baner .bg-img {
        min-height: auto;
        padding-top: 56.22%;
        background-position: 100% top;
    }
}

.nav-tabs {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    padding: 24px;
    box-shadow: 0 0 10px 0 #bfbfbf;
}

.nav-tabs .nav-link.active {
    position: relative;
}

.nav-tabs .nav-link.active:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    transform: rotateZ(45deg);
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -40px;
    background: #fff;
    box-shadow: 4px 4px 5px 0px #e4e4e4;
}

.nav-tabs .nav-item {
    /*font-size: 1.25rem;
    line-height: 1.5rem;*/
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    color: gray !important;
    font-family: 'LibreFranklin', sans-serif !important;
}

.tab-content {
    /*padding-top: 50px;*/
}

@media screen and (max-width: 767.8px) {
    a.nav-item {
        display: flex;
        width: 100%;
        justify-content: flex-start !important;
    }

    .nav-tabs .nav-link.active:after {
        left: -9px;
        top: 0;
        right: inherit;
        bottom: 0;
    }

    .nav-tabs .nav-link.active::after {
        left: 100%;
        bottom: ;
    }

    .nav-tabs .nav-link.active::after {
        width: 20px;
        height: 25px;
    }
}

@media screen and (max-width: 575px) {
    .nav-tabs .nav-item {
        max-width: 100%;
        width: 100%;
        justify-content: flex-start !important;
    }

    .nav-tabs .nav-link.active::after {
        left: inherit;
        right: 0;
    }

}

.content-ban.mr-1 {
    border-radius: 100%;
    margin-right: 16px !important;
    position: relative;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}



/** Fin */
/*# sourceMappingURL=style-nosotros-reconocimiento.css.map */