@import url(https://allfont.es/allfont.css?fonts=franklin-gothic-medium);

body,
html {
    font-size: 16px;
    line-height: 1;
}

body {
    overflow-x: hidden;
}

a,
input,
button {
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a *,
input *,
button * {
    transition: 0.5s;
}

a:hover,
a:active,
a:focus,
a:active:focus,
input:hover,
input:active,
input:focus,
input:active:focus,
button:hover,
button:active,
button:focus,
button:active:focus {
    outline: none;
    text-decoration: none;
}

#hed-top-green .nav.nav-respon,
#hed-top-green .nav {
    min-height: 0;
    background: transparent;
}

.separador {
    position: relative;
    display: block;
    width: 100%;
}

.content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.content-img img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    max-width: none;
    max-height: none;
    position: absolute;
    top: 0;
}

.bg_deg,
.banner .content .info:before,
.banner:before {
    background: #62a472;
    height: 4px;
    background: -webkit-linear-gradient(left, #62a472 0%, #62a472 33%, #acd68d 33%, #acd68d 67%, #cea800 67%, #cea800 100%);
    background: -o-linear-gradient(left, #62a472 0%, #62a472 33%, #acd68d 33%, #acd68d 67%, #cea800 67%, #cea800 100%);
    background: linear-gradient(to right, #62a472 0%, #62a472 33%, #acd68d 33%, #acd68d 67%, #cea800 67%, #cea800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#62a472", endColorstr="#cea800", GradientType=1);
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 350px;
    padding: 25px 0;
}

.banner:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
}

.banner .content_decoration {
    width: 33%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #7EB564;
}

@media (max-width: 575px) {
    .banner .content_decoration {
        width: 20%;
    }
}

.banner .content_decoration .adorno {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 240px;
}

.banner .img {
    width: 67%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

@media (max-width: 575px) {
    .banner .img {
        width: 80%;
    }
}

.banner .content {
    position: relative;
}

@media (min-width: 1200px) {
    .banner .content {
        padding: 0 65px;
    }
}

.banner .content .info {
    width: 100%;
    max-width: 340px;
    background: #fff;
    margin: 0;
    position: relative;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 15px;
}

@media (max-width: 575px) {
    .banner .content .info {
        padding: 25px 15px;
    }
}

.banner .content .info:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    height: 10px;
}

.banner .content .info .title {
    font-size: 2.1875rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    color: #606060;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    position: relative;
}

@media (max-width: 575px) {
    .banner .content .info .title {
        font-size: 1.25rem;
        line-height: 1.25;
        letter-spacing: 0rem;
    }
}

.banner .content .info .title:before {
    content: "";
    position: absolute;
    width: 90px;
    left: 0;
    top: 100%;
    height: 1px;
    background: #CEA800;
}

.banner .content .info .title span {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    display: block;
    font-weight: 100;
}

@media (max-width: 575px) {
    .banner .content .info .title span {
        font-size: 1rem;
        line-height: 1.25;
        letter-spacing: 0rem;
    }
}

.banner.banner_2 .content_decoration:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    right: -30px;
    background: #CEA800;
    opacity: 0.77;
    top: 0;
    z-index: 2;
}

@media (max-width: 991px) {
    .banner.banner_2 .content_decoration {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .banner.banner_2 .content_decoration {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .banner.banner_2 .img {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .banner.banner_2 .img {
        width: 40%;
    }
}

.banner.banner_2 .content {
    padding: 0;
    z-index: 3;
}

.banner.banner_2 .content .info {
    background: transparent;
    padding: 0;
    max-width: 270px;
}

.banner.banner_2 .content .info.ajuste_300 {
    max-width: 300px;
}

.banner.banner_2 .content .info:before {
    display: none;
}

.banner.banner_2 .content .info .title {
    color: #fff;
}

.banner.banner_2 .content .info .title:before {
    top: calc(100% + 10px);
}

.nav {
    min-height: 45px;
    background: #E3E3E3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
}

.nav .content .item {
    display: inline-block;
    padding: 0 25px;
    margin: 5px 0;
    color: #666A6F;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 100;
    position: relative;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0rem;
}

@media (max-width: 575px) {
    .nav .content .item {
        display: block;
        width: 100%;
    }
}

.nav .content .item svg {
    width: 28px;
    margin-right: 10px;
}

.nav .content .item svg path {
    fill: #666A6F;
}

.nav .content .item:not(:last-child):before {
    content: "";
    position: absolute;
    height: 22px;
    width: 1px;
    border-right: 1px solid;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 575px) {
    .nav .content .item:not(:last-child):before {
        display: none;
    }
}

.content_AS {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.content_AS .content_S {
    padding: 0 15px;
    width: 75%;
}

@media (max-width: 991px) {
    .content_AS .content_S {
        width: 100%;
    }
}

.content_AS .content_S .content_info {
    position: relative;
    padding: 25px 0;
    padding-top: 45px;
    margin-bottom: 50px;
}

.content_AS .content_S .content_info.notag {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content_AS .content_S .content_info.border {
    border: 1px solid #C1BFBF;
    padding-left: 25px;
    padding-right: 60px;
}

@media (max-width: 991px) {
    .content_AS .content_S .content_info.border {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.content_AS .content_S .content_info .descarga {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content_AS .content_S .content_info .descarga .icon {
    width: 42px;
}

.content_AS .content_S .content_info .descarga .icon svg {
    width: 24px;
    height: 31px;
    margin-right: 18px;
}

.content_AS .content_S .content_info .descarga .icon svg path {
    fill: #ACD68D;
}

.content_AS .content_S .content_info .descarga .text {
    color: #606060;
    /*font-size: 1.125rem;
  line-height: 1;*/
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    width: calc(100% - 21px - 42px);
}

.content_AS .content_S .content_info .descarga .icon_d {
    width: 21px;
}

.content_AS .content_S .content_info .descarga .icon_d svg {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.content_AS .content_S .content_info .descarga .icon_d svg path {
    fill: #606060;
}

.content_AS .content_S .content_info .descarga:hover .text {
    color: #62A472;
}

.content_AS .content_S .content_info .text {
    color: #606060;
    font-size: 1rem;
    /*line-height: 1.1875;*/
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .content_info .list {
    margin: 40px 0;
    padding: 0;
    display: block;
}

.content_AS .content_S .content_info .list:not(.list_2) {
    column-count: 2;
    column-gap: 97px;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info .list:not(.list_2) {
        column-count: 1;
    }
}

.content_AS .content_S .content_info .list .item {
    padding-left: 25px;
    display: block;
    margin-bottom: 10px;
    color: #606060;
    font-size: 1rem;
    /*line-height: 1.1875;*/
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    position: relative;
}

.content_AS .content_S .content_info .list .item:not(.not_before):before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    top: 3px;
    left: 0;
    border-radius: 100%;
    background: #62A472;
}

.content_AS .content_S .content_info .list .item .list {
    column-count: 1;
    margin: 0;
}

.content_AS .content_S .content_info .list .item .list .item {
    padding-left: 18px;
}

.content_AS .content_S .content_info .list .item .list .item:before {
    content: "*";
    color: #62A472;
    background: transparent;
    width: 18px;
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    height: auto;
    line-height: 1;
}

.content_AS .content_S .content_info .list.list_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content_AS .content_S .content_info .list .content_item {
    width: calc(50% - 15px);
    position: relative;
    padding-bottom: 25px;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info .list .content_item {
        width: 100%;
    }
}

.content_AS .content_S .content_info .list .content_item:nth-last-child(n+3) {
    margin-bottom: 25px;
}

.content_AS .content_S .content_info .list .content_item:nth-last-child(n+3):before {
    content: "";
    width: calc(100% - 20px);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1px;
    background-color: #C1BFBF;
    position: absolute;
}

.content_AS .content_S .content_info .list .content_item .title {
    color: #536D61;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 18px;
    box-shadow: 35px 0px 0px 0px #ACD68D inset;
    display: flex;
    align-items: center;
    min-height: 62px;
}

.content_AS .content_S .content_info .list .content_item .title.color_2 {
    box-shadow: 35px 0px 0px 0px #CEA800 inset;
}

.content_AS .content_S .content_info .list .content_item .item {
    margin-bottom: 10px;
}

.content_AS .content_S .content_info .title_line {
    color: #808080;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    display: block;
    margin: auto;
    position: relative;
    width: calc(100% - 60px);
    text-align: center;
    margin: auto;
    height: 30px;
    border: 1px solid #62A472;
    border-bottom: 0;
}

.content_AS .content_S .content_info .title_line span {
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 18px;
    transform: translateY(-50%);
}

.content_AS .content_S .content_info.text_2 {
    background: #E3E3E3;
    padding-left: 17px;
    padding-right: 17px;
}

.content_AS .content_S .content_info.text_2 .text {
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
    /*line-height: 1.1875;*/
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .content_info.text_2.text_3 {
    padding: 23px;
    padding-bottom: 37px;
    position: relative;
}

@media (min-width: 992px) {
    .content_AS .content_S .content_info.text_2.text_3 {
        margin-left: 55px;
        margin-top: 20px;
    }

    .content_AS .content_S .content_info.text_2.text_3:before {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        left: -23px;
        top: -20px;
        background: #7EB564;
        display: inline-block;
        z-index: -1;
    }

    .content_AS .content_S .content_info.text_2.text_3:after {
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        left: -55px;
        top: -40px;
        background: #CEA800;
    }
}

.content_AS .content_S .content_info.text_g {
    padding-top: 5px;
    max-width: 820px;
    margin: auto;
}

.content_AS .content_S .content_info.text_g .text {
    padding: 20px 30px;
    background: #62A472;
    color: #fff;
    margin-bottom: 50px;
}

.content_AS .content_S .content_info.text_g .content_img {
    text-align: center;
}

.content_AS .content_S .content_info.text_g .content_img .img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.content_AS .content_S .content_info.text_g .content_img .img img {
    max-width: 100%;
}

.content_AS .content_S .content_info.content_card {
    padding: 0 25px;
    margin-bottom: 30px;
    background: #ACD68D;
    box-shadow: 0 -30px 0 0 #fff inset;
}

.content_AS .content_S .content_info.content_card.color_2 {
    background: #62A472;
}

.content_AS .content_S .content_info.content_card.color_3 {
    background: #CEA800;
}

.content_AS .content_S .content_info.content_card .title {
    padding: 10px;
    color: #536D61;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_card .title {
        padding: 10px 0;
    }
}

.content_AS .content_S .content_info.content_card .title.color_2 {
    color: #fff;
}

.content_AS .content_S .content_info.content_card .card_ {
    display: flex;
    min-height: 120px;
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(158, 158, 158, 0.39);
    position: relative;
    flex-wrap: wrap;
}

.content_AS .content_S .content_info.content_card .card_:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 30px;
    right: 81%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    z-index: 2;
    background: #fff;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_card .card_:before {
        display: none;
    }
}

.content_AS .content_S .content_info.content_card .card_ .img {
    width: 19%;
    min-height: 100%;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_card .card_ .img {
        width: 100%;
        min-height: 100px;
    }
}

.content_AS .content_S .content_info.content_card .card_ .cinfo {
    min-height: 120px;
    width: 81%;
    padding: 20px;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_card .card_ .cinfo {
        width: 100%;
    }
}

.content_AS .content_S .content_info .title_tag,
.content_AS .content_S .title_tag {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    background: #CEA800;
    min-height: 61px;
    display: inline-flex;
    align-items: center;
}

.content_AS .content_S .content_info .title_tag .content_icon,
.content_AS .content_S .title_tag .content_icon {
    background: #62A472;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    min-height: 100%;
}

.content_AS .content_S .content_info .title_tag .content_icon svg,
.content_AS .content_S .title_tag .content_icon svg {
    max-width: 90%;
    max-height: 90%;
}

.content_AS .content_S .content_info .title_tag .content_icon svg path,
.content_AS .content_S .content_info .title_tag .content_icon svg polygon,
.content_AS .content_S .content_info .title_tag .content_icon svg rect,
.content_AS .content_S .title_tag .content_icon svg path,
.content_AS .content_S .title_tag .content_icon svg polygon,
.content_AS .content_S .title_tag .content_icon svg rect {
    fill: #fff;
}

.content_AS .content_S .content_info .title_tag .text,
.content_AS .content_S .title_tag .text {
    color: #fff;
    padding: 0 12px;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
}

.content_AS .content_S .content_info.border_d_g,
.content_AS .content_info.border_d_g {
    border: 2px solid #ACD68D;
    padding: 30px 40px;
    padding-bottom: 35px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 575px) {

    .content_AS .content_S .content_info.border_d_g,
    .content_AS .content_info.border_d_g {
        padding: 10px;
    }
}

.content_AS .content_S .content_info.border_d_g .decoration {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    background: #fff;
    width: 140px;
    text-align: center;
    justify-content: center;
}

.content_AS .content_S .content_info.border_d_g .decoration svg path {
    fill: #ACD68D;
    fill: #ACD68D;
    stroke: #ACD68D;
    stroke-miterlimit: 10;
}

.content_AS .content_S .content_info.border_d_g .title {
    width: 200px;
    height: 100%;
    color: #808080;
    font-size: 2.1875rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    padding-right: 18px;
}
html[lang='en-US'] .content_AS .content_S .content_info.border_d_g .title {
    font-size: 1.5875rem;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info.border_d_g .title {
        width: 100%;
        padding: 0;
        border: 0;
        margin-bottom: 25px;
    }
}

.content_AS .content_S .content_info.border_d_g .text {
    padding-left: 18px;
    border-left: 1px solid #ACD68D;
    width: calc(100% - 200px);
    height: 100%;
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info.border_d_g .text {
        width: 100%;
        padding: 0;
        border: 0;
    }
}

.content_AS .content_S .content_info .list_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}

.content_AS .content_S .content_info .list_3 .item {
    margin-bottom: 50px;
    width: calc(50% - 10px);
    background: #E3E3E3;
    padding: 13px;
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info .list_3 .item {
        width: 100%;
    }
}

.content_AS .content_S .content_info .list_3 .item .icon {
    width: 45px;
    height: 45px;
    background: #CEA800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin-left: -13px;
    margin-top: -35px;
}

.content_AS .content_S .content_info .list_3 .item .icon svg {
    max-width: 90%;
    max-height: 90%;
}

.content_AS .content_S .content_info .list_3 .item .icon svg path,
.content_AS .content_S .content_info .list_3 .item .icon svg rect,
.content_AS .content_S .content_info .list_3 .item .icon svg polygon {
    fill: #fff;
}

.content_AS .content_S .content_info .list_3 .item .icon svg circle {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.content_AS .content_S .content_info.content_ban {
    padding: 41px;
    padding-top: 60px;
    box-shadow: 0 0 5px 0 #c7c7c7;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.content_AS .content_S .content_info.content_ban .title_ban {
    position: absolute;
    top: -50px;
    left: 37px;
    height: 87px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban .title_ban {
        left: 0;
    }
}

.content_AS .content_S .content_info.content_ban .title_ban .ban {
    width: 87px;
    height: 87px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content_AS .content_S .content_info.content_ban .title_ban .t_1 {
    color: #fff;
    font-size: 1.5625rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    min-height: 42px;
    background: #62A472;
    display: flex;
    align-items: center;
    padding-left: 105px;
    padding-right: 22px;
    box-shadow: 30px 0 0 0 #fff inset;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban .title_ban .t_1 {
        font-size: 1.25rem;
        line-height: 1.2;
        letter-spacing: 0rem;
        padding-left: 95px;
        padding-right: 5px;
    }
}

.content_AS .content_S .content_info.content_ban .title_ban .t_2 {
    color: #606060;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    height: 32px;
    display: flex;
    align-items: flex-end;
    padding-left: 105px;
    padding-right: 22px;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban .title_ban .t_2 {
        font-size: 1rem;
        line-height: 1.25;
        letter-spacing: 0rem;
        padding-left: 95px;
        padding-right: 5px;
    }
}

.content_AS .content_S .content_info.content_ban .text {
    color: #808080;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .content_info.content_ban.no_ban {
    padding: 19px 22px;
}

.content_AS .content_S .content_info.content_ban.no_ban .title_ban {
    left: 0;
    top: 0;
    transform: translateY(-100%);
    height: auto;
}

.content_AS .content_S .content_info.content_ban.no_ban .title_ban .t_1 {
    padding: 0 30px;
    box-shadow: none;
}

.content_AS .content_S .content_info.content_ban_info {
    padding: 0 55px;
    margin-top: 25px;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban_info {
        padding: 0;
    }
}

.content_AS .content_S .content_info.content_ban_info .title_line_bg {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    height: 60px;
    padding: 0 22px;
    background: #CEA800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.content_AS .content_S .content_info.content_ban_info .title_line_bg:not(.no_line):before {
    content: "";
    border-bottom: 2px solid #CEA800;
    border-left: 2px solid #CEA800;
    width: 30px;
    height: 53px;
    position: absolute;
    right: 100%;
    top: -25px;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban_info .title_line_bg:not(.no_line):before {
        display: none;
    }
}

.content_AS .content_S .content_info.content_ban_info .text {
    color: #808080;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .content_info.content_ban_info .text p {
    font-family: "LibreFranklin", sans-serif;
    font-size: 1rem;
    line-height: 1.3125rem;
}

.content_S .text .list-unstyled li {
    font-family: "LibreFranklin", sans-serif;
    font-size: 1rem;
    line-height: 1.3125rem;
}
.content_AS .content_S .content_info.content_ban_info .title_list {
    color: #606060;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    padding-left: 8px;
    margin: 23px 0;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban_info .title_list {
        padding: 0;
    }
}

.content_AS .content_S .content_info.content_ban_info .list {
    padding-left: 25px;
    margin: 0;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info.content_ban_info .list {
        padding: 0;
    }
}

.content_AS .content_S .content_info.content_ban_info .list .item {
    margin-bottom: 10px;
}

.content_AS .content_S .content_info.img_text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 0;
    margin-bottom: 90px;
}

.content_AS .content_S .content_info.img_text .numer {
    color: #fff;
    font-size: 2.1875rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #62A472;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}

@media (max-width: 1250px) {
    .content_AS .content_S .content_info.img_text .numer {
        transform: translateX(-15px) translateY(-50%);
    }
}

.content_AS .content_S .content_info.img_text .img {
    width: 56%;
    height: 345px;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info.img_text .img {
        width: 100%;
        margin: 0;
        height: 200px;
    }
}

.content_AS .content_S .content_info.img_text .info {
    width: 47%;
    margin-left: -3%;
    z-index: 2;
    padding: 25px 50px;
    border: 2px solid #CEA800;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info.img_text .info {
        width: 100%;
        margin: 0 5px;
        margin-top: -15px;
        padding: 25px 15px;
    }
}

.content_AS .content_S .content_info.img_text .info .title {
    color: #606060;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.content_AS .content_S .content_info.img_text .info .text {
    color: #808080;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .content_info.img_text:nth-child(2n) {
    flex-direction: row-reverse;
}

.content_AS .content_S .content_info.img_text:nth-child(2n) .info {
    margin-left: 0%;
    margin-right: -3%;
}

@media (max-width: 767px) {
    .content_AS .content_S .content_info.img_text:nth-child(2n) .info {
        width: 100%;
        margin: 0 5px;
        margin-top: -15px;
    }
}

.content_AS .content_S .content_info .title_tag_2 {
    color: #fff;
    background: #62A472;
    padding: 15px 20px;
    padding-right: 40px;
    margin-right: 25px;
    box-shadow: 25px 0 0 0 rgba(206, 168, 0, 0.78), -25px 0 0 0 rgba(206, 168, 0, 0.78) inset;
    display: inline-block;
    position: relative;
    font-size: 1.5625rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

.content_AS .content_S .content_info .title_tag_2 strong {
    display: block;
}

.content_AS .content_S .content_info .list_icon_text {
    display: flex;
    flex-wrap: wrap;
}

.content_AS .content_S .content_info .list_icon_text .item {
    padding: 0 20px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 65px;
}

@media (max-width: 575px) {
    .content_AS .content_S .content_info .list_icon_text .item {
        width: 100%;
        margin-bottom: 35px;
        justify-content: end;
        padding: 0;
    }
}

.content_AS .content_S .content_info .list_icon_text .item .icon {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 3px solid #ACD68D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 13px;
}

.content_AS .content_S .content_info .list_icon_text .item .icon:before {
    content: "";
    background: #CEA800;
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;
    right: -25px;
    top: 24px;
    border-radius: 100%;
    opacity: 0.78;
}

.content_AS .content_S .content_info .list_icon_text .item .icon svg {
    max-width: 80%;
}

.content_AS .content_S .content_info .list_icon_text .item .icon svg path {
    fill: #606060;
}

.content_AS .content_S .content_info .list_icon_text .item .title {
    color: #606060;
    padding: 5px 10px;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    width: 100%;
    box-shadow: 35px 0 0 0 #ACD68D inset;
    margin-bottom: 15px;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.content_AS .content_S .content_info .list_icon_text .item .text {
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    width: 100%;
}

.content_AS .content_A {
    padding: 0 15px;
    width: 25%;
}

.content_AS .content_A .title_icon {
    display: flex;
    min-height: 40px;
    margin-bottom: 45px;
}

.content_AS .content_A .title_icon .icon {
    width: 47px;
    height: 40px;
    background: #CEA800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.content_AS .content_A .title_icon .icon svg {
    max-width: 90%;
    max-height: 90%;
}

.content_AS .content_A .title_icon .icon svg path,
.content_AS .content_A .title_icon .icon svg polygon {
    fill: #fff;
}

.content_AS .content_A .title_icon .text {
    width: calc(100% - 47px);
    color: #606060;
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    align-items: flex-end;
    display: inline-flex;
    padding-left: 22px;
    border-bottom: 1px solid #C3C3C3;
}

.content_AS .content_A .box_numer {
    padding: 13px 17px;
    background: #ACD68D;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
}

.content_AS .content_A .box_numer * {
    position: relative;
    z-index: 2;
}

.content_AS .content_A .box_numer:before {
    content: "$";
    color: #fff;
    font-size: 8.4375rem;
    line-height: 0;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -43px;
    bottom: 0;
    margin: auto;
    opacity: 0.2;
    display: flex;
    align-items: center;
}

.content_AS .content_A .box_numer .title {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.content_AS .content_A .box_numer .title strong {
    display: block;
}

.content_AS .content_A .box_numer .numer {
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    padding-bottom: 12px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

.content_AS .content_A .box_numer .numer span {
    font-size: 1.0625rem;
    line-height: 1.1764705882;
    letter-spacing: 0rem;
}

.content_AS .content_A .box_numer .numer:before {
    content: "";
    position: absolute;
    width: 190px;
    height: 1px;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid;
}

.content_AS .content_A .box_numer .date {
    color: #536D61;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    padding: 0 10px;
    margin-bottom: 7px;
}

.content_AS .content_A .box_numer .date strong {
    display: block;
}

.content_AS .content_A .box_numer .date.color_2 {
    color: #fff;
}

.content_AS .content_A .box_numer.color_2 {
    background: #7EB564;
}

.content_AS .content_A .box_numer.color_3 {
    background: #62A472;
}

.content_AS .content_A .box_numer.color_4 {
    background: #536D61;
}

.content_AS .content_A .box_oro {
    margin-bottom: 70px;
}

.content_AS .content_A .box_oro .title {
    background: #CEA800;
    color: #fff;
    padding: 25px 30px;
    font-size: 1.875rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
}

.content_AS .content_A .box_oro .text {
    padding: 25px 30px;
    height: 220px;
    background: #62A472;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 600;
    position: relative;
}

.content_AS .content_A .box_oro .text .adorno {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: calc(100% - 10px);
}

.content_AS .content_A .box_oro .text .oro {
    max-width: 100%;
    position: absolute;
    right: -65px;
    bottom: -33px;
    /*position: absolute;
  width: 205px;
  bottom: -30px;
  right: -18px;*/
}

.content_AS .content_A .box_minero {
    height: 400px;
    position: relative;
    padding: 0 12px;
    padding-top: 40px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

@media (max-width: 991px) {
    .content_AS .content_A .box_minero {
        height: auto;
    }
}

.content_AS .content_A .box_minero * {
    position: relative;
    z-index: 4;
}

.content_AS .content_A .box_minero .img {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    z-index: 2;
}

.content_AS .content_A .box_minero .img:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #62A472;
    opacity: 0.6;
    z-index: 5;
}

.content_AS .content_A .box_minero .title {
    color: #fff;
    font-size: 1.875rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-left: auto;
    margin-bottom: 25px;
}

.content_AS .content_A .box_minero .title span {
    display: block;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-weight: 400;
}

.content_AS .content_A .box_minero .buttom {
    background: #536D61;
    color: #fff;
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 0 -12px;
    margin-top: auto;
    padding: 5px 25px;
    min-height: 40px;
    justify-content: space-between;
    text-align: left;
    width: calc(100% + 24px);
}

.content_AS .content_A .box_minero .buttom svg path {
    fill: #fff;
}

.content_AS .content_A .box_minero .buttom:hover {
    color: #62A472;
}

.content_AS .content_A .box_minero .buttom:hover svg path {
    fill: #62A472;
}

.content_AS .content_A .box_sus {
    background: #62A472;
    padding: 20px 10px;
    padding-bottom: 50px;
    margin-bottom: 70px;
}

.content_AS .content_A .box_sus .arr {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.content_AS .content_A .box_sus .arr svg path {
    fill: #fff;
}

.content_AS .content_A .box_sus .text {
    color: #fff;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.content_AS .content_A .box_sus .text strong {
    display: block;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
}

.content_AS .content_A .box_sus .email {
    height: 54px;
    background: #fff;
    border: 0;
    width: 100%;
    padding: 0 15px;
}

.content_AS .content_A .box_sus .email,
.content_AS .content_A .box_sus .email::placeholder {
    color: #9D9D9D;
    font-size: 1.25rem;
    line-height: 2.7;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
}

@media (max-width: 991px) {
    .content_AS .content_A {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: end;
        justify-content: center;
    }

    .content_AS .content_A>* {
        width: 100%;
        min-width: 100%;
    }
}

.content_F {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

@media screen and (min-width: 1200px) {
  .content_F {
      max-width: 1120px;
  }  
}
.content_F .info_pp {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 70px;
}

.content_F .info_pp .title {
    width: 380px;
    padding-right: 10px;
    color: #62A472;
    font-family: "Franklin Gothic Medium", arial;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: 0rem;
    padding-top: 35px;
    position: relative;
}

@media (max-width: 767px) {
    .content_F .info_pp .title {
        font-size: 2.5rem;
        line-height: 1;
        letter-spacing: 0rem;
    }
}

@media (max-width: 575px) {
    .content_F .info_pp .title {
        font-size: 1.875rem;
        line-height: 1;
        letter-spacing: 0rem;
    }
}

.content_F .info_pp .title * {
    position: relative;
    z-index: 2;
}

.content_F .info_pp .title:before,
.content_F .info_pp .title:after {
    content: "";
    width: 80px;
    height: 110px;
    position: absolute;
    display: inline-block;
    z-index: 1;
}

@media (max-width: 991px) {

    .content_F .info_pp .title:before,
    .content_F .info_pp .title:after {
        display: none;
    }
}

.content_F .info_pp .title:before {
    background: #ACD68D;
    left: 190px;
    top: 7px;
}

.content_F .info_pp .title:after {
    background: #CEA800;
    opacity: 0.77;
    left: 210px;
    top: 65px;
}

@media (max-width: 991px) {
    .content_F .info_pp .title {
        width: 100%;
        padding: 0;
        border: 0;
        margin-bottom: 15px;
    }
}

.content_F .info_pp .text {
    width: calc(100% - 380px);
    padding-left: 47px;
    border-left: 1px solid #CEA800;
    color: #606060;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    /*font-size: 1.125rem;
    line-height: 1.1666666667;*/
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    padding-top: 14px;
    padding-bottom: 10px;
}

@media (max-width: 991px) {
    .content_F .info_pp .text {
        width: 100%;
        padding: 0;
        border: 0;
    }
}

.content_F .info_tag {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 7px 0 #c3c3c3;
    margin-bottom: 80px;
}

.content_F .info_tag .item {
    width: 33%;
    padding: 0 5px;
}

@media (max-width: 991px) {
    .content_F .info_tag .item {
        width: 100%;
        margin-bottom: 25px;
    }
}

.content_F .info_tag .item:not(:last-child) {
    border-right: 1px solid #BDBDBD;
}

@media (max-width: 991px) {
    .content_F .info_tag .item:not(:last-child) {
        border: 0;
    }
}

.content_F .info_tag .item .icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height: 77px;
}

.content_F .info_tag .item .text {
    margin-top: 11px;
    text-align: center;
}

.content_F .info_tag .item .text,
.content_F .info_tag .item .text * {
    color: #606060;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
    letter-spacing: 0rem;
}

.content_F .info_map_c {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 280px;
}

@media (max-width: 991px) {
    .content_F .info_map_c {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .content_F .info_map_c {
        padding-right: 0;
        flex-direction: column;
        align-items: center;
    }
}

.content_F .info_map_c .content_1 {
    background: #C7D1CD;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    overflow: hidden;
    margin: 15px 5px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .content_F .info_map_c .content_1 {
        margin: 15px 0;
    }
}

.content_F .info_map_c .content_1 .title {
    color: #436D61;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.875rem;
    line-height: 1.2333333333;
    letter-spacing: 0rem;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 22px;
    position: relative;
}

.content_F .info_map_c .content_1 .title:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 1px;
    border-top: 1px solid;
}

.content_F .info_map_c .content_1 .title svg {
    position: absolute;
    bottom: 5px;
    right: -25px;
}

.content_F .info_map_c .content_1 .title svg * {
    fill: #83B37B;
}

.content_F .info_map_c .content_1 .img {
    max-width: 205px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.content_F .info_map_c .content_1 .footer_ {
    background: #89C380;
    padding: 40px 20px;
    color: #436D61;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    letter-spacing: 0rem;
    text-align: left;
    padding-right: 73px;
}

.content_F .info_map_c .content_2 {
    width: 230px;
    margin: 15px 5px;
}

@media (max-width: 767px) {
    .content_F .info_map_c .content_2 {
        overflow: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.content_F .info_map_c .content_2 .item {
    border-radius: 10px;
    margin-bottom: 28px;
    position: relative;
    background: #89C380;
    padding: 25px 34px;
    color: #436D61;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.1666666667;
    letter-spacing: 0rem;
    text-align: center;
}

@media (max-width: 767px) {
    .content_F .info_map_c .content_2 .item {
        width: 230px;
    }
}

.content_F .info_map_c .content_2 .item.style_2 {
    background: #C7D1CD;
    padding: 12px 30px;
    padding-bottom: 18px;
    color: #606060;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1;
    letter-spacing: 0rem;
}

.content_F .info_map_c .content_2 .item.style_2 strong {
    display: block;
    margin-bottom: 6px;
}

.content_F .info_map_c .content_2 .item:not(:last-child):before {
    content: "";
    width: 1px;
    height: 28px;
    left: 0;
    right: 0;
    top: 100%;
    margin: auto;
    background: #CEA800;
    display: inline-block;
    position: absolute;
}

.content_F .info_map_c .content_2 .item .sub_item {
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0;
    top: calc(100% + 14px);
    transform: translateY(-50%);
    left: calc(100% + 23px);
}

.content_F .info_map_c .content_2 .item .sub_item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    margin: auto;
    width: 137px;
    border-top: 1px dashed #CEA800;
    height: 1px;
}

.content_F .content_info {
    position: relative;
    margin-bottom: 50px;
}

.content_F .content_info .descarga {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 9px;
    padding-right: 30px;
}

.content_F .content_info .descarga:not(:last-child) {
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid #D7D7D7;
}

@media (max-width: 991px) {
    .content_F .content_info .descarga {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.content_F .content_info .descarga .icon {
    width: 42px;
}

.content_F .content_info .descarga .icon svg {
    width: 24px;
    height: 31px;
    margin-right: 18px;
}

.content_F .content_info .descarga .icon svg path {
    fill: #62A472;
}

.content_F .content_info .descarga .text {
    color: #606060;
    font-size: 1rem;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
    font-family: "LibreFranklin";
    font-weight: 400;
    width: calc(100% - 21px - 42px);
}

.content_F .content_info .descarga .icon_d {
    width: 21px;
}

.content_F .content_info .descarga .icon_d svg {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.content_F .content_info .descarga .icon_d svg path {
    fill: #606060;
}

.content_F .content_info .descarga:hover .text {
    color: #62A472;
}

.content_F .content_info .title_tag {
    background: #CEA800;
    min-height: 61px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
}

.content_F .content_info .title_tag .content_icon {
    background: #62A472;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    min-height: 100%;
}

.content_F .content_info .title_tag .content_icon svg {
    max-width: 90%;
    max-height: 90%;
}

.content_F .content_info .title_tag .content_icon svg path,
.content_F .content_info .title_tag .content_icon svg polygon,
.content_F .content_info .title_tag .content_icon svg rect {
    fill: #fff;
}

.content_F .content_info .title_tag .text {
    max-width: calc(100% - 60px);
    color: #fff;
    padding: 0 12px;
    font-size: 1.25rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
}

.content_F .content_info .content_descarga .title {
    padding: 0 35px;
    height: 50px;
    background: #D7D7D7;
    color: #606060;
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: 0rem;
    font-family: "LibreFranklin", sans-serif;
    font-weight: 700;
    align-items: center;
    display: flex;
    width: 100%;
}

@media (max-width: 991px) {
    .content_F .content_info .content_descarga .title {
        padding: 0 10px;
    }
}

.content_F .content_info .content_descarga .info {
    padding: 20px 35px;
    border: 1px solid #D7D7D7;
    border-top: 0;
}

@media (max-width: 991px) {
    .content_F .content_info .content_descarga .info {
        padding: 20px 10px;
    }

    section.content .row {
        width: 100%;
        margin: 0;
    }
    section.content .tarjetas {
        padding-top: 30px;
    }
    .aside .tarjetas .trimestre {
        padding-left: 15px !important;
    }
}

@media screen and (max-width:575.8px) {
    #SliderResponsive.section-6-content-box {
        margin-top: 35px;
    }

    .container.content_AS {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*******Ajusts New*****/
img.argentina {
    max-width: 261px;
    margin-right: 19px;
    box-shadow: 0 0 5px 0 #c7c7c7;
    padding: 9px;
}

/*.col.col-6.col-translate {
    transform: translateY(40px);
}*/

img.fluid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.row.cuadricula {
    margin-top: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 0 #c7c7c7;
    padding: 15px 0;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width:375px) {
    /*.col.col-6.col-translate {
    transform: translateY(10px);
}*/
}

/*# sourceMappingURL=style-ResponsabilidadSocial.css.map */


#val-mineros span span {
    font-family: 'LibreFranklin', sans-serif !important;
    font-weight: 700 !important;
    display: block;
}

#val-mineros .card-header:first-child {
    padding: 0 !important;
    padding-bottom: 0 !important;
}

#val-mineros .card-header:after,
#val-oro .card-header:after,
#val-plata .card-header:after {
    display: none;
}

#val-mineros .card-header,
#val-oro .card-header,
#val-plata .card-header {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

#val-mineros .text-left,
#val-oro .text-left,
#val-plata .text-left {
    font-size: 1.136875rem;
    line-height: 1.136875rem;
    letter-spacing: 0rem;
    margin-bottom: 2px;
}

#val-mineros .card-body,
#val-oro .card-body,
#val-plata .card-body {
    padding-top: 15px;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0rem;
    padding-top: 0;
    /*border-bottom: 0 !important;*/
    position: relative;
}

#val-mineros .card-body:after,
#val-oro .card-body:after,
#val-plata .card-body:after {
    content: "";
    position: absolute;
    border: 0.5px solid #fff;
    max-width: 192px;
    width: 192px;
    left: 20px;
    right: 0;
    bottom: 0;
    display: none;
}

.content_A .aside .indicadores .target-med .card-header::after {
    display: none;
}

#val-mineros .card-body .val-text,
#val-oro .card-body .val-text,
#val-plata .card-body .val-text {
    font-size: 1.011625rem;
    line-height: 1.275rem;
    letter-spacing: 0rem;
}

/*#val-mineros:before,
#val-oro:before,
#val-plata:before
 {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 8rem;
    line-height: 190px;
    position: absolute;
    top: -10px;
    z-index: 0;
    right: -30px;
}*/

#val-mineros .card-footer,
#val-oro .card-footer,
#val-plata .card-footer {
    border-top: 0 !important;
}

@media screen and (max-width: 991.8px) {
    .section-informacion .aside .indicadores .card {
        max-width: 100% !important;
        width: 100%;
    }
}

.aside .indicadores .target-med {
    width: 275px;
    height: 200px;
    padding: 26px 24px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.19);
}

.aside .indicadores div#box-sections {
    width: 565px;
}

.aside .indicadores .target-med .card-header {
    padding: 0;
    border: 0;
}

.aside .indicadores #val-plata {
    margin-right: 15px;
}

.aside .indicadores h4 {
    margin-bottom: 17px;
}

.aside .indicadores .text-target-card {
    font-size: 1.37rem;
    line-height: 30.1px;
}

.aside .indicadores .target-med .card-body {
    padding: 0;
    border: 0;
    margin-right: 22px;
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}

.aside .indicadores .target-med .val-numerico {
    font-size: 1.75rem;
    line-height: 33.6px;
}

.aside .indicadores .target-med .val-text {
    font-size: 1.12rem;
    line-height: 21.59px;
}

.aside .indicadores .target-med .text-footer-tittle-mark {
    font-size: 0.91rem;
    line-height: 12.64px;
}

.aside .indicadores .target-med .card-footer {
    margin-left: -6px;
    padding: 0;
    border: 0;
    margin-top: 13px;
}

.aside .indicadores .target-med .text-footer-fecha-mark {
    font-size: 0.91rem;
    line-height: 17.51px;
}

.aside .indicadores .simbol-dolar:before {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 13.8rem;
    line-height: 190px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: -55px;
}

.aside .indicadores .espcial-card {
    padding: 23px 24px;
    min-height: 217px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.19);
}

.aside .indicadores .espcial-card .card-body {
    padding: 0;
    border: 0;
    margin-right: 22px;
    border-bottom-color: rgba(255, 255, 255, 0.5) !important;
}

.aside .indicadores .espcial-card .val-numerico {
    font-size: 1.73rem;
    line-height: 33.6px;
}

.aside .indicadores .espcial-card .val-text {
    font-size: 2.35rem;
    line-height: 40.28px;
}

.aside .indicadores .espcial-card .text-footer-tittle-mark {
    font-size: 0.91rem;
    line-height: 12.64px;
}

.aside .indicadores .espcial-card .card-footer {
    padding: 0;
    border: 0;
    margin-top: 20px;
    margin-left: -6px;
}

.aside .indicadores .espcial-card .text-footer-fecha-mark {
    font-size: 0.91rem;
    line-height: 17.51px;
}

.aside .indicadores .simbol-dolar-e:before {
    content: '$';
    font-family: 'Franklin Gothic Demi', sans-serif !important;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.1);
    font-size: 17rem;
    line-height: 230px;
    position: absolute;
    top: 0;
    z-index: 0;
    right: -55px;
}

.aside .indicadores .col-box-section-4 {
    margin-top: 78px;
}

@media (max-width:1199px) {
    .aside .indicadores .col-graf-section-4 {
        width: 100%;
    }

    .aside .indicadores #box-sections {
        justify-content: space-between !important;
        width: 100% !important;
    }

    .aside .indicadores .target-med {
        width: 100%;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 991.8px) {
    .content_A .aside {
        padding-bottom: 30px;

    }

    body .aside .tarjetas .trimestre .card-body .image-two img {
        max-width: 90%;
        position: absolute;
        right: -25px;
    }

    .aside .tarjetas .boletines {
        padding-right: 0 !important;
    }

    .aside .tarjetas .trimestre {
        padding: 0 !important;
        padding-left: 15px !important;
    }

    .aside .indicadores .target-med {
        min-height: 245px;
        height: auto;
    }
}

@media (max-width:767px) {
    .aside .indicadores {
        padding-bottom: 50px;
    }

    .aside .indicadores #val-plata {
        margin-right: 0;
    }

    .aside .indicadores .target-med {
        width: 100%;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 575.8px) {
    .content-img img {
        height: 100px;
        object-fit: cover;
        object-position: center;
    }

    body .aside .tarjetas .boletines {
        padding-top: 66px;
    }

    body .aside .tarjetas .boletines,
    body .aside .tarjetas .trimestre {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .content_AS .content_S .content_info p {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content_AS .content_S .content_info p:nth-child(3) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content_AS .content_S .content_info .list .content_item p+div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:425px) {
    .aside .indicadores .espcial-card .val-numerico {
        font-size: 2.4rem;
        line-height: 51px;
    }

    .aside .indicadores .espcial-card .val-text {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (max-width:375px) {
    .aside .indicadores .espcial-card .val-numerico {
        font-size: 2rem;
        line-height: 30px;
    }

    .aside .indicadores .espcial-card .val-text {
        font-size: 1rem;
        line-height: 1rem;
    }

    .aside .indicadores .espcial-card .text-footer-fecha-mark {
        font-size: 1rem;
        line-height: 22.22px;
    }
}

[class^="hvr-"] {
    margin: inherit;
    padding: inherit;
}