html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
    min-height: 205px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 100px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
  max-width: 450px;
}
@media (min-width: 992px) {
  .section-baner .content-title .title {
    max-width: 320px;
    margin-left: auto;
    margin-right: 20px;
  }
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 );
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

/*direccionamiento*/
.section-direccionamiento {
  margin-top: 77px;
  margin-bottom: 132px;
}
.section-direccionamiento .title-pp {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 84px;
}
@media (max-width: 500px) {
  .section-direccionamiento .title-pp {
    padding: 0 35px;
  }
}
.section-direccionamiento .title-pp .decoration {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  height: 14px;
  width: 14px;
}
.section-direccionamiento .title-pp .decoration:nth-child(1) {
  left: -35px;
}
@media (max-width: 500px) {
  .section-direccionamiento .title-pp .decoration:nth-child(1) {
    left: 0;
  }
}
.section-direccionamiento .title-pp .decoration:nth-child(2) {
  right: -35px;
}
@media (max-width: 500px) {
  .section-direccionamiento .title-pp .decoration:nth-child(2) {
    right: 0;
  }
}
.section-direccionamiento .col-img .content-img {
  position: relative;
}
@media (max-width: 991px) {
  .section-direccionamiento .col-img .content-img {
    margin-bottom: 25px;
  }
}
.section-direccionamiento .col-img .content-img img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .section-direccionamiento .col-img .content-img img {
    width: 100%;
  }
}
.section-direccionamiento .col-img .content-img .decoration {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}
@media (max-width: 550px) {
  .section-direccionamiento .col-img .content-img .decoration {
    display: none;
  }
}
.section-direccionamiento .col-img .content-img .decoration:nth-child(1) {
  width: 90px;
  height: 300px;
  left: -45px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.section-direccionamiento .col-img .content-img .decoration:nth-child(2) {
  width: 88px;
  height: 125px;
  right: -44px;
  bottom: -12px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .section-direccionamiento .col-img .content-img .decoration:nth-child(2) {
    right: 0;
  }
}
.section-direccionamiento .col-img .content-img .decoration:nth-child(n+3) {
  display: none;
}
@media (min-width: 992px) {
  .section-direccionamiento .col-info {
    max-width: 430px;
    margin: auto;
  }
}
.section-direccionamiento .col-info .content-info:not(:last-child) {
  margin-bottom: 34px;
}
.section-direccionamiento .col-info .content-info .title {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
  margin-bottom: 32px;
}
.section-direccionamiento .col-info .content-info .text {
  font-size: 1rem;
  /*line-height: 1.2rem;*/
  line-height: 1.3125;
  letter-spacing: 0rem;
  margin-bottom: 0;
  position: relative;
}
.section-direccionamiento .col-info .content-info .text .decoration {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: -18px;
}
@media (min-width: 992px) {
  .section-direccionamiento .col-info .content-info:first-child .text {
    padding-top: 13px;
    padding-bottom: 25px;
  }
}

/*valores*/
@media (min-width: 992px) {
  .section-valores {
    padding: 0 calc(80px - 15px);
  }
}
.section-valores > div {
  max-width: 1440px;
  margin: auto;
}
.section-valores .content-title-pp {
  height: 60px;
  transform: translateY(-30px);
  margin-bottom: 56px;
}
.section-valores .content-title-pp .content-icon {
  width: 65px;
}
.section-valores .content-title-pp .content-icon .icon {
  max-width: 100%;
}
.section-valores .content-title-pp .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  padding: 0 25px;
  width: 260px;
  max-width: 260px;
}
.section-valores .content-tag {
  /*ultimos no border*/
}
.section-valores .content-tag .tag {
  padding-bottom: 48px;
  margin-bottom: 34px;
  position: relative;
}
.section-valores .content-tag .tag .border {
  width: 100%;
  bottom: 0;
  left: 0;
}
.section-valores .content-tag .tag .border .line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0px;
}
.section-valores .content-tag .tag .border .line {
  display: none;
}
@media (min-width: 992px) {
  .section-valores .content-tag .tag .border .line {
    left: -6px;

  }
}
.section-valores .content-tag .tag .content-title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 37px;
}
.section-valores .content-tag .tag .content-title .title {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
  padding-left: 20px;
  margin-bottom: 6px;
  z-index: 1;
  position: relative;
}
.section-valores .content-tag .tag .content-title .sub-title {
  font-size: 1rem;
  /*line-height: 1.2rem;*/
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding-left: 52px;
  z-index: 1;
  position: relative;
}
.section-valores .content-tag .tag .content-title .decoration {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 100%;
  z-index: 0;
}
.section-valores .content-tag .tag .list .item {
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding-left: 33px;
  position: relative;
}
.section-valores .content-tag .tag .list .item:not(:last-child) {
  margin-bottom: 21px;
}
.section-valores .content-tag .tag .list .item .decoration {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  left: 7px;
  top: 3px;
}
.section-valores .content-tag:nth-last-child(1) .tag .border {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-valores .content-tag:nth-last-child(2):not(:nth-last-child(n+2)) .tag .border {
    display: none;
  }
}
@media (min-width: 992px) {
  .section-valores .content-tag:nth-last-child(2):not(:nth-last-child(n+3)) .tag .border {
    display: none;
  }
  .section-valores .content-tag:nth-last-child(3):not(:nth-last-child(n+3)) .tag .border {
    display: none;
  }
}

/*estructura*/
.section-estructura {
  margin-bottom: calc(131px - 39px);
  transform: translateY(-39px);
}
@media (max-width: 767px) {
  .section-estructura {
    margin-bottom: calc(50px - 39px);
  }
}
.section-estructura .content-title .title {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
  max-width: 90%;
  width: 630px;
  min-height: 78px;
  padding: 10px;
  margin-bottom: 54px;
}
.section-estructura .content-img {
  max-width: 1440px;
  margin: auto;
  overflow: auto;
}
.section-estructura .content-img::-webkit-scrollbar {
  width: 0px;
}
.section-estructura .content-img .img {
  max-width: 100%;
  margin: auto;
  min-width: 700px;
  width: 80%;
}
@media screen and (max-width:767.8px){
  .section-baner .bg-img {
    min-height: auto;
    padding-top: 56.22%;
}
span.d-block.text-white.librefranklin-bold, h1.title {
    text-align: center;
}
}
@media  screen and (max-width:575.8px){
  #SliderResponsive.section-6-content-box {
    margin-top: 35px;
}
}
/*# sourceMappingURL=style-nosotros-direcciones1.css.map */

/* relacion con inversionistas */
.section-informacion  .relacion .card-body {
  padding-top: 12px;
  padding-left: 31px;
  padding-bottom: 32px;
}

.section-informacion  .relacion .card-title {
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0rem;
}

.section-informacion  .relacion .list-group-item {
  padding-bottom: 0;
  padding-top: 0;padding-left: 0;
}

.section-informacion  .relacion .list-group-item a {
    font-size: 1rem;
    line-height: 2.25rem;
    letter-spacing: 0;
}

.section-informacion  .relacion .list-group {
  padding-left: 13px;
}


@media screen and (max-width: 575px) {
  .section-informacion .relacion .list-group-item {
    padding: 0;
    display: flex;
  }
  .section-informacion .relacion .list-group-item img {
    width: 20px;
    min-width: 16px;
}

 


}

@media screen and (max-width: 425px) {
  .section-informacion .relacion .card-body {
    padding-left: 15px;
  }

.section-informacion .relacion .list-group-item a {
  font-size: .91rem;
  line-height: 2.025rem;
  word-break: break-all;
}

.section-informacion .relacion .card-title {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    text-align: center;
    margin-bottom: 15px !important;
}
}

.section-estructura {
    margin-bottom: calc(60px - 39px);
    transform: translateY(-39px);
}
.section-informacion {
    display: none;
    padding-bottom: 95px;
}

.section-valores .content-title-pp .content-icon .icon {
  height: 42px;
}