﻿<button ng-click="sb.clickCancelar()" type="button" class="btn btn-default come-back-left" aria-label="Left Align">
    <span class="k-icon k-i-undo" style=" margin-left: -10px; margin-top: -5px; padding-right: 27px;" aria-hidden="true"></span><strong>Volver</strong>

</button>
<div class="modal-header modal-header bg-alto position-relative">
    <h2 class="modal-title librefranklin-bold color-jungle-green header-mineros ng-binding title_interest_h2">{{sb.textAddProvider}}</h2>
    <button type="button" ng-click="sb.clickCancelar()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form name="form_subcategory" id="form_subcategory" class="form_subcategory" novalidate>
                <div class="row">
                    <input type="hidden" name="Id" ng-model="sb.selectSubcategory.SubcategoryId" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Valor Español:</strong>
                            <input type="text" name="spanish" required ng-model="sb.selectSubcategory.SubcategorySpanish"
                                   class="form-control bg-very-light-gray librefranklin-reg" placeholder="{{nameEnterpriseText}} *" />
                            <div ng-show="form_subcategory.$submitted || form_subcategory.spanish.$touched">
                                <span class="error_forms" ng-show="form_subcategory.spanish.$error.required ">{{required_field}}.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong>Valor Ingles:</strong>
                            <input type="text" name="english" required ng-model="sb.selectSubcategory.SubcategoryEnglish"
                                   class="form-control bg-very-light-gray librefranklin-reg" placeholder="{{nameEnterpriseText}} *" />
                            <div ng-show="form_subcategory.$submitted || form_subcategory.english.$touched">
                                <span class="error_forms" ng-show="form_subcategory.english.$error.required ">{{required_field}}.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <strong>Categoria:</strong>
                        <select ng-options="category.Id as category.Spanish for category in sb.categories"
                                ng-model="sb.selectSubcategory.CategoryId" ng-change="update()" name="CategoryId" class="form-control bg-very-light-gray">
                            <option value="">Selecionar..</option>
                        </select>
                        <div ng-show="form_providers.$submitted ">
                            <span class="error_forms" ng-show="productSelect.$error.required ">{{required_field}}.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <a href="#" ng-click="sb.updateSubCategory($event,form_subcategory,sb.selectSubcategory)" class="k-primary btn-iconInnovacion k-button k-button-icon"><span class="k-icon k-i-save k-i-floppy"></span></a>
                       <a href="#" ng-click="sb.clickCancelar()" class="k-primary btn-iconInnovacion k-button k-button-icon"><span class="k-icon k-i-close k-i-x"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
